In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
from datetime import datetime
from dateutil.relativedelta import relativedelta
import os
from datetime import timedelta
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
from tqdm import tqdm

In [2]:
try:
    pengine = create_engine('postgresql+psycopg2://postgres:postgres@172.16.22.15:5432/postgres')

    conn = psycopg2.connect(database = 'postgres', user = 'postgres', password = 'postgres',host = "172.16.22.15",port= 5432)
    conn.autocommit = True

    cursor = conn.cursor()
except:
    print("Unable to create the Postgres DB connection")

db_conn=pengine.connect()
print("\n Postgres database connected succesfully")

 Postgres database connected succesfully

In [2]:
#pengine=create_engine('postgresql+psycopg2://postgres:postgres@172.16.22.15:5432/postgres')

In [6]:
df1 = pd.read_excel(r'Z:\Manas\casino_list.xlsx')
df1['Name_List'] = df1['Name_List'].str.lower().str.replace('[^A-Za-z]', ' ')
df1['Name_List'] = df1['Name_List'].str.replace(' +', ' ').str.strip()
arr = df1['Name_List'].to_list()
arr = list(set(arr))
del df1

C:\Users\SAL005\AppData\Local\Temp\ipykernel_22576\4089352107.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['Name_List'] = df1['Name_List'].str.lower().str.replace('[^A-Za-z]', ' ')
C:\Users\SAL005\AppData\Local\Temp\ipykernel_22576\4089352107.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['Name_List'] = df1['Name_List'].str.replace(' +', ' ').str.strip()

In [7]:
for i in range(1):
    search_string = arr[i]
    search_string = '%' + search_string + '%'   
    sql = f"with cte1 as(select batchid, rptsernum, accountnum, accounttype, accountholdertype, holdername from( SELECT batchid, rptsernum, accountnum, accounttype, accountholdertype, holdername 	FROM risk_priority.arfacc_str union 	SELECT batchid, rptsernum, accountnum, accounttype, accountholdertype, holdername from risk_priority.arfacc_1804_2003)a 			WHERE regexp_replace(regexp_replace(lower(holdername), '[\W]+', ' ', 'g'), ' +', ' ', 'g') LIKE '{search_string}') 	, cte2 as (select reporttype, entityname, recategory, fiureid, batchid from (	 SELECT reporttype, entityname, recategory, fiureid, batchid	 	FROM risk_priority.batch_res_1804_2003 	WHERE batchtype <> 'D' 	union 	select reporttype, entityname, recategory, fiureid, batchid 	from risk_priority.batch_res 	WHERE batchtype <> 'D')b), 	 cte3 as ((select batchid, rptsernum, accountnum, relationflag, deletedflag,  mobile, mobile_clean,   pan, pan_clean, personname,occupation from (SELECT batchid, rptsernum, accountnum, relationflag, deletedflag,  mobile, mobile_clean, pan, pan_clean, personname, natureofbusiness as occupation FROM risk_priority.lpe_5_years union SELECT batchid, rptsernum, accountnum, relationflag, deletedflag,  mobile, mobile_clean,   pan, pan_clean, personname,occupation FROM risk_priority.inp_5_years)a WHERE regexp_replace(regexp_replace(lower(personname), '[\W]+', ' ', 'g'), ' +', ' ', 'g') LIKE '{search_string}')),  cte4 as ( select c1.batchid, c1.rptsernum, c1.accountnum, c1.accounttype, c1.accountholdertype, c1.holdername, c2.reporttype, c2.entityname, c2.recategory, c2.fiureid from  cte1 c1 inner join cte2 c2 on 			c1.batchid=c2.batchid), 			 cte5 as (select c1.batchid, c1.rptsernum, c1.accountnum, c1.accounttype, c1.accountholdertype, c1.holdername, c1.reporttype, c1.entityname, c1.recategory, c1.fiureid,c2.relationflag, c2.deletedflag,  c2.mobile, c2.mobile_clean,   c2.pan, c2.pan_clean, c2.personname,c2.occupation from  cte4 c1 inner join cte3 c2 on 			c1.batchid=c2.batchid and c1.rptsernum=c2.rptsernum and  c1.accountnum=c2.accountnum) 		 select c3.batchid, c3.rptsernum, c3.accountnum, c3.accounttype, c3.accountholdertype, c3.holdername, c3.reporttype, c3.entityname, c3.recategory, c3.fiureid,c3.relationflag, c3.deletedflag,  c3.mobile, c3.mobile_clean,   c3.pan, c3.pan_clean, c3.personname,c3.occupation  from cte5 c3 		 join risk_priority.report_5_years r on  c3.batchid=r.batchid and c3.rptsernum= r.rptsernum 	 	 	"
    df = pd.read_sql(sql,con=pengine)

TypeError: dict is not a sequence

In [52]:
for i in range(len(arr)):
    search_string = arr[i]
    search_string = '%' + search_string + '%'
    sql = f"with cte1 as(select batchid, rptsernum, accountnum, accounttype, accountholdertype, holdername from ( SELECT batchid, rptsernum, accountnum, accounttype, accountholdertype, holdername 	 FROM risk_priority.arfacc_str union 	 SELECT batchid, rptsernum, accountnum, accounttype, accountholdertype, holdername from risk_priority.arfacc_1804_2003)a 			 WHERE regexp_replace(regexp_replace(lower(holdername), '[\W]+', ' ', 'g'), ' +', ' ', 'g') LIKE '{search_string}') 	, cte2 as (select reporttype, entityname, recategory, fiureid, batchid from (	 SELECT reporttype, entityname, recategory, fiureid, batchid	 	 FROM risk_priority.batch_res_1804_2003 	WHERE batchtype <> 'D' 	union 	select reporttype, entityname, recategory, fiureid, batchid 	 from risk_priority.batch_res 	WHERE batchtype <> 'D')b), cte3 as ( select c1.batchid, c1.rptsernum, concat('A-', c1.accountnum::text) as accountnum, c1.accounttype, c1.accountholdertype, c1.holdername, c2.reporttype, c2.entityname, c2.recategory, c2.fiureid from  cte1 c1 inner join cte2 c2 on 			 c1.batchid=c2.batchid) 		 	 select c3.batchid, c3.rptsernum, c3.accountnum, c3.accounttype, c3.accountholdertype, c3.holdername, c3.reporttype, c3.entityname, c3.recategory, c3.fiureid, r.mainpersonname, r.sourceofalert, r.groundsofsusp, r.detailsofinvestigations from cte3 c3 			 inner join risk_priority.report_5_years r on  c3.batchid=r.batchid and c3.rptsernum= r.rptsernum"
    df = pd.read_sql(sql,con=pengine)
    cur=conn.cursor()
    cur.execute(sql)

    t1=datetime.now()
    if (i%10 == 0):
        print (i)
    while True:
        records=cur.fetchmany(16000)
        df=pd.DataFrame.from_records(records,columns=[desc[0] for desc in cur.description])
        df.to_csv(r'Z:\Manas\casino_lottery_STR_holder.csv',index=False,mode='a',header= not os.path.exists(r'Z:\Manas\casino_lottery_STR_holder.csv'))
        if not records:
            break

0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510

In [53]:
for i in range(1):
    search_string = arr[i]
    search_string = '%' + search_string + '%'
    sql = f"select *  from ( SELECT bb.facc, aa.holdername,  bb.pan, bb.yr, bb.mon,bb.yr_mon, bb.batchid, bb.rptsernum, bb.accountnum, bb.credit_amount, bb.debit_amount, bb.total_amount, bb.fiureid, bb.entityname 	FROM ctr_5yrs.facc_holdername_table aa 	join  ctr_5yrs.all_india_panwise_monthwise_amount_1 bb on aa.facc=bb.facc)a 	where regexp_replace(regexp_replace(lower(holdername), '[\W]+', ' ', 'g'), ' +', ' ', 'g') LIKE '{search_string}'"
    df = pd.read_sql(sql,con=pengine)

In [54]:
for i in range(len(arr)):
    search_string = arr[i]
    search_string = '%' + search_string + '%'
    sql = f"with cte1 as(select batchid, rptsernum, accountnum, accounttype, accountholdertype, holdername from( SELECT batchid, rptsernum, accountnum, accounttype, accountholdertype, holdername 	FROM risk_priority.arfacc_str union 	SELECT batchid, rptsernum, accountnum, accounttype, accountholdertype, holdername from risk_priority.arfacc_1804_2003)a 			WHERE regexp_replace(regexp_replace(lower(holdername), '[\W]+', ' ', 'g'), ' +', ' ', 'g') LIKE '{search_string}') 	, cte2 as (select reporttype, entityname, recategory, fiureid, batchid from (	 SELECT reporttype, entityname, recategory, fiureid, batchid	 	FROM risk_priority.batch_res_1804_2003 	WHERE batchtype <> 'D' 	union 	select reporttype, entityname, recategory, fiureid, batchid 	from risk_priority.batch_res 	WHERE batchtype <> 'D')b), cte3 as ( select c1.batchid, c1.rptsernum, c1.accountnum, c1.accounttype, c1.accountholdertype, c1.holdername, c2.reporttype, c2.entityname, c2.recategory, c2.fiureid from  cte1 c1 inner join cte2 c2 on 			c1.batchid=c2.batchid) 		 	select c3.batchid, c3.rptsernum, c3.accountnum, c3.accounttype, c3.accountholdertype, c3.holdername, c3.reporttype, c3.entityname, c3.recategory, c3.fiureid, r.mainpersonname, r.sourceofalert, r.groundsofsusp, r.detailsofinvestigations from cte3 c3 			 inner join risk_priority.report_5_years r on  c3.batchid=r.batchid and c3.rptsernum= r.rptsernum"
    df = pd.read_sql(sql,con=pengine)
    cur=conn.cursor()
    cur.execute(sql)

    t1=datetime.now()
    if (i%10 == 0):
        print (i)
    while True:
        records=cur.fetchmany(16000)
        df=pd.DataFrame.from_records(records,columns=[desc[0] for desc in cur.description])
        df.to_csv(r'Z:\Manas\casino_lottery_CTR_holder.csv',index=False,mode='a',header= not os.path.exists(r'Z:\Manas\casino_lottery_CTR_holder.csv'))
        if not records:
            break

0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510