##### Required Libraries

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
import os
import glob
import xlrd
import xlsxwriter
import openpyxl
import psycopg2
import urllib
import openpyxl
import csv
import tqdm
from datetime import datetime
from openpyxl.styles import Font, Color, Alignment, Border, Side, NamedStyle, PatternFill
from openpyxl.worksheet.dimensions import ColumnDimension
from datetime import datetime
from openpyxl import  load_workbook
from openpyxl.utils.cell import get_column_letter
from urllib.parse import quote
from psycopg2.extensions import AsIs
from sqlalchemy import create_engine
from datetime import datetime
from dateutil.relativedelta import relativedelta
from openpyxl.styles import Font, Color, Alignment, Border, Side, NamedStyle, PatternFill
from openpyxl.worksheet.dimensions import ColumnDimension
from datetime import datetime
from openpyxl import  load_workbook
from openpyxl.utils.cell import get_column_letter
from openpyxl.utils.dataframe import dataframe_to_rows
import tqdm
import warnings
warnings.filterwarnings("ignore")
import sqlalchemy
from sqlalchemy import create_engine
from urllib.parse import quote
from sqlalchemy.exc import OperationalError

engine=sqlalchemy.create_engine('mssql+pyodbc://SAL_User01:%s@172.16.22.25:1433/Finnet_1.0?driver=ODBC+Driver+17+for+SQL+Server' % quote('Sal@123'))
# import MySQLdb as mdb

In [2]:
initial = datetime.now()
start_time = datetime.now()
print('Execution started at :',start_time)

Execution started at : 2023-09-20 17:51:47.510978

In [2]:
df=pd.read_csv(r'C:\Users\SAL005\Desktop\adhoc request\sumit ji\pan_inplpe_dump_220923 - Copy.csv')

In [ ]:
filename=r'C:\Users\SAL005\Desktop\adhoc request\sumit ji\pan_inplpe_dump_220923 - Copy.csv'

import pandas as pd
for chunk in tqdm.tqdm(pd.read_csv(filename,chunksize=80000)):
    chunk.columns = chunk.columns.str.lower()
    chunk = chunk.astype(str)
    chunk = chunk.fillna(0)
    chunk.to_sql(f'test_new',pengine,schema='jnkbank',if_exists='append',index=False)

0it [00:00, ?it/s]

In [4]:
df.columns

Index(['pan', 'batchid', 'rptsernum', 'RELATIONFLAG', 'mobile', 'email',
       'COMMADDRESS', 'OCCUPATION', 'PERSONNAME', 'account_num',
       'REPORTFORMATTYPE', 'REPORTTYPE', 'ENTITYNAME', 'fiureid'],
      dtype='object')

In [3]:
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)
pd.set_option("display.max_colwidth",None)

In [ ]:
path = r'C:\Users\SAL008\Desktop\Ravi\Monthly Report'

##### Supporting documents

* **RE MASTER**

In [ ]:
re_master = pd.read_csv(path + '\\Supporting_docs\\re_master.csv')
re_master.columns = re_master.columns.str.lower()
re_master.head(2)

* **Map    <i>re_category_description</i>   using    <i>re_category_master</i>**

* **RE CATEGORY MASTER**

In [ ]:
re_category_master = pd.read_csv(path + '\\Supporting_docs\\recategorymaster.csv')
re_category_master.columns = re_category_master.columns.str.lower()
re_category_master.head(2)

* **Function to Map RE_CATEGORY DESCRIPTION**

In [ ]:
def return_category_desc(i):
    if not re_category_master.loc[re_category_master['recategory']==i]['categorydesc'].empty:
        return re_category_master.loc[re_category_master['recategory']==i]['categorydesc'].unique()[0]
    else:
        return i.split(maxsplit = 1)[1]

In [ ]:
# Create function for CamelCase
from re import sub

def Camel_Case(st):
    st = st[:-(len(st)-1)].upper()+st[1:len(st)].lower()
    return st

In [ ]:
#re_master['category_description'] = re_master['recategory'].apply(return_category_desc)

In [ ]:
#re_list = pd.read_csv(f'C:\Users\SAL008\Desktop\Ravi\Monthly Report\RE_26_OCT_2022.csv',encoding = 'latin1')
#REs_july.head(1)

* **Update the Analysis Month - EVERY MONTH**

In [ ]:
month = 'sep22'
print('Analysis month -',month)
month_cc = Camel_Case(month)
print('Analysis month in Camel Case -',month_cc)
#month_report_format = format(month_cc[0:3] +' '+str(datetime.now().year))
month_report_format = format(month_cc[0:3] +' '+'20'+month[3:5])
print('Analysis month in reporting format -',month_report_format)

* **NOTE**: Create a folder with the above mentioned 'Analysis month in reporting format' i.e for sep22 it must be Sep 2022. Within this folder create a Data folder.

#### EVERY MONTH CHANGES - Assigning the timeframe by setting the minimum and maximum batchid

In [ ]:
min_batchid = 2209010000
print('Start BATCHID:',min_batchid)

max_batchid = 2209309999
print('End BATCHID:',max_batchid)

* **Create Postgres Engine**

In [ ]:
# cols = ['RPTSERNUM','ACCOUNTNUM','ACCOUNTTYPE','BRANCHREFNUM','ACCOUNTHOLDERTYPE','ACCOUNTSTATUS','DATEOFOPENING','RISKRATING','CUMULATIVECRTURNOVER','CUMULATIVEDRTURNOVER','CUMULATIVECASHDPSTTURNOVER','CUMULATIVECASHWDTURNOVER','NOTRANSACTIONTOBEREPORTED','BATCHID','DELETEDFLAG','CREATIONDATE','CREATEDBY','XMLINDEXID','REPORTXMLINDEXID','BATCHXMLINDEXID','HOLDERNAME']

In [ ]:
import glob

In [ ]:
files = glob.glob(r"C:\Users\SAL005\Desktop\backup for 2 years from hdm\*.csv")

In [ ]:
files[0].split("\\")[-1].split('.')[0]

In [6]:
try:
    pengine = create_engine('postgresql+psycopg2://postgres:postgres@172.16.22.15:5432/postgres')

    conn = psycopg2.connect(database = 'postgres', user = 'postgres', password = 'postgres',host = "172.16.22.15",port= 5432)
    conn.autocommit = True

    cursor = conn.cursor()
except:
    print("Unable to create the Postgres DB connection")

db_conn=pengine.connect()
print("\n Postgres database connected succesfully")

 Postgres database connected succesfully

In [3]:
import glob

In [ ]:
files = glob.glob(r"C:\Users\SAL005\Desktop\backup for 2 years from hdm\*.csv")

In [ ]:
# for file in tqdm.tqdm(files):
#     print(file)
#     df_chunk = pd.read_csv(file, chunksize = 10000,encoding='latin1',error_bad_lines=False)
#     for chunk in df_chunk:
#         chunk.columns = chunk.columns.str.lower()
#         chunk.to_sql(file.split("\\")[-1].split('.')[0], pengine, schema='hdm_db_2yrs', if_exists='append', index= False,)

In [ ]:
filename=r'C:\Users\SAL005\Desktop\adhoc request\sumit ji\pan_inplpe_dump_220923 - Copy.csv'
import pandas as pd
for chunk in tqdm.tqdm(pd.read_csv(filename,chunksize=50000)):
    chunk.columns = chunk.columns.str.lower()
    chunk = chunk.astype(str)
    chunk = chunk.fillna(0)
    chunk.to_sql(f'test',pengine,schema='jnkbank',if_exists='append',index=False)

1it [06:08, 368.92s/it]

In [ ]:
# filename=r'C:\Users\SAL005\Desktop\jnk_bank_and_jnk_grameen_bank_full_dump.csv'
# import pandas as pd
# for chunk in tqdm.tqdm(pd.read_csv(filename,chunksize=100000)):
#     chunk.columns = chunk.columns.str.lower()
#     chunk.to_sql('fincase_final_1',engine,index=False,if_exists='append')

In [25]:
def sql_exec(sql,dengine):
    startime=datetime.now()
    print("Time now: ",startime)
    print("Executing Query...")
    dconn=dengine.connect()
    df=pd.read_sql_query(sql,dengine)
    endtime=datetime.now()
    dconn.close()
    timetaken=relativedelta(endtime,startime)
    print('Time Taken: ',timetaken)
    return df

In [ ]:
# data_df=pd.read_csv(filename, error_bad_lines=False,encoding='latin1')
# chunk

In [ ]:
data_df.columns = data_df.columns.str.lower()
data_df.shape()

In [ ]:
pd.read

In [ ]:
data_df.to_sql(f'arfacc',pengine,schema='hdm_db_2yrs',if_exists='replace',index=False)

In [ ]:
batch_ctr.to_sql(f'{month}_batch_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)

* **CTR - Schema Creation if doesn't exists**

In [ ]:
reporttype = 'ctr'
print('Report type is:',reporttype)

In [ ]:
monthly_ctr_query = "CREATE SCHEMA IF NOT EXISTS %s AUTHORIZATION %s;"
monthly_ctr = (AsIs(f'monthly_{reporttype}'),AsIs('postgres'))
cursor.execute(monthly_ctr_query,monthly_ctr)

* **file_path is the path from where we have to insert the data into the postgresDB which we have received from RAKESH**

In [ ]:
#file_path = r'C:\Users\SAL008\Desktop\Ravi\Monthly Report\Sep 2022\Data\SAL_CTR_SEP2022'
file_path = path +'\\'+month_report_format+ f'\Data\SAL_{reporttype.upper()}_{month[:3].upper()}2022'
file_path

* Create the folder e.g **SAL_CTR_NOV2022** (make sure to keep the same format) inside the above path, then Create another folder name **Data**, similarly create **Output** and **Submission**

In [ ]:
# Dataread Start time
data_read_start_time= datetime.now()

* **batch**

In [ ]:
batch = pd.read_csv(file_path + '\BATCH.csv')
batch_ctr = batch[(batch['BATCHID'] >=min_batchid) & (batch['BATCHID'] <= max_batchid)]
print('Minimum batch id for BATCH file:',batch_ctr['BATCHID'].min())
print('Maximum batch id BATCH file:',batch_ctr['BATCHID'].max())
batch_ctr.shape
#Lower the Columns
batch_ctr.columns = [col.lower() for col in batch_ctr.columns]

#Insert data to postgres
batch_ctr.to_sql(f'{month}_batch_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
print(f"\n Batch file inserted into {month}_batch_{reporttype} with {batch_ctr.shape[0]} rows")

* **report**

In [ ]:
report = pd.read_csv(file_path + '\ARFREPORT.csv')
report_ctr_arf = report[(report['BATCHID'] >=min_batchid) & (report['BATCHID'] <= max_batchid)]
print('Minimum batch id in REPORT file:',report_ctr_arf['BATCHID'].min())
print('Maximum batch id in REPORT file:',report_ctr_arf['BATCHID'].max())
report_ctr_arf.shape

#Lower the Columns
report_ctr_arf.columns = [col.lower() for col in report_ctr_arf.columns]

#Insert data to postgres
report_ctr_arf.to_sql(f'{month}_reportarf_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
print(f"\n arf report file inserted into {month}_report_{reporttype} with {batch_ctr.shape[0]} rows")

In [ ]:
report = pd.read_csv(file_path + '\TRFREPORT.csv')
report_ctr_trf = report[(report['BATCHID'] >=min_batchid) & (report['BATCHID'] <= max_batchid)]
print('Minimum batch id in REPORT file:',report_ctr_trf['BATCHID'].min())
print('Maximum batch id in REPORT file:',report_ctr_trf['BATCHID'].max())
report_ctr_trf.shape

#Lower the Columns
report_ctr_trf.columns = [col.lower() for col in report_ctr_trf.columns]

#Insert data to postgres
report_ctr_trf.to_sql(f'{month}_reporttrf_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
print(f"\n trf report file inserted into {month}_report_{reporttype} with {batch_ctr.shape[0]} rows")

##### Create combined table of arfreport and trfreport

In [ ]:
cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_report_{reporttype}\
                    ( rptsernum bigint,     originalrptsernum bigint,     mainpersonname text COLLATE pg_catalog."default",     sourceofalert text COLLATE pg_catalog."default",     suspduetoproceedsofcrime text COLLATE pg_catalog."default",     suspduetocomplextrans text COLLATE pg_catalog."default",     suspduetonoecorationale text COLLATE pg_catalog."default",     suspoffinancingofterrorism text COLLATE pg_catalog."default",     attemptedtransaction text COLLATE pg_catalog."default",     groundsofsusp double precision,     detailsofinvestigations double precision,     leainformed text COLLATE pg_catalog."default",     leadetails text COLLATE pg_catalog."default",     priorityrating text COLLATE pg_catalog."default",     reportcoverage text COLLATE pg_catalog."default",     additionaldocuments text COLLATE pg_catalog."default",     batchid bigint,     deletedflag text COLLATE pg_catalog."default",     creationdate text COLLATE pg_catalog."default",     createdby text COLLATE pg_catalog."default",     xmlindexid bigint,     batchxmlindexid bigint )  \
                    TABLESPACE pg_default')

In [ ]:
cursor.execute(f'insert into monthly_{reporttype}.{month}_report_{reporttype}\
                select distinct batchid, rptsernum , accountnum, personname, pan \
                from {month}_reportarf_{reporttype} \
                union \
                select distinct batchid, rptsernum , accountnum, personname, pan \
                from {month}_reporttrf_{reporttype}')

* **arfbrc**

In [ ]:
arfbrc = pd.read_csv(file_path + '\ARFBRC.csv')
arfbrc_ctr = arfbrc[(arfbrc['BATCHID'] >=min_batchid) & (arfbrc['BATCHID'] <= max_batchid)]
print('Minimum batch id for ARFBRC file:',arfbrc_ctr['BATCHID'].min())
print('Maximum batch id for ARFBRC file:',arfbrc_ctr['BATCHID'].max())
arfbrc_ctr.shape

* **arfacc**

In [ ]:
arfacc = pd.read_csv(file_path + '\ARFACC.csv')
arfacc_ctr = arfacc[(arfacc['BATCHID'] >=min_batchid) & (arfacc['BATCHID'] <= max_batchid)]
print('Minimum batch id for ARFACC file:',arfacc_ctr['BATCHID'].min())
print('Maximum batch id for ARFACC file:',arfacc_ctr['BATCHID'].max())
arfacc_ctr.shape

* **arfinp**

In [ ]:
arfinp = pd.read_csv(file_path + '\ARFINP.csv')
arfinp_ctr = arfinp[(arfinp['BATCHID'] >=min_batchid) & (arfinp['BATCHID'] <= max_batchid)]
print('Minimum batch id for ARFINP file:',arfinp_ctr['BATCHID'].min())
print('Maximum batch id for ARFINP file:',arfinp_ctr['BATCHID'].max())
arfinp_ctr.shape

* **arflpe**

In [ ]:
arflpe = pd.read_csv(file_path + '\ARFLPE.csv')
arflpe_ctr = arflpe[(arflpe['BATCHID'] >=min_batchid) & (arflpe['BATCHID'] <= max_batchid)]
print('Minimum batch id for ARFLPE file:',arflpe_ctr['BATCHID'].min())
print('Maximum batch id for ARFLPE file:',arflpe_ctr['BATCHID'].max())
arflpe_ctr.shape

#### TRF BATCH

In [ ]:
trfbatch = pd.read_csv(file_path + '\TRF_BATCH.csv')
trfbatch_ctr = trfbatch[(trfbatch['BATCHID'] >=min_batchid) & (trfbatch['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} trfbatch file:',trfbatch_ctr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} trfbatch file:',trfbatch_ctr['BATCHID'].max())
print(f'trfbatch file for {reporttype} has {trfbatch_ctr.shape[0]} rows and {trfbatch_ctr.shape[1]} columns')

##### TRF REPORT

In [ ]:
trfreport = pd.read_csv(file_path + '\TRF_REPORT.csv')
trfreport_ctr = trfreport[(trfreport['BATCHID'] >=min_batchid) & (trfreport['BATCHID'] <= max_batchid)]
print(f'Minimum report id for {reporttype} trfreport file:',trfreport_ctr['BATCHID'].min())
print(f'Maximum report id for {reporttype} trfreport file:',trfreport_ctr['BATCHID'].max())
print(f'trfreport file for {reporttype} has {trfreport_ctr.shape[0]} rows and {trfreport_ctr.shape[1]} columns')

##### TRFBRC

In [ ]:
trfbrc = pd.read_csv(file_path + '\TRF_TRFBRC.csv')
trfbrc_ctr = trfbrc[(trfbrc['BATCHID'] >=min_batchid) & (trfbrc['BATCHID'] <= max_batchid)]
print(f'Minimum report id for {reporttype} trfreport file:',trfbrc_ctr['BATCHID'].min())
print(f'Maximum report id for {reporttype} trfreport file:',trfbrc_ctr['BATCHID'].max())
print(f'trfreport file for {reporttype} has {trfbrc_ctr.shape[0]} rows and {trfbrc_ctr.shape[1]} columns')

##### TRFTRN

In [ ]:
trftrn = pd.read_csv(file_path + '\TRF_TRFTRN.csv')
trftrn_ctr = trftrn[(trftrn['BATCHID'] >=min_batchid) & (trftrn['BATCHID'] <= max_batchid)]
print(f'Minimum report id for {reporttype} trfreport file:',trftrn_ctr['BATCHID'].min())
print(f'Maximum report id for {reporttype} trfreport file:',trftrn_ctr['BATCHID'].max())
print(f'trfreport file for {reporttype} has {trftrn_ctr.shape[0]} rows and {trftrn_ctr.shape[1]} columns')

In [ ]:
data_read_end_time= datetime.now()
time_taken_in_data_read = data_read_end_time -data_read_start_time
print('Time taken in reading the data :',round((time_taken_in_data_read.total_seconds()/60),2),'minutes')

* Lower the column headers to minimize thye error while importing the table into Postgres

In [ ]:
#CTR
#REs_Aug.columns=[col.lower() for col in REs_Aug.columns]
#batch_ctr.columns = [col.lower() for col in batch_ctr.columns]
#report_ctr.columns = [col.lower() for col in report_ctr.columns]
arfbrc_ctr.columns = [col.lower() for col in arfbrc_ctr.columns]
arfacc_ctr.columns = [col.lower() for col in arfacc_ctr.columns]
arfinp_ctr.columns = [col.lower() for col in arfinp_ctr.columns]
arflpe_ctr.columns = [col.lower() for col in arflpe_ctr.columns]
#trfbatch_ctr.columns = [col.lower() for col in trfbatch_ctr.columns]
#trfreport_ctr.columns = [col.lower() for col in trfreport_ctr.columns]
trfbrc_ctr.columns = [col.lower() for col in trfbrc_ctr.columns]
trftrn_ctr.columns = [col.lower() for col in trftrn_ctr.columns]

##### Insert Data into Created Schema**
        * Time Complexity for Data insertion.

In [ ]:
data_insertion_start_time= datetime.now()
print('Data insertion started at-',data_insertion_start_time)

In [ ]:
# REs_Aug.to_sql(f'{month}_re_list',pengine,schema='monthly_ctr',if_exists='replace',index=False)
# print(f"batch file inserted into {month}_re_list with dimensions{ REs_Aug.shape}")

# batch_ctr.to_sql(f'{month}_arfbatch_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
# print(f"batch file inserted into {month}_batch_{reporttype} with dimensions{batch_ctr.shape}")

# report_ctr.to_sql(f'{month}_arfreport_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
# print(f"Report file inserted into {month}_report_{reporttype} with dimensions {report_ctr.shape}")

arfbrc_ctr.to_sql(f'{month}_arfbrc_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
print(f"Branch file inserted into {month}_arfbrc_{reporttype} with dimensions {arfbrc_ctr.shape}")

arfacc_ctr.to_sql(f'{month}_arfacc_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
print(f"arfacc file inserted into {month}_arfacc_{reporttype} with dimensions{arfacc_ctr.shape}")

arfinp_ctr.to_sql(f'{month}_arfinp_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
print(f"arfinp file inserted into {month}_arfinp_{reporttype} with dimensions{arfinp_ctr.shape}")

arflpe_ctr.to_sql(f'{month}_arflpe_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
print(f"arflpe file inserted into {month}_arflpe_{reporttype} with dimensions{arflpe_ctr.shape}")

##### TRF files data insertion

In [ ]:
#Lower the Columns
trfbatch_ctr.columns = [col.lower() for col in trfbatch_ctr.columns]
#Insert data to postgres
trfbatch_ctr.to_sql(f'{month}_trfbatch_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"trfbatch file inserted into {month}_trfbatch_{reporttype} with {trfbatch_ctr.shape[0]} rows")

#Lower the Columns
trfreport_ctr.columns = [col.lower() for col in trfreport_ctr.columns]
#Insert data to postgres
trfreport_ctr.to_sql(f'{month}_trfreport_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"trfreport file inserted into {month}_trfreport_{reporttype} with {trfreport_ctr.shape[0]} rows")

In [ ]:
#Lower the Columns
trfbrc_ctr.columns = [col.lower() for col in trfbrc_ctr.columns]
#Insert data to postgres
trfbrc_ctr.to_sql(f'{month}_trfbrc_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"trfbatch file inserted into {month}_trfbrc_{reporttype} with {trfbrc_ctr.shape[0]} rows")

#Lower the Columns
trftrn_ctr.columns = [col.lower() for col in trftrn_ctr.columns]
#Insert data to postgres
trftrn_ctr.to_sql(f'{month}_trftrn_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"trfreport file inserted into {month}_trftrn_{reporttype} with {trftrn_ctr.shape[0]} rows")

* **Create combined table of inp & lpe then insert data into arfinp_lpe table**

In [ ]:
cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_arfinp_lpe_{reporttype}\
                    ( batchid bigint, rptsernum bigint, accountnum text COLLATE pg_catalog."default", \
                    personname text COLLATE pg_catalog."default", pan text COLLATE pg_catalog."default" )  \
                    TABLESPACE pg_default')

In [ ]:
cursor.execute(f'insert into monthly_{reporttype}.{month}_arfinp_lpe_{reporttype}\
                select distinct batchid, rptsernum , accountnum, personname, pan \
                from monthly_{reporttype}.{month}_arfinp_{reporttype} \
                union \
                select distinct batchid, rptsernum , accountnum, personname, pan \
                from monthly_{reporttype}.{month}_arflpe_{reporttype}')

In [ ]:
print(f"Combined table of arfinp and arflpe is created and data is inserted into monthly_{reporttype}.{month}_arfinp_lpe_{reporttype}")

* **arftrn**

In [ ]:
arftrn = pd.read_csv(file_path + '\ARFTRN.csv',chunksize= 10000,iterator=True)

In [ ]:
cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_arftrn_{reporttype} ( batchid bigint,     rptsernum bigint,     accountnum text COLLATE pg_catalog."default",     dateoftransaction text COLLATE pg_catalog."default",     transactionid text COLLATE pg_catalog."default",     transactionmode text COLLATE pg_catalog."default",     debitcredit text COLLATE pg_catalog."default",     amount double precision,     currency text COLLATE pg_catalog."default",     producttype text COLLATE pg_catalog."default",     identifier text COLLATE pg_catalog."default",     transactiontype text COLLATE pg_catalog."default",     units text COLLATE pg_catalog."default",     rate text COLLATE pg_catalog."default",     dispositionsoffunds text COLLATE pg_catalog."default",     relatedaccountnum text COLLATE pg_catalog."default",     relatedinstname text COLLATE pg_catalog."default",     relatedinstrefnum text COLLATE pg_catalog."default",     remarks text COLLATE pg_catalog."default",     deletedflag text COLLATE pg_catalog."default",     creationdate text COLLATE pg_catalog."default",     createdby text COLLATE pg_catalog."default",     xmlindexid text COLLATE pg_catalog."default",     accountxmlindexid text COLLATE pg_catalog."default",     reportxmlindexid text COLLATE pg_catalog."default", batchxmlindexid text, branchrefnum text COLLATE pg_catalog."default")  TABLESPACE pg_default')

In [ ]:
for df in arftrn:
    #print(df.shape)
    df = df[(df['BATCHID'] >=min_batchid) & (df['BATCHID'] <= max_batchid)]
    #print(df.head())
    df.columns=[col.lower() for col in df.columns]
    df.to_sql(f'{month}_arftrn_{reporttype}',pengine,schema='monthly_ctr',if_exists='append',index=False)

In [ ]:
# * Time Consumed in reading the Data 
data_insertion_end_time= datetime.now()
time_taken_in_file_creation = data_insertion_end_time - data_insertion_start_time
t3 = data_insertion_end_time - data_read_start_time
print('Time taken in data insertion:',round((time_taken_in_file_creation.total_seconds()/60),2),'minutes')
print('Time taken in data reading and insertion:',round((t3.total_seconds()/60),2),'minutes')

* ***Run till here

* **CTR resolved pan**

* **Note:** Copy all the pans (Credit/Debit CTR, Credit NTR and Credit/Debit EFT) from the appendix tab from last month submitted monthly report and paste them in monthly update data folder in the respective excluded_pans_{} csv file.

In [ ]:
path

In [ ]:
excluded_pans_CTR = pd.read_csv(path + '\\monthly update data\\excluded_pans_{}.csv'.format(reporttype))
excluded_pans_CTR.to_sql(f'{month}_excluded_pans_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)

* **Repeated PANS**

In [ ]:
repeated_pans_total = pd.read_csv(path +'\\monthly update data\\repeated_pans.csv')
repeated_pans_total.to_sql(f'pan_month_of_report_{month}',pengine,schema='monthly_report',if_exists='replace',index=False)

* **Note:** Copy all the pans (Credit/Debit CTR, Credit NTR and Credit/Debit EFT) from the repeated pans tab from last month submitted monthly report and paste them in the repeated_pans_{} csv file

* **Assign the month for which PANS are getting repeated**

### Creation of Materialized views

In [ ]:
batchid_month = int(str(min_batchid)[3])
repeated_month_pan = batchid_month -1 # Analysis -1 month 
pan_month_of_report = repeated_month_pan
print(f'Month of Analysis is : {batchid_month},\nRepeated PANS month is : {repeated_month_pan},\npan_month_of_report is :{pan_month_of_report}')

In [ ]:
#Resolved Pans
resolved_pans = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_resolved_pans TABLESPACE pg_default AS  SELECT x.facc, x.fiureid,x.accountnum,x.pan FROM ( SELECT y.facc, y.fiureid, y.accountnum, y.pan, rank() OVER (PARTITION BY y.facc ORDER BY y.{reporttype}_count DESC) AS rr FROM ( SELECT DISTINCT z.fiureid || z.accountnum AS facc,  z.fiureid,z.accountnum,  z.pan,     count(DISTINCT z.batchid::character varying::text || z.rptsernum::character varying::text) AS {reporttype}_count FROM ( SELECT c.fiureid,  a.pan, a.batchid,  a.rptsernum, a.accountnum,a.personname,b.holdername,  similarity(a.personname, b.holdername) AS score  FROM monthly_{reporttype}.{month}_arfinp_lpe_{reporttype} a JOIN monthly_{reporttype}.{month}_arfacc_{reporttype} b ON a.batchid = b.batchid AND a.rptsernum = b.rptsernum AND a.accountnum = b.accountnum AND similarity(a.personname, b.holdername) >= 0.6::double precision JOIN monthly_{reporttype}.{month}_batch_{reporttype} c ON a.batchid = c.batchid\
                          WHERE a.pan <> ALL (ARRAY['XXXXX0000X'::text, 'XXXXX9999X'::text, 'ABCD1234F'::text, 'XXXXX1234X'::text, 'XXXXX'::text, 'X'::text, 'XXXXX1111X'::text])) z\
                          GROUP BY (z.fiureid || z.accountnum), z.fiureid, z.accountnum, z.pan\
                          ORDER BY (count(DISTINCT z.batchid::character varying::text || z.rptsernum::character varying::text)) DESC) y) x\
                          WHERE x.rr = 1\
                        WITH DATA")
print(f"Materialized view {month}_{reporttype}_resolved_pans created")

In [ ]:
# Holder_total_account
holder_total_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan TABLESPACE pg_default AS SELECT z.facc, z.fiureid,z.accountnum,d.pan,z.holdername, z.debit_amount, z.credit_amount, z.cumulativecrturnover, z.cumulativedrturnover, z.cumulativecashdpstturnover, z.cumulativecashwdturnover   from( select a.fiureid || b.accountnum AS facc, a.fiureid, b.accountnum,  b.holdername, sum(case when debitcredit = 'C' then amount end) as credit_amount, sum(case when debitcredit = 'D' then amount end) as debit_amount, max(b.cumulativecrturnover) AS cumulativecrturnover,  	  max(b.cumulativedrturnover) AS cumulativedrturnover, 	  max(b.cumulativecashdpstturnover) AS cumulativecashdpstturnover, 	  max(b.cumulativecashwdturnover) AS cumulativecashwdturnover from monthly_{reporttype}.{month}_batch_{reporttype} a join monthly_{reporttype}.{month}_arfacc_{reporttype} b on a.batchid = b.batchid join  monthly_{reporttype}.{month}_arftrn_{reporttype} c ON b.batchid = c.batchid AND b.rptsernum = c.rptsernum AND b.accountnum = c.accountnum where (c.batchid,c.rptsernum) in (select distinct batchid, rptsernum from monthly_{reporttype}.{month}_arfinp_lpe_{reporttype} ) group by (a.fiureid || b.accountnum), a.fiureid, b.accountnum,  b.holdername) z LEFT JOIN monthly_{reporttype}.{month}_{reporttype}_resolved_pans d ON d.facc = z.facc WITH DATA") 
print(f"\n Materialized view {month}_{reporttype}_holder_totals_pan created")

In [ ]:
# # Holder_total_account
# holder_total_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan TABLESPACE pg_default AS SELECT z.facc, z.fiureid,z.accountnum,d.pan,z.holdername, z.debit_amount, z.credit_amount, z.cumulativecrturnover, z.cumulativedrturnover, z.cumulativecashdpstturnover, z.cumulativecashwdturnover   from( select a.fiureid || b.accountnum AS facc, a.fiureid, b.accountnum,  b.holdername, 	 sum(amount) filter (where debitcredit = 'C') as credit_amount, 	 sum(amount) filter (where debitcredit = 'D') as debit_amount, 	 max(b.cumulativecrturnover) AS cumulativecrturnover,  	  	 max(b.cumulativedrturnover) AS cumulativedrturnover, 	  	 max(b.cumulativecashdpstturnover) AS cumulativecashdpstturnover, 	  	 max(b.cumulativecashwdturnover) AS cumulativecashwdturnover 	 from monthly_{reporttype}.{month}_batch_{reporttype} a join monthly_{reporttype}.{month}_arfacc_{reporttype} b 	 on a.batchid = b.batchid join  monthly_{reporttype}.{month}_arftrn_{reporttype} c 	 ON b.batchid = c.batchid 	 AND b.rptsernum = c.rptsernum 	 AND b.accountnum = c.accountnum 	 where (c.batchid,c.rptsernum) in (select distinct batchid, rptsernum from monthly_{reporttype}.{month}_arfinp_lpe_{reporttype} ) 	 group by (a.fiureid || b.accountnum), a.fiureid, b.accountnum,  b.holdername) z LEFT JOIN monthly_{reporttype}.{month}_{reporttype}_resolved_pans d ON d.facc = z.facc WITH DATA") 
# print(f"\n Materialized view {month}_{reporttype}_holder_totals_pan created")

* **Credit**

In [ ]:
print('Materialized Views for Credit:\n')
accounts_ctr_credit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_accounts_credit TABLESPACE pg_default AS  SELECT {month}_{reporttype}_holder_totals_pan.facc,{month}_{reporttype}_holder_totals_pan.fiureid,{month}_{reporttype}_holder_totals_pan.accountnum, {month}_{reporttype}_holder_totals_pan.holdername, {month}_{reporttype}_holder_totals_pan.debit_amount,{month}_{reporttype}_holder_totals_pan.credit_amount,({month}_{reporttype}_holder_totals_pan.credit_amount / 10000000::numeric) AS credit_amount_in_cr, {month}_{reporttype}_holder_totals_pan.pan   FROM monthly_ctr.{month}_{reporttype}_holder_totals_pan   ORDER BY {month}_{reporttype}_holder_totals_pan.credit_amount DESC  LIMIT 5000 WITH DATA")#. format(month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype))
print(f"Materialized view created : {month}_{reporttype}_accounts_credit ")

pan_credit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_pans_credit TABLESPACE pg_default AS   WITH cte1 AS (SELECT {month}_{reporttype}_holder_totals_pan.pan,{month}_{reporttype}_holder_totals_pan.holdername,count(1) AS cnt FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan GROUP BY {month}_{reporttype}_holder_totals_pan.holdername, {month}_{reporttype}_holder_totals_pan.pan), cte2 AS (SELECT cte1.pan,cte1.holdername,row_number() OVER (PARTITION BY cte1.pan ORDER BY cte1.cnt DESC) AS rnk FROM cte1), cte3 AS (SELECT {month}_{reporttype}_holder_totals_pan.pan,row_number() OVER (PARTITION BY {month}_{reporttype}_holder_totals_pan.pan ORDER BY (length({month}_{reporttype}_holder_totals_pan.holdername)) DESC) AS rr,{month}_{reporttype}_holder_totals_pan.holdername FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan)SELECT a.pan,c.holdername AS max_freq,b.holdername AS max_len,sum(a.credit_amount) AS credit_amount, CASE WHEN sum(a.cumulativecrturnover) <> 0::numeric THEN (sum(a.cumulativecashdpstturnover) / sum(a.cumulativecrturnover))*100  WHEN sum(a.cumulativecrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_dep_ratio, CASE WHEN sum(a.cumulativedrturnover) <> 0::numeric THEN (sum(a.cumulativecashwdturnover) / sum(a.cumulativedrturnover))*100  WHEN sum(a.cumulativedrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_wid_ratio, sum(a.credit_amount)/10000000 AS credit_amount_in_cr FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan a JOIN ( SELECT cte2.pan,cte2.holdername,cte2.rnk FROM cte2 WHERE cte2.rnk = 1) c ON c.pan = a.pan JOIN ( SELECT cte3.pan,cte3.holdername,cte3.rr FROM cte3 WHERE cte3.rr = 1) b ON b.pan = c.pan GROUP BY a.pan, c.holdername, b.holdername ORDER BY (sum(a.credit_amount)) DESC WITH DATA")
print(f"Materialized view created : {month}_pans_credit")

repeated_pans_credit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_repeated_pans_credit TABLESPACE pg_default AS WITH cte1 AS ( SELECT DISTINCT pan_month_of_report_{month}.pan,pan_month_of_report_{month}.report_type,count(DISTINCT pan_month_of_report_{month}.month) AS month FROM monthly_report.pan_month_of_report_{month} WHERE pan_month_of_report_{month}.report_type = 'credit_{reporttype}'::text GROUP BY pan_month_of_report_{month}.pan, pan_month_of_report_{month}.report_type HAVING count(DISTINCT pan_month_of_report_{month}.month) = {pan_month_of_report} ORDER BY (count(DISTINCT pan_month_of_report_{month}.month)) DESC), cte2 AS (SELECT {month}_pans_credit.pan,{month}_pans_credit.max_freq,{month}_pans_credit.max_len,{month}_pans_credit.credit_amount,{month}_pans_credit.cash_dep_ratio,{month}_pans_credit.cash_wid_ratio FROM monthly_{reporttype}.{month}_pans_credit) SELECT cte2.pan,cte2.max_freq,cte2.max_len,cte2.credit_amount,cte2.cash_dep_ratio,cte2.cash_wid_ratio FROM cte2 WHERE (cte2.pan IN ( SELECT DISTINCT cte1.pan FROM cte1)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_repeated_pans_credit")

credit_main_without_repeated_excluded_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_credit_main_without_repeated_excluded_pan TABLESPACE pg_default AS WITH cte1 AS (SELECT {month}_excluded_pans_{reporttype}.pan, {month}_excluded_pans_{reporttype}.holdername FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}), cte2 AS (SELECT {month}_repeated_pans_credit.pan,{month}_repeated_pans_credit.max_freq FROM monthly_{reporttype}.{month}_repeated_pans_credit), cte3 AS (SELECT a.pan FROM cte1 a UNION SELECT b.pan FROM cte2 b) SELECT {month}_pans_credit.pan,{month}_pans_credit.max_freq,{month}_pans_credit.max_len,{month}_pans_credit.credit_amount,{month}_pans_credit.cash_dep_ratio,{month}_pans_credit.cash_wid_ratio FROM monthly_{reporttype}.{month}_pans_credit WHERE NOT ({month}_pans_credit.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_credit_main_without_repeated_excluded_pan")

credit_excluded_pans_without_repeated_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_credit_excluded_pans_without_repeated_pan TABLESPACE pg_default AS WITH cte1 AS ( SELECT {month}_pans_credit.pan,{month}_pans_credit.max_freq,{month}_pans_credit.max_len,{month}_pans_credit.credit_amount,{month}_pans_credit.cash_dep_ratio,{month}_pans_credit.cash_wid_ratio,{month}_pans_credit.credit_amount_in_cr FROM monthly_{reporttype}.{month}_pans_credit), cte2 AS ( 	SELECT cte1.pan, cte1.max_freq,            cte1.max_len,            cte1.credit_amount,            cte1.cash_dep_ratio,            cte1.cash_wid_ratio,            cte1.credit_amount_in_cr FROM cte1          WHERE (cte1.pan IN ( SELECT {month}_excluded_pans_{reporttype}.pan                   FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}))     ), cte3 AS ( SELECT {month}_repeated_pans_credit.pan FROM monthly_{reporttype}.{month}_repeated_pans_credit) SELECT cte2.pan,    cte2.max_freq,    cte2.max_len,    cte2.credit_amount,    cte2.cash_dep_ratio,    cte2.cash_wid_ratio   FROM cte2 WHERE NOT (cte2.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_credit_excluded_pans_without_repeated_pan")

* **Debit**

In [ ]:
print('Materialized Views for debit:\n')
accounts_ctr_debit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_accounts_debit TABLESPACE pg_default AS  SELECT {month}_{reporttype}_holder_totals_pan.facc,{month}_{reporttype}_holder_totals_pan.fiureid,{month}_{reporttype}_holder_totals_pan.accountnum, {month}_{reporttype}_holder_totals_pan.holdername, {month}_{reporttype}_holder_totals_pan.debit_amount,{month}_{reporttype}_holder_totals_pan.credit_amount,({month}_{reporttype}_holder_totals_pan.debit_amount / 10000000::numeric) AS debit_amount_in_cr, {month}_{reporttype}_holder_totals_pan.pan   FROM monthly_ctr.{month}_{reporttype}_holder_totals_pan   ORDER BY {month}_{reporttype}_holder_totals_pan.debit_amount DESC  LIMIT 5000 WITH DATA")#. format(month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype))
print(f"Materialized view created : {month}_{reporttype}_accounts_debit ")

pan_debit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_pans_debit TABLESPACE pg_default AS   WITH cte1 AS (SELECT {month}_{reporttype}_holder_totals_pan.pan,{month}_{reporttype}_holder_totals_pan.holdername,count(1) AS cnt FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan GROUP BY {month}_{reporttype}_holder_totals_pan.holdername, {month}_{reporttype}_holder_totals_pan.pan), cte2 AS (SELECT cte1.pan,cte1.holdername,row_number() OVER (PARTITION BY cte1.pan ORDER BY cte1.cnt DESC) AS rnk FROM cte1), cte3 AS (SELECT {month}_{reporttype}_holder_totals_pan.pan,row_number() OVER (PARTITION BY {month}_{reporttype}_holder_totals_pan.pan ORDER BY (length({month}_{reporttype}_holder_totals_pan.holdername)) DESC) AS rr,{month}_{reporttype}_holder_totals_pan.holdername FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan)SELECT a.pan,c.holdername AS max_freq,b.holdername AS max_len,sum(a.debit_amount) AS debit_amount, CASE WHEN sum(a.cumulativecrturnover) <> 0::numeric THEN (sum(a.cumulativecashdpstturnover) / sum(a.cumulativecrturnover))*100  WHEN sum(a.cumulativecrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_dep_ratio, CASE WHEN sum(a.cumulativedrturnover) <> 0::numeric THEN (sum(a.cumulativecashwdturnover) / sum(a.cumulativedrturnover))*100  WHEN sum(a.cumulativedrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_wid_ratio, sum(a.debit_amount)/10000000 AS debit_amount_in_cr FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan a JOIN ( SELECT cte2.pan,cte2.holdername,cte2.rnk FROM cte2 WHERE cte2.rnk = 1) c ON c.pan = a.pan JOIN ( SELECT cte3.pan,cte3.holdername,cte3.rr FROM cte3 WHERE cte3.rr = 1) b ON b.pan = c.pan GROUP BY a.pan, c.holdername, b.holdername ORDER BY (sum(a.debit_amount)) DESC WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_pans_debit")

repeated_pans_debit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_repeated_pans_debit TABLESPACE pg_default AS WITH cte1 AS ( SELECT DISTINCT pan_month_of_report_{month}.pan,pan_month_of_report_{month}.report_type,count(DISTINCT pan_month_of_report_{month}.month) AS month FROM monthly_report.pan_month_of_report_{month} WHERE pan_month_of_report_{month}.report_type = 'debit_{reporttype}'::text GROUP BY pan_month_of_report_{month}.pan, pan_month_of_report_{month}.report_type HAVING count(DISTINCT pan_month_of_report_{month}.month) = {pan_month_of_report} ORDER BY (count(DISTINCT pan_month_of_report_{month}.month)) DESC), cte2 AS (SELECT {month}_pans_debit.pan,{month}_pans_debit.max_freq,{month}_pans_debit.max_len,{month}_pans_debit.debit_amount,{month}_pans_debit.cash_dep_ratio,{month}_pans_debit.cash_wid_ratio FROM monthly_{reporttype}.{month}_pans_debit) SELECT cte2.pan,cte2.max_freq,cte2.max_len,cte2.debit_amount,cte2.cash_dep_ratio,cte2.cash_wid_ratio FROM cte2 WHERE (cte2.pan IN ( SELECT DISTINCT cte1.pan FROM cte1)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_repeated_pans_debit")

debit_main_without_repeated_excluded_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_debit_main_without_repeated_excluded_pan TABLESPACE pg_default AS WITH cte1 AS (SELECT {month}_excluded_pans_{reporttype}.pan, {month}_excluded_pans_{reporttype}.holdername FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}), cte2 AS (SELECT {month}_repeated_pans_debit.pan,{month}_repeated_pans_debit.max_freq FROM monthly_{reporttype}.{month}_repeated_pans_debit), cte3 AS (SELECT a.pan FROM cte1 a UNION SELECT b.pan FROM cte2 b) SELECT {month}_pans_debit.pan,{month}_pans_debit.max_freq,{month}_pans_debit.max_len,{month}_pans_debit.debit_amount,{month}_pans_debit.cash_dep_ratio,{month}_pans_debit.cash_wid_ratio FROM monthly_{reporttype}.{month}_pans_debit WHERE NOT ({month}_pans_debit.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_debit_main_without_repeated_excluded_pan")

debit_excluded_pans_without_repeated_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_debit_excluded_pans_without_repeated_pan TABLESPACE pg_default AS WITH cte1 AS ( SELECT {month}_pans_debit.pan,{month}_pans_debit.max_freq,{month}_pans_debit.max_len,{month}_pans_debit.debit_amount,{month}_pans_debit.cash_dep_ratio,{month}_pans_debit.cash_wid_ratio,{month}_pans_debit.debit_amount_in_cr FROM monthly_{reporttype}.{month}_pans_debit), cte2 AS ( 	SELECT cte1.pan, cte1.max_freq,            cte1.max_len,            cte1.debit_amount,            cte1.cash_dep_ratio,            cte1.cash_wid_ratio,            cte1.debit_amount_in_cr FROM cte1          WHERE (cte1.pan IN ( SELECT {month}_excluded_pans_{reporttype}.pan                   FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}))     ), cte3 AS ( SELECT {month}_repeated_pans_debit.pan FROM monthly_{reporttype}.{month}_repeated_pans_debit) SELECT cte2.pan,    cte2.max_freq,    cte2.max_len,    cte2.debit_amount,    cte2.cash_dep_ratio,    cte2.cash_wid_ratio   FROM cte2 WHERE NOT (cte2.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_debit_excluded_pans_without_repeated_pan")

### CCR

* **Reconnect Postgres Engine**

In [ ]:
try:
    pengine = create_engine('postgresql+psycopg2://postgres:sal@123@localhost:5432/postgres')

    conn = psycopg2.connect(database = 'postgres', user = 'postgres', password = 'sal@123',host = "localhost",port= 5432)
    conn.autocommit = True

    cursor = conn.cursor()
except:
    print("Unable to create the Postgres DB connection")

db_conn=pengine.connect()
print("\n Postgres database connected succesfully")

* **CTR - Schema Creation if doesn't exists**

In [ ]:
reporttype = 'ccr'
print('Report type is:',reporttype)

In [ ]:
monthly_str_query = "CREATE SCHEMA IF NOT EXISTS %s AUTHORIZATION %s;"
monthly_str = (AsIs(f'monthly_{reporttype}'),AsIs('postgres'))
cursor.execute(monthly_str_query,monthly_str)

##### CHeck for the data path

In [ ]:
#file_path = path +'\\'+month_report_format+ f'\Data\SAL_{reporttype.upper()}_{month[:3].upper()}2022'
file_path = r"C:\Users\SAL008\Desktop\Ravi\Monthly Report\Sep 2022\Data\CCR_SEP_NOV_22_DUMP"
file_path

In [ ]:
# Dataread Start time
data_read_start_time= datetime.now()

* **batch**

In [ ]:
print('Minimum batch id is-', min_batchid)
print('Maximum batch id is-', max_batchid)

In [ ]:
batch = pd.read_csv(file_path + '\\BATCH.csv')
batch_ccr = batch[(batch['BATCHID'] >=min_batchid) & (batch['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {month} BATCH file:',batch_ccr['BATCHID'].min())
print(f'Maximum batch id for {month} BATCH file:',batch_ccr['BATCHID'].max())
batch_ccr.shape

* **CRFRPT**

In [ ]:
report = pd.read_csv(file_path + '\CRFRPT.csv')
report_ccr = report[(report['BATCHID'] >=min_batchid) & (report['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {month} REPORT file:',report_ccr['BATCHID'].min())
print(f'Maximum batch id for {month} REPORT file:',report_ccr['BATCHID'].max())
report_ccr.shape

* **CRFBRC**

In [ ]:
arfbrc = pd.read_csv(file_path + '\CRFBRC.csv')
arfbrc_ccr = arfbrc[(arfbrc['BATCHID'] >=min_batchid) & (arfbrc['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {month} {month} CRFBRC file:',arfbrc_ccr['BATCHID'].min())
print(f'Maximum batch id for {month} CRFBRC file:',arfbrc_ccr['BATCHID'].max())
arfbrc_ccr.shape

In [ ]:
out_path = path +'\\'+month_report_format+ f'\Data\SAL_{reporttype.upper()}_{month[:3].upper()}2022'
out_path

In [ ]:
batch_ccr.to_csv(out_path + "\\batch.csv")

In [ ]:
report_ccr.to_csv(out_path + "\\report.csv")

In [ ]:
arfbrc_ccr.to_csv(out_path + "\\arfbrc.csv")

In [ ]:
data_read_end_time= datetime.now()
time_taken_in_data_read = data_read_end_time -data_read_start_time
print('Time taken in reading the data :',round((time_taken_in_data_read.total_seconds()/60),2),'minutes')

* Lower the column headers to minimize thye error while importing the table into Postgres

In [ ]:
#ccr
#REs_Aug.columns=[col.lower() for col in REs_Aug.columns]
batch_ccr.columns=[col.lower() for col in batch_ccr.columns]
report_ccr.columns=[col.lower() for col in report_ccr.columns]
arfbrc_ccr.columns=[col.lower() for col in arfbrc_ccr.columns]

* **CCR Insert Data into Created Schema**

In [ ]:
data_insertion_start_time= datetime.now()
print('Data insertion started at-',data_insertion_start_time)

In [ ]:
# REs_Aug.to_sql(f'{month}_re_list',pengine,schema='monthly_str',if_exists='replace',index=False)
# print(f"batch file inserted into {month}_re_list with dimensions{ REs_Aug.shape}")

batch_ccr.to_sql(f'{month}_batch_{reporttype}',pengine,schema='monthly_ccr',if_exists='replace',index=False)
print(f"batch file inserted into {month}_batch_{reporttype} with dimensions{batch_ccr.shape}")

report_ccr.to_sql(f'{month}_report_{reporttype}',pengine,schema='monthly_ccr',if_exists='replace',index=False)
print(f"Report file inserted into {month}_report_{reporttype} with dimensions {report_ccr.shape}")

arfbrc_ccr.to_sql(f'{month}_arfbrc_{reporttype}',pengine,schema='monthly_ccr',if_exists='replace',index=False)
print(f"Branch file inserted into {month}_arfbrc_{reporttype} with dimensions {arfbrc_ccr.shape}")

In [ ]:
# * Time Consumed in reading the Data 
data_insertion_end_time= datetime.now()
time_taken_in_data_insertion = data_insertion_end_time - data_insertion_start_time
print('Time taken in reading the data :',round((time_taken_in_data_insertion.total_seconds()/60),2),'minutes')

In [ ]:
# * Total Time taken in reading and inserting the data 
total_time_taken_in_data_read_insertion = data_insertion_end_time -  data_read_start_time
print('Time taken in data reading and data insertion:',round((total_time_taken_in_data_read_insertion.total_seconds()/60),2),'minutes')

##### ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### NTR

In [ ]:
reporttype ='ntr'
print('Report type is:',reporttype)
print('Month of analysis :',month)

In [ ]:
print('****** Check the timeframe *************')
print('Start BATCHID:',min_batchid)
print('End BATCHID:',max_batchid)

* **Resetting the Database Connection**

In [ ]:
try:
    pengine = create_engine('postgresql+psycopg2://postgres:sal@123@localhost:5432/postgres')

    conn = psycopg2.connect(database = 'postgres', user = 'postgres', password = 'sal@123',host = "localhost",port= 5432)
    conn.autocommit = True

    cursor = conn.cursor()
except:
    print("Unable to create the Postgres DB connection")

db_conn=pengine.connect()
print("\n Postgres database connected succesfully")

In [ ]:
# #NTR
monthly_ntr_query = "CREATE SCHEMA IF NOT EXISTS %s AUTHORIZATION %s;"
monthly_ntr = (AsIs(f'monthly_{reporttype}'),AsIs('postgres'))
cursor.execute(monthly_ntr_query,monthly_ntr)

#### Data Insertion into NTR Schema

##### Batch

In [ ]:
#file_path = path +'\\'+month_report_format+ f'\Data\SAL_{reporttype.upper()}_{month[:3].upper()}2022'
file_path = r"C:\Users\SAL008\Desktop\Ravi\Monthly Report\Sep 2022\Data\NTR_SEP_NOV_22_DUMP"
file_path

In [ ]:
out_path = path +'\\'+month_report_format+ f'\Data\SAL_{reporttype.upper()}_{month[:3].upper()}2022'
out_path

In [ ]:
batch = pd.read_csv(file_path + '\BATCH.csv')
batch_ntr = batch[(batch['BATCHID'] >=min_batchid) & (batch['BATCHID'] <= max_batchid) & (batch['REPORTTYPE'] =='NTR')]
print(f'Minimum batch id for {reporttype} BATCH file:',batch_ntr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} BATCH file:',batch_ntr['BATCHID'].max())
print(f'BATCH file for {reporttype} has {batch_ntr.shape[0]} rows and {batch_ntr.shape[1]} columns')

##### Report

In [ ]:
report = pd.read_csv(file_path + '\REPORT.csv')
report_ntr = report[(report['BATCHID'] >=min_batchid) & (report['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} report file:',report_ntr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} report file:',report_ntr['BATCHID'].max())
print(f'REPORT file for {reporttype} has {report_ntr.shape[0]} rows and {report_ntr.shape[1]} columns')

##### ARFBRC

In [ ]:
arfbrc = pd.read_csv(file_path + '\ARFBRC.csv')
arfbrc_ntr = arfbrc[(arfbrc['BATCHID'] >=min_batchid) & (arfbrc['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfbrc file:',arfbrc_ntr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfbrc file:',arfbrc_ntr['BATCHID'].max())
print(f'ARFBRC file for {reporttype} has {arfbrc_ntr.shape[0]} rows and {arfbrc_ntr.shape[1]} columns')

##### ARFACC

In [ ]:
arfacc = pd.read_csv(file_path + '\ARFACC.csv')
arfacc_ntr = arfacc[(arfacc['BATCHID'] >=min_batchid) & (arfacc['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfacc file:',arfacc_ntr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfacc file:',arfacc_ntr['BATCHID'].max())
print(f'ARFACC file for {reporttype} has {arfacc_ntr.shape[0]} rows and {arfacc_ntr.shape[1]} columns')

##### ARFINP

In [ ]:
arfinp = pd.read_csv(file_path + '\ARFINP.csv')
arfinp_ntr = arfinp[(arfinp['BATCHID'] >=min_batchid) & (arfinp['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfinp file:',arfinp_ntr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfinp file:',arfinp_ntr['BATCHID'].max())
print(f'ARFINP file for {reporttype} has {arfinp_ntr.shape[0]} rows and {arfinp_ntr.shape[1]} columns')

##### ARFLPE

In [ ]:
arflpe = pd.read_csv(file_path + '\ARFLPE.csv')
arflpe_ntr = arflpe[(arflpe['BATCHID'] >=min_batchid) & (arflpe['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arflpe file:',arflpe_ntr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arflpe file:',arflpe_ntr['BATCHID'].max())
print(f'ARFLPE file for {reporttype} has {arflpe_ntr.shape[0]} rows and {arflpe_ntr.shape[1]} columns')

##### ARFTRN

In [ ]:
arftrn = pd.read_csv(file_path + '\ARFTRN.csv')
arftrn_ntr = arftrn[(arftrn['BATCHID'] >=min_batchid) & (arftrn['BATCHID'] <= max_batchid )]
print(f'Minimum batch id for {reporttype} arftrn file:',arftrn_ntr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arftrn file:',arftrn_ntr['BATCHID'].max())
print(f'ARFTRN file for {reporttype} has {arftrn_ntr.shape[0]} rows and {arftrn_ntr.shape[1]} columns')

##### Writing the files to csv

In [ ]:
batch_ntr.to_csv(out_path + "\\batch.csv")
report_ntr.to_csv(out_path + "\\report.csv")
arfbrc_ntr.to_csv(out_path + "\\arfbrc.csv")
arfacc_ntr.to_csv(out_path + "\\arfacc.csv")
arfinp_ntr.to_csv(out_path + "\\arfinp.csv")
arflpe_ntr.to_csv(out_path + "\\arflpe.csv")
arftrn_ntr.to_csv(out_path + "\\arftrn.csv")

###### Make the column headers to lowercase to avoid ambiguity

In [ ]:
#NTR
batch_ntr.columns=[col.lower() for col in batch_ntr.columns]
report_ntr.columns=[col.lower() for col in report_ntr.columns]
arfbrc_ntr.columns=[col.lower() for col in arfbrc_ntr.columns]
arfacc_ntr.columns=[col.lower() for col in arfacc_ntr.columns]
arfinp_ntr.columns=[col.lower() for col in arfinp_ntr.columns]
arflpe_ntr.columns=[col.lower() for col in arflpe_ntr.columns]
arftrn_ntr.columns=[col.lower() for col in arftrn_ntr.columns]

##### Data Push to Postgres

In [ ]:
# NTR Data
batch_ntr.to_sql(f'{month}_batch_{reporttype}',pengine,schema='monthly_ntr',if_exists='replace',index=False)
print(f"Batch file inserted into {month}_batch_{reporttype} with {batch_ntr.shape[0]} rows")

report_ntr.to_sql(f'{month}_report_{reporttype}',pengine,schema='monthly_ntr',if_exists='replace',index=False)
print(f"Report file inserted into {month}_report_{reporttype} with {report_ntr.shape[0]} rows")

arfbrc_ntr.to_sql(f'{month}_arfbrc_{reporttype}',pengine,schema='monthly_ntr',if_exists='replace',index=False)
print(f"Branch file inserted into {month}_arfbrc_{reporttype} with  {arfbrc_ntr.shape[0]} rows")

arfinp_ntr.to_sql(f'{month}_arfinp_{reporttype}',pengine,schema='monthly_ntr',if_exists='replace',index=False)
print(f"arfacc file inserted into {month}_arfacc_{reporttype} with {arfinp_ntr.shape[0]} rows")

arflpe_ntr.to_sql(f'{month}_arflpe_{reporttype}',pengine,schema='monthly_ntr',if_exists='replace',index=False)
print(f"arfinp file inserted into {month}_arfinp_{reporttype} with {arflpe_ntr.shape[0]} rows")

arftrn_ntr.to_sql(f'{month}_arftrn_{reporttype}',pengine,schema='monthly_ntr',if_exists='replace',index=False)
print(f"arflpe file inserted into {month}_arftrn_{reporttype} with {arftrn_ntr.shape[0]} rows")

arfacc_ntr.to_sql(f'{month}_arfacc_{reporttype}',pengine,schema='monthly_ntr',if_exists='replace',index=False)
print(f"arflpe file inserted into {month}_arflpe_{reporttype} with {arfacc_ntr.shape[0]} rows")

##### Create and Insert data into arfinp_lpe table under monthly_ntr schema

In [ ]:
cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_arfinp_lpe_{reporttype}\
                    ( batchid bigint, rptsernum bigint, accountnum text COLLATE pg_catalog."default", \
                    personname text COLLATE pg_catalog."default",     pan text COLLATE pg_catalog."default" )  \
                    TABLESPACE pg_default; ALTER TABLE IF EXISTS monthly_{reporttype}.{month}_arfinp_lpe_{reporttype}    \
                    OWNER to postgres;')

In [ ]:
cursor.execute(f'insert into monthly_{reporttype}.{month}_arfinp_lpe_{reporttype} \
                    select distinct batchid, rptsernum , accountnum, personname, pan \
                    from monthly_{reporttype}.{month}_arfinp_{reporttype} \
                    union \
                    select distinct batchid, rptsernum , accountnum, personname, pan \
                    from monthly_{reporttype}.{month}_arflpe_{reporttype}')

#### Create a table for exclusion list of NTR PANS

* **NTR resolved pan** - Copy all the Credit NTR pans from the appendix tab from last month submitted monthly report and paste them in monthly update data folder in the respective excluded_pans_{} csv file.*

In [ ]:
reporttype = 'ntr'

In [ ]:
excluded_pans_NTR = pd.read_csv(path + '\\monthly update data\\excluded_pans_{}.csv'.format(reporttype))
excluded_pans_NTR.to_sql(f'{month}_excluded_pans_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)

### Create Materialized View

In [ ]:
#Resolved Pans
resolved_pans = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_resolved_pans TABLESPACE pg_default AS  SELECT x.facc, x.fiureid,x.accountnum,x.pan FROM ( SELECT y.facc, y.fiureid, y.accountnum, y.pan, rank() OVER (PARTITION BY y.facc ORDER BY y.{reporttype}_count DESC) AS rr FROM ( SELECT DISTINCT z.fiureid || z.accountnum AS facc,  z.fiureid,z.accountnum,  z.pan,     count(DISTINCT z.batchid::character varying::text || z.rptsernum::character varying::text) AS {reporttype}_count FROM ( SELECT c.fiureid,  a.pan, a.batchid,  a.rptsernum, a.accountnum,a.personname,b.holdername,  similarity(a.personname, b.holdername) AS score  FROM monthly_{reporttype}.{month}_arfinp_lpe_{reporttype} a JOIN monthly_{reporttype}.{month}_arfacc_{reporttype} b ON a.batchid = b.batchid AND a.rptsernum = b.rptsernum AND a.accountnum = b.accountnum AND similarity(a.personname, b.holdername) >= 0.6::double precision JOIN monthly_{reporttype}.{month}_batch_{reporttype} c ON a.batchid = c.batchid\
                          WHERE a.pan <> ALL (ARRAY['XXXXX0000X'::text, 'XXXXX9999X'::text, 'ABCD1234F'::text, 'XXXXX1234X'::text, 'XXXXX'::text, 'X'::text, 'XXXXX1111X'::text])) z\
                  GROUP BY (z.fiureid || z.accountnum), z.fiureid, z.accountnum, z.pan\
                  ORDER BY (count(DISTINCT z.batchid::character varying::text || z.rptsernum::character varying::text)) DESC) y) x\
                  WHERE x.rr = 1\
                WITH DATA")
print(f"Materialized view {month}_{reporttype}_resolved_pans created")

In [ ]:
# Holder_total_account
holder_total_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan TABLESPACE pg_default AS SELECT z.facc, z.fiureid,z.accountnum,z.holdername,z.debit_amount,z.credit_amount,d.pan, z.cumulativecrturnover, z.cumulativedrturnover, z.cumulativecashdpstturnover, z.cumulativecashwdturnover  FROM ( SELECT c.fiureid || a.accountnum AS facc, c.fiureid, a.accountnum,  a.holdername, 	  sum(case when debitcredit = 'D' then amount else 0 end) AS debit_amount, 	  sum(case when debitcredit = 'C' then amount else 0 end) AS credit_amount,  	  max(a.cumulativecrturnover) AS cumulativecrturnover,  	  max(a.cumulativedrturnover) AS cumulativedrturnover, 	  max(a.cumulativecashdpstturnover) AS cumulativecashdpstturnover, 	  max(a.cumulativecashwdturnover) AS cumulativecashwdturnover 	  FROM monthly_{reporttype}.{month}_arfacc_{reporttype} a    	  JOIN monthly_{reporttype}.{month}_arftrn_{reporttype} b ON a.batchid = b.batchid 	  AND a.rptsernum = b.rptsernum AND a.accountnum = b.accountnum 	  JOIN monthly_{reporttype}.{month}_batch_{reporttype} c ON a.batchid = c.batchid   	  GROUP BY (c.fiureid || a.accountnum), c.fiureid, a.accountnum, a.holdername) z  	  LEFT JOIN monthly_{reporttype}.{month}_{reporttype}_resolved_pans d ON d.facc = z.facc WITH DATA") 
print(f"Materialized view {month}_{reporttype}_holder_totals_pan created")

* **Credit**

In [ ]:
print('Materialized Views for Credit:\n')
accounts_ntr_credit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_accounts_credit TABLESPACE pg_default AS  SELECT {month}_{reporttype}_holder_totals_pan.facc,{month}_{reporttype}_holder_totals_pan.fiureid,{month}_{reporttype}_holder_totals_pan.accountnum, {month}_{reporttype}_holder_totals_pan.holdername, {month}_{reporttype}_holder_totals_pan.credit_amount,({month}_{reporttype}_holder_totals_pan.credit_amount / 10000000::numeric) AS credit_amount_in_cr, {month}_{reporttype}_holder_totals_pan.pan   FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan   ORDER BY {month}_{reporttype}_holder_totals_pan.credit_amount DESC  LIMIT 5000 WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_accounts_credit ")

pan_credit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_pans_credit TABLESPACE pg_default AS   WITH cte1 AS (SELECT {month}_{reporttype}_holder_totals_pan.pan,{month}_{reporttype}_holder_totals_pan.holdername,count(1) AS cnt FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan GROUP BY {month}_{reporttype}_holder_totals_pan.holdername, {month}_{reporttype}_holder_totals_pan.pan), cte2 AS (SELECT cte1.pan,cte1.holdername,row_number() OVER (PARTITION BY cte1.pan ORDER BY cte1.cnt DESC) AS rnk FROM cte1), cte3 AS (SELECT {month}_{reporttype}_holder_totals_pan.pan,row_number() OVER (PARTITION BY {month}_{reporttype}_holder_totals_pan.pan ORDER BY (length({month}_{reporttype}_holder_totals_pan.holdername)) DESC) AS rr,{month}_{reporttype}_holder_totals_pan.holdername FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan)SELECT a.pan,c.holdername AS max_freq,b.holdername AS max_len,sum(a.credit_amount) AS credit_amount, CASE WHEN sum(a.cumulativecrturnover) <> 0::numeric THEN (sum(a.cumulativecashdpstturnover) / sum(a.cumulativecrturnover) * 100::numeric) WHEN sum(a.cumulativecrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_dep_ratio, CASE WHEN sum(a.cumulativedrturnover) <> 0::numeric THEN (sum(a.cumulativecashwdturnover) / sum(a.cumulativedrturnover) * 100::numeric) WHEN sum(a.cumulativedrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_wid_ratio,sum(a.credit_amount) / 10000000::numeric AS credit_amount_in_cr FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan a JOIN ( SELECT cte2.pan,cte2.holdername,cte2.rnk FROM cte2 WHERE cte2.rnk = 1) c ON c.pan = a.pan JOIN ( SELECT cte3.pan,cte3.holdername,cte3.rr FROM cte3 WHERE cte3.rr = 1) b ON b.pan = c.pan GROUP BY a.pan, c.holdername, b.holdername ORDER BY (sum(a.credit_amount)) DESC WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_pans_credit")

repeated_pans_credit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_repeated_pans_credit TABLESPACE pg_default AS WITH cte1 AS ( SELECT DISTINCT pan_month_of_report_{month}.pan,pan_month_of_report_{month}.report_type,count(DISTINCT pan_month_of_report_{month}.month) AS month FROM monthly_report.pan_month_of_report_{month} WHERE pan_month_of_report_{month}.report_type = 'credit_{reporttype}'::text GROUP BY pan_month_of_report_{month}.pan, pan_month_of_report_{month}.report_type HAVING count(DISTINCT pan_month_of_report_{month}.month) = {pan_month_of_report} ORDER BY (count(DISTINCT pan_month_of_report_{month}.month)) DESC), cte2 AS (SELECT {month}_pans_credit.pan,{month}_pans_credit.max_freq,{month}_pans_credit.max_len,{month}_pans_credit.credit_amount,{month}_pans_credit.cash_dep_ratio,{month}_pans_credit.cash_wid_ratio FROM monthly_{reporttype}.{month}_pans_credit) SELECT cte2.pan,cte2.max_freq,cte2.max_len,cte2.credit_amount,cte2.cash_dep_ratio,cte2.cash_wid_ratio FROM cte2 WHERE (cte2.pan IN ( SELECT DISTINCT cte1.pan FROM cte1)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_repeated_pans_credit")

credit_main_without_repeated_excluded_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_credit_main_without_repeated_excluded_pan TABLESPACE pg_default AS WITH cte1 AS (SELECT {month}_excluded_pans_{reporttype}.pan, {month}_excluded_pans_{reporttype}.holdername FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}), cte2 AS (SELECT {month}_repeated_pans_credit.pan,{month}_repeated_pans_credit.max_freq FROM monthly_{reporttype}.{month}_repeated_pans_credit), cte3 AS (SELECT a.pan FROM cte1 a UNION SELECT b.pan FROM cte2 b) SELECT {month}_pans_credit.pan,{month}_pans_credit.max_freq,{month}_pans_credit.max_len,{month}_pans_credit.credit_amount,{month}_pans_credit.cash_dep_ratio,{month}_pans_credit.cash_wid_ratio FROM monthly_{reporttype}.{month}_pans_credit WHERE NOT ({month}_pans_credit.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_credit_main_without_repeated_excluded_pan")

credit_excluded_pans_without_repeated_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_credit_excluded_pans_without_repeated_pan TABLESPACE pg_default AS WITH cte1 AS ( SELECT {month}_pans_credit.pan,{month}_pans_credit.max_freq,{month}_pans_credit.max_len,{month}_pans_credit.credit_amount,{month}_pans_credit.cash_dep_ratio,{month}_pans_credit.cash_wid_ratio,{month}_pans_credit.credit_amount_in_cr FROM monthly_{reporttype}.{month}_pans_credit), cte2 AS ( 	SELECT cte1.pan, cte1.max_freq,            cte1.max_len,            cte1.credit_amount,            cte1.cash_dep_ratio,            cte1.cash_wid_ratio,            cte1.credit_amount_in_cr FROM cte1          WHERE (cte1.pan IN ( SELECT {month}_excluded_pans_{reporttype}.pan                   FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}))     ), cte3 AS ( SELECT {month}_repeated_pans_credit.pan FROM monthly_{reporttype}.{month}_repeated_pans_credit) SELECT cte2.pan,    cte2.max_freq,    cte2.max_len,    cte2.credit_amount,    cte2.cash_dep_ratio,    cte2.cash_wid_ratio   FROM cte2 WHERE NOT (cte2.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_credit_excluded_pans_without_repeated_pan")

* **Debit**

In [ ]:
print('Materialized Views for Debit:\n')
accounts_ntr_debit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_accounts_debit TABLESPACE pg_default AS SELECT {month}_{reporttype}_holder_totals_pan.facc,{month}_{reporttype}_holder_totals_pan.fiureid, {month}_{reporttype}_holder_totals_pan.accountnum,{month}_{reporttype}_holder_totals_pan.holdername,{month}_{reporttype}_holder_totals_pan.debit_amount,{month}_{reporttype}_holder_totals_pan.debit_amount / 10000000::numeric::double precision AS debit_amount_in_cr,{month}_{reporttype}_holder_totals_pan.pan FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan  ORDER BY {month}_{reporttype}_holder_totals_pan.debit_amount DESC LIMIT 5000 WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_accounts_debit created")

pan_debit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_pans_debit TABLESPACE pg_default AS WITH cte1 AS (SELECT {month}_{reporttype}_holder_totals_pan.pan,{month}_{reporttype}_holder_totals_pan.holdername,count(1) AS cnt FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan GROUP BY {month}_{reporttype}_holder_totals_pan.holdername, {month}_{reporttype}_holder_totals_pan.pan ), cte2 AS ( SELECT cte1.pan, cte1.holdername, row_number() OVER (PARTITION BY cte1.pan ORDER BY cte1.cnt DESC) AS rnk FROM cte1 ), cte3 AS ( SELECT {month}_{reporttype}_holder_totals_pan.pan, row_number() OVER (PARTITION BY {month}_{reporttype}_holder_totals_pan.pan ORDER BY (length({month}_{reporttype}_holder_totals_pan.holdername)) DESC) AS rr, {month}_{reporttype}_holder_totals_pan.holdername FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan ) SELECT a.pan, c.holdername AS max_freq, b.holdername AS max_len, sum(a.debit_amount) AS debit_amount, CASE WHEN sum(a.cumulativecrturnover) <> 0::numeric THEN (sum(a.cumulativecashdpstturnover) / sum(a.cumulativecrturnover) * 100::numeric) WHEN sum(a.cumulativecrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_dep_ratio, CASE WHEN sum(a.cumulativedrturnover) <> 0::numeric THEN (sum(a.cumulativecashwdturnover) / sum(a.cumulativedrturnover) * 100::numeric) WHEN sum(a.cumulativedrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_wid_ratio, sum(a.debit_amount) / 10000000::numeric::double precision AS debit_amount_in_cr   FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan a JOIN ( SELECT cte2.pan, cte2.holdername, cte2.rnk FROM cte2 WHERE cte2.rnk = 1) c ON c.pan = a.pan JOIN ( SELECT cte3.pan, cte3.holdername, cte3.rr FROM cte3 WHERE cte3.rr = 1) b ON b.pan = c.pan  GROUP BY a.pan, c.holdername, b.holdername  ORDER BY (sum(a.debit_amount)) DESC WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_pans_debit")

#print('In the repeated pan code, change the pan_month_of_report.month to the last month analysis')
repeated_pans_debit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_repeated_pans_debit TABLESPACE pg_default AS  WITH cte1 AS ( SELECT DISTINCT pan_month_of_report_{month}.pan,pan_month_of_report_{month}.report_type,count(DISTINCT pan_month_of_report_{month}.month) AS month FROM monthly_report.pan_month_of_report_{month} WHERE pan_month_of_report_{month}.report_type = 'debit_{reporttype}'::text   GROUP BY pan_month_of_report_{month}.pan, pan_month_of_report_{month}.report_type HAVING count(DISTINCT pan_month_of_report_{month}.month) = {pan_month_of_report} ORDER BY (count(DISTINCT pan_month_of_report_{month}.month)) DESC), cte2 AS (SELECT {month}_pans_debit.pan,{month}_pans_debit.max_freq,{month}_pans_debit.max_len,{month}_pans_debit.debit_amount,{month}_pans_debit.cash_dep_ratio,{month}_pans_debit.cash_wid_ratio  FROM monthly_{reporttype}.{month}_pans_debit) SELECT cte2.pan,cte2.max_freq,cte2.max_len,cte2.debit_amount,cte2.cash_dep_ratio,cte2.cash_wid_ratio FROM cte2 WHERE (cte2.pan IN ( SELECT DISTINCT cte1.pan FROM cte1)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_repeated_pans_debit")

debit_main_without_repeated_excluded_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_debit_main_without_repeated_excluded_pan TABLESPACE pg_default AS WITH cte1 AS (SELECT {month}_excluded_pans_{reporttype}.pan, {month}_excluded_pans_{reporttype}.holdername FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}), cte2 AS (SELECT {month}_repeated_pans_debit.pan,{month}_repeated_pans_debit.max_freq FROM monthly_{reporttype}.{month}_repeated_pans_debit), cte3 AS (SELECT a.pan FROM cte1 a UNION SELECT b.pan FROM cte2 b) SELECT {month}_pans_debit.pan,{month}_pans_debit.max_freq,{month}_pans_debit.max_len,{month}_pans_debit.debit_amount,{month}_pans_debit.cash_dep_ratio,{month}_pans_debit.cash_wid_ratio FROM monthly_{reporttype}.{month}_pans_debit WHERE NOT ({month}_pans_debit.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_debit_main_without_repeated_excluded_pan")

debit_excluded_pans_without_repeated_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_debit_excluded_pans_without_repeated_pan TABLESPACE pg_default AS WITH cte1 AS ( SELECT {month}_pans_debit.pan,{month}_pans_debit.max_freq,{month}_pans_debit.max_len,{month}_pans_debit.debit_amount,{month}_pans_debit.cash_dep_ratio,{month}_pans_debit.cash_wid_ratio,{month}_pans_debit.debit_amount_in_cr FROM monthly_{reporttype}.{month}_pans_debit), cte2 AS ( 	SELECT cte1.pan, cte1.max_freq,            cte1.max_len,            cte1.debit_amount,            cte1.cash_dep_ratio,            cte1.cash_wid_ratio,            cte1.debit_amount_in_cr FROM cte1          WHERE (cte1.pan IN ( SELECT {month}_excluded_pans_{reporttype}.pan                   FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}))     ), cte3 AS ( SELECT {month}_repeated_pans_debit.pan FROM monthly_{reporttype}.{month}_repeated_pans_debit) SELECT cte2.pan,    cte2.max_freq,    cte2.max_len,    cte2.debit_amount,    cte2.cash_dep_ratio,    cte2.cash_wid_ratio   FROM cte2 WHERE NOT (cte2.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_debit_excluded_pans_without_repeated_pan")

##### ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### STR

In [ ]:
reporttype ='str'
print('Report type is:',reporttype)
print('Month of analysis :',month)

In [ ]:
file_path = path +'\\'+month_report_format+ f'\Data\SAL_{reporttype.upper()}_{month[:3].upper()}2022'
file_path

* **Resetting the Database Connection**

In [10]:
try:
    pengine = create_engine('postgresql+psycopg2://postgres:sal@123@localhost:5432/postgres')

    conn = psycopg2.connect(database = 'postgres', user = 'postgres', password = 'sal@123',host = "localhost",port= 5432)
    conn.autocommit = True

    cursor = conn.cursor()
except:
    print("Unable to create the Postgres DB connection")

db_conn=pengine.connect()
print("\n Postgres database connected succesfully")

Unable to create the Postgres DB connection

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
# #EFT
monthly_str_query = "CREATE SCHEMA IF NOT EXISTS %s AUTHORIZATION %s;"
monthly_str = (AsIs(f'monthly_{reporttype}'),AsIs('postgres'))
cursor.execute(monthly_str_query,monthly_str)

In [ ]:
f'{month}_batch_{reporttype}'

##### Batch

In [ ]:
batch = pd.read_csv(file_path + '\BATCH.csv')
batch_str = batch[(batch['BATCHID'] >=min_batchid) & (batch['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} BATCH file:',batch_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} BATCH file:',batch_str['BATCHID'].max())
print(f'BATCH file for {reporttype} has {batch_str.shape[0]} rows and {batch_str.shape[1]} columns')

#Loweing the column headers
batch_str.columns=[col.lower() for col in batch_str.columns]
# Data insertion to Postgres
batch_str.to_sql(f'{month}_batch_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"Batch file inserted into {month}_batch_{reporttype} with {batch_str.shape[0]} rows")

In [ ]:
ARFbatch = pd.read_csv(file_path + '\ARFBATCH.csv')
batch_str_arf = ARFbatch[(ARFbatch['BATCHID'] >=min_batchid) & (ARFbatch['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} BATCH file:',batch_str_arf['BATCHID'].min())
print(f'Maximum batch id for {reporttype} BATCH file:',batch_str_arf['BATCHID'].max())
print(f'BATCH file for {reporttype} has {batch_str_arf.shape[0]} rows and {batch_str_arf.shape[1]} columns')

#Loweing the column headers
batch_str_arf.columns=[col.lower() for col in batch_str_arf.columns]

In [ ]:
TRFbatch = pd.read_csv(file_path + '\TRFBATCH.csv')
batch_str_trf = TRFbatch[(TRFbatch['BATCHID'] >=min_batchid) & (TRFbatch['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} BATCH file:',batch_str_trf['BATCHID'].min())
print(f'Maximum batch id for {reporttype} BATCH file:',batch_str_trf['BATCHID'].max())
print(f'BATCH file for {reporttype} has {batch_str_trf.shape[0]} rows and {batch_str_trf.shape[1]} columns')

#Loweing the column headers
batch_str_trf.columns=[col.lower() for col in batch_str_trf.columns]

In [ ]:
batch_str=pd.concat([batch_str_arf,batch_str_trf])
# print(f'Minimum batch id for {reporttype} BATCH file:',batch_str['BATCHID'].min())
# print(f'Maximum batch id for {reporttype} BATCH file:',batch_str['BATCHID'].max())
# print(f'BATCH file for {reporttype} has {batch_str.shape[0]} rows and {batch_str.shape[1]} columns')

In [ ]:

# Data insertion to Postgres
batch_str.to_sql(f'{month}_batch_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"Batch file inserted into {month}_batch_{reporttype} with {batch_str.shape[0]} rows")

##### Report

In [ ]:
ARFreport = pd.read_csv(file_path + '\ARFREPORT.csv')
report_str_arf = ARFreport[(ARFreport['BATCHID'] >=min_batchid) & (ARFreport['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} report file:',report_str_arf['BATCHID'].min())
print(f'Maximum batch id for {reporttype} report file:',report_str_arf['BATCHID'].max())
print(f'REPORT file for {month} {reporttype} has {report_str_arf.shape[0]} rows and {report_str_arf.shape[1]} columns')

#Loweing the column headers
report_str_arf.columns=[col.lower() for col in report_str_arf.columns]

In [ ]:
TRFreport = pd.read_csv(file_path + '\TRFREPORT.csv')
report_str_trf = TRFreport[(TRFreport['BATCHID'] >=min_batchid) & (TRFreport['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} report file:',report_str_trf['BATCHID'].min())
print(f'Maximum batch id for {reporttype} report file:',report_str_trf['BATCHID'].max())
print(f'REPORT file for {month} {reporttype} has {report_str_trf.shape[0]} rows and {report_str_trf.shape[1]} columns')

#Loweing the column headers
report_str_trf.columns=[col.lower() for col in report_str.columns]

In [ ]:
report_str=pd.concat([report_str_arf,report_str_trf])
# print(f'Minimum batch id for {reporttype} report file:',report_str['BATCHID'].min())
# print(f'Maximum batch id for {reporttype} report file:',report_str['BATCHID'].max())
# print(f'REPORT file for {month} {reporttype} has {report_str.shape[0]} rows and {report_str.shape[1]} columns')

In [ ]:
# Data insertion to Postgres
report_str.to_sql(f'{month}_report_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"\n Report file inserted into {month}_report_{reporttype} with {report_str.shape[0]} rows")

In [ ]:
report = pd.read_csv(file_path + '\REPORT.csv')
report_str = report[(report['BATCHID'] >=min_batchid) & (report['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} report file:',report_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} report file:',report_str['BATCHID'].max())
print(f'REPORT file for {month} {reporttype} has {report_str.shape[0]} rows and {report_str.shape[1]} columns')

#Loweing the column headers
report_str.columns=[col.lower() for col in report_str.columns]
# Data insertion to Postgres
report_str.to_sql(f'{month}_report_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"\n Report file inserted into {month}_report_{reporttype} with {report_str.shape[0]} rows")

##### ARFBRC

In [ ]:
arfbrc = pd.read_csv(file_path + '\ARFBRC.csv')
arfbrc_str = arfbrc[(arfbrc['BATCHID'] >=min_batchid) & (arfbrc['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfbrc file:',arfbrc_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfbrc file:',arfbrc_str['BATCHID'].max())
print(f'arfBRC file for {month} {reporttype} has {arfbrc_str.shape[0]} rows and {arfbrc_str.shape[1]} columns')

#Loweing the column headers
arfbrc_str.columns=[col.lower() for col in arfbrc_str.columns]
# Data insertion to Postgres
arfbrc_str.to_sql(f'{month}_arfbrc_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"\n Batch file inserted into {month}_arfbrc_{reporttype} with {arfbrc_str.shape[0]} rows")

#### ARFLPE

In [ ]:
arflpe = pd.read_csv(file_path + '\ARFLPE.csv')
arflpe_str = arflpe[(arflpe['BATCHID'] >=min_batchid) & (arflpe['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arflpe file:',arflpe_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arflpe file:',arflpe_str['BATCHID'].max())
print(f'arfLPE file for {reporttype} has {arflpe_str.shape[0]} rows and {arflpe_str.shape[1]} columns')

#Lower the Columns
arflpe_str.columns = [col.lower() for col in arflpe_str.columns]
#Insert data to postgres
arflpe_str.to_sql(f'{month}_arflpe_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"arfLPE file inserted into {month}_arflpe_{reporttype} with {arflpe_str.shape[0]} rows")

#### ARFINP

In [ ]:
arfinp = pd.read_csv(file_path + '\ARFINP.csv')
arfinp_str = arfinp[(arfinp['BATCHID'] >=min_batchid) & (arfinp['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfinp file:',arfinp_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfinp file:',arfinp_str['BATCHID'].max())
print(f'arfinp file for {reporttype} has {arfinp_str.shape[0]} rows and {arfinp_str.shape[1]} columns')

#Lower the Columns
arfinp_str.columns = [col.lower() for col in arfinp_str.columns]
#Insert data to postgres
arfinp_str.to_sql(f'{month}_arfinp_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"arfinp file inserted into {month}_arfinp_{reporttype} with {arfinp_str.shape[0]} rows")

#### Create and Insert data into TRNINP_LPE table under monthly_str schema

In [ ]:
cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_arfinp_lpe_{reporttype}\
                    ( batchid bigint, rptsernum bigint, \
                    personname text COLLATE pg_catalog."default", pan text COLLATE pg_catalog."default" )  \
                    TABLESPACE pg_default; ALTER TABLE IF EXISTS monthly_{reporttype}.{month}_trfinp_lpe_{reporttype}    \
                    OWNER to postgres;')

In [ ]:
cursor.execute(f'insert into monthly_{reporttype}.{month}_arfinp_lpe_{reporttype} \
                    select distinct batchid, rptsernum ,  personname, pan \
                    from monthly_{reporttype}.{month}_arfinp_{reporttype} \
                    union \
                    select distinct batchid, rptsernum ,  personname, pan \
                    from monthly_{reporttype}.{month}_arflpe_{reporttype}')

print(f"arfinp file inserted into monthly_{reporttype}.{month}_arfinp_lpe_{reporttype} ")

#### ARFACC

In [ ]:
arfacc = pd.read_csv(file_path + '\ARFACC.csv')
arfacc_str = arfacc[(arfacc['BATCHID'] >=min_batchid) & (arfacc['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfacc file:',arfacc_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfacc file:',arfacc_str['BATCHID'].max())
print(f'arfacc file for {reporttype} has {arfacc_str.shape[0]} rows and {arfacc_str.shape[1]} columns')

#Lower the Columns
arfacc_str.columns = [col.lower() for col in arfacc_str.columns]
#Insert data to postgres
arfacc_str.to_sql(f'{month}_arfacc_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"arfacc file inserted into {month}_arfacc_{reporttype} with {arfacc_str.shape[0]} rows")

##### TRFBRC

In [ ]:
trfbrc = pd.read_csv(file_path + '\TRFBRC.csv')
trfbrc_str = trfbrc[(trfbrc['BATCHID'] >=min_batchid) & (trfbrc['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfbrc file:',trfbrc_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfbrc file:',trfbrc_str['BATCHID'].max())
print(f'TRFBRC file for {month} {reporttype} has {trfbrc_str.shape[0]} rows and {trfbrc_str.shape[1]} columns')

#Lower the Columns
trfbrc_str.columns = [col.lower() for col in trfbrc_str.columns]
#Insert data to postgres
trfbrc_str.to_sql(f'{month}_trfbrc_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"TRFBRC file inserted into {month}_trfbrc_str_{reporttype} with {trfbrc_str.shape[0]} rows")

#### TRFTRN

In [ ]:
trftrn = pd.read_csv(file_path + '\TRFTRN.csv')
trftrn_str = trftrn[(trftrn['BATCHID'] >=min_batchid) & (trftrn['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} trflpe file:',trftrn_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} trflpe file:',trftrn_str['BATCHID'].max())
print(f'TRFTRN file for {reporttype} has {trftrn_str.shape[0]} rows and {trftrn_str.shape[1]} columns')

#Lower the Columns
trftrn_str.columns = [col.lower() for col in trftrn_str.columns]
#Insert data to postgres
trftrn_str.to_sql(f'{month}_trftrn_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"TRFTRN file inserted into {month}_trftrn_str_{reporttype} with {trftrn_str.shape[0]} rows")

##### ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### EFT

In [ ]:
month = 'sep22'
print('Analysis month -',month)
month_cc = Camel_Case(month)
print('Analysis month in Camel Case -',month_cc)
#month_report_format = format(month_cc[0:3] +' '+str(datetime.now().year))
month_report_format = format(month_cc[0:3] +' '+'20'+month[3:5])
print('Analysis month in reporting format -',month_report_format)

In [ ]:
reporttype ='eft'
print('Report type is:',reporttype)
print('Month of analysis :',month)

In [ ]:
min_batchid = 2209010000
print('Start BATCHID:',min_batchid)

max_batchid = 2209309999
print('End BATCHID:',max_batchid)

In [ ]:
file_path = path +'\\'+month_report_format+ f'\Data\SAL_{reporttype.upper()}_{month[:3].upper()}2022'
file_path

In [ ]:
pengine = create_engine('postgresql+psycopg2://postgres:sal@123@localhost:5432/postgres')

conn = psycopg2.connect(database = 'postgres', user = 'postgres', password = 'sal@123',host = "localhost",port= 5432)
conn.autocommit = True
cursor = conn.cursor()
db_conn=pengine.connect()

In [ ]:
# #EFT
monthly_eft_query = "CREATE SCHEMA IF NOT EXISTS %s AUTHORIZATION %s;"
monthly_eft = (AsIs(f'monthly_{reporttype}'),AsIs('postgres'))
cursor.execute(monthly_eft_query,monthly_eft)

##### Batch

In [ ]:
batch = pd.read_csv(file_path + '\BATCH.csv')
batch_eft = batch[(batch['BATCHID'] >=min_batchid) & (batch['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} BATCH file:',batch_eft['BATCHID'].min())
print(f'Maximum batch id for {reporttype} BATCH file:',batch_eft['BATCHID'].max())
print(f'BATCH file for {reporttype} has {batch_eft.shape[0]} rows and {batch_eft.shape[1]} columns')

##### Report

In [ ]:
report = pd.read_csv(file_path + '\REPORT.csv')
report_eft = report[(report['BATCHID'] >=min_batchid) & (report['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} report file:',report_eft['BATCHID'].min())
print(f'Maximum batch id for {reporttype} report file:',report_eft['BATCHID'].max())
print(f'REPORT file for {month} {reporttype} has {report_eft.shape[0]} rows and {report_eft.shape[1]} columns')

##### TRFBRC

In [ ]:
trfbrc = pd.read_csv(file_path + '\TRFBRC.csv')
trfbrc_eft = trfbrc[(trfbrc['BATCHID'] >=min_batchid) & (trfbrc['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfbrc file:',trfbrc_eft['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfbrc file:',trfbrc_eft['BATCHID'].max())
print(f'TRFBRC file for {month} {reporttype} has {trfbrc_eft.shape[0]} rows and {trfbrc_eft.shape[1]} columns')

##### TRFTRN

In [ ]:
# cursor.execute(f'  CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_trftrn_{reporttype} (     batchid bigint,     rptsernum bigint,     transactiondate text COLLATE pg_catalog."default",     transactiontime text COLLATE pg_catalog."default",     transactionrefnum text COLLATE pg_catalog."default",     transactiontype text COLLATE pg_catalog."default",     instrumenttype text COLLATE pg_catalog."default",     transactioninstname text COLLATE pg_catalog."default",     transactioninstrefnum text COLLATE pg_catalog."default",     transactionstatecode text COLLATE pg_catalog."default",     transactioncountrycode text COLLATE pg_catalog."default",     pymtinstrumentnum text COLLATE pg_catalog."default",     pymtinstrumentissueinstname text COLLATE pg_catalog."default",     instrumentissueinstrefnum text COLLATE pg_catalog."default",     instrumentcountrycode text COLLATE pg_catalog."default",     amountrupees bigint,     amountforeigncurrency bigint,     currencyoftransaction text COLLATE pg_catalog."default",     purposeoftransaction text COLLATE pg_catalog."default",     purposecode text COLLATE pg_catalog."default",     riskrating text COLLATE pg_catalog."default",     customername text COLLATE pg_catalog."default",     customerid text COLLATE pg_catalog."default",     occupation text COLLATE pg_catalog."default",     dob text COLLATE pg_catalog."default",     gender text COLLATE pg_catalog."default",     nationality text COLLATE pg_catalog."default",     identificationtype text COLLATE pg_catalog."default",     identificationnum text COLLATE pg_catalog."default",     issuingauthority text COLLATE pg_catalog."default",     placeofissue text COLLATE pg_catalog."default",     pan text COLLATE pg_catalog."default",     uin text COLLATE pg_catalog."default",     address text COLLATE pg_catalog."default",     city text COLLATE pg_catalog."default",     statecode text COLLATE pg_catalog."default",     pincode text COLLATE pg_catalog."default",     countrycode text COLLATE pg_catalog."default",     telephone text COLLATE pg_catalog."default",     mobile text COLLATE pg_catalog."default",     fax text COLLATE pg_catalog."default",     email text COLLATE pg_catalog."default",     accountnum text COLLATE pg_catalog."default",     accountwithinstname text COLLATE pg_catalog."default",     accountwithinstrefnum text COLLATE pg_catalog."default",     relatedinstname text COLLATE pg_catalog."default",     instrelationflag text COLLATE pg_catalog."default",     relatedinstrefnum text COLLATE pg_catalog."default",     remarks text COLLATE pg_catalog."default",     deletedflag text COLLATE pg_catalog."default",     creationdate text COLLATE pg_catalog."default",     createdby text COLLATE pg_catalog."default",     xmlindexid text COLLATE pg_catalog."default",     reportxmlindexid text COLLATE pg_catalog."default",     batchxmlindexid text COLLATE pg_catalog."default",     country_in bigint,     tytype_in bigint )  TABLESPACE pg_default;  ALTER TABLE IF EXISTS monthly_{reporttype}.{month}_trftrn_{reporttype}     OWNER to postgres;')

In [ ]:
trftrn = pd.read_csv(file_path + '\TRFTRN.csv',chunksize = 10000,iterator = True, error_bad_lines=False,encoding='latin1',sep=',')

In [ ]:
help(pd.read_csv)

In [ ]:
trftrn = pd.read_csv(file_path + '\TRFTRN.csv',chunksize = 10000,iterator = True,encoding='latin', engine='python',error_bad_lines=False)

In [ ]:
trftrn = pd.read_csv(file_path + '\TRFTRN.csv',encoding='latin', engine='python',error_bad_lines=False)

In [ ]:
trftrn.shape

In [ ]:
#trftrn = pd.read_csv(file_path + '\TRFTRN.csv',quoting=csv.QUOTE_NONE)

In [ ]:
f'{month}_trftrn_{reporttype}'

In [ ]:
c_list=list(df.columns)

In [ ]:
c_list[0]

In [ ]:
df.head()

In [ ]:
f'{month}_trftrn_{reporttype}'

In [ ]:
help(pd.read_csv)

In [ ]:
df.columns

In [ ]:
trftrn.to_sql(f'{month}_trftrn_{reporttype}',pengine,schema='monthly_eft',if_exists='append',index=False)

In [ ]:
df_btrn=pd.read_csv(file_path + '\TRFTRN.csv',encoding='latin',error_bad_lines=False,usecols=['BATCHID'])

In [ ]:
max(df_btrn['BATCHID'])

In [ ]:
trftrn.head()

In [ ]:
trftrn.columns=[col.lower() for col in trftrn.columns]

In [ ]:
# If you are using the chunksize concept, use this query to insert the data into PostgresDB

for df in trftrn:
    #print(df.shape)
    #
    #df.columns=c_list
    df = df[(df['BATCHID'] >=min_batchid) & (df['BATCHID'] <= max_batchid)]
    #print(df.columns)
    #df=df[list(df.columns)[0:55]]
    #reader=csv.reader(x.replace('\0','')for x in trftrn )
    #print(df.head())
    #print(df.columns)
    #print(len(df.columns))
   
    df.columns=[col.lower() for col in df.columns]
    df.to_sql(f'{month}_trftrn_{reporttype}',pengine,schema='monthly_eft',if_exists='append',index=False)    
    #break

In [ ]:
print(f"TRFTRN EFT file inserted into {month}_trftrn_{reporttype} with {trftrn.shape[0]} rows")

In [ ]:
trftrn.info()

In [ ]:
# trftrn = pd.read_csv(file_path + '\TRFTRN.csv')
# trftrn_eft = trftrn[(trftrn['BATCHID'] >=min_batchid) & (trftrn['BATCHID'] <= max_batchid)]
# print(f'Minimum batch id for {reporttype} trflpe file:',trftrn_eft['BATCHID'].min())
# print(f'Maximum batch id for {reporttype} trflpe file:',trftrn_eft['BATCHID'].max())
# print(f'TRFLPE file for {reporttype} has {trftrn_eft.shape[0]} rows and {trftrn_eft.shape[1]} columns')

##### Reducing uppercase to lowercase

In [ ]:
batch_eft.columns=[col.lower() for col in batch_eft.columns]
report_eft.columns=[col.lower() for col in report_eft.columns]
trfbrc_eft.columns = [col.lower() for col in trfbrc_eft.columns]

##### Insert Data to Postgres

In [ ]:
batch_eft.to_sql(f'{month}_batch_{reporttype}',pengine,schema='monthly_eft',if_exists='replace',index=False)
print(f"Batch file inserted into {month}_batch_{reporttype} with {batch_eft.shape[0]} rows")

report_eft.to_sql(f'{month}_report_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f" REPORT file inserted into {month}_batch_{reporttype} with {report_eft.shape[0]} rows")

trfbrc_eft.to_sql(f'{month}_trfbrc_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"TRFBRC file inserted into {month}_batch_{reporttype} with {trfbrc_eft.shape[0]} rows")

# trftrn_eft.to_sql(f'{month}_trflpe_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
# print(f"TRFLPE file inserted into {month}_batch_{reporttype} with {trftrn_eft.shape[0]} rows")

#### TRFLPE

In [ ]:
trflpe = pd.read_csv(path_eft + 'TRFLPE.csv')
trflpe_eft = trflpe[(trflpe['BATCHID'] >=min_batchid) & (trflpe['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} trflpe file:',trflpe_eft['BATCHID'].min())
print(f'Maximum batch id for {reporttype} trflpe file:',trflpe_eft['BATCHID'].max())
print(f'TRFLPE file for {reporttype} has {trflpe_eft.shape[0]} rows and {trflpe_eft.shape[1]} columns')

trflpe_eft.columns = [col.lower() for col in trflpe.columns]

trflpe_eft.to_sql(f'{month}_trflpe_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"TRFLPE file inserted into {month}_batch_{reporttype} with {trflpe_eft.shape[0]} rows")

##### TRFINP

In [ ]:
#cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_trfinp_{reporttype} (     batchid bigint,     rptsernum bigint,     personname text COLLATE pg_catalog."default",     customerid text,     relationflag text COLLATE pg_catalog."default",     commaddress text COLLATE pg_catalog."default",     commcity text COLLATE pg_catalog."default",     commstatecode text COLLATE pg_catalog."default",     commpincode text,     commcountrycode text COLLATE pg_catalog."default",     secaddress text COLLATE pg_catalog."default",     seccity text COLLATE pg_catalog."default",     secstatecode text COLLATE pg_catalog."default",     secpincode text COLLATE pg_catalog."default",     seccountrycode text COLLATE pg_catalog."default",     telephone text,     mobile text,     fax text COLLATE pg_catalog."default",     email text COLLATE pg_catalog."default",     pan text COLLATE pg_catalog."default",     uin text,     gender text COLLATE pg_catalog."default",     dob text COLLATE pg_catalog."default",     identificationtype text COLLATE pg_catalog."default",     identificationnum text COLLATE pg_catalog."default",     issuingauthority text COLLATE pg_catalog."default",     placeofissue text,     nationality text COLLATE pg_catalog."default",     placeofwork text COLLATE pg_catalog."default",     fatherorspouse text,     occupation text COLLATE pg_catalog."default",     deletedflag text COLLATE pg_catalog."default",     creationdate text COLLATE pg_catalog."default",     createdby text COLLATE pg_catalog."default",     xmlindexid text COLLATE pg_catalog."default",     reportxmlindexid text,     batchxmlindexid text )  TABLESPACE pg_default;  ALTER TABLE IF EXISTS monthly_{reporttype}.{month}_trfinp_{reporttype}     OWNER to postgres;')

In [ ]:
#trfinp_eft = pd.read_csv(file_path + '\TRFINP.csv',chunksize= 10000,iterator=True)

# sh = []
# i=0
# for df in trfinp_eft:
#     df.columns=[col.lower() for col in df.columns]    
#     sh.append(df.shape)
#     df.to_sql(f'{month}_trfinp_{reporttype}',pengine,schema='monthly_eft',if_exists='append',index=False)
#     i = i+1
# print(f'Transaction data inserted into monthly_{reporttype} schema, {month}_trfinp_{reporttype} table ')
# print((i-1)*10000+sh[-1][0])

# print(f'Minimum batch id for {reporttype} trfinp file:',trfinp_eft['BATCHID'].min())
# print(f'Maximum batch id for {reporttype} trfinp file:',trfinp_eft['BATCHID'].max())
# print(f'TRFINP file for {reporttype} has {trfinp_eft.shape[0]} rows and {trfinp_eft.shape[1]} columns')

#### Create and Insert data into TRNINP_LPE table under monthly_eft schema

In [ ]:
# cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_trfinp_lpe_{reporttype}\
#                     ( batchid bigint, rptsernum bigint, \
#                     personname text COLLATE pg_catalog."default", pan text COLLATE pg_catalog."default" )  \
#                     TABLESPACE pg_default; ALTER TABLE IF EXISTS monthly_{reporttype}.{month}_trfinp_lpe_{reporttype}    \
#                     OWNER to postgres;')

In [ ]:
# cursor.execute(f'insert into monthly_{reporttype}.{month}_trfinp_lpe_{reporttype} \
#                     select distinct batchid, rptsernum ,  personname, pan \
#                     from monthly_{reporttype}.{month}_trfinp_{reporttype} \
#                     union \
#                     select distinct batchid, rptsernum ,  personname, pan \
#                     from monthly_{reporttype}.{month}_trflpe_{reporttype}')

##### TRFTRN

##### Create table with the predefined schema

In [ ]:
cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_trftrn_{reporttype} (     batchid bigint,     rptsernum bigint,     transactiondate text COLLATE pg_catalog."default",     transactiontime text COLLATE pg_catalog."default",     transactionrefnum text COLLATE pg_catalog."default",     transactiontype text COLLATE pg_catalog."default",     instrumenttype text COLLATE pg_catalog."default",     transactioninstname text COLLATE pg_catalog."default",     transactioninstrefnum text COLLATE pg_catalog."default",     transactionstatecode text COLLATE pg_catalog."default",     transactioncountrycode text COLLATE pg_catalog."default",     pymtinstrumentnum text COLLATE pg_catalog."default",     pymtinstrumentissueinstname text COLLATE pg_catalog."default",     instrumentissueinstrefnum text COLLATE pg_catalog."default",     instrumentcountrycode text COLLATE pg_catalog."default",     amountrupees bigint,     amountforeigncurrency bigint,     currencyoftransaction text COLLATE pg_catalog."default",     purposeoftransaction text COLLATE pg_catalog."default",     purposecode text COLLATE pg_catalog."default",     riskrating text COLLATE pg_catalog."default",     customername text COLLATE pg_catalog."default",     customerid text COLLATE pg_catalog."default",     occupation text COLLATE pg_catalog."default",     dob text COLLATE pg_catalog."default",     gender text COLLATE pg_catalog."default",     nationality text COLLATE pg_catalog."default",     identificationtype text COLLATE pg_catalog."default",     identificationnum text COLLATE pg_catalog."default",     issuingauthority text COLLATE pg_catalog."default",     placeofissue text COLLATE pg_catalog."default",     pan text COLLATE pg_catalog."default",     uin text COLLATE pg_catalog."default",     address text COLLATE pg_catalog."default",     city text COLLATE pg_catalog."default",     statecode text COLLATE pg_catalog."default",     pincode text COLLATE pg_catalog."default",     countrycode text COLLATE pg_catalog."default",     telephone text COLLATE pg_catalog."default",     mobile text COLLATE pg_catalog."default",     fax text COLLATE pg_catalog."default",     email text COLLATE pg_catalog."default",     accountnum text COLLATE pg_catalog."default",     accountwithinstname text COLLATE pg_catalog."default",     accountwithinstrefnum text COLLATE pg_catalog."default",     relatedinstname text COLLATE pg_catalog."default",     instrelationflag text COLLATE pg_catalog."default",     relatedinstrefnum text COLLATE pg_catalog."default",     remarks text COLLATE pg_catalog."default",     deletedflag text COLLATE pg_catalog."default",     creationdate text COLLATE pg_catalog."default",     createdby text COLLATE pg_catalog."default",     xmlindexid text COLLATE pg_catalog."default",     reportxmlindexid text COLLATE pg_catalog."default",     batchxmlindexid text COLLATE pg_catalog."default",     country_in bigint,     tytype_in bigint )  TABLESPACE pg_default;  ALTER TABLE IF EXISTS monthly_{reporttype}.{month}_trftrn_{reporttype}     OWNER to postgres;')

In [ ]:
trftrn_eft = pd.read_csv(file_path + '\TRFTRN.csv',chunksize= 10000,iterator=True)

In [ ]:
sh = []
i=0
for df in trftrn_eft:
    #print(df.shape)
    df.columns=[col.lower() for col in df.columns]
    df=df[list(df.columns)[0:55]]
    df['country_in'] = 0
    df['tytype_in'] = 0
    sh.append(df.shape)
    df.to_sql(f'{month}_trftrn_{reporttype}',pengine,schema='monthly_eft',if_exists='append',index=False)
    i = i+1
print(f'Transaction data inserted into monthly_{reporttype} schema, {month}_trftrn_{reporttype} table ')
print((i-1)*10000+sh[-1][0])

In [ ]:
country_in = db_conn.execute(f'update monthly_{reporttype}.{month}_trftrn_{reporttype} \
                    set country_in=1 where  cast(batchid as text)|| cast(rptsernum as text)|| cast(transactionrefnum as text) \
                    in ( select cast(batchid as text)|| cast(rptsernum as text)|| cast(transactionrefnum as text) \
                    from monthly_{reporttype}.{month}_trftrn_{reporttype} \
                    group by cast(batchid as text)|| cast(rptsernum as text)|| cast(transactionrefnum as text) \
                    having count(distinct transactioncountrycode)>1 )')

In [ ]:
tytype_in = db_conn.execute(f'update monthly_{reporttype}.{month}_trftrn_{reporttype} \
                    set tytype_in=1 where  cast(batchid as text)|| cast(rptsernum as text)|| cast(transactionrefnum as text)  \
                    in( select cast(batchid as text)|| cast(rptsernum as text)|| cast(transactionrefnum as text) \
                    from monthly_{reporttype}.{month}_trftrn_{reporttype} \
                    group by cast(batchid as text)|| cast(rptsernum as text)|| cast(transactionrefnum as text) \
                    having count(distinct transactiontype)>1 )')

In [ ]:
#excluded_pans_path = path + '\\'+month_report_format + '\\monthly update data\\'

In [ ]:
excluded_pans_eft = pd.read_csv(path + '\\monthly update data\\excluded_pans_{}.csv'.format(reporttype))
excluded_pans_eft.to_sql(f'{month}_excluded_pans_{reporttype}',pengine,schema='monthly_eft',if_exists='replace',index=False)

In [ ]:
print('Check for resolved PANS')

##### Country Master data push

In [ ]:
#country_master = pd.read_csv(f"C:\\Users\\SAL008\\Desktop\\Ravi\Monthly Report\\Supporting_docs\\country_master.csv")

In [ ]:
#country_master.to_sql(f'country_master',pengine,schema='monthly_eft',if_exists='replace',index=False)

#### Create Materialized Views for EFT

##### Credit

In [ ]:
eft_credit_main = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_credit TABLESPACE pg_default AS  WITH cte1 AS ( SELECT {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.customername, count(1) AS cnt  FROM monthly_{reporttype}.{month}_trftrn_{reporttype} GROUP BY {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.customername ),  cte2 AS ( SELECT cte1.pan, cte1.customername, row_number() OVER (PARTITION BY cte1.pan  ORDER BY cte1.cnt DESC) AS rr FROM cte1 ), cte3 AS ( SELECT {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.batchid, {month}_trftrn_{reporttype}.rptsernum, {month}_trftrn_{reporttype}.transactionrefnum             FROM monthly_{reporttype}.{month}_trftrn_{reporttype}  WHERE {month}_trftrn_{reporttype}.transactioncountrycode = 'IN'::text  AND {month}_trftrn_{reporttype}.transactiontype = 'R'::text   AND {month}_trftrn_{reporttype}.country_in = 1  AND {month}_trftrn_{reporttype}.tytype_in = 1 ),  cte4 AS ( SELECT string_agg(DISTINCT f.country_name, ','::text) AS countries, string_agg(DISTINCT e.purposecode, ','::text) AS pcodes, c3.pan  FROM cte3 c3 		  JOIN ( SELECT {month}_trftrn_{reporttype}.batchid, {month}_trftrn_{reporttype}.rptsernum, {month}_trftrn_{reporttype}.transactiondate, {month}_trftrn_{reporttype}.transactionrefnum, {month}_trftrn_{reporttype}.transactiontype,  				{month}_trftrn_{reporttype}.instrumenttype, {month}_trftrn_{reporttype}.transactioninstname, {month}_trftrn_{reporttype}.transactioninstrefnum, {month}_trftrn_{reporttype}.transactionstatecode, 				{month}_trftrn_{reporttype}.transactioncountrycode, {month}_trftrn_{reporttype}.amountrupees, {month}_trftrn_{reporttype}.amountforeigncurrency, {month}_trftrn_{reporttype}.currencyoftransaction, 				{month}_trftrn_{reporttype}.purposeoftransaction, {month}_trftrn_{reporttype}.purposecode, {month}_trftrn_{reporttype}.riskrating, {month}_trftrn_{reporttype}.customername, {month}_trftrn_{reporttype}.customerid,   				{month}_trftrn_{reporttype}.occupation, {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.accountnum, {month}_trftrn_{reporttype}.country_in,        				{month}_trftrn_{reporttype}.tytype_in 				FROM monthly_{reporttype}.{month}_trftrn_{reporttype} 				WHERE {month}_trftrn_{reporttype}.transactioncountrycode <> 'IN'::text) e 		  ON c3.batchid = e.batchid AND c3.rptsernum = e.rptsernum AND c3.transactionrefnum = e.transactionrefnum              		  JOIN ( SELECT country_master.code, country_master.country_name 				FROM monthly_report.country_master) f ON f.code = e.transactioncountrycode 		  GROUP BY c3.pan ),  cte5 AS ( SELECT trn.pan, sum(trn.amountrupees) AS amount, count(DISTINCT trn.accountnum) AS total_accounts, count(DISTINCT trn.batchid::text || trn.rptsernum::text) AS total_{reporttype}s  FROM monthly_{reporttype}.{month}_trftrn_{reporttype} trn  WHERE trn.transactioncountrycode = 'IN'::text 				   AND trn.country_in = 1 				   AND trn.tytype_in = 1 				   AND trn.transactiontype = 'R'::text 				   AND trn.pan IS NOT NULL 				   AND TRIM(BOTH FROM trn.pan) <> ''::text           				   GROUP BY trn.pan          				   ORDER BY (sum(trn.amountrupees)) DESC ),  cte6 AS ( SELECT c4.pan, c2.customername, c4.pcodes, c4.countries 		  FROM cte4 c4 		  JOIN ( SELECT cte2.pan, cte2.customername, cte2.rr FROM cte2 WHERE cte2.rr = 1) c2 ON c4.pan = c2.pan ) 		  SELECT c5.pan, c6.customername, c5.amount, c5.total_{reporttype}s, c5.total_accounts, c6.pcodes, c6.countries   		  FROM cte5 c5 JOIN cte6 c6 ON c5.pan = c6.pan   ORDER BY c5.amount DESC 		  WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_credit")

eft_credit_repeated_pans = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_repeated_pans_credit TABLESPACE pg_default AS  WITH cte1 AS (          SELECT DISTINCT pan_month_of_report_{month}.pan,             pan_month_of_report_{month}.report_type,             count(DISTINCT pan_month_of_report_{month}.month) AS month            FROM monthly_report.pan_month_of_report_{month}           WHERE pan_month_of_report_{month}.report_type = 'credit_{reporttype}'::text           GROUP BY pan_month_of_report_{month}.pan, pan_month_of_report_{month}.report_type          HAVING count(DISTINCT pan_month_of_report_{month}.month) = {pan_month_of_report}           ORDER BY (count(DISTINCT pan_month_of_report_{month}.month)) DESC         ), cte2 AS (          SELECT {month}_{reporttype}_credit.pan,             {month}_{reporttype}_credit.customername,             {month}_{reporttype}_credit.amount,             {month}_{reporttype}_credit.total_{reporttype}s,             {month}_{reporttype}_credit.total_accounts,             {month}_{reporttype}_credit.pcodes,             {month}_{reporttype}_credit.countries            FROM monthly_{reporttype}.{month}_{reporttype}_credit                  )  SELECT cte2.pan,     cte2.customername,     cte2.amount,     cte2.total_{reporttype}s,     cte2.total_accounts,     cte2.pcodes,     cte2.countries    FROM cte2   WHERE (cte2.pan IN ( SELECT DISTINCT cte1.pan            FROM cte1)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_repeated_pans_credit")

eft_without_repeated_pans_credit = db_conn.execute(f" CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_excluded_pans_without_repeated_pans_credit TABLESPACE pg_default AS  WITH cte1 AS (          SELECT {month}_{reporttype}_credit.pan,             {month}_{reporttype}_credit.customername,             {month}_{reporttype}_credit.amount,             {month}_{reporttype}_credit.total_{reporttype}s,             {month}_{reporttype}_credit.total_accounts,             {month}_{reporttype}_credit.pcodes,             {month}_{reporttype}_credit.countries            FROM monthly_{reporttype}.{month}_{reporttype}_credit          LIMIT 1000         ), cte2 AS (          SELECT cte1.pan,             cte1.customername,             cte1.amount,             cte1.total_{reporttype}s,             cte1.total_accounts,             cte1.pcodes,             cte1.countries            FROM cte1           WHERE (cte1.pan IN ( SELECT excluded_pans_{reporttype}.pan                    FROM monthly_{reporttype}.excluded_pans_{reporttype}))         ), cte3 AS (          SELECT {month}_{reporttype}_repeated_pans_credit.pan,             {month}_{reporttype}_repeated_pans_credit.customername            FROM monthly_{reporttype}.{month}_{reporttype}_repeated_pans_credit         )  SELECT cte2.pan,     cte2.customername,     cte2.amount,     cte2.total_{reporttype}s,     cte2.total_accounts,     cte2.pcodes,     cte2.countries    FROM cte2   WHERE NOT (cte2.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_excluded_pans_without_repeated_pans_credit")

eft_without_excluded_repeat_pans_credit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_without_excluded_repeat_pans_credit TABLESPACE pg_default AS  WITH cte1 AS (          SELECT {month}_{reporttype}_credit.pan,             {month}_{reporttype}_credit.customername,             {month}_{reporttype}_credit.amount,             {month}_{reporttype}_credit.total_{reporttype}s,             {month}_{reporttype}_credit.total_accounts,             {month}_{reporttype}_credit.pcodes,             {month}_{reporttype}_credit.countries            FROM monthly_{reporttype}.{month}_{reporttype}_credit          LIMIT 1000         ), cte2 AS (          SELECT excluded_pans_{reporttype}.pan,             excluded_pans_{reporttype}.holdername            FROM monthly_{reporttype}.excluded_pans_{reporttype}         ), cte3 AS (          SELECT {month}_{reporttype}_repeated_pans_credit.pan,             {month}_{reporttype}_repeated_pans_credit.customername            FROM monthly_{reporttype}.{month}_{reporttype}_repeated_pans_credit         ), cte4 AS (          SELECT a.pan            FROM cte2 a         UNION          SELECT b.pan            FROM cte3 b         )  SELECT cte1.pan,     cte1.customername,     cte1.amount,     cte1.total_{reporttype}s,     cte1.total_accounts,     cte1.pcodes,     cte1.countries    FROM cte1   WHERE NOT (cte1.pan IN ( SELECT cte4.pan FROM cte4)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_without_excluded_repeat_pans_credit")

##### Debit

In [ ]:
eft_debit_main = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_debit TABLESPACE pg_default AS  WITH cte1 AS ( SELECT {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.customername, count(1) AS cnt  FROM monthly_{reporttype}.{month}_trftrn_{reporttype} GROUP BY {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.customername ),  cte2 AS ( SELECT cte1.pan, cte1.customername, row_number() OVER (PARTITION BY cte1.pan  ORDER BY cte1.cnt DESC) AS rr FROM cte1 ), cte3 AS ( SELECT {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.batchid, {month}_trftrn_{reporttype}.rptsernum, {month}_trftrn_{reporttype}.transactionrefnum             FROM monthly_{reporttype}.{month}_trftrn_{reporttype}  WHERE {month}_trftrn_{reporttype}.transactioncountrycode = 'IN'::text  AND {month}_trftrn_{reporttype}.transactiontype = 'P'::text   AND {month}_trftrn_{reporttype}.country_in = 1  AND {month}_trftrn_{reporttype}.tytype_in = 1 ),  cte4 AS ( SELECT string_agg(DISTINCT f.country_name, ','::text) AS countries, string_agg(DISTINCT e.purposecode, ','::text) AS pcodes, c3.pan  FROM cte3 c3 		  JOIN ( SELECT {month}_trftrn_{reporttype}.batchid, {month}_trftrn_{reporttype}.rptsernum, {month}_trftrn_{reporttype}.transactiondate, {month}_trftrn_{reporttype}.transactionrefnum, {month}_trftrn_{reporttype}.transactiontype,  				{month}_trftrn_{reporttype}.instrumenttype, {month}_trftrn_{reporttype}.transactioninstname, {month}_trftrn_{reporttype}.transactioninstrefnum, {month}_trftrn_{reporttype}.transactionstatecode, 				{month}_trftrn_{reporttype}.transactioncountrycode, {month}_trftrn_{reporttype}.amountrupees, {month}_trftrn_{reporttype}.amountforeigncurrency, {month}_trftrn_{reporttype}.currencyoftransaction, 				{month}_trftrn_{reporttype}.purposeoftransaction, {month}_trftrn_{reporttype}.purposecode, {month}_trftrn_{reporttype}.riskrating, {month}_trftrn_{reporttype}.customername, {month}_trftrn_{reporttype}.customerid,   				{month}_trftrn_{reporttype}.occupation, {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.accountnum, {month}_trftrn_{reporttype}.country_in,        				{month}_trftrn_{reporttype}.tytype_in 				FROM monthly_{reporttype}.{month}_trftrn_{reporttype} 				WHERE {month}_trftrn_{reporttype}.transactioncountrycode <> 'IN'::text) e 		  ON c3.batchid = e.batchid AND c3.rptsernum = e.rptsernum AND c3.transactionrefnum = e.transactionrefnum              		  JOIN ( SELECT country_master.code, country_master.country_name 				FROM monthly_report.country_master) f ON f.code = e.transactioncountrycode 		  GROUP BY c3.pan ),  cte5 AS ( SELECT trn.pan, sum(trn.amountrupees) AS amount, count(DISTINCT trn.accountnum) AS total_accounts, count(DISTINCT trn.batchid::text || trn.rptsernum::text) AS total_{reporttype}s  FROM monthly_{reporttype}.{month}_trftrn_{reporttype} trn  WHERE trn.transactioncountrycode = 'IN'::text 				   AND trn.country_in = 1 				   AND trn.tytype_in = 1 				   AND trn.transactiontype = 'P'::text 				   AND trn.pan IS NOT NULL 				   AND TRIM(BOTH FROM trn.pan) <> ''::text           				   GROUP BY trn.pan          				   ORDER BY (sum(trn.amountrupees)) DESC ),  cte6 AS ( SELECT c4.pan, c2.customername, c4.pcodes, c4.countries 		  FROM cte4 c4 		  JOIN ( SELECT cte2.pan, cte2.customername, cte2.rr FROM cte2 WHERE cte2.rr = 1) c2 ON c4.pan = c2.pan ) 		  SELECT c5.pan, c6.customername, c5.amount, c5.total_{reporttype}s, c5.total_accounts, c6.pcodes, c6.countries   		  FROM cte5 c5 JOIN cte6 c6 ON c5.pan = c6.pan   ORDER BY c5.amount DESC 		  WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_debit")

eft_debit_repeated_pans = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_repeated_pans_debit TABLESPACE pg_default AS  WITH cte1 AS (          SELECT DISTINCT pan_month_of_report_{month}.pan,             pan_month_of_report_{month}.report_type,             count(DISTINCT pan_month_of_report_{month}.month) AS month            FROM monthly_report.pan_month_of_report_{month}           WHERE pan_month_of_report_{month}.report_type = 'debit_{reporttype}'::text           GROUP BY pan_month_of_report_{month}.pan, pan_month_of_report_{month}.report_type          HAVING count(DISTINCT pan_month_of_report_{month}.month) = {pan_month_of_report}           ORDER BY (count(DISTINCT pan_month_of_report_{month}.month)) DESC         ), cte2 AS (          SELECT {month}_{reporttype}_debit.pan,             {month}_{reporttype}_debit.customername,             {month}_{reporttype}_debit.amount,             {month}_{reporttype}_debit.total_{reporttype}s,             {month}_{reporttype}_debit.total_accounts,             {month}_{reporttype}_debit.pcodes,             {month}_{reporttype}_debit.countries            FROM monthly_{reporttype}.{month}_{reporttype}_debit                  )  SELECT cte2.pan,     cte2.customername,     cte2.amount,     cte2.total_{reporttype}s,     cte2.total_accounts,     cte2.pcodes,     cte2.countries    FROM cte2   WHERE (cte2.pan IN ( SELECT DISTINCT cte1.pan            FROM cte1)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_repeated_pans_debit")

eft_without_repeated_pans_debit = db_conn.execute(f" CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_excluded_pans_without_repeated_pans_debit TABLESPACE pg_default AS  WITH cte1 AS (          SELECT {month}_{reporttype}_debit.pan,             {month}_{reporttype}_debit.customername,             {month}_{reporttype}_debit.amount,             {month}_{reporttype}_debit.total_{reporttype}s,             {month}_{reporttype}_debit.total_accounts,             {month}_{reporttype}_debit.pcodes,             {month}_{reporttype}_debit.countries            FROM monthly_{reporttype}.{month}_{reporttype}_debit          LIMIT 1000         ), cte2 AS (          SELECT cte1.pan,             cte1.customername,             cte1.amount,             cte1.total_{reporttype}s,             cte1.total_accounts,             cte1.pcodes,             cte1.countries            FROM cte1           WHERE (cte1.pan IN ( SELECT excluded_pans_{reporttype}.pan                    FROM monthly_{reporttype}.excluded_pans_{reporttype}))         ), cte3 AS (          SELECT {month}_{reporttype}_repeated_pans_debit.pan,             {month}_{reporttype}_repeated_pans_debit.customername            FROM monthly_{reporttype}.{month}_{reporttype}_repeated_pans_debit         )  SELECT cte2.pan,     cte2.customername,     cte2.amount,     cte2.total_{reporttype}s,     cte2.total_accounts,     cte2.pcodes,     cte2.countries    FROM cte2   WHERE NOT (cte2.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_excluded_pans_without_repeated_pans_debit")

eft_without_excluded_repeat_pans_debit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_without_excluded_repeat_pans_debit TABLESPACE pg_default AS  WITH cte1 AS (          SELECT {month}_{reporttype}_debit.pan,             {month}_{reporttype}_debit.customername,             {month}_{reporttype}_debit.amount,             {month}_{reporttype}_debit.total_{reporttype}s,             {month}_{reporttype}_debit.total_accounts,             {month}_{reporttype}_debit.pcodes,             {month}_{reporttype}_debit.countries            FROM monthly_{reporttype}.{month}_{reporttype}_debit          LIMIT 1000         ), cte2 AS (          SELECT excluded_pans_{reporttype}.pan,             excluded_pans_{reporttype}.holdername            FROM monthly_{reporttype}.excluded_pans_{reporttype}         ), cte3 AS (          SELECT {month}_{reporttype}_repeated_pans_debit.pan,             {month}_{reporttype}_repeated_pans_debit.customername            FROM monthly_{reporttype}.{month}_{reporttype}_repeated_pans_debit         ), cte4 AS (          SELECT a.pan            FROM cte2 a         UNION          SELECT b.pan            FROM cte3 b         )  SELECT cte1.pan,     cte1.customername,     cte1.amount,     cte1.total_{reporttype}s,     cte1.total_accounts,     cte1.pcodes,     cte1.countries    FROM cte1   WHERE NOT (cte1.pan IN ( SELECT cte4.pan FROM cte4))  WITH  DATA")
print(f"Materialized view created : {month}_{reporttype}_without_excluded_repeat_pans_debit")

In [ ]:
print("Total Materialized Views created:\n")

print(f"{month}_{reporttype}_arfinp_lpe_{reporttype} created,\n{month}_{reporttype}_resolved_pans created,\n{month}_{reporttype}_holder_totals_pan created")
print("\nMaterialized Views for Credit:")
print(f"{month}_{reporttype}_pans_credit,\
      \n{month}_{reporttype}_repeated_pans_credit,\
      \n{month}_{reporttype}_credit_main_without_repeated_excluded_pan,\
      \n{month}_{reporttype}_credit_excluded_pans_without_repeated_pan,\
      \n{month}_{reporttype}_accounts_credit")

print("\nMaterialized Views for Debit:")

print(f"{month}_{reporttype}_pans_debit,\
        \n{month}_{reporttype}_repeated_pans_debit,\
        \n{month}_{reporttype}_debit_main_without_repeated_excluded_pan\
        \n{month}_{reporttype}_debit_excluded_pans_without_repeated_pan\
        \n{month}_{reporttype}_accounts_debit ")

In [30]:
df=pd.read_csv(r'C:\Users\SAL005\Desktop\adhoc request\sumit ji\pan_inplpe_dump_220923 - Copy.csv')

In [31]:
df.columns

Index(['pan', 'batchid', 'rptsernum', 'RELATIONFLAG', 'mobile', 'email',
       'COMMADDRESS', 'OCCUPATION', 'PERSONNAME', 'account_num',
       'REPORTFORMATTYPE', 'REPORTTYPE', 'ENTITYNAME', 'fiureid'],
      dtype='object')

In [22]:
df

,pan,batchid,rptsernum,RELATIONFLAG,mobile,email,COMMADDRESS,OCCUPATION,PERSONNAME,account_num,REPORTFORMATTYPE,REPORTTYPE,ENTITYNAME,fiureid
0,AESPS5159L,1809068188,6472,A,0.000000e+00,,101 SABZI MANDI NARWAL JAMMU JAMMU,ALL OTHERS,R.K. TRADING CO PROP.RAMESH KUMAR,A-0247020100000122,ARF,CTR,the jammu and kashmir bank ltd.,BASCB00076
1,XXXXX0000X,2109100881,442,A,0.000000e+00,NaN,PANJANARAXXXXXXK KOTE,NaN,AMIT SHARMA S/O SOM RAJSHARMA,A-3073020100000053,ARF,CTR,j & k grameen bank,BARRB00265
2,XXXXX0000X,2112101470,5867,C,0.000000e+00,,"S/O BILAL AHMAD TELI,SNR,JK,IN",Student,ARIF BILAL,A-0258010980000001,ARF,CTR,the jammu and kashmir bank ltd.,BASCB00076
3,BTQPK2911J,2303045705,70,B,9.797567e+09,NaN,R/O KHURED PURKHOOP/O DOMANA,...,RAGHUBIR KUMAR S/O THORU RAM,A-3076010100000652,ARF,CTR,j & k grameen bank,BARRB00265
4,AFJPS9986D,2112101195,5054,E,9.190000e+11,,"C/O KMR.STEEL,JMU,PB,IND",,ASHA SINGLA,A-0230020100000070,ARF,CTR,the jammu and kashmir bank ltd.,BASCB00076
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064159,AUTPK5878R,2302088313,3036,A,9.190000e+11,,"R/O DAYALA CHAK TEH HIRANAGAR DISTT KATHUA,KAT...",,NAND KISHORE WINE SHOP PROP NAND KISHORE,A-0676010960000001,ARF,CTR,the jammu and kashmir bank ltd.,BASCB00076
1064160,AABFD5416C,2302088316,5235,A,9.190000e+11,,"PARTNERS.1.AB RASHID 2.MOHD ASHRAF 3. MANZOOR,...",,DUGGA BROTHERS,A-0014020100000096,ARF,CTR,the jammu and kashmir bank ltd.,BASCB00076
1064161,ADGPG9422M,2304122460,5789,A,9.190000e+11,,"RAJ NIWAS HNO 286 KRISHNA NAGAR CANAL ROAD,JMU...",,MUNSHI RAM CHARAN DASS (PROP:JOGINDER KUMAR GU...,A-0045010100002456,ARF,CTR,the jammu and kashmir bank ltd.,BASCB00076
1064162,AAFCG6591A,2003050610,985,F,9.099014e+09,MANISHKELLA@GOKULAGRO.COM,B402SHAPATHHEXANEARGANESHMEREDIYAN,,GOKUL AGRO RESOURCES LIMITED,A-0147010100002400,TRF,EFT,the jammu and kashmir bank ltd.,BASCB00076
1064163,ABBFS8923L,2003050215,1240,F,9.419017e+09,SHAHRUG@HOTMAIL.COM,FIRDOUSABADBATAMALOO,,SHAH RUG INTERNATIONAL,A-0440010100000115,TRF,EFT,the jammu and kashmir bank ltd.,BASCB00076

In [11]:
df.columns = [x.lower() for x in df.columns]

In [14]:
df

,pan,batchid,rptsernum,relationflag,mobile,email,commaddress,occupation,personname,reportformattype,reporttype,entityname,fiureid
1051870,AADCF5866H,2301100584,997,F,8.595261e+09,ACCOUNTS@FONZONE.IN,SHOP.NO.183BASEMENTSECTOR-31-32A,,FONZONE EXPORTS PRIVATE LIMITED,TRF,EFT,the jammu and kashmir bank ltd.,BASCB00076
1051871,AHVPB2600H,1902110807,33,Z,0.000000e+00,,"C17SECONDFLOOR,DAYANANDCOLONY,",,VALLEY HOLIDAYS INC PROP.KAISER AHMED BHAT,TRF,EFT,the jammu and kashmir bank ltd.,BASCB00076
1051872,AEEPJ6663C,1901170414,145,Z,0.000000e+00,,XXXXXXXXXXXMORADABAD,,ATH INTERNATIONAL,TRF,EFT,the jammu and kashmir bank ltd.,BASCB00076
1051873,AADPK6307K,2107139330,485,E,9.871007e+09,RANJANATULSIAN@YAHOO.COM,W/O:ABHITABKUMARTULSIANGROUNDFLOOR,,RANJANA TULSIAN,TRF,EFT,the jammu and kashmir bank ltd.,BASCB00076
1051874,AIUPN4836H,2304122484,1036,F,9.910711e+09,DULARAEXPO@GMAIL.COM,SHOPNO942GALIMANDIRWALI,,DULARA EXPO,TRF,EFT,the jammu and kashmir bank ltd.,BASCB00076

In [15]:
df.to_csv(r'C:\Users\SAL005\Desktop\jnk_bank_and_jnk_grameen_bank_full_dump_new.csv')

#### ---------------------------------------------------------------------------------------------------------------------------------

In [20]:
indexes = []
with open(r'C:\Users\SAL005\Desktop\jnk_bank_and_jnk_grameen_bank_full_dump_new.csv') as cards:
    csv_reader = csv.reader(cards)
    for index, row in enumerate(csv_reader):
        indexes.append(index)

In [21]:
max(indexes)

1051875

In [22]:
len(indexes)

1051876

In [ ]:
temp2=[]
for k in temp_org:
    temp1=[]
    if len(k)!=0:
        for j in k:
            temp1.append(j)
            print(j)
            sql="select b.batchid,r.rptsernum,b.entityname,r.mainpersonname,r.groundsofsusp,r.detailsofinvestigations,b.fiureid,b.recategory,b.reporttype from batch b inner join report r\
            on b.batchid=r.batchid where b.batchid>'2204010000' and r.mainpersonname in ('+j+')"
            results=sql_exec(sql,oengine)
            results.to_csv('Matching names.csv',index=False,mode='a',header= not os.path.exists(r'Matching names.csv'))
    temp2.append(temp1)

In [ ]:
engine=sqlalchemy.create_engine('mssql+pyodbc://SAL_User01:%s@172.16.22.25:1433/Finnet_1.0?driver=ODBC+Driver+17+for+SQL+Server' % quote('Sal@123'))
sql="with cte1 as ( select distinct batchid,reportformattype,reporttype,lower(ENTITYNAME) as entityname,fiureid from [Finnet_1.0].[FINCORE_BACKUP_CC].[BATCH] where batchid between 1804010000 and 2305319999  and fiureid in ('BARRB00265','BASCB00076') and batchid not in (select distinct originalbatchid from [Finnet_1.0].[FINCORE_BACKUP_CC].[BATCH]  union select distinct batchid from [Finnet_1.0].[FINCORE_BACKUP_CC].[BATCH] b2 where  batchtype ='D') ), cte2 as ( select pan,batchid,rptsernum,relationflag, mobile,email, commaddress,occupation,personname,concat('A-',ACCOUNTNUM) as account_num from [Finnet_1.0].[FINCORE_BACKUP_CC].[ARFINP] where batchid between 1804010000 and 2305319999 and pan is not null union select pan,batchid,rptsernum,relationflag,mobile,email, commaddress,natureofbusiness,personname,concat('A-',ACCOUNTNUM) as account_num from [Finnet_1.0].[FINCORE_BACKUP_CC].[ARFLPE] where batchid between 1804010000 and 2305319999 and pan is not null union select pan,batchid,rptsernum,instrelationflag,mobile,email,address as commaddress,occupation,CUSTOMERNAME as personname,concat('A-',ACCOUNTNUM) as account_num from [Finnet_1.0].[FINCORE_BACKUP_CC].[TRFTRN] where batchid between 1804010000 and 2305319999 and pan is not null ) select cte2.*,cte1.reportformattype,cte1.reporttype,cte1.entityname,fiureid from cte2 inner join cte1 on cte1.batchid=cte2.batchid"

results=sql_exec(sql,engine)
results.to_csv(r'C:\Users\SAL005\Desktop\adhoc request\sumit ji\Matching names1.csv',index=False,mode='a',header= not os.path.exists(r'C:\Users\SAL005\Desktop\adhoc request\sumit ji\Matching names1.csv'))
temp2.append(temp1)