##### Required Libraries

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
import os
import glob
import xlrd
import xlsxwriter
import openpyxl
import psycopg2
import urllib
import openpyxl
import csv

from datetime import datetime
from openpyxl.styles import Font, Color, Alignment, Border, Side, NamedStyle, PatternFill
from openpyxl.worksheet.dimensions import ColumnDimension
from datetime import datetime
from openpyxl import  load_workbook
from openpyxl.utils.cell import get_column_letter
from urllib.parse import quote
from psycopg2.extensions import AsIs
from sqlalchemy import create_engine
from datetime import datetime
from dateutil.relativedelta import relativedelta
from openpyxl.styles import Font, Color, Alignment, Border, Side, NamedStyle, PatternFill
from openpyxl.worksheet.dimensions import ColumnDimension
from datetime import datetime
from openpyxl import  load_workbook
from openpyxl.utils.cell import get_column_letter
from openpyxl.utils.dataframe import dataframe_to_rows

import warnings
warnings.filterwarnings("ignore")

In [2]:
initial = datetime.now()
start_time = datetime.now()
print('Execution started at :',start_time)

Execution started at : 2023-06-16 14:37:00.110138

In [3]:
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)
pd.set_option("display.max_colwidth",None)

In [5]:
path = r'C:\Users\SAL008\Desktop\Ravi\Monthly Report'

##### Supporting documents

* **RE MASTER**

In [6]:
re_master = pd.read_csv(path + '\\Supporting_docs\\re_master.csv')
re_master.columns = re_master.columns.str.lower()
re_master.head(2)

      fiureid                                         entityname recategory
0  BADCB00001                   AGRA ZILLA SAHAKARI BANK LIMITED      BADCB
1  BADCB00002  THE AHMEDABAD DISTRICT  CO-OPERATIVE BANK LIMITED      BADCB

* **Map    <i>re_category_description</i>   using    <i>re_category_master</i>**

* **RE CATEGORY MASTER**

In [7]:
re_category_master = pd.read_csv(path + '\\Supporting_docs\\recategorymaster.csv')
re_category_master.columns = re_category_master.columns.str.lower()
re_category_master.head(2)

,recategory,categorydesc,reprefix,creationdate,createdby
0,INCRE,Credit Rating Agencies,INCRE,2011-02-19,FINGATE
1,INVCD,Domestic Venture Capital Funds,INVCD,2011-02-19,FINGATE

* **Function to Map RE_CATEGORY DESCRIPTION**

In [8]:
def return_category_desc(i):
    if not re_category_master.loc[re_category_master['recategory']==i]['categorydesc'].empty:
        return re_category_master.loc[re_category_master['recategory']==i]['categorydesc'].unique()[0]
    else:
        return i.split(maxsplit = 1)[1]

In [9]:
# Create function for CamelCase
from re import sub

def Camel_Case(st):
    st = st[:-(len(st)-1)].upper()+st[1:len(st)].lower()
    return st

In [12]:
#re_master['category_description'] = re_master['recategory'].apply(return_category_desc)

In [13]:
#re_list = pd.read_csv(f'C:\Users\SAL008\Desktop\Ravi\Monthly Report\RE_26_OCT_2022.csv',encoding = 'latin1')
#REs_july.head(1)

* **Update the Analysis Month - EVERY MONTH**

In [10]:
month = 'sep22'
print('Analysis month -',month)
month_cc = Camel_Case(month)
print('Analysis month in Camel Case -',month_cc)
#month_report_format = format(month_cc[0:3] +' '+str(datetime.now().year))
month_report_format = format(month_cc[0:3] +' '+'20'+month[3:5])
print('Analysis month in reporting format -',month_report_format)

Analysis month - sep22
Analysis month in Camel Case - Sep22
Analysis month in reporting format - Sep 2022

* **NOTE**: Create a folder with the above mentioned 'Analysis month in reporting format' i.e for sep22 it must be Sep 2022. Within this folder create a Data folder.

#### EVERY MONTH CHANGES - Assigning the timeframe by setting the minimum and maximum batchid

In [44]:
min_batchid = 2209010000
print('Start BATCHID:',min_batchid)

max_batchid = 2209309999
print('End BATCHID:',max_batchid)

Start BATCHID: 2209010000
End BATCHID: 2209309999

* **Create Postgres Engine**

In [4]:
try:
    pengine = create_engine('postgresql+psycopg2://postgres:postgres@172.16.22.15:5432/postgres')

    conn = psycopg2.connect(database = 'postgres', user = 'postgres', password = 'postgres',host = "172.16.22.15",port= 5432)
    conn.autocommit = True

    cursor = conn.cursor()
except:
    print("Unable to create the Postgres DB connection")

db_conn=pengine.connect()
print("\n Postgres database connected succesfully")

 Postgres database connected succesfully

In [5]:
data_df=pd.read_excel(r'C:\Users\SAL005\Desktop\nto J&k punjab str\output_excluding_isolated.xlsx')

In [6]:
data_df.to_sql(f'npo_data',pengine,schema='gos_cluster',if_exists='replace',index=False)

329

In [ ]:
batch_ctr.to_sql(f'{month}_batch_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)

* **CTR - Schema Creation if doesn't exists**

In [25]:
reporttype = 'ctr'
print('Report type is:',reporttype)

Report type is: ctr

In [26]:
monthly_ctr_query = "CREATE SCHEMA IF NOT EXISTS %s AUTHORIZATION %s;"
monthly_ctr = (AsIs(f'monthly_{reporttype}'),AsIs('postgres'))
cursor.execute(monthly_ctr_query,monthly_ctr)

* **file_path is the path from where we have to insert the data into the postgresDB which we have received from RAKESH**

In [27]:
#file_path = r'C:\Users\SAL008\Desktop\Ravi\Monthly Report\Sep 2022\Data\SAL_CTR_SEP2022'
file_path = path +'\\'+month_report_format+ f'\Data\SAL_{reporttype.upper()}_{month[:3].upper()}2022'
file_path

'C:\\Users\\SAL008\\Desktop\\Ravi\\Monthly Report\\Oct 2022\\Data\\SAL_CTR_OCT2022'

* Create the folder e.g **SAL_CTR_NOV2022** (make sure to keep the same format) inside the above path, then Create another folder name **Data**, similarly create **Output** and **Submission**

In [28]:
# Dataread Start time
data_read_start_time= datetime.now()

* **batch**

In [29]:
batch = pd.read_csv(file_path + '\BATCH.csv')
batch_ctr = batch[(batch['BATCHID'] >=min_batchid) & (batch['BATCHID'] <= max_batchid)]
print('Minimum batch id for BATCH file:',batch_ctr['BATCHID'].min())
print('Maximum batch id BATCH file:',batch_ctr['BATCHID'].max())
batch_ctr.shape
#Lower the Columns
batch_ctr.columns = [col.lower() for col in batch_ctr.columns]

#Insert data to postgres
batch_ctr.to_sql(f'{month}_batch_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
print(f"\n Batch file inserted into {month}_batch_{reporttype} with {batch_ctr.shape[0]} rows")

Minimum batch id for BATCH file: 2210033444
Maximum batch id BATCH file: 2210297591

 Batch file inserted into oct22_batch_ctr with 3298 rows

* **report**

In [30]:
report = pd.read_csv(file_path + '\ARFREPORT.csv')
report_ctr_arf = report[(report['BATCHID'] >=min_batchid) & (report['BATCHID'] <= max_batchid)]
print('Minimum batch id in REPORT file:',report_ctr_arf['BATCHID'].min())
print('Maximum batch id in REPORT file:',report_ctr_arf['BATCHID'].max())
report_ctr_arf.shape

#Lower the Columns
report_ctr_arf.columns = [col.lower() for col in report_ctr_arf.columns]

#Insert data to postgres
report_ctr_arf.to_sql(f'{month}_reportarf_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
print(f"\n arf report file inserted into {month}_report_{reporttype} with {batch_ctr.shape[0]} rows")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\SAL008\\Desktop\\Ravi\\Monthly Report\\Oct 2022\\Data\\SAL_CTR_OCT2022\\ARFREPORT.csv'

In [58]:
report = pd.read_csv(file_path + '\TRFREPORT.csv')
report_ctr_trf = report[(report['BATCHID'] >=min_batchid) & (report['BATCHID'] <= max_batchid)]
print('Minimum batch id in REPORT file:',report_ctr_trf['BATCHID'].min())
print('Maximum batch id in REPORT file:',report_ctr_trf['BATCHID'].max())
report_ctr_trf.shape

#Lower the Columns
report_ctr_trf.columns = [col.lower() for col in report_ctr_trf.columns]

#Insert data to postgres
report_ctr_trf.to_sql(f'{month}_reporttrf_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
print(f"\n trf report file inserted into {month}_report_{reporttype} with {batch_ctr.shape[0]} rows")

Minimum batch id in REPORT file: 2211029098
Maximum batch id in REPORT file: 2211306982

 Batch file inserted into nov22_report_ctr with 3726 rows

##### Create combined table of arfreport and trfreport

In [54]:
cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_report_{reporttype}\
                    ( rptsernum bigint,     originalrptsernum bigint,     mainpersonname text COLLATE pg_catalog."default",     sourceofalert text COLLATE pg_catalog."default",     suspduetoproceedsofcrime text COLLATE pg_catalog."default",     suspduetocomplextrans text COLLATE pg_catalog."default",     suspduetonoecorationale text COLLATE pg_catalog."default",     suspoffinancingofterrorism text COLLATE pg_catalog."default",     attemptedtransaction text COLLATE pg_catalog."default",     groundsofsusp double precision,     detailsofinvestigations double precision,     leainformed text COLLATE pg_catalog."default",     leadetails text COLLATE pg_catalog."default",     priorityrating text COLLATE pg_catalog."default",     reportcoverage text COLLATE pg_catalog."default",     additionaldocuments text COLLATE pg_catalog."default",     batchid bigint,     deletedflag text COLLATE pg_catalog."default",     creationdate text COLLATE pg_catalog."default",     createdby text COLLATE pg_catalog."default",     xmlindexid bigint,     batchxmlindexid bigint )  \
                    TABLESPACE pg_default')

In [56]:
cursor.execute(f'insert into monthly_{reporttype}.{month}_report_{reporttype}\
                select distinct batchid, rptsernum , accountnum, personname, pan \
                from {month}_reportarf_{reporttype} \
                union \
                select distinct batchid, rptsernum , accountnum, personname, pan \
                from {month}_reporttrf_{reporttype}')

UndefinedTable: relation "monthly_ctr.nov22_report_ctr_trf_ctr" does not exist
LINE 1: ... accountnum, personname, pan                 from monthly_ct...
                                                             ^

* **arfbrc**

In [211]:
arfbrc = pd.read_csv(file_path + '\ARFBRC.csv')
arfbrc_ctr = arfbrc[(arfbrc['BATCHID'] >=min_batchid) & (arfbrc['BATCHID'] <= max_batchid)]
print('Minimum batch id for ARFBRC file:',arfbrc_ctr['BATCHID'].min())
print('Maximum batch id for ARFBRC file:',arfbrc_ctr['BATCHID'].max())
arfbrc_ctr.shape

Minimum batch id for ARFBRC file: 2210033444
Maximum batch id for ARFBRC file: 2210297591

(1500668, 23)

* **arfacc**

In [212]:
arfacc = pd.read_csv(file_path + '\ARFACC.csv')
arfacc_ctr = arfacc[(arfacc['BATCHID'] >=min_batchid) & (arfacc['BATCHID'] <= max_batchid)]
print('Minimum batch id for ARFACC file:',arfacc_ctr['BATCHID'].min())
print('Maximum batch id for ARFACC file:',arfacc_ctr['BATCHID'].max())
arfacc_ctr.shape

Minimum batch id for ARFACC file: 2210033444
Maximum batch id for ARFACC file: 2210297591

(1500399, 21)

* **arfinp**

In [213]:
arfinp = pd.read_csv(file_path + '\ARFINP.csv')
arfinp_ctr = arfinp[(arfinp['BATCHID'] >=min_batchid) & (arfinp['BATCHID'] <= max_batchid)]
print('Minimum batch id for ARFINP file:',arfinp_ctr['BATCHID'].min())
print('Maximum batch id for ARFINP file:',arfinp_ctr['BATCHID'].max())
arfinp_ctr.shape

Minimum batch id for ARFINP file: 2210033444
Maximum batch id for ARFINP file: 2210297591

(1847005, 40)

* **arflpe**

In [214]:
arflpe = pd.read_csv(file_path + '\ARFLPE.csv')
arflpe_ctr = arflpe[(arflpe['BATCHID'] >=min_batchid) & (arflpe['BATCHID'] <= max_batchid)]
print('Minimum batch id for ARFLPE file:',arflpe_ctr['BATCHID'].min())
print('Maximum batch id for ARFLPE file:',arflpe_ctr['BATCHID'].max())
arflpe_ctr.shape

Minimum batch id for ARFLPE file: 2210033444
Maximum batch id for ARFLPE file: 2210297591

(1148814, 36)

#### TRF BATCH

In [215]:
trfbatch = pd.read_csv(file_path + '\TRF_BATCH.csv')
trfbatch_ctr = trfbatch[(trfbatch['BATCHID'] >=min_batchid) & (trfbatch['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} trfbatch file:',trfbatch_ctr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} trfbatch file:',trfbatch_ctr['BATCHID'].max())
print(f'trfbatch file for {reporttype} has {trfbatch_ctr.shape[0]} rows and {trfbatch_ctr.shape[1]} columns')

Minimum batch id for ctr trfbatch file: 2210034048
Maximum batch id for ctr trfbatch file: 2210277404
trfbatch file for ctr has 133 rows and 33 columns

##### TRF REPORT

In [216]:
trfreport = pd.read_csv(file_path + '\TRF_REPORT.csv')
trfreport_ctr = trfreport[(trfreport['BATCHID'] >=min_batchid) & (trfreport['BATCHID'] <= max_batchid)]
print(f'Minimum report id for {reporttype} trfreport file:',trfreport_ctr['BATCHID'].min())
print(f'Maximum report id for {reporttype} trfreport file:',trfreport_ctr['BATCHID'].max())
print(f'trfreport file for {reporttype} has {trfreport_ctr.shape[0]} rows and {trfreport_ctr.shape[1]} columns')

Minimum report id for ctr trfreport file: 2210034048
Maximum report id for ctr trfreport file: 2210277404
trfreport file for ctr has 2519 rows and 22 columns

##### TRFBRC

In [217]:
trfbrc = pd.read_csv(file_path + '\TRF_TRFBRC.csv')
trfbrc_ctr = trfbrc[(trfbrc['BATCHID'] >=min_batchid) & (trfbrc['BATCHID'] <= max_batchid)]
print(f'Minimum report id for {reporttype} trfreport file:',trfbrc_ctr['BATCHID'].min())
print(f'Maximum report id for {reporttype} trfreport file:',trfbrc_ctr['BATCHID'].max())
print(f'trfreport file for {reporttype} has {trfbrc_ctr.shape[0]} rows and {trfbrc_ctr.shape[1]} columns')

Minimum report id for ctr trfreport file: 2210034048
Maximum report id for ctr trfreport file: 2210277404
trfreport file for ctr has 3576 rows and 23 columns

##### TRFTRN

In [218]:
trftrn = pd.read_csv(file_path + '\TRF_TRFTRN.csv')
trftrn_ctr = trftrn[(trftrn['BATCHID'] >=min_batchid) & (trftrn['BATCHID'] <= max_batchid)]
print(f'Minimum report id for {reporttype} trfreport file:',trftrn_ctr['BATCHID'].min())
print(f'Maximum report id for {reporttype} trfreport file:',trftrn_ctr['BATCHID'].max())
print(f'trfreport file for {reporttype} has {trftrn_ctr.shape[0]} rows and {trftrn_ctr.shape[1]} columns')

Minimum report id for ctr trfreport file: 2210034048
Maximum report id for ctr trfreport file: 2210277404
trfreport file for ctr has 52941 rows and 55 columns

In [219]:
data_read_end_time= datetime.now()
time_taken_in_data_read = data_read_end_time -data_read_start_time
print('Time taken in reading the data :',round((time_taken_in_data_read.total_seconds()/60),2),'minutes')

Time taken in reading the data : 0.93 minutes

* Lower the column headers to minimize thye error while importing the table into Postgres

In [220]:
#CTR
#REs_Aug.columns=[col.lower() for col in REs_Aug.columns]
#batch_ctr.columns = [col.lower() for col in batch_ctr.columns]
#report_ctr.columns = [col.lower() for col in report_ctr.columns]
arfbrc_ctr.columns = [col.lower() for col in arfbrc_ctr.columns]
arfacc_ctr.columns = [col.lower() for col in arfacc_ctr.columns]
arfinp_ctr.columns = [col.lower() for col in arfinp_ctr.columns]
arflpe_ctr.columns = [col.lower() for col in arflpe_ctr.columns]
#trfbatch_ctr.columns = [col.lower() for col in trfbatch_ctr.columns]
#trfreport_ctr.columns = [col.lower() for col in trfreport_ctr.columns]
trfbrc_ctr.columns = [col.lower() for col in trfbrc_ctr.columns]
trftrn_ctr.columns = [col.lower() for col in trftrn_ctr.columns]

##### Insert Data into Created Schema**
        * Time Complexity for Data insertion.

In [221]:
data_insertion_start_time= datetime.now()
print('Data insertion started at-',data_insertion_start_time)

Data insertion started at- 2023-01-19 17:05:35.600193

In [222]:
# REs_Aug.to_sql(f'{month}_re_list',pengine,schema='monthly_ctr',if_exists='replace',index=False)
# print(f"batch file inserted into {month}_re_list with dimensions{ REs_Aug.shape}")

# batch_ctr.to_sql(f'{month}_arfbatch_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
# print(f"batch file inserted into {month}_batch_{reporttype} with dimensions{batch_ctr.shape}")

# report_ctr.to_sql(f'{month}_arfreport_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
# print(f"Report file inserted into {month}_report_{reporttype} with dimensions {report_ctr.shape}")

arfbrc_ctr.to_sql(f'{month}_arfbrc_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
print(f"Branch file inserted into {month}_arfbrc_{reporttype} with dimensions {arfbrc_ctr.shape}")

arfacc_ctr.to_sql(f'{month}_arfacc_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
print(f"arfacc file inserted into {month}_arfacc_{reporttype} with dimensions{arfacc_ctr.shape}")

arfinp_ctr.to_sql(f'{month}_arfinp_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
print(f"arfinp file inserted into {month}_arfinp_{reporttype} with dimensions{arfinp_ctr.shape}")

arflpe_ctr.to_sql(f'{month}_arflpe_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)
print(f"arflpe file inserted into {month}_arflpe_{reporttype} with dimensions{arflpe_ctr.shape}")

batch file inserted into oct22_batch_ctr with dimensions(3298, 33)
Report file inserted into oct22_report_ctr with dimensions (148250, 22)
Branch file inserted into oct22_arfbrc_ctr with dimensions (1500668, 23)
arfacc file inserted into oct22_arfacc_ctr with dimensions(1500399, 21)
arfinp file inserted into oct22_arfinp_ctr with dimensions(1847005, 40)
arflpe file inserted into oct22_arflpe_ctr with dimensions(1148814, 36)

##### TRF files data insertion

In [223]:
#Lower the Columns
trfbatch_ctr.columns = [col.lower() for col in trfbatch_ctr.columns]
#Insert data to postgres
trfbatch_ctr.to_sql(f'{month}_trfbatch_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"trfbatch file inserted into {month}_trfbatch_{reporttype} with {trfbatch_ctr.shape[0]} rows")

#Lower the Columns
trfreport_ctr.columns = [col.lower() for col in trfreport_ctr.columns]
#Insert data to postgres
trfreport_ctr.to_sql(f'{month}_trfreport_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"trfreport file inserted into {month}_trfreport_{reporttype} with {trfreport_ctr.shape[0]} rows")

trfbatch file inserted into oct22_trfbatch_ctr with 133 rows
trfreport file inserted into oct22_trfreport_ctr with 2519 rows

In [224]:
#Lower the Columns
trfbrc_ctr.columns = [col.lower() for col in trfbrc_ctr.columns]
#Insert data to postgres
trfbrc_ctr.to_sql(f'{month}_trfbrc_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"trfbatch file inserted into {month}_trfbrc_{reporttype} with {trfbrc_ctr.shape[0]} rows")

#Lower the Columns
trftrn_ctr.columns = [col.lower() for col in trftrn_ctr.columns]
#Insert data to postgres
trftrn_ctr.to_sql(f'{month}_trftrn_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"trfreport file inserted into {month}_trftrn_{reporttype} with {trftrn_ctr.shape[0]} rows")

trfbatch file inserted into oct22_trfbrc_ctr with 3576 rows
trfreport file inserted into oct22_trftrn_ctr with 52941 rows

* **Create combined table of inp & lpe then insert data into arfinp_lpe table**

In [225]:
cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_arfinp_lpe_{reporttype}\
                    ( batchid bigint, rptsernum bigint, accountnum text COLLATE pg_catalog."default", \
                    personname text COLLATE pg_catalog."default", pan text COLLATE pg_catalog."default" )  \
                    TABLESPACE pg_default')

In [226]:
cursor.execute(f'insert into monthly_{reporttype}.{month}_arfinp_lpe_{reporttype}\
                select distinct batchid, rptsernum , accountnum, personname, pan \
                from monthly_{reporttype}.{month}_arfinp_{reporttype} \
                union \
                select distinct batchid, rptsernum , accountnum, personname, pan \
                from monthly_{reporttype}.{month}_arflpe_{reporttype}')

In [227]:
print(f"Combined table of arfinp and arflpe is created and data is inserted into monthly_{reporttype}.{month}_arfinp_lpe_{reporttype}")

Combined table of arfinp and arflpe is created and data is inserted into monthly_ctr.oct22_arfinp_lpe_ctr

* **arftrn**

In [232]:
arftrn = pd.read_csv(file_path + '\ARFTRN.csv',chunksize= 10000,iterator=True)

In [229]:
cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_arftrn_{reporttype} ( batchid bigint,     rptsernum bigint,     accountnum text COLLATE pg_catalog."default",     dateoftransaction text COLLATE pg_catalog."default",     transactionid text COLLATE pg_catalog."default",     transactionmode text COLLATE pg_catalog."default",     debitcredit text COLLATE pg_catalog."default",     amount double precision,     currency text COLLATE pg_catalog."default",     producttype text COLLATE pg_catalog."default",     identifier text COLLATE pg_catalog."default",     transactiontype text COLLATE pg_catalog."default",     units text COLLATE pg_catalog."default",     rate text COLLATE pg_catalog."default",     dispositionsoffunds text COLLATE pg_catalog."default",     relatedaccountnum text COLLATE pg_catalog."default",     relatedinstname text COLLATE pg_catalog."default",     relatedinstrefnum text COLLATE pg_catalog."default",     remarks text COLLATE pg_catalog."default",     deletedflag text COLLATE pg_catalog."default",     creationdate text COLLATE pg_catalog."default",     createdby text COLLATE pg_catalog."default",     xmlindexid text COLLATE pg_catalog."default",     accountxmlindexid text COLLATE pg_catalog."default",     reportxmlindexid text COLLATE pg_catalog."default", batchxmlindexid text, branchrefnum text COLLATE pg_catalog."default")  TABLESPACE pg_default')

In [230]:
for df in arftrn:
    #print(df.shape)
    df = df[(df['BATCHID'] >=min_batchid) & (df['BATCHID'] <= max_batchid)]
    #print(df.head())
    df.columns=[col.lower() for col in df.columns]
    df.to_sql(f'{month}_arftrn_{reporttype}',pengine,schema='monthly_ctr',if_exists='append',index=False)

In [231]:
# * Time Consumed in reading the Data 
data_insertion_end_time= datetime.now()
time_taken_in_file_creation = data_insertion_end_time - data_insertion_start_time
t3 = data_insertion_end_time - data_read_start_time
print('Time taken in data insertion:',round((time_taken_in_file_creation.total_seconds()/60),2),'minutes')
print('Time taken in data reading and insertion:',round((t3.total_seconds()/60),2),'minutes')

Time taken in data insertion: 27.05 minutes
Time taken in data reading and insertion: 27.98 minutes

* ***Run till here

* **CTR resolved pan**

* **Note:** Copy all the pans (Credit/Debit CTR, Credit NTR and Credit/Debit EFT) from the appendix tab from last month submitted monthly report and paste them in monthly update data folder in the respective excluded_pans_{} csv file.

In [187]:
path

'C:\\Users\\SAL008\\Desktop\\Ravi\\Monthly Report'

In [188]:
excluded_pans_CTR = pd.read_csv(path + '\\monthly update data\\excluded_pans_{}.csv'.format(reporttype))
excluded_pans_CTR.to_sql(f'{month}_excluded_pans_{reporttype}',pengine,schema='monthly_ctr',if_exists='replace',index=False)

* **Repeated PANS**

In [189]:
repeated_pans_total = pd.read_csv(path +'\\monthly update data\\repeated_pans.csv')
repeated_pans_total.to_sql(f'pan_month_of_report_{month}',pengine,schema='monthly_report',if_exists='replace',index=False)

* **Note:** Copy all the pans (Credit/Debit CTR, Credit NTR and Credit/Debit EFT) from the repeated pans tab from last month submitted monthly report and paste them in the repeated_pans_{} csv file

* **Assign the month for which PANS are getting repeated**

### Creation of Materialized views

In [190]:
batchid_month = int(str(min_batchid)[3])
repeated_month_pan = batchid_month -1 # Analysis -1 month 
pan_month_of_report = repeated_month_pan
print(f'Month of Analysis is : {batchid_month},\nRepeated PANS month is : {repeated_month_pan},\npan_month_of_report is :{pan_month_of_report}')

Month of Analysis is : 0,
Repeated PANS month is : -1,
pan_month_of_report is :-1

In [191]:
#Resolved Pans
resolved_pans = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_resolved_pans TABLESPACE pg_default AS  SELECT x.facc, x.fiureid,x.accountnum,x.pan FROM ( SELECT y.facc, y.fiureid, y.accountnum, y.pan, rank() OVER (PARTITION BY y.facc ORDER BY y.{reporttype}_count DESC) AS rr FROM ( SELECT DISTINCT z.fiureid || z.accountnum AS facc,  z.fiureid,z.accountnum,  z.pan,     count(DISTINCT z.batchid::character varying::text || z.rptsernum::character varying::text) AS {reporttype}_count FROM ( SELECT c.fiureid,  a.pan, a.batchid,  a.rptsernum, a.accountnum,a.personname,b.holdername,  similarity(a.personname, b.holdername) AS score  FROM monthly_{reporttype}.{month}_arfinp_lpe_{reporttype} a JOIN monthly_{reporttype}.{month}_arfacc_{reporttype} b ON a.batchid = b.batchid AND a.rptsernum = b.rptsernum AND a.accountnum = b.accountnum AND similarity(a.personname, b.holdername) >= 0.6::double precision JOIN monthly_{reporttype}.{month}_batch_{reporttype} c ON a.batchid = c.batchid\
                          WHERE a.pan <> ALL (ARRAY['XXXXX0000X'::text, 'XXXXX9999X'::text, 'ABCD1234F'::text, 'XXXXX1234X'::text, 'XXXXX'::text, 'X'::text, 'XXXXX1111X'::text])) z\
                          GROUP BY (z.fiureid || z.accountnum), z.fiureid, z.accountnum, z.pan\
                          ORDER BY (count(DISTINCT z.batchid::character varying::text || z.rptsernum::character varying::text)) DESC) y) x\
                          WHERE x.rr = 1\
                        WITH DATA")
print(f"Materialized view {month}_{reporttype}_resolved_pans created")

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "monthly_ctr.oct22_arfinp_lpe_ctr" does not exist
LINE 1: ...larity(a.personname, b.holdername) AS score  FROM monthly_ct...
                                                             ^

[SQL: CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_ctr.oct22_ctr_resolved_pans TABLESPACE pg_default AS  SELECT x.facc, x.fiureid,x.accountnum,x.pan FROM ( SELECT y.facc, y.fiureid, y.accountnum, y.pan, rank() OVER (PARTITION BY y.facc ORDER BY y.ctr_count DESC) AS rr FROM ( SELECT DISTINCT z.fiureid || z.accountnum AS facc,  z.fiureid,z.accountnum,  z.pan,     count(DISTINCT z.batchid::character varying::text || z.rptsernum::character varying::text) AS ctr_count FROM ( SELECT c.fiureid,  a.pan, a.batchid,  a.rptsernum, a.accountnum,a.personname,b.holdername,  similarity(a.personname, b.holdername) AS score  FROM monthly_ctr.oct22_arfinp_lpe_ctr a JOIN monthly_ctr.oct22_arfacc_ctr b ON a.batchid = b.batchid AND a.rptsernum = b.rptsernum AND a.accountnum = b.accountnum AND similarity(a.personname, b.holdername) >= 0.6::double precision JOIN monthly_ctr.oct22_batch_ctr c ON a.batchid = c.batchid                          WHERE a.pan <> ALL (ARRAY['XXXXX0000X'::text, 'XXXXX9999X'::text, 'ABCD1234F'::text, 'XXXXX1234X'::text, 'XXXXX'::text, 'X'::text, 'XXXXX1111X'::text])) z                          GROUP BY (z.fiureid || z.accountnum), z.fiureid, z.accountnum, z.pan                          ORDER BY (count(DISTINCT z.batchid::character varying::text || z.rptsernum::character varying::text)) DESC) y) x                          WHERE x.rr = 1                        WITH DATA]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
# Holder_total_account
holder_total_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan TABLESPACE pg_default AS SELECT z.facc, z.fiureid,z.accountnum,d.pan,z.holdername, z.debit_amount, z.credit_amount, z.cumulativecrturnover, z.cumulativedrturnover, z.cumulativecashdpstturnover, z.cumulativecashwdturnover   from( select a.fiureid || b.accountnum AS facc, a.fiureid, b.accountnum,  b.holdername, sum(case when debitcredit = 'C' then amount end) as credit_amount, sum(case when debitcredit = 'D' then amount end) as debit_amount, max(b.cumulativecrturnover) AS cumulativecrturnover,  	  max(b.cumulativedrturnover) AS cumulativedrturnover, 	  max(b.cumulativecashdpstturnover) AS cumulativecashdpstturnover, 	  max(b.cumulativecashwdturnover) AS cumulativecashwdturnover from monthly_{reporttype}.{month}_batch_{reporttype} a join monthly_{reporttype}.{month}_arfacc_{reporttype} b on a.batchid = b.batchid join  monthly_{reporttype}.{month}_arftrn_{reporttype} c ON b.batchid = c.batchid AND b.rptsernum = c.rptsernum AND b.accountnum = c.accountnum where (c.batchid,c.rptsernum) in (select distinct batchid, rptsernum from monthly_{reporttype}.{month}_arfinp_lpe_{reporttype} ) group by (a.fiureid || b.accountnum), a.fiureid, b.accountnum,  b.holdername) z LEFT JOIN monthly_{reporttype}.{month}_{reporttype}_resolved_pans d ON d.facc = z.facc WITH DATA") 
print(f"\n Materialized view {month}_{reporttype}_holder_totals_pan created")

In [ ]:
# # Holder_total_account
# holder_total_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan TABLESPACE pg_default AS SELECT z.facc, z.fiureid,z.accountnum,d.pan,z.holdername, z.debit_amount, z.credit_amount, z.cumulativecrturnover, z.cumulativedrturnover, z.cumulativecashdpstturnover, z.cumulativecashwdturnover   from( select a.fiureid || b.accountnum AS facc, a.fiureid, b.accountnum,  b.holdername, 	 sum(amount) filter (where debitcredit = 'C') as credit_amount, 	 sum(amount) filter (where debitcredit = 'D') as debit_amount, 	 max(b.cumulativecrturnover) AS cumulativecrturnover,  	  	 max(b.cumulativedrturnover) AS cumulativedrturnover, 	  	 max(b.cumulativecashdpstturnover) AS cumulativecashdpstturnover, 	  	 max(b.cumulativecashwdturnover) AS cumulativecashwdturnover 	 from monthly_{reporttype}.{month}_batch_{reporttype} a join monthly_{reporttype}.{month}_arfacc_{reporttype} b 	 on a.batchid = b.batchid join  monthly_{reporttype}.{month}_arftrn_{reporttype} c 	 ON b.batchid = c.batchid 	 AND b.rptsernum = c.rptsernum 	 AND b.accountnum = c.accountnum 	 where (c.batchid,c.rptsernum) in (select distinct batchid, rptsernum from monthly_{reporttype}.{month}_arfinp_lpe_{reporttype} ) 	 group by (a.fiureid || b.accountnum), a.fiureid, b.accountnum,  b.holdername) z LEFT JOIN monthly_{reporttype}.{month}_{reporttype}_resolved_pans d ON d.facc = z.facc WITH DATA") 
# print(f"\n Materialized view {month}_{reporttype}_holder_totals_pan created")

* **Credit**

In [ ]:
print('Materialized Views for Credit:\n')
accounts_ctr_credit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_accounts_credit TABLESPACE pg_default AS  SELECT {month}_{reporttype}_holder_totals_pan.facc,{month}_{reporttype}_holder_totals_pan.fiureid,{month}_{reporttype}_holder_totals_pan.accountnum, {month}_{reporttype}_holder_totals_pan.holdername, {month}_{reporttype}_holder_totals_pan.debit_amount,{month}_{reporttype}_holder_totals_pan.credit_amount,({month}_{reporttype}_holder_totals_pan.credit_amount / 10000000::numeric) AS credit_amount_in_cr, {month}_{reporttype}_holder_totals_pan.pan   FROM monthly_ctr.{month}_{reporttype}_holder_totals_pan   ORDER BY {month}_{reporttype}_holder_totals_pan.credit_amount DESC  LIMIT 5000 WITH DATA")#. format(month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype))
print(f"Materialized view created : {month}_{reporttype}_accounts_credit ")

pan_credit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_pans_credit TABLESPACE pg_default AS   WITH cte1 AS (SELECT {month}_{reporttype}_holder_totals_pan.pan,{month}_{reporttype}_holder_totals_pan.holdername,count(1) AS cnt FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan GROUP BY {month}_{reporttype}_holder_totals_pan.holdername, {month}_{reporttype}_holder_totals_pan.pan), cte2 AS (SELECT cte1.pan,cte1.holdername,row_number() OVER (PARTITION BY cte1.pan ORDER BY cte1.cnt DESC) AS rnk FROM cte1), cte3 AS (SELECT {month}_{reporttype}_holder_totals_pan.pan,row_number() OVER (PARTITION BY {month}_{reporttype}_holder_totals_pan.pan ORDER BY (length({month}_{reporttype}_holder_totals_pan.holdername)) DESC) AS rr,{month}_{reporttype}_holder_totals_pan.holdername FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan)SELECT a.pan,c.holdername AS max_freq,b.holdername AS max_len,sum(a.credit_amount) AS credit_amount, CASE WHEN sum(a.cumulativecrturnover) <> 0::numeric THEN (sum(a.cumulativecashdpstturnover) / sum(a.cumulativecrturnover))*100  WHEN sum(a.cumulativecrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_dep_ratio, CASE WHEN sum(a.cumulativedrturnover) <> 0::numeric THEN (sum(a.cumulativecashwdturnover) / sum(a.cumulativedrturnover))*100  WHEN sum(a.cumulativedrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_wid_ratio, sum(a.credit_amount)/10000000 AS credit_amount_in_cr FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan a JOIN ( SELECT cte2.pan,cte2.holdername,cte2.rnk FROM cte2 WHERE cte2.rnk = 1) c ON c.pan = a.pan JOIN ( SELECT cte3.pan,cte3.holdername,cte3.rr FROM cte3 WHERE cte3.rr = 1) b ON b.pan = c.pan GROUP BY a.pan, c.holdername, b.holdername ORDER BY (sum(a.credit_amount)) DESC WITH DATA")
print(f"Materialized view created : {month}_pans_credit")

repeated_pans_credit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_repeated_pans_credit TABLESPACE pg_default AS WITH cte1 AS ( SELECT DISTINCT pan_month_of_report_{month}.pan,pan_month_of_report_{month}.report_type,count(DISTINCT pan_month_of_report_{month}.month) AS month FROM monthly_report.pan_month_of_report_{month} WHERE pan_month_of_report_{month}.report_type = 'credit_{reporttype}'::text GROUP BY pan_month_of_report_{month}.pan, pan_month_of_report_{month}.report_type HAVING count(DISTINCT pan_month_of_report_{month}.month) = {pan_month_of_report} ORDER BY (count(DISTINCT pan_month_of_report_{month}.month)) DESC), cte2 AS (SELECT {month}_pans_credit.pan,{month}_pans_credit.max_freq,{month}_pans_credit.max_len,{month}_pans_credit.credit_amount,{month}_pans_credit.cash_dep_ratio,{month}_pans_credit.cash_wid_ratio FROM monthly_{reporttype}.{month}_pans_credit) SELECT cte2.pan,cte2.max_freq,cte2.max_len,cte2.credit_amount,cte2.cash_dep_ratio,cte2.cash_wid_ratio FROM cte2 WHERE (cte2.pan IN ( SELECT DISTINCT cte1.pan FROM cte1)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_repeated_pans_credit")

credit_main_without_repeated_excluded_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_credit_main_without_repeated_excluded_pan TABLESPACE pg_default AS WITH cte1 AS (SELECT {month}_excluded_pans_{reporttype}.pan, {month}_excluded_pans_{reporttype}.holdername FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}), cte2 AS (SELECT {month}_repeated_pans_credit.pan,{month}_repeated_pans_credit.max_freq FROM monthly_{reporttype}.{month}_repeated_pans_credit), cte3 AS (SELECT a.pan FROM cte1 a UNION SELECT b.pan FROM cte2 b) SELECT {month}_pans_credit.pan,{month}_pans_credit.max_freq,{month}_pans_credit.max_len,{month}_pans_credit.credit_amount,{month}_pans_credit.cash_dep_ratio,{month}_pans_credit.cash_wid_ratio FROM monthly_{reporttype}.{month}_pans_credit WHERE NOT ({month}_pans_credit.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_credit_main_without_repeated_excluded_pan")

credit_excluded_pans_without_repeated_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_credit_excluded_pans_without_repeated_pan TABLESPACE pg_default AS WITH cte1 AS ( SELECT {month}_pans_credit.pan,{month}_pans_credit.max_freq,{month}_pans_credit.max_len,{month}_pans_credit.credit_amount,{month}_pans_credit.cash_dep_ratio,{month}_pans_credit.cash_wid_ratio,{month}_pans_credit.credit_amount_in_cr FROM monthly_{reporttype}.{month}_pans_credit), cte2 AS ( 	SELECT cte1.pan, cte1.max_freq,            cte1.max_len,            cte1.credit_amount,            cte1.cash_dep_ratio,            cte1.cash_wid_ratio,            cte1.credit_amount_in_cr FROM cte1          WHERE (cte1.pan IN ( SELECT {month}_excluded_pans_{reporttype}.pan                   FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}))     ), cte3 AS ( SELECT {month}_repeated_pans_credit.pan FROM monthly_{reporttype}.{month}_repeated_pans_credit) SELECT cte2.pan,    cte2.max_freq,    cte2.max_len,    cte2.credit_amount,    cte2.cash_dep_ratio,    cte2.cash_wid_ratio   FROM cte2 WHERE NOT (cte2.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_credit_excluded_pans_without_repeated_pan")

* **Debit**

In [ ]:
print('Materialized Views for debit:\n')
accounts_ctr_debit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_accounts_debit TABLESPACE pg_default AS  SELECT {month}_{reporttype}_holder_totals_pan.facc,{month}_{reporttype}_holder_totals_pan.fiureid,{month}_{reporttype}_holder_totals_pan.accountnum, {month}_{reporttype}_holder_totals_pan.holdername, {month}_{reporttype}_holder_totals_pan.debit_amount,{month}_{reporttype}_holder_totals_pan.credit_amount,({month}_{reporttype}_holder_totals_pan.debit_amount / 10000000::numeric) AS debit_amount_in_cr, {month}_{reporttype}_holder_totals_pan.pan   FROM monthly_ctr.{month}_{reporttype}_holder_totals_pan   ORDER BY {month}_{reporttype}_holder_totals_pan.debit_amount DESC  LIMIT 5000 WITH DATA")#. format(month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype,month,reporttype))
print(f"Materialized view created : {month}_{reporttype}_accounts_debit ")

pan_debit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_pans_debit TABLESPACE pg_default AS   WITH cte1 AS (SELECT {month}_{reporttype}_holder_totals_pan.pan,{month}_{reporttype}_holder_totals_pan.holdername,count(1) AS cnt FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan GROUP BY {month}_{reporttype}_holder_totals_pan.holdername, {month}_{reporttype}_holder_totals_pan.pan), cte2 AS (SELECT cte1.pan,cte1.holdername,row_number() OVER (PARTITION BY cte1.pan ORDER BY cte1.cnt DESC) AS rnk FROM cte1), cte3 AS (SELECT {month}_{reporttype}_holder_totals_pan.pan,row_number() OVER (PARTITION BY {month}_{reporttype}_holder_totals_pan.pan ORDER BY (length({month}_{reporttype}_holder_totals_pan.holdername)) DESC) AS rr,{month}_{reporttype}_holder_totals_pan.holdername FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan)SELECT a.pan,c.holdername AS max_freq,b.holdername AS max_len,sum(a.debit_amount) AS debit_amount, CASE WHEN sum(a.cumulativecrturnover) <> 0::numeric THEN (sum(a.cumulativecashdpstturnover) / sum(a.cumulativecrturnover))*100  WHEN sum(a.cumulativecrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_dep_ratio, CASE WHEN sum(a.cumulativedrturnover) <> 0::numeric THEN (sum(a.cumulativecashwdturnover) / sum(a.cumulativedrturnover))*100  WHEN sum(a.cumulativedrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_wid_ratio, sum(a.debit_amount)/10000000 AS debit_amount_in_cr FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan a JOIN ( SELECT cte2.pan,cte2.holdername,cte2.rnk FROM cte2 WHERE cte2.rnk = 1) c ON c.pan = a.pan JOIN ( SELECT cte3.pan,cte3.holdername,cte3.rr FROM cte3 WHERE cte3.rr = 1) b ON b.pan = c.pan GROUP BY a.pan, c.holdername, b.holdername ORDER BY (sum(a.debit_amount)) DESC WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_pans_debit")

repeated_pans_debit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_repeated_pans_debit TABLESPACE pg_default AS WITH cte1 AS ( SELECT DISTINCT pan_month_of_report_{month}.pan,pan_month_of_report_{month}.report_type,count(DISTINCT pan_month_of_report_{month}.month) AS month FROM monthly_report.pan_month_of_report_{month} WHERE pan_month_of_report_{month}.report_type = 'debit_{reporttype}'::text GROUP BY pan_month_of_report_{month}.pan, pan_month_of_report_{month}.report_type HAVING count(DISTINCT pan_month_of_report_{month}.month) = {pan_month_of_report} ORDER BY (count(DISTINCT pan_month_of_report_{month}.month)) DESC), cte2 AS (SELECT {month}_pans_debit.pan,{month}_pans_debit.max_freq,{month}_pans_debit.max_len,{month}_pans_debit.debit_amount,{month}_pans_debit.cash_dep_ratio,{month}_pans_debit.cash_wid_ratio FROM monthly_{reporttype}.{month}_pans_debit) SELECT cte2.pan,cte2.max_freq,cte2.max_len,cte2.debit_amount,cte2.cash_dep_ratio,cte2.cash_wid_ratio FROM cte2 WHERE (cte2.pan IN ( SELECT DISTINCT cte1.pan FROM cte1)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_repeated_pans_debit")

debit_main_without_repeated_excluded_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_debit_main_without_repeated_excluded_pan TABLESPACE pg_default AS WITH cte1 AS (SELECT {month}_excluded_pans_{reporttype}.pan, {month}_excluded_pans_{reporttype}.holdername FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}), cte2 AS (SELECT {month}_repeated_pans_debit.pan,{month}_repeated_pans_debit.max_freq FROM monthly_{reporttype}.{month}_repeated_pans_debit), cte3 AS (SELECT a.pan FROM cte1 a UNION SELECT b.pan FROM cte2 b) SELECT {month}_pans_debit.pan,{month}_pans_debit.max_freq,{month}_pans_debit.max_len,{month}_pans_debit.debit_amount,{month}_pans_debit.cash_dep_ratio,{month}_pans_debit.cash_wid_ratio FROM monthly_{reporttype}.{month}_pans_debit WHERE NOT ({month}_pans_debit.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_debit_main_without_repeated_excluded_pan")

debit_excluded_pans_without_repeated_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_debit_excluded_pans_without_repeated_pan TABLESPACE pg_default AS WITH cte1 AS ( SELECT {month}_pans_debit.pan,{month}_pans_debit.max_freq,{month}_pans_debit.max_len,{month}_pans_debit.debit_amount,{month}_pans_debit.cash_dep_ratio,{month}_pans_debit.cash_wid_ratio,{month}_pans_debit.debit_amount_in_cr FROM monthly_{reporttype}.{month}_pans_debit), cte2 AS ( 	SELECT cte1.pan, cte1.max_freq,            cte1.max_len,            cte1.debit_amount,            cte1.cash_dep_ratio,            cte1.cash_wid_ratio,            cte1.debit_amount_in_cr FROM cte1          WHERE (cte1.pan IN ( SELECT {month}_excluded_pans_{reporttype}.pan                   FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}))     ), cte3 AS ( SELECT {month}_repeated_pans_debit.pan FROM monthly_{reporttype}.{month}_repeated_pans_debit) SELECT cte2.pan,    cte2.max_freq,    cte2.max_len,    cte2.debit_amount,    cte2.cash_dep_ratio,    cte2.cash_wid_ratio   FROM cte2 WHERE NOT (cte2.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_debit_excluded_pans_without_repeated_pan")

### CCR

* **Reconnect Postgres Engine**

In [233]:
try:
    pengine = create_engine('postgresql+psycopg2://postgres:sal@123@localhost:5432/postgres')

    conn = psycopg2.connect(database = 'postgres', user = 'postgres', password = 'sal@123',host = "localhost",port= 5432)
    conn.autocommit = True

    cursor = conn.cursor()
except:
    print("Unable to create the Postgres DB connection")

db_conn=pengine.connect()
print("\n Postgres database connected succesfully")

 Postgres database connected succesfully

* **CTR - Schema Creation if doesn't exists**

In [234]:
reporttype = 'ccr'
print('Report type is:',reporttype)

Report type is: ccr

In [235]:
monthly_str_query = "CREATE SCHEMA IF NOT EXISTS %s AUTHORIZATION %s;"
monthly_str = (AsIs(f'monthly_{reporttype}'),AsIs('postgres'))
cursor.execute(monthly_str_query,monthly_str)

##### CHeck for the data path

In [238]:
#file_path = path +'\\'+month_report_format+ f'\Data\SAL_{reporttype.upper()}_{month[:3].upper()}2022'
file_path = r"C:\Users\SAL008\Desktop\Ravi\Monthly Report\Sep 2022\Data\CCR_SEP_NOV_22_DUMP"
file_path

'C:\\Users\\SAL008\\Desktop\\Ravi\\Monthly Report\\Sep 2022\\Data\\CCR_SEP_NOV_22_DUMP'

In [239]:
# Dataread Start time
data_read_start_time= datetime.now()

* **batch**

In [240]:
print('Minimum batch id is-', min_batchid)
print('Maximum batch id is-', max_batchid)

Minimum batch id is- 2210010000
Maximum batch id is- 2210319999

In [241]:
batch = pd.read_csv(file_path + '\\BATCH.csv')
batch_ccr = batch[(batch['BATCHID'] >=min_batchid) & (batch['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {month} BATCH file:',batch_ccr['BATCHID'].min())
print(f'Maximum batch id for {month} BATCH file:',batch_ccr['BATCHID'].max())
batch_ccr.shape

Minimum batch id for oct22 BATCH file: 2210033507
Maximum batch id for oct22 BATCH file: 2210297576

(212, 33)

* **CRFRPT**

In [242]:
report = pd.read_csv(file_path + '\CRFRPT.csv')
report_ccr = report[(report['BATCHID'] >=min_batchid) & (report['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {month} REPORT file:',report_ccr['BATCHID'].min())
print(f'Maximum batch id for {month} REPORT file:',report_ccr['BATCHID'].max())
report_ccr.shape

Minimum batch id for oct22 REPORT file: 2210033507
Maximum batch id for oct22 REPORT file: 2210297576

(15566, 30)

* **CRFBRC**

In [243]:
arfbrc = pd.read_csv(file_path + '\CRFBRC.csv')
arfbrc_ccr = arfbrc[(arfbrc['BATCHID'] >=min_batchid) & (arfbrc['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {month} {month} CRFBRC file:',arfbrc_ccr['BATCHID'].min())
print(f'Maximum batch id for {month} CRFBRC file:',arfbrc_ccr['BATCHID'].max())
arfbrc_ccr.shape

Minimum batch id for oct22 oct22 CRFBRC file: 2210033507
Maximum batch id for oct22 CRFBRC file: 2210297576

(15566, 20)

In [244]:
out_path = path +'\\'+month_report_format+ f'\Data\SAL_{reporttype.upper()}_{month[:3].upper()}2022'
out_path

'C:\\Users\\SAL008\\Desktop\\Ravi\\Monthly Report\\Oct 2022\\Data\\SAL_CCR_OCT2022'

In [246]:
batch_ccr.to_csv(out_path + "\\batch.csv")

In [247]:
report_ccr.to_csv(out_path + "\\report.csv")

In [248]:
arfbrc_ccr.to_csv(out_path + "\\arfbrc.csv")

In [249]:
data_read_end_time= datetime.now()
time_taken_in_data_read = data_read_end_time -data_read_start_time
print('Time taken in reading the data :',round((time_taken_in_data_read.total_seconds()/60),2),'minutes')

Time taken in reading the data : 74.98 minutes

* Lower the column headers to minimize thye error while importing the table into Postgres

In [250]:
#ccr
#REs_Aug.columns=[col.lower() for col in REs_Aug.columns]
batch_ccr.columns=[col.lower() for col in batch_ccr.columns]
report_ccr.columns=[col.lower() for col in report_ccr.columns]
arfbrc_ccr.columns=[col.lower() for col in arfbrc_ccr.columns]

* **CCR Insert Data into Created Schema**

In [251]:
data_insertion_start_time= datetime.now()
print('Data insertion started at-',data_insertion_start_time)

Data insertion started at- 2023-01-20 15:13:50.102958

In [252]:
# REs_Aug.to_sql(f'{month}_re_list',pengine,schema='monthly_str',if_exists='replace',index=False)
# print(f"batch file inserted into {month}_re_list with dimensions{ REs_Aug.shape}")

batch_ccr.to_sql(f'{month}_batch_{reporttype}',pengine,schema='monthly_ccr',if_exists='replace',index=False)
print(f"batch file inserted into {month}_batch_{reporttype} with dimensions{batch_ccr.shape}")

report_ccr.to_sql(f'{month}_report_{reporttype}',pengine,schema='monthly_ccr',if_exists='replace',index=False)
print(f"Report file inserted into {month}_report_{reporttype} with dimensions {report_ccr.shape}")

arfbrc_ccr.to_sql(f'{month}_arfbrc_{reporttype}',pengine,schema='monthly_ccr',if_exists='replace',index=False)
print(f"Branch file inserted into {month}_arfbrc_{reporttype} with dimensions {arfbrc_ccr.shape}")

batch file inserted into oct22_batch_ccr with dimensions(212, 33)
Report file inserted into oct22_report_ccr with dimensions (15566, 30)
Branch file inserted into oct22_arfbrc_ccr with dimensions (15566, 20)

In [253]:
# * Time Consumed in reading the Data 
data_insertion_end_time= datetime.now()
time_taken_in_data_insertion = data_insertion_end_time - data_insertion_start_time
print('Time taken in reading the data :',round((time_taken_in_data_insertion.total_seconds()/60),2),'minutes')

Time taken in reading the data : 0.1 minutes

In [254]:
# * Total Time taken in reading and inserting the data 
total_time_taken_in_data_read_insertion = data_insertion_end_time -  data_read_start_time
print('Time taken in data reading and data insertion:',round((total_time_taken_in_data_read_insertion.total_seconds()/60),2),'minutes')

Time taken in data reading and data insertion: 75.19 minutes

##### ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### NTR

In [255]:
reporttype ='ntr'
print('Report type is:',reporttype)
print('Month of analysis :',month)

Report type is: ntr
Month of analysis : oct22

In [256]:
print('****** Check the timeframe *************')
print('Start BATCHID:',min_batchid)
print('End BATCHID:',max_batchid)

****** Check the timeframe *************
Start BATCHID: 2210010000
End BATCHID: 2210319999

* **Resetting the Database Connection**

In [257]:
try:
    pengine = create_engine('postgresql+psycopg2://postgres:sal@123@localhost:5432/postgres')

    conn = psycopg2.connect(database = 'postgres', user = 'postgres', password = 'sal@123',host = "localhost",port= 5432)
    conn.autocommit = True

    cursor = conn.cursor()
except:
    print("Unable to create the Postgres DB connection")

db_conn=pengine.connect()
print("\n Postgres database connected succesfully")

 Postgres database connected succesfully

In [258]:
# #NTR
monthly_ntr_query = "CREATE SCHEMA IF NOT EXISTS %s AUTHORIZATION %s;"
monthly_ntr = (AsIs(f'monthly_{reporttype}'),AsIs('postgres'))
cursor.execute(monthly_ntr_query,monthly_ntr)

#### Data Insertion into NTR Schema

##### Batch

In [259]:
#file_path = path +'\\'+month_report_format+ f'\Data\SAL_{reporttype.upper()}_{month[:3].upper()}2022'
file_path = r"C:\Users\SAL008\Desktop\Ravi\Monthly Report\Sep 2022\Data\NTR_SEP_NOV_22_DUMP"
file_path

'C:\\Users\\SAL008\\Desktop\\Ravi\\Monthly Report\\Sep 2022\\Data\\NTR_SEP_NOV_22_DUMP'

In [260]:
out_path = path +'\\'+month_report_format+ f'\Data\SAL_{reporttype.upper()}_{month[:3].upper()}2022'
out_path

'C:\\Users\\SAL008\\Desktop\\Ravi\\Monthly Report\\Oct 2022\\Data\\SAL_NTR_OCT2022'

In [261]:
batch = pd.read_csv(file_path + '\BATCH.csv')
batch_ntr = batch[(batch['BATCHID'] >=min_batchid) & (batch['BATCHID'] <= max_batchid) & (batch['REPORTTYPE'] =='NTR')]
print(f'Minimum batch id for {reporttype} BATCH file:',batch_ntr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} BATCH file:',batch_ntr['BATCHID'].max())
print(f'BATCH file for {reporttype} has {batch_ntr.shape[0]} rows and {batch_ntr.shape[1]} columns')

Minimum batch id for ntr BATCH file: 2210033457
Maximum batch id for ntr BATCH file: 2210287510
BATCH file for ntr has 409 rows and 33 columns

##### Report

In [262]:
report = pd.read_csv(file_path + '\REPORT.csv')
report_ntr = report[(report['BATCHID'] >=min_batchid) & (report['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} report file:',report_ntr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} report file:',report_ntr['BATCHID'].max())
print(f'REPORT file for {reporttype} has {report_ntr.shape[0]} rows and {report_ntr.shape[1]} columns')

Minimum batch id for ntr report file: 2210033457
Maximum batch id for ntr report file: 2210287510
REPORT file for ntr has 70912 rows and 22 columns

##### ARFBRC

In [263]:
arfbrc = pd.read_csv(file_path + '\ARFBRC.csv')
arfbrc_ntr = arfbrc[(arfbrc['BATCHID'] >=min_batchid) & (arfbrc['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfbrc file:',arfbrc_ntr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfbrc file:',arfbrc_ntr['BATCHID'].max())
print(f'ARFBRC file for {reporttype} has {arfbrc_ntr.shape[0]} rows and {arfbrc_ntr.shape[1]} columns')

Minimum batch id for ntr arfbrc file: 2210033457
Maximum batch id for ntr arfbrc file: 2210287510
ARFBRC file for ntr has 95148 rows and 23 columns

##### ARFACC

In [264]:
arfacc = pd.read_csv(file_path + '\ARFACC.csv')
arfacc_ntr = arfacc[(arfacc['BATCHID'] >=min_batchid) & (arfacc['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfacc file:',arfacc_ntr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfacc file:',arfacc_ntr['BATCHID'].max())
print(f'ARFACC file for {reporttype} has {arfacc_ntr.shape[0]} rows and {arfacc_ntr.shape[1]} columns')

Minimum batch id for ntr arfacc file: 2210033457
Maximum batch id for ntr arfacc file: 2210287510
ARFACC file for ntr has 95148 rows and 21 columns

##### ARFINP

In [265]:
arfinp = pd.read_csv(file_path + '\ARFINP.csv')
arfinp_ntr = arfinp[(arfinp['BATCHID'] >=min_batchid) & (arfinp['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfinp file:',arfinp_ntr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfinp file:',arfinp_ntr['BATCHID'].max())
print(f'ARFINP file for {reporttype} has {arfinp_ntr.shape[0]} rows and {arfinp_ntr.shape[1]} columns')

Minimum batch id for ntr arfinp file: 2210033457
Maximum batch id for ntr arfinp file: 2210287510
ARFINP file for ntr has 222270 rows and 40 columns

##### ARFLPE

In [266]:
arflpe = pd.read_csv(file_path + '\ARFLPE.csv')
arflpe_ntr = arflpe[(arflpe['BATCHID'] >=min_batchid) & (arflpe['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arflpe file:',arflpe_ntr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arflpe file:',arflpe_ntr['BATCHID'].max())
print(f'ARFLPE file for {reporttype} has {arflpe_ntr.shape[0]} rows and {arflpe_ntr.shape[1]} columns')

Minimum batch id for ntr arflpe file: 2210033457
Maximum batch id for ntr arflpe file: 2210287510
ARFLPE file for ntr has 101401 rows and 36 columns

##### ARFTRN

In [267]:
arftrn = pd.read_csv(file_path + '\ARFTRN.csv')
arftrn_ntr = arftrn[(arftrn['BATCHID'] >=min_batchid) & (arftrn['BATCHID'] <= max_batchid )]
print(f'Minimum batch id for {reporttype} arftrn file:',arftrn_ntr['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arftrn file:',arftrn_ntr['BATCHID'].max())
print(f'ARFTRN file for {reporttype} has {arftrn_ntr.shape[0]} rows and {arftrn_ntr.shape[1]} columns')

Minimum batch id for ntr arftrn file: 2210033457
Maximum batch id for ntr arftrn file: 2210287510
ARFTRN file for ntr has 687069 rows and 27 columns

##### Writing the files to csv

In [268]:
batch_ntr.to_csv(out_path + "\\batch.csv")
report_ntr.to_csv(out_path + "\\report.csv")
arfbrc_ntr.to_csv(out_path + "\\arfbrc.csv")
arfacc_ntr.to_csv(out_path + "\\arfacc.csv")
arfinp_ntr.to_csv(out_path + "\\arfinp.csv")
arflpe_ntr.to_csv(out_path + "\\arflpe.csv")
arftrn_ntr.to_csv(out_path + "\\arftrn.csv")

###### Make the column headers to lowercase to avoid ambiguity

In [269]:
#NTR
batch_ntr.columns=[col.lower() for col in batch_ntr.columns]
report_ntr.columns=[col.lower() for col in report_ntr.columns]
arfbrc_ntr.columns=[col.lower() for col in arfbrc_ntr.columns]
arfacc_ntr.columns=[col.lower() for col in arfacc_ntr.columns]
arfinp_ntr.columns=[col.lower() for col in arfinp_ntr.columns]
arflpe_ntr.columns=[col.lower() for col in arflpe_ntr.columns]
arftrn_ntr.columns=[col.lower() for col in arftrn_ntr.columns]

##### Data Push to Postgres

In [270]:
# NTR Data
batch_ntr.to_sql(f'{month}_batch_{reporttype}',pengine,schema='monthly_ntr',if_exists='replace',index=False)
print(f"Batch file inserted into {month}_batch_{reporttype} with {batch_ntr.shape[0]} rows")

report_ntr.to_sql(f'{month}_report_{reporttype}',pengine,schema='monthly_ntr',if_exists='replace',index=False)
print(f"Report file inserted into {month}_report_{reporttype} with {report_ntr.shape[0]} rows")

arfbrc_ntr.to_sql(f'{month}_arfbrc_{reporttype}',pengine,schema='monthly_ntr',if_exists='replace',index=False)
print(f"Branch file inserted into {month}_arfbrc_{reporttype} with  {arfbrc_ntr.shape[0]} rows")

arfinp_ntr.to_sql(f'{month}_arfinp_{reporttype}',pengine,schema='monthly_ntr',if_exists='replace',index=False)
print(f"arfacc file inserted into {month}_arfacc_{reporttype} with {arfinp_ntr.shape[0]} rows")

arflpe_ntr.to_sql(f'{month}_arflpe_{reporttype}',pengine,schema='monthly_ntr',if_exists='replace',index=False)
print(f"arfinp file inserted into {month}_arfinp_{reporttype} with {arflpe_ntr.shape[0]} rows")

arftrn_ntr.to_sql(f'{month}_arftrn_{reporttype}',pengine,schema='monthly_ntr',if_exists='replace',index=False)
print(f"arflpe file inserted into {month}_arftrn_{reporttype} with {arftrn_ntr.shape[0]} rows")

arfacc_ntr.to_sql(f'{month}_arfacc_{reporttype}',pengine,schema='monthly_ntr',if_exists='replace',index=False)
print(f"arflpe file inserted into {month}_arflpe_{reporttype} with {arfacc_ntr.shape[0]} rows")

Batch file inserted into oct22_batch_ntr with 409 rows
Report file inserted into oct22_report_ntr with 70912 rows
Branch file inserted into oct22_arfbrc_ntr with  95148 rows
arfacc file inserted into oct22_arfacc_ntr with 222270 rows
arfinp file inserted into oct22_arfinp_ntr with 101401 rows
arflpe file inserted into oct22_arftrn_ntr with 687069 rows
arflpe file inserted into oct22_arflpe_ntr with 95148 rows

##### Create and Insert data into arfinp_lpe table under monthly_ntr schema

In [271]:
cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_arfinp_lpe_{reporttype}\
                    ( batchid bigint, rptsernum bigint, accountnum text COLLATE pg_catalog."default", \
                    personname text COLLATE pg_catalog."default",     pan text COLLATE pg_catalog."default" )  \
                    TABLESPACE pg_default; ALTER TABLE IF EXISTS monthly_{reporttype}.{month}_arfinp_lpe_{reporttype}    \
                    OWNER to postgres;')

In [272]:
cursor.execute(f'insert into monthly_{reporttype}.{month}_arfinp_lpe_{reporttype} \
                    select distinct batchid, rptsernum , accountnum, personname, pan \
                    from monthly_{reporttype}.{month}_arfinp_{reporttype} \
                    union \
                    select distinct batchid, rptsernum , accountnum, personname, pan \
                    from monthly_{reporttype}.{month}_arflpe_{reporttype}')

#### Create a table for exclusion list of NTR PANS

* **NTR resolved pan** - Copy all the Credit NTR pans from the appendix tab from last month submitted monthly report and paste them in monthly update data folder in the respective excluded_pans_{} csv file.*

In [ ]:
reporttype = 'ntr'

In [ ]:
excluded_pans_NTR = pd.read_csv(path + '\\monthly update data\\excluded_pans_{}.csv'.format(reporttype))
excluded_pans_NTR.to_sql(f'{month}_excluded_pans_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)

### Create Materialized View

In [ ]:
#Resolved Pans
resolved_pans = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_resolved_pans TABLESPACE pg_default AS  SELECT x.facc, x.fiureid,x.accountnum,x.pan FROM ( SELECT y.facc, y.fiureid, y.accountnum, y.pan, rank() OVER (PARTITION BY y.facc ORDER BY y.{reporttype}_count DESC) AS rr FROM ( SELECT DISTINCT z.fiureid || z.accountnum AS facc,  z.fiureid,z.accountnum,  z.pan,     count(DISTINCT z.batchid::character varying::text || z.rptsernum::character varying::text) AS {reporttype}_count FROM ( SELECT c.fiureid,  a.pan, a.batchid,  a.rptsernum, a.accountnum,a.personname,b.holdername,  similarity(a.personname, b.holdername) AS score  FROM monthly_{reporttype}.{month}_arfinp_lpe_{reporttype} a JOIN monthly_{reporttype}.{month}_arfacc_{reporttype} b ON a.batchid = b.batchid AND a.rptsernum = b.rptsernum AND a.accountnum = b.accountnum AND similarity(a.personname, b.holdername) >= 0.6::double precision JOIN monthly_{reporttype}.{month}_batch_{reporttype} c ON a.batchid = c.batchid\
                          WHERE a.pan <> ALL (ARRAY['XXXXX0000X'::text, 'XXXXX9999X'::text, 'ABCD1234F'::text, 'XXXXX1234X'::text, 'XXXXX'::text, 'X'::text, 'XXXXX1111X'::text])) z\
                  GROUP BY (z.fiureid || z.accountnum), z.fiureid, z.accountnum, z.pan\
                  ORDER BY (count(DISTINCT z.batchid::character varying::text || z.rptsernum::character varying::text)) DESC) y) x\
                  WHERE x.rr = 1\
                WITH DATA")
print(f"Materialized view {month}_{reporttype}_resolved_pans created")

In [ ]:
# Holder_total_account
holder_total_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan TABLESPACE pg_default AS SELECT z.facc, z.fiureid,z.accountnum,z.holdername,z.debit_amount,z.credit_amount,d.pan, z.cumulativecrturnover, z.cumulativedrturnover, z.cumulativecashdpstturnover, z.cumulativecashwdturnover  FROM ( SELECT c.fiureid || a.accountnum AS facc, c.fiureid, a.accountnum,  a.holdername, 	  sum(case when debitcredit = 'D' then amount else 0 end) AS debit_amount, 	  sum(case when debitcredit = 'C' then amount else 0 end) AS credit_amount,  	  max(a.cumulativecrturnover) AS cumulativecrturnover,  	  max(a.cumulativedrturnover) AS cumulativedrturnover, 	  max(a.cumulativecashdpstturnover) AS cumulativecashdpstturnover, 	  max(a.cumulativecashwdturnover) AS cumulativecashwdturnover 	  FROM monthly_{reporttype}.{month}_arfacc_{reporttype} a    	  JOIN monthly_{reporttype}.{month}_arftrn_{reporttype} b ON a.batchid = b.batchid 	  AND a.rptsernum = b.rptsernum AND a.accountnum = b.accountnum 	  JOIN monthly_{reporttype}.{month}_batch_{reporttype} c ON a.batchid = c.batchid   	  GROUP BY (c.fiureid || a.accountnum), c.fiureid, a.accountnum, a.holdername) z  	  LEFT JOIN monthly_{reporttype}.{month}_{reporttype}_resolved_pans d ON d.facc = z.facc WITH DATA") 
print(f"Materialized view {month}_{reporttype}_holder_totals_pan created")

* **Credit**

In [ ]:
print('Materialized Views for Credit:\n')
accounts_ntr_credit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_accounts_credit TABLESPACE pg_default AS  SELECT {month}_{reporttype}_holder_totals_pan.facc,{month}_{reporttype}_holder_totals_pan.fiureid,{month}_{reporttype}_holder_totals_pan.accountnum, {month}_{reporttype}_holder_totals_pan.holdername, {month}_{reporttype}_holder_totals_pan.credit_amount,({month}_{reporttype}_holder_totals_pan.credit_amount / 10000000::numeric) AS credit_amount_in_cr, {month}_{reporttype}_holder_totals_pan.pan   FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan   ORDER BY {month}_{reporttype}_holder_totals_pan.credit_amount DESC  LIMIT 5000 WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_accounts_credit ")

pan_credit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_pans_credit TABLESPACE pg_default AS   WITH cte1 AS (SELECT {month}_{reporttype}_holder_totals_pan.pan,{month}_{reporttype}_holder_totals_pan.holdername,count(1) AS cnt FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan GROUP BY {month}_{reporttype}_holder_totals_pan.holdername, {month}_{reporttype}_holder_totals_pan.pan), cte2 AS (SELECT cte1.pan,cte1.holdername,row_number() OVER (PARTITION BY cte1.pan ORDER BY cte1.cnt DESC) AS rnk FROM cte1), cte3 AS (SELECT {month}_{reporttype}_holder_totals_pan.pan,row_number() OVER (PARTITION BY {month}_{reporttype}_holder_totals_pan.pan ORDER BY (length({month}_{reporttype}_holder_totals_pan.holdername)) DESC) AS rr,{month}_{reporttype}_holder_totals_pan.holdername FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan)SELECT a.pan,c.holdername AS max_freq,b.holdername AS max_len,sum(a.credit_amount) AS credit_amount, CASE WHEN sum(a.cumulativecrturnover) <> 0::numeric THEN (sum(a.cumulativecashdpstturnover) / sum(a.cumulativecrturnover) * 100::numeric) WHEN sum(a.cumulativecrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_dep_ratio, CASE WHEN sum(a.cumulativedrturnover) <> 0::numeric THEN (sum(a.cumulativecashwdturnover) / sum(a.cumulativedrturnover) * 100::numeric) WHEN sum(a.cumulativedrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_wid_ratio,sum(a.credit_amount) / 10000000::numeric AS credit_amount_in_cr FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan a JOIN ( SELECT cte2.pan,cte2.holdername,cte2.rnk FROM cte2 WHERE cte2.rnk = 1) c ON c.pan = a.pan JOIN ( SELECT cte3.pan,cte3.holdername,cte3.rr FROM cte3 WHERE cte3.rr = 1) b ON b.pan = c.pan GROUP BY a.pan, c.holdername, b.holdername ORDER BY (sum(a.credit_amount)) DESC WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_pans_credit")

repeated_pans_credit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_repeated_pans_credit TABLESPACE pg_default AS WITH cte1 AS ( SELECT DISTINCT pan_month_of_report_{month}.pan,pan_month_of_report_{month}.report_type,count(DISTINCT pan_month_of_report_{month}.month) AS month FROM monthly_report.pan_month_of_report_{month} WHERE pan_month_of_report_{month}.report_type = 'credit_{reporttype}'::text GROUP BY pan_month_of_report_{month}.pan, pan_month_of_report_{month}.report_type HAVING count(DISTINCT pan_month_of_report_{month}.month) = {pan_month_of_report} ORDER BY (count(DISTINCT pan_month_of_report_{month}.month)) DESC), cte2 AS (SELECT {month}_pans_credit.pan,{month}_pans_credit.max_freq,{month}_pans_credit.max_len,{month}_pans_credit.credit_amount,{month}_pans_credit.cash_dep_ratio,{month}_pans_credit.cash_wid_ratio FROM monthly_{reporttype}.{month}_pans_credit) SELECT cte2.pan,cte2.max_freq,cte2.max_len,cte2.credit_amount,cte2.cash_dep_ratio,cte2.cash_wid_ratio FROM cte2 WHERE (cte2.pan IN ( SELECT DISTINCT cte1.pan FROM cte1)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_repeated_pans_credit")

credit_main_without_repeated_excluded_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_credit_main_without_repeated_excluded_pan TABLESPACE pg_default AS WITH cte1 AS (SELECT {month}_excluded_pans_{reporttype}.pan, {month}_excluded_pans_{reporttype}.holdername FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}), cte2 AS (SELECT {month}_repeated_pans_credit.pan,{month}_repeated_pans_credit.max_freq FROM monthly_{reporttype}.{month}_repeated_pans_credit), cte3 AS (SELECT a.pan FROM cte1 a UNION SELECT b.pan FROM cte2 b) SELECT {month}_pans_credit.pan,{month}_pans_credit.max_freq,{month}_pans_credit.max_len,{month}_pans_credit.credit_amount,{month}_pans_credit.cash_dep_ratio,{month}_pans_credit.cash_wid_ratio FROM monthly_{reporttype}.{month}_pans_credit WHERE NOT ({month}_pans_credit.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_credit_main_without_repeated_excluded_pan")

credit_excluded_pans_without_repeated_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_credit_excluded_pans_without_repeated_pan TABLESPACE pg_default AS WITH cte1 AS ( SELECT {month}_pans_credit.pan,{month}_pans_credit.max_freq,{month}_pans_credit.max_len,{month}_pans_credit.credit_amount,{month}_pans_credit.cash_dep_ratio,{month}_pans_credit.cash_wid_ratio,{month}_pans_credit.credit_amount_in_cr FROM monthly_{reporttype}.{month}_pans_credit), cte2 AS ( 	SELECT cte1.pan, cte1.max_freq,            cte1.max_len,            cte1.credit_amount,            cte1.cash_dep_ratio,            cte1.cash_wid_ratio,            cte1.credit_amount_in_cr FROM cte1          WHERE (cte1.pan IN ( SELECT {month}_excluded_pans_{reporttype}.pan                   FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}))     ), cte3 AS ( SELECT {month}_repeated_pans_credit.pan FROM monthly_{reporttype}.{month}_repeated_pans_credit) SELECT cte2.pan,    cte2.max_freq,    cte2.max_len,    cte2.credit_amount,    cte2.cash_dep_ratio,    cte2.cash_wid_ratio   FROM cte2 WHERE NOT (cte2.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_credit_excluded_pans_without_repeated_pan")

* **Debit**

In [ ]:
print('Materialized Views for Debit:\n')
accounts_ntr_debit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_accounts_debit TABLESPACE pg_default AS SELECT {month}_{reporttype}_holder_totals_pan.facc,{month}_{reporttype}_holder_totals_pan.fiureid, {month}_{reporttype}_holder_totals_pan.accountnum,{month}_{reporttype}_holder_totals_pan.holdername,{month}_{reporttype}_holder_totals_pan.debit_amount,{month}_{reporttype}_holder_totals_pan.debit_amount / 10000000::numeric::double precision AS debit_amount_in_cr,{month}_{reporttype}_holder_totals_pan.pan FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan  ORDER BY {month}_{reporttype}_holder_totals_pan.debit_amount DESC LIMIT 5000 WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_accounts_debit created")

pan_debit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_pans_debit TABLESPACE pg_default AS WITH cte1 AS (SELECT {month}_{reporttype}_holder_totals_pan.pan,{month}_{reporttype}_holder_totals_pan.holdername,count(1) AS cnt FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan GROUP BY {month}_{reporttype}_holder_totals_pan.holdername, {month}_{reporttype}_holder_totals_pan.pan ), cte2 AS ( SELECT cte1.pan, cte1.holdername, row_number() OVER (PARTITION BY cte1.pan ORDER BY cte1.cnt DESC) AS rnk FROM cte1 ), cte3 AS ( SELECT {month}_{reporttype}_holder_totals_pan.pan, row_number() OVER (PARTITION BY {month}_{reporttype}_holder_totals_pan.pan ORDER BY (length({month}_{reporttype}_holder_totals_pan.holdername)) DESC) AS rr, {month}_{reporttype}_holder_totals_pan.holdername FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan ) SELECT a.pan, c.holdername AS max_freq, b.holdername AS max_len, sum(a.debit_amount) AS debit_amount, CASE WHEN sum(a.cumulativecrturnover) <> 0::numeric THEN (sum(a.cumulativecashdpstturnover) / sum(a.cumulativecrturnover) * 100::numeric) WHEN sum(a.cumulativecrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_dep_ratio, CASE WHEN sum(a.cumulativedrturnover) <> 0::numeric THEN (sum(a.cumulativecashwdturnover) / sum(a.cumulativedrturnover) * 100::numeric) WHEN sum(a.cumulativedrturnover) = 0::numeric THEN '-1'::integer::numeric ELSE NULL::numeric END AS cash_wid_ratio, sum(a.debit_amount) / 10000000::numeric::double precision AS debit_amount_in_cr   FROM monthly_{reporttype}.{month}_{reporttype}_holder_totals_pan a JOIN ( SELECT cte2.pan, cte2.holdername, cte2.rnk FROM cte2 WHERE cte2.rnk = 1) c ON c.pan = a.pan JOIN ( SELECT cte3.pan, cte3.holdername, cte3.rr FROM cte3 WHERE cte3.rr = 1) b ON b.pan = c.pan  GROUP BY a.pan, c.holdername, b.holdername  ORDER BY (sum(a.debit_amount)) DESC WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_pans_debit")

#print('In the repeated pan code, change the pan_month_of_report.month to the last month analysis')
repeated_pans_debit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_repeated_pans_debit TABLESPACE pg_default AS  WITH cte1 AS ( SELECT DISTINCT pan_month_of_report_{month}.pan,pan_month_of_report_{month}.report_type,count(DISTINCT pan_month_of_report_{month}.month) AS month FROM monthly_report.pan_month_of_report_{month} WHERE pan_month_of_report_{month}.report_type = 'debit_{reporttype}'::text   GROUP BY pan_month_of_report_{month}.pan, pan_month_of_report_{month}.report_type HAVING count(DISTINCT pan_month_of_report_{month}.month) = {pan_month_of_report} ORDER BY (count(DISTINCT pan_month_of_report_{month}.month)) DESC), cte2 AS (SELECT {month}_pans_debit.pan,{month}_pans_debit.max_freq,{month}_pans_debit.max_len,{month}_pans_debit.debit_amount,{month}_pans_debit.cash_dep_ratio,{month}_pans_debit.cash_wid_ratio  FROM monthly_{reporttype}.{month}_pans_debit) SELECT cte2.pan,cte2.max_freq,cte2.max_len,cte2.debit_amount,cte2.cash_dep_ratio,cte2.cash_wid_ratio FROM cte2 WHERE (cte2.pan IN ( SELECT DISTINCT cte1.pan FROM cte1)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_repeated_pans_debit")

debit_main_without_repeated_excluded_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_debit_main_without_repeated_excluded_pan TABLESPACE pg_default AS WITH cte1 AS (SELECT {month}_excluded_pans_{reporttype}.pan, {month}_excluded_pans_{reporttype}.holdername FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}), cte2 AS (SELECT {month}_repeated_pans_debit.pan,{month}_repeated_pans_debit.max_freq FROM monthly_{reporttype}.{month}_repeated_pans_debit), cte3 AS (SELECT a.pan FROM cte1 a UNION SELECT b.pan FROM cte2 b) SELECT {month}_pans_debit.pan,{month}_pans_debit.max_freq,{month}_pans_debit.max_len,{month}_pans_debit.debit_amount,{month}_pans_debit.cash_dep_ratio,{month}_pans_debit.cash_wid_ratio FROM monthly_{reporttype}.{month}_pans_debit WHERE NOT ({month}_pans_debit.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_debit_main_without_repeated_excluded_pan")

debit_excluded_pans_without_repeated_pan = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_debit_excluded_pans_without_repeated_pan TABLESPACE pg_default AS WITH cte1 AS ( SELECT {month}_pans_debit.pan,{month}_pans_debit.max_freq,{month}_pans_debit.max_len,{month}_pans_debit.debit_amount,{month}_pans_debit.cash_dep_ratio,{month}_pans_debit.cash_wid_ratio,{month}_pans_debit.debit_amount_in_cr FROM monthly_{reporttype}.{month}_pans_debit), cte2 AS ( 	SELECT cte1.pan, cte1.max_freq,            cte1.max_len,            cte1.debit_amount,            cte1.cash_dep_ratio,            cte1.cash_wid_ratio,            cte1.debit_amount_in_cr FROM cte1          WHERE (cte1.pan IN ( SELECT {month}_excluded_pans_{reporttype}.pan                   FROM monthly_{reporttype}.{month}_excluded_pans_{reporttype}))     ), cte3 AS ( SELECT {month}_repeated_pans_debit.pan FROM monthly_{reporttype}.{month}_repeated_pans_debit) SELECT cte2.pan,    cte2.max_freq,    cte2.max_len,    cte2.debit_amount,    cte2.cash_dep_ratio,    cte2.cash_wid_ratio   FROM cte2 WHERE NOT (cte2.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_debit_excluded_pans_without_repeated_pan")

##### ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### STR

In [159]:
reporttype ='str'
print('Report type is:',reporttype)
print('Month of analysis :',month)

Report type is: str
Month of analysis : dec22

In [160]:
file_path = path +'\\'+month_report_format+ f'\Data\SAL_{reporttype.upper()}_{month[:3].upper()}2022'
file_path

'C:\\Users\\SAL008\\Desktop\\Ravi\\Monthly Report\\Dec 2022\\Data\\SAL_STR_DEC2022'

* **Resetting the Database Connection**

In [161]:
try:
    pengine = create_engine('postgresql+psycopg2://postgres:sal@123@localhost:5432/postgres')

    conn = psycopg2.connect(database = 'postgres', user = 'postgres', password = 'sal@123',host = "localhost",port= 5432)
    conn.autocommit = True

    cursor = conn.cursor()
except:
    print("Unable to create the Postgres DB connection")

db_conn=pengine.connect()
print("\n Postgres database connected succesfully")

 Postgres database connected succesfully

In [163]:
# #EFT
monthly_str_query = "CREATE SCHEMA IF NOT EXISTS %s AUTHORIZATION %s;"
monthly_str = (AsIs(f'monthly_{reporttype}'),AsIs('postgres'))
cursor.execute(monthly_str_query,monthly_str)

In [164]:
f'{month}_batch_{reporttype}'

'dec22_batch_str'

##### Batch

In [142]:
batch = pd.read_csv(file_path + '\BATCH.csv')
batch_str = batch[(batch['BATCHID'] >=min_batchid) & (batch['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} BATCH file:',batch_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} BATCH file:',batch_str['BATCHID'].max())
print(f'BATCH file for {reporttype} has {batch_str.shape[0]} rows and {batch_str.shape[1]} columns')

#Loweing the column headers
batch_str.columns=[col.lower() for col in batch_str.columns]
# Data insertion to Postgres
batch_str.to_sql(f'{month}_batch_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"Batch file inserted into {month}_batch_{reporttype} with {batch_str.shape[0]} rows")

Minimum batch id for str BATCH file: 2206018303
Maximum batch id for str BATCH file: 2206301753
BATCH file for str has 7173 rows and 33 columns
Batch file inserted into jun22_batch_str with 7173 rows

In [165]:
ARFbatch = pd.read_csv(file_path + '\ARFBATCH.csv')
batch_str_arf = ARFbatch[(ARFbatch['BATCHID'] >=min_batchid) & (ARFbatch['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} BATCH file:',batch_str_arf['BATCHID'].min())
print(f'Maximum batch id for {reporttype} BATCH file:',batch_str_arf['BATCHID'].max())
print(f'BATCH file for {reporttype} has {batch_str_arf.shape[0]} rows and {batch_str_arf.shape[1]} columns')

#Loweing the column headers
batch_str_arf.columns=[col.lower() for col in batch_str_arf.columns]

Minimum batch id for str BATCH file: 2212017446
Maximum batch id for str BATCH file: 2212315501
BATCH file for str has 10124 rows and 33 columns

In [166]:
TRFbatch = pd.read_csv(file_path + '\TRFBATCH.csv')
batch_str_trf = TRFbatch[(TRFbatch['BATCHID'] >=min_batchid) & (TRFbatch['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} BATCH file:',batch_str_trf['BATCHID'].min())
print(f'Maximum batch id for {reporttype} BATCH file:',batch_str_trf['BATCHID'].max())
print(f'BATCH file for {reporttype} has {batch_str_trf.shape[0]} rows and {batch_str_trf.shape[1]} columns')

#Loweing the column headers
batch_str_trf.columns=[col.lower() for col in batch_str_trf.columns]

Minimum batch id for str BATCH file: 2212017479
Maximum batch id for str BATCH file: 2212315230
BATCH file for str has 448 rows and 33 columns

In [173]:
batch_str=pd.concat([batch_str_arf,batch_str_trf])
# print(f'Minimum batch id for {reporttype} BATCH file:',batch_str['BATCHID'].min())
# print(f'Maximum batch id for {reporttype} BATCH file:',batch_str['BATCHID'].max())
# print(f'BATCH file for {reporttype} has {batch_str.shape[0]} rows and {batch_str.shape[1]} columns')

In [175]:

# Data insertion to Postgres
batch_str.to_sql(f'{month}_batch_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"Batch file inserted into {month}_batch_{reporttype} with {batch_str.shape[0]} rows")

Batch file inserted into dec22_batch_str with 10572 rows

##### Report

In [176]:
ARFreport = pd.read_csv(file_path + '\ARFREPORT.csv')
report_str_arf = ARFreport[(ARFreport['BATCHID'] >=min_batchid) & (ARFreport['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} report file:',report_str_arf['BATCHID'].min())
print(f'Maximum batch id for {reporttype} report file:',report_str_arf['BATCHID'].max())
print(f'REPORT file for {month} {reporttype} has {report_str_arf.shape[0]} rows and {report_str_arf.shape[1]} columns')

#Loweing the column headers
report_str_arf.columns=[col.lower() for col in report_str_arf.columns]

Minimum batch id for str report file: 2212017446
Maximum batch id for str report file: 2212315501
REPORT file for dec22 str has 31567 rows and 22 columns

In [177]:
TRFreport = pd.read_csv(file_path + '\TRFREPORT.csv')
report_str_trf = TRFreport[(TRFreport['BATCHID'] >=min_batchid) & (TRFreport['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} report file:',report_str_trf['BATCHID'].min())
print(f'Maximum batch id for {reporttype} report file:',report_str_trf['BATCHID'].max())
print(f'REPORT file for {month} {reporttype} has {report_str_trf.shape[0]} rows and {report_str_trf.shape[1]} columns')

#Loweing the column headers
report_str_trf.columns=[col.lower() for col in report_str.columns]

Minimum batch id for str report file: 2212017479
Maximum batch id for str report file: 2212315230
REPORT file for dec22 str has 4042 rows and 22 columns

In [179]:
report_str=pd.concat([report_str_arf,report_str_trf])
# print(f'Minimum batch id for {reporttype} report file:',report_str['BATCHID'].min())
# print(f'Maximum batch id for {reporttype} report file:',report_str['BATCHID'].max())
# print(f'REPORT file for {month} {reporttype} has {report_str.shape[0]} rows and {report_str.shape[1]} columns')

In [181]:
# Data insertion to Postgres
report_str.to_sql(f'{month}_report_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"\n Report file inserted into {month}_report_{reporttype} with {report_str.shape[0]} rows")

 Report file inserted into dec22_report_str with 35609 rows

In [143]:
report = pd.read_csv(file_path + '\REPORT.csv')
report_str = report[(report['BATCHID'] >=min_batchid) & (report['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} report file:',report_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} report file:',report_str['BATCHID'].max())
print(f'REPORT file for {month} {reporttype} has {report_str.shape[0]} rows and {report_str.shape[1]} columns')

#Loweing the column headers
report_str.columns=[col.lower() for col in report_str.columns]
# Data insertion to Postgres
report_str.to_sql(f'{month}_report_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"\n Report file inserted into {month}_report_{reporttype} with {report_str.shape[0]} rows")

Minimum batch id for str report file: 2206018303
Maximum batch id for str report file: 2206301753
REPORT file for jun22 str has 30048 rows and 22 columns

 Report file inserted into jun22_report_str with 30048 rows

##### ARFBRC

In [144]:
arfbrc = pd.read_csv(file_path + '\ARFBRC.csv')
arfbrc_str = arfbrc[(arfbrc['BATCHID'] >=min_batchid) & (arfbrc['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfbrc file:',arfbrc_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfbrc file:',arfbrc_str['BATCHID'].max())
print(f'arfBRC file for {month} {reporttype} has {arfbrc_str.shape[0]} rows and {arfbrc_str.shape[1]} columns')

#Loweing the column headers
arfbrc_str.columns=[col.lower() for col in arfbrc_str.columns]
# Data insertion to Postgres
arfbrc_str.to_sql(f'{month}_arfbrc_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"\n Batch file inserted into {month}_arfbrc_{reporttype} with {arfbrc_str.shape[0]} rows")

Minimum batch id for str arfbrc file: 2206018303
Maximum batch id for str arfbrc file: 2206301753
arfBRC file for jun22 str has 40292 rows and 23 columns

 Batch file inserted into jun22_arfbrc_str with 40292 rows

#### ARFLPE

In [145]:
arflpe = pd.read_csv(file_path + '\ARFLPE.csv')
arflpe_str = arflpe[(arflpe['BATCHID'] >=min_batchid) & (arflpe['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arflpe file:',arflpe_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arflpe file:',arflpe_str['BATCHID'].max())
print(f'arfLPE file for {reporttype} has {arflpe_str.shape[0]} rows and {arflpe_str.shape[1]} columns')

#Lower the Columns
arflpe_str.columns = [col.lower() for col in arflpe_str.columns]
#Insert data to postgres
arflpe_str.to_sql(f'{month}_arflpe_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"arfLPE file inserted into {month}_arflpe_{reporttype} with {arflpe_str.shape[0]} rows")

Minimum batch id for str arflpe file: 2206018303
Maximum batch id for str arflpe file: 2206301741
arfLPE file for str has 11389 rows and 36 columns
arfLPE file inserted into jun22_arflpe_str with 11389 rows

#### ARFINP

In [146]:
arfinp = pd.read_csv(file_path + '\ARFINP.csv')
arfinp_str = arfinp[(arfinp['BATCHID'] >=min_batchid) & (arfinp['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfinp file:',arfinp_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfinp file:',arfinp_str['BATCHID'].max())
print(f'arfinp file for {reporttype} has {arfinp_str.shape[0]} rows and {arfinp_str.shape[1]} columns')

#Lower the Columns
arfinp_str.columns = [col.lower() for col in arfinp_str.columns]
#Insert data to postgres
arfinp_str.to_sql(f'{month}_arfinp_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"arfinp file inserted into {month}_arfinp_{reporttype} with {arfinp_str.shape[0]} rows")

Minimum batch id for str arfinp file: 2206018303
Maximum batch id for str arfinp file: 2206301753
arfinp file for str has 46207 rows and 40 columns
arfinp file inserted into jun22_arfinp_str with 46207 rows

#### Create and Insert data into TRNINP_LPE table under monthly_str schema

In [147]:
cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_arfinp_lpe_{reporttype}\
                    ( batchid bigint, rptsernum bigint, \
                    personname text COLLATE pg_catalog."default", pan text COLLATE pg_catalog."default" )  \
                    TABLESPACE pg_default; ALTER TABLE IF EXISTS monthly_{reporttype}.{month}_trfinp_lpe_{reporttype}    \
                    OWNER to postgres;')

In [148]:
cursor.execute(f'insert into monthly_{reporttype}.{month}_arfinp_lpe_{reporttype} \
                    select distinct batchid, rptsernum ,  personname, pan \
                    from monthly_{reporttype}.{month}_arfinp_{reporttype} \
                    union \
                    select distinct batchid, rptsernum ,  personname, pan \
                    from monthly_{reporttype}.{month}_arflpe_{reporttype}')

print(f"arfinp file inserted into monthly_{reporttype}.{month}_arfinp_lpe_{reporttype} ")

arfinp file inserted into monthly_str.jun22_arfinp_lpe_str

#### ARFACC

In [149]:
arfacc = pd.read_csv(file_path + '\ARFACC.csv')
arfacc_str = arfacc[(arfacc['BATCHID'] >=min_batchid) & (arfacc['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfacc file:',arfacc_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfacc file:',arfacc_str['BATCHID'].max())
print(f'arfacc file for {reporttype} has {arfacc_str.shape[0]} rows and {arfacc_str.shape[1]} columns')

#Lower the Columns
arfacc_str.columns = [col.lower() for col in arfacc_str.columns]
#Insert data to postgres
arfacc_str.to_sql(f'{month}_arfacc_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"arfacc file inserted into {month}_arfacc_{reporttype} with {arfacc_str.shape[0]} rows")

Minimum batch id for str arfacc file: 2206018303
Maximum batch id for str arfacc file: 2206301753
arfacc file for str has 40291 rows and 21 columns
arfacc file inserted into jun22_arfacc_str with 40291 rows

##### TRFBRC

In [150]:
trfbrc = pd.read_csv(file_path + '\TRFBRC.csv')
trfbrc_str = trfbrc[(trfbrc['BATCHID'] >=min_batchid) & (trfbrc['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfbrc file:',trfbrc_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfbrc file:',trfbrc_str['BATCHID'].max())
print(f'TRFBRC file for {month} {reporttype} has {trfbrc_str.shape[0]} rows and {trfbrc_str.shape[1]} columns')

#Lower the Columns
trfbrc_str.columns = [col.lower() for col in trfbrc_str.columns]
#Insert data to postgres
trfbrc_str.to_sql(f'{month}_trfbrc_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"TRFBRC file inserted into {month}_trfbrc_str_{reporttype} with {trfbrc_str.shape[0]} rows")

Minimum batch id for str arfbrc file: 2206018333
Maximum batch id for str arfbrc file: 2206301726
TRFBRC file for jun22 str has 16165 rows and 23 columns
TRFBRC file inserted into jun22_trfbrc_str_str with 16165 rows

#### TRFTRN

In [151]:
trftrn = pd.read_csv(file_path + '\TRFTRN.csv')
trftrn_str = trftrn[(trftrn['BATCHID'] >=min_batchid) & (trftrn['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} trflpe file:',trftrn_str['BATCHID'].min())
print(f'Maximum batch id for {reporttype} trflpe file:',trftrn_str['BATCHID'].max())
print(f'TRFTRN file for {reporttype} has {trftrn_str.shape[0]} rows and {trftrn_str.shape[1]} columns')

#Lower the Columns
trftrn_str.columns = [col.lower() for col in trftrn_str.columns]
#Insert data to postgres
trftrn_str.to_sql(f'{month}_trftrn_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"TRFTRN file inserted into {month}_trftrn_str_{reporttype} with {trftrn_str.shape[0]} rows")

Minimum batch id for str trflpe file: 2206018333
Maximum batch id for str trflpe file: 2206301726
TRFTRN file for str has 96276 rows and 55 columns
TRFTRN file inserted into jun22_trftrn_str_str with 96276 rows

##### ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### EFT

In [46]:
month = 'sep22'
print('Analysis month -',month)
month_cc = Camel_Case(month)
print('Analysis month in Camel Case -',month_cc)
#month_report_format = format(month_cc[0:3] +' '+str(datetime.now().year))
month_report_format = format(month_cc[0:3] +' '+'20'+month[3:5])
print('Analysis month in reporting format -',month_report_format)

Analysis month - sep22
Analysis month in Camel Case - Sep22
Analysis month in reporting format - Sep 2022

In [47]:
reporttype ='eft'
print('Report type is:',reporttype)
print('Month of analysis :',month)

Report type is: eft
Month of analysis : sep22

In [48]:
min_batchid = 2209010000
print('Start BATCHID:',min_batchid)

max_batchid = 2209309999
print('End BATCHID:',max_batchid)

Start BATCHID: 2209010000
End BATCHID: 2209309999

In [49]:
file_path = path +'\\'+month_report_format+ f'\Data\SAL_{reporttype.upper()}_{month[:3].upper()}2022'
file_path

'C:\\Users\\SAL008\\Desktop\\Ravi\\Monthly Report\\Sep 2022\\Data\\SAL_EFT_SEP2022'

In [50]:
pengine = create_engine('postgresql+psycopg2://postgres:sal@123@localhost:5432/postgres')

conn = psycopg2.connect(database = 'postgres', user = 'postgres', password = 'sal@123',host = "localhost",port= 5432)
conn.autocommit = True
cursor = conn.cursor()
db_conn=pengine.connect()

In [51]:
# #EFT
monthly_eft_query = "CREATE SCHEMA IF NOT EXISTS %s AUTHORIZATION %s;"
monthly_eft = (AsIs(f'monthly_{reporttype}'),AsIs('postgres'))
cursor.execute(monthly_eft_query,monthly_eft)

##### Batch

In [52]:
batch = pd.read_csv(file_path + '\BATCH.csv')
batch_eft = batch[(batch['BATCHID'] >=min_batchid) & (batch['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} BATCH file:',batch_eft['BATCHID'].min())
print(f'Maximum batch id for {reporttype} BATCH file:',batch_eft['BATCHID'].max())
print(f'BATCH file for {reporttype} has {batch_eft.shape[0]} rows and {batch_eft.shape[1]} columns')

Minimum batch id for eft BATCH file: 2209036210
Maximum batch id for eft BATCH file: 2209292717
BATCH file for eft has 1522 rows and 33 columns

##### Report

In [53]:
report = pd.read_csv(file_path + '\REPORT.csv')
report_eft = report[(report['BATCHID'] >=min_batchid) & (report['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} report file:',report_eft['BATCHID'].min())
print(f'Maximum batch id for {reporttype} report file:',report_eft['BATCHID'].max())
print(f'REPORT file for {month} {reporttype} has {report_eft.shape[0]} rows and {report_eft.shape[1]} columns')

Minimum batch id for eft report file: 2209036210
Maximum batch id for eft report file: 2209292717
REPORT file for sep22 eft has 1203400 rows and 22 columns

##### TRFBRC

In [54]:
trfbrc = pd.read_csv(file_path + '\TRFBRC.csv')
trfbrc_eft = trfbrc[(trfbrc['BATCHID'] >=min_batchid) & (trfbrc['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} arfbrc file:',trfbrc_eft['BATCHID'].min())
print(f'Maximum batch id for {reporttype} arfbrc file:',trfbrc_eft['BATCHID'].max())
print(f'TRFBRC file for {month} {reporttype} has {trfbrc_eft.shape[0]} rows and {trfbrc_eft.shape[1]} columns')

Minimum batch id for eft arfbrc file: 2209036210
Maximum batch id for eft arfbrc file: 2209292717
TRFBRC file for sep22 eft has 2703773 rows and 23 columns

##### TRFTRN

In [21]:
# cursor.execute(f'  CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_trftrn_{reporttype} (     batchid bigint,     rptsernum bigint,     transactiondate text COLLATE pg_catalog."default",     transactiontime text COLLATE pg_catalog."default",     transactionrefnum text COLLATE pg_catalog."default",     transactiontype text COLLATE pg_catalog."default",     instrumenttype text COLLATE pg_catalog."default",     transactioninstname text COLLATE pg_catalog."default",     transactioninstrefnum text COLLATE pg_catalog."default",     transactionstatecode text COLLATE pg_catalog."default",     transactioncountrycode text COLLATE pg_catalog."default",     pymtinstrumentnum text COLLATE pg_catalog."default",     pymtinstrumentissueinstname text COLLATE pg_catalog."default",     instrumentissueinstrefnum text COLLATE pg_catalog."default",     instrumentcountrycode text COLLATE pg_catalog."default",     amountrupees bigint,     amountforeigncurrency bigint,     currencyoftransaction text COLLATE pg_catalog."default",     purposeoftransaction text COLLATE pg_catalog."default",     purposecode text COLLATE pg_catalog."default",     riskrating text COLLATE pg_catalog."default",     customername text COLLATE pg_catalog."default",     customerid text COLLATE pg_catalog."default",     occupation text COLLATE pg_catalog."default",     dob text COLLATE pg_catalog."default",     gender text COLLATE pg_catalog."default",     nationality text COLLATE pg_catalog."default",     identificationtype text COLLATE pg_catalog."default",     identificationnum text COLLATE pg_catalog."default",     issuingauthority text COLLATE pg_catalog."default",     placeofissue text COLLATE pg_catalog."default",     pan text COLLATE pg_catalog."default",     uin text COLLATE pg_catalog."default",     address text COLLATE pg_catalog."default",     city text COLLATE pg_catalog."default",     statecode text COLLATE pg_catalog."default",     pincode text COLLATE pg_catalog."default",     countrycode text COLLATE pg_catalog."default",     telephone text COLLATE pg_catalog."default",     mobile text COLLATE pg_catalog."default",     fax text COLLATE pg_catalog."default",     email text COLLATE pg_catalog."default",     accountnum text COLLATE pg_catalog."default",     accountwithinstname text COLLATE pg_catalog."default",     accountwithinstrefnum text COLLATE pg_catalog."default",     relatedinstname text COLLATE pg_catalog."default",     instrelationflag text COLLATE pg_catalog."default",     relatedinstrefnum text COLLATE pg_catalog."default",     remarks text COLLATE pg_catalog."default",     deletedflag text COLLATE pg_catalog."default",     creationdate text COLLATE pg_catalog."default",     createdby text COLLATE pg_catalog."default",     xmlindexid text COLLATE pg_catalog."default",     reportxmlindexid text COLLATE pg_catalog."default",     batchxmlindexid text COLLATE pg_catalog."default",     country_in bigint,     tytype_in bigint )  TABLESPACE pg_default;  ALTER TABLE IF EXISTS monthly_{reporttype}.{month}_trftrn_{reporttype}     OWNER to postgres;')

In [196]:
trftrn = pd.read_csv(file_path + '\TRFTRN.csv',chunksize = 10000,iterator = True, error_bad_lines=False,encoding='latin1',sep=',')

In [182]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [202]:
trftrn = pd.read_csv(file_path + '\TRFTRN.csv',chunksize = 10000,iterator = True,encoding='latin', engine='python',error_bad_lines=False)

In [204]:
trftrn = pd.read_csv(file_path + '\TRFTRN.csv',encoding='latin', engine='python',error_bad_lines=False)

Skipping line 1247707: NULL byte detected. This byte cannot be processed in Python's native csv library at the moment, so please pass in engine='c' instead

In [205]:
trftrn.shape

(1247705, 55)

In [168]:
#trftrn = pd.read_csv(file_path + '\TRFTRN.csv',quoting=csv.QUOTE_NONE)

In [169]:
f'{month}_trftrn_{reporttype}'

'sep22_trftrn_eft'

In [191]:
c_list=list(df.columns)

In [174]:
c_list[0]

'batchid'

In [171]:
df.head()

,batchid,rptsernum,transactiondate,transactiontime,transactionrefnum,transactiontype,instrumenttype,transactioninstname,transactioninstrefnum,transactionstatecode,transactioncountrycode,pymtinstrumentnum,pymtinstrumentissueinstname,instrumentissueinstrefnum,instrumentcountrycode,amountrupees,amountforeigncurrency,currencyoftransaction,purposeoftransaction,purposecode,riskrating,customername,customerid,occupation,dob,gender,nationality,identificationtype,identificationnum,issuingauthority,placeofissue,pan,uin,address,city,statecode,pincode,countrycode,telephone,mobile,fax,email,accountnum,accountwithinstname,accountwithinstrefnum,relatedinstname,instrelationflag,relatedinstrefnum,remarks,deletedflag,creationdate,createdby,xmlindexid,reportxmlindexid,batchxmlindexid
1230000,2209143926,181210,2022-08-02,NaN,S86055233,R,E,HSBC BANK,HSBC0110007,XX,IN,,NaN,NaN,XX,901888,901888,INR,Compensation of employees,P1401,T3,VIJAYANT KUMAR,NaN,,NaN,X,XX,Z,NaN,,,,,HSBC0110007 499151140006,NaN,XX,NaN,XX,NaN,NaN,,,499151140006,HSBC BANK,HSBC0110007,ICICI Bank Ltd,F,ICICINBBNRI,SRS/IMC020822416/C+GST0/INREM/20220802164417,NaN,16-SEP-22,FINCOREBACKUP1,1,644,1
1230001,2209143927,182951,2022-08-08,NaN,S8440793,R,E,"ICICI BANK LTD,F.P.HOUSE NARIMAN POINT MUMBAI",0004,XX,IN,,NaN,NaN,XX,648754,648754,INR,Compensation of employees,P1401,T3,SUNIL KUMAR SINGH,511078396.0,SALARIED - PRIVATE LIMITED,1980-08-11,M,XX,C,EPCPS7580J,,,EPCPS7580J,EPCPS7580J,"VILL+POST BIHTA,P.S IMADPUR,DIST,BHOJPUR,ARA,BIHAR,NR ARA MACHINE,,,ARRAH,802209,BIHAR,INDIA",ARRAH,BR,802209.0,IN,NaN,NaN,,ROHIT.CAPTAIN.SINGH159@GMAIL.COM,041901075027,"ICICI BANK LTD,F.P.HOUSE NARIMAN POINT MUMBAI",0004,ICICI BANK UK,F,000405075257,SRS/DUK040820221/C+GST0/INREM/20220808210724,NaN,16-SEP-22,FINCOREBACKUP1,1,99,1
1230002,2209143927,182951,2022-08-08,NaN,S8440793,P,E,ICICI BANK UK,000405075257,XX,GB,,NaN,NaN,XX,648754,648754,INR,Compensation of employees,P1401,T3,ATLANTAS SHIP MANAGEMENT LTD,NaN,,NaN,X,XX,Z,NaN,,,,,"PORTLAND HOUSE 69-71 WEMBLEY HILL ROAD, WEMBLEY, MIDDLESEX, ENGLAND, HA9 8BU",NaN,XX,NaN,XX,NaN,NaN,,,ASM,ICICI BANK UK,000405075257,ICICI BANK UK,E,000405075257,SRS/DUK040820221/C+GST0/INREM/20220808210724,NaN,16-SEP-22,FINCOREBACKUP1,2,99,1
1230003,2209143927,182952,2022-08-08,NaN,S8441284,R,E,"ICICI BANK LTD,F.P.HOUSE NARIMAN POINT MUMBAI",0004,XX,IN,,NaN,NaN,XX,1236426,1236426,INR,Compensation of employees,P1401,T3,NAMBIDASAN BALAKRISHNAN,76225875.0,SALARIED - PRIVATE LIMITED,1964-01-28,M,XX,C,ACXPN7444C,,,ACXPN7444C,ACXPN7444C,"NO 89,KRISHNA ESTATE,KANATHUR,REDDY KUPPAM,,,,KANCHIPURAM,603112,TAMIL NADU,INDIA",KANCHIPURAM,TN,603112.0,IN,NaN,NaN,,BEENAADAAS@GMAIL.COM,613401202507,"ICICI BANK LTD,F.P.HOUSE NARIMAN POINT MUMBAI",0004,ICICI BANK UK,F,000405075257,SRS/CRM040820222/C+GST0/INREM/20220808210725,NaN,16-SEP-22,FINCOREBACKUP1,1,100,1
1230004,2209143927,182952,2022-08-08,NaN,S8441284,P,E,ICICI BANK UK,000405075257,XX,GB,,NaN,NaN,XX,1236426,1236426,INR,Compensation of employees,P1401,T3,ATLANTAS SHIP MANAGEMENT LTD,NaN,,NaN,X,XX,Z,NaN,,,,,"PORTLAND HOUSE 69-71 WEMBLEY HILL ROAD, WEMBLEY, MIDDLESEX, ENGLAND, HA9 8BU",NaN,XX,NaN,XX,NaN,NaN,,,ASM,ICICI BANK UK,000405075257,ICICI BANK UK,E,000405075257,SRS/CRM040820222/C+GST0/INREM/20220808210725,NaN,16-SEP-22,FINCOREBACKUP1,2,100,1

In [172]:
f'{month}_trftrn_{reporttype}'

'sep22_trftrn_eft'

In [166]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [190]:
df.columns

Index(['BATCHID', 'RPTSERNUM', 'TRANSACTIONDATE', 'TRANSACTIONTIME',
       'TRANSACTIONREFNUM', 'TRANSACTIONTYPE', 'INSTRUMENTTYPE',
       'TRANSACTIONINSTNAME', 'TRANSACTIONINSTREFNUM', 'TRANSACTIONSTATECODE',
       'TRANSACTIONCOUNTRYCODE', 'PYMTINSTRUMENTNUM',
       'PYMTINSTRUMENTISSUEINSTNAME', 'INSTRUMENTISSUEINSTREFNUM',
       'INSTRUMENTCOUNTRYCODE', 'AMOUNTRUPEES', 'AMOUNTFOREIGNCURRENCY',
       'CURRENCYOFTRANSACTION', 'PURPOSEOFTRANSACTION', 'PURPOSECODE',
       'RISKRATING', 'CUSTOMERNAME', 'CUSTOMERID', 'OCCUPATION', 'DOB',
       'GENDER', 'NATIONALITY', 'IDENTIFICATIONTYPE', 'IDENTIFICATIONNUM',
       'ISSUINGAUTHORITY', 'PLACEOFISSUE', 'PAN', 'UIN', 'ADDRESS', 'CITY',
       'STATECODE', 'PINCODE', 'COUNTRYCODE', 'TELEPHONE', 'MOBILE', 'FAX',
       'EMAIL', 'ACCOUNTNUM', 'ACCOUNTWITHINSTNAME', 'ACCOUNTWITHINSTREFNUM',
       'RELATEDINSTNAME', 'INSTRELATIONFLAG', 'RELATEDINSTREFNUM', 'REMARKS',
       'DELETEDFLAG', 'CREATIONDATE', 'CREATEDBY', 'XMLINDEXID',
       'REPORTXMLINDEXID', 'BATCHXMLINDEXID'],
      dtype='object')

In [208]:
trftrn.to_sql(f'{month}_trftrn_{reporttype}',pengine,schema='monthly_eft',if_exists='append',index=False)

KeyboardInterrupt:

In [212]:
df_btrn=pd.read_csv(file_path + '\TRFTRN.csv',encoding='latin',error_bad_lines=False,usecols=['BATCHID'])

ParserError: Error tokenizing data. C error: EOF inside string starting at row 1247706

In [211]:
max(df_btrn['BATCHID'])

2209144691

In [206]:
trftrn.head()

,BATCHID,RPTSERNUM,TRANSACTIONDATE,TRANSACTIONTIME,TRANSACTIONREFNUM,TRANSACTIONTYPE,INSTRUMENTTYPE,TRANSACTIONINSTNAME,TRANSACTIONINSTREFNUM,TRANSACTIONSTATECODE,TRANSACTIONCOUNTRYCODE,PYMTINSTRUMENTNUM,PYMTINSTRUMENTISSUEINSTNAME,INSTRUMENTISSUEINSTREFNUM,INSTRUMENTCOUNTRYCODE,AMOUNTRUPEES,AMOUNTFOREIGNCURRENCY,CURRENCYOFTRANSACTION,PURPOSEOFTRANSACTION,PURPOSECODE,RISKRATING,CUSTOMERNAME,CUSTOMERID,OCCUPATION,DOB,GENDER,NATIONALITY,IDENTIFICATIONTYPE,IDENTIFICATIONNUM,ISSUINGAUTHORITY,PLACEOFISSUE,PAN,UIN,ADDRESS,CITY,STATECODE,PINCODE,COUNTRYCODE,TELEPHONE,MOBILE,FAX,EMAIL,ACCOUNTNUM,ACCOUNTWITHINSTNAME,ACCOUNTWITHINSTREFNUM,RELATEDINSTNAME,INSTRELATIONFLAG,RELATEDINSTREFNUM,REMARKS,DELETEDFLAG,CREATIONDATE,CREATEDBY,XMLINDEXID,REPORTXMLINDEXID,BATCHXMLINDEXID
0,2209144484,21001,2022-08-23,NaN,T54SWSW715328,R,E,JP Morgan Chase Bank NA London,CHASGB2L,XX,GB,NaN,NaN,NaN,GB,32806254,411068,USD,Repatriation of Foreign Portfolio Investment made by overseas Investors in India in equity shares,S0009,T3,JPM ASIA GROWTH FUND,6480000771,Open-End Investment Funds,2001-07-09,X,XX,C,AABCJ3846M,Income Tax Dept,India,AABCJ3846M,NaN,60 VICTORIA EMBANKMENT LONDONEC4Y 0JP GREAT BRITAIN AND NORTHERN IRELAND,LONDON,XX,EC4Y0JP,GB,NaN,NaN,NaN,TDS.ACCOUNT.OPENING@RBS.CO.UK,22072,JP Morgan Chase Bank NA London,CHASGB2L,JPMorgan Chase Bank N.A New York Branch,F,CHASUS33,NaN,NaN,16-SEP-22,FINCOREBACKUP1,1,1,1
1,2209144484,21001,2022-08-23,NaN,T54SWSW715328,P,E,"JP MORGAN CHASE BANK, N.A.",CHASINBX,MH,IN,NaN,NaN,NaN,IN,32806254,411068,USD,Repatriation of Foreign Portfolio Investment made by overseas Investors in India in equity shares,S0009,T3,JPM ASIA GROWTH FUND,6480000771,Open-End Investment Funds,2001-07-09,X,XX,C,AABCJ3846M,Income Tax Dept,India,AABCJ3846M,NaN,60 VICTORIA EMBANKMENT LONDONEC4Y 0JP GREAT BRITAIN AND NORTHERN IRELAND,LONDON,XX,EC4Y0JP,GB,NaN,NaN,NaN,TDS.ACCOUNT.OPENING@RBS.CO.UK,5385009823,"JP MORGAN CHASE BANK, N.A.",CHASINBX,JPMorgan Chase Bank N.A New York Branch,E,CHASUS33,NaN,NaN,16-SEP-22,FINCOREBACKUP1,2,1,1
2,2209144484,21002,2022-08-23,NaN,T54SWSW715329,P,E,"JP MORGAN CHASE BANK, N.A.",CHASINBX,MH,IN,NaN,NaN,NaN,IN,12378450,155104,USD,Repatriation of Foreign Portfolio Investment made by overseas Investors in India in equity shares,S0009,T3,JPM ASIA GROWTH FUND,6480000771,Open-End Investment Funds,2001-07-09,X,XX,C,AABCJ3846M,Income Tax Dept,India,AABCJ3846M,NaN,60 VICTORIA EMBANKMENT LONDONEC4Y 0JP GREAT BRITAIN AND NORTHERN IRELAND,LONDON,XX,EC4Y0JP,GB,NaN,NaN,NaN,TDS.ACCOUNT.OPENING@RBS.CO.UK,5385009823,"JP MORGAN CHASE BANK, N.A.",CHASINBX,JPMorgan Chase Bank N.A New York Branch,E,CHASUS33,NaN,NaN,16-SEP-22,FINCOREBACKUP1,1,2,1
3,2209144484,21002,2022-08-23,NaN,T54SWSW715329,R,E,JP Morgan Chase Bank NA London,CHASGB2L,XX,GB,NaN,NaN,NaN,GB,12378450,155104,USD,Repatriation of Foreign Portfolio Investment made by overseas Investors in India in equity shares,S0009,T3,JPM ASIA GROWTH FUND,6480000771,Open-End Investment Funds,2001-07-09,X,XX,C,AABCJ3846M,Income Tax Dept,India,AABCJ3846M,NaN,60 VICTORIA EMBANKMENT LONDONEC4Y 0JP GREAT BRITAIN AND NORTHERN IRELAND,LONDON,XX,EC4Y0JP,GB,NaN,NaN,NaN,TDS.ACCOUNT.OPENING@RBS.CO.UK,22072,JP Morgan Chase Bank NA London,CHASGB2L,JPMorgan Chase Bank N.A New York Branch,F,CHASUS33,NaN,NaN,16-SEP-22,FINCOREBACKUP1,2,2,1
4,2209144484,21003,2022-08-23,NaN,T54SWSW715330,P,E,"JP MORGAN CHASE BANK, N.A.",CHASINBX,MH,IN,NaN,NaN,NaN,IN,1934761,24240,USD,Repatriation of Foreign Portfolio Investment made by overseas Investors in India in equity shares,S0009,T3,VANGUARD EMERGING MKTS STK INDEX FD A SR OF VANGUARD INTL EQ INDEX FDS,6480003220,Open-End Investment Funds,1998-01-23,X,XX,C,AAATY0918K,Income Tax Dept,India,AAATY0918K,NaN,100 VANGUARD BLVD MALVERN PA 193552331UNITED STATES,Malvern,XX,PA19355,US,NaN,NaN,NaN,thomas_j_higgins@vanguard.com,5385202758,"JP MORGAN CHASE BANK, N.A.",CHASINBX,JPMorgan Chase Bank N.A New York Branch,E,CHASUS33,NaN,NaN,16-SEP-22,FINCOREBACKUP1,1,3,1

In [207]:
trftrn.columns=[col.lower() for col in trftrn.columns]

In [203]:
# If you are using the chunksize concept, use this query to insert the data into PostgresDB

for df in trftrn:
    #print(df.shape)
    #
    #df.columns=c_list
    df = df[(df['BATCHID'] >=min_batchid) & (df['BATCHID'] <= max_batchid)]
    #print(df.columns)
    #df=df[list(df.columns)[0:55]]
    #reader=csv.reader(x.replace('\0','')for x in trftrn )
    #print(df.head())
    #print(df.columns)
    #print(len(df.columns))
   
    df.columns=[col.lower() for col in df.columns]
    df.to_sql(f'{month}_trftrn_{reporttype}',pengine,schema='monthly_eft',if_exists='append',index=False)    
    #break

Error: line contains NUL

In [67]:
print(f"TRFTRN EFT file inserted into {month}_trftrn_{reporttype} with {trftrn.shape[0]} rows")

AttributeError: 'TextFileReader' object has no attribute 'shape'

In [77]:
trftrn.info()

AttributeError: 'TextFileReader' object has no attribute 'info'

In [ ]:
# trftrn = pd.read_csv(file_path + '\TRFTRN.csv')
# trftrn_eft = trftrn[(trftrn['BATCHID'] >=min_batchid) & (trftrn['BATCHID'] <= max_batchid)]
# print(f'Minimum batch id for {reporttype} trflpe file:',trftrn_eft['BATCHID'].min())
# print(f'Maximum batch id for {reporttype} trflpe file:',trftrn_eft['BATCHID'].max())
# print(f'TRFLPE file for {reporttype} has {trftrn_eft.shape[0]} rows and {trftrn_eft.shape[1]} columns')

##### Reducing uppercase to lowercase

In [40]:
batch_eft.columns=[col.lower() for col in batch_eft.columns]
report_eft.columns=[col.lower() for col in report_eft.columns]
trfbrc_eft.columns = [col.lower() for col in trfbrc_eft.columns]

##### Insert Data to Postgres

In [41]:
batch_eft.to_sql(f'{month}_batch_{reporttype}',pengine,schema='monthly_eft',if_exists='replace',index=False)
print(f"Batch file inserted into {month}_batch_{reporttype} with {batch_eft.shape[0]} rows")

report_eft.to_sql(f'{month}_report_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f" REPORT file inserted into {month}_batch_{reporttype} with {report_eft.shape[0]} rows")

trfbrc_eft.to_sql(f'{month}_trfbrc_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"TRFBRC file inserted into {month}_batch_{reporttype} with {trfbrc_eft.shape[0]} rows")

# trftrn_eft.to_sql(f'{month}_trflpe_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
# print(f"TRFLPE file inserted into {month}_batch_{reporttype} with {trftrn_eft.shape[0]} rows")

InternalError: (psycopg2.errors.DependentObjectsStillExist) cannot drop table monthly_eft.sep22_batch_eft because other objects depend on it
DETAIL:  materialized view monthly_report.combined_batch_sep22 depends on table monthly_eft.sep22_batch_eft
materialized view monthly_report.batches_without_trn_sep22 depends on table monthly_eft.sep22_batch_eft
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL:
DROP TABLE monthly_eft.sep22_batch_eft]
(Background on this error at: http://sqlalche.me/e/13/2j85)

#### TRFLPE

In [20]:
trflpe = pd.read_csv(path_eft + 'TRFLPE.csv')
trflpe_eft = trflpe[(trflpe['BATCHID'] >=min_batchid) & (trflpe['BATCHID'] <= max_batchid)]
print(f'Minimum batch id for {reporttype} trflpe file:',trflpe_eft['BATCHID'].min())
print(f'Maximum batch id for {reporttype} trflpe file:',trflpe_eft['BATCHID'].max())
print(f'TRFLPE file for {reporttype} has {trflpe_eft.shape[0]} rows and {trflpe_eft.shape[1]} columns')

trflpe_eft.columns = [col.lower() for col in trflpe.columns]

trflpe_eft.to_sql(f'{month}_trflpe_{reporttype}',pengine,schema=f'monthly_{reporttype}',if_exists='replace',index=False)
print(f"TRFLPE file inserted into {month}_batch_{reporttype} with {trflpe_eft.shape[0]} rows")

NameError: name 'path_eft' is not defined

##### TRFINP

In [ ]:
#cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_trfinp_{reporttype} (     batchid bigint,     rptsernum bigint,     personname text COLLATE pg_catalog."default",     customerid text,     relationflag text COLLATE pg_catalog."default",     commaddress text COLLATE pg_catalog."default",     commcity text COLLATE pg_catalog."default",     commstatecode text COLLATE pg_catalog."default",     commpincode text,     commcountrycode text COLLATE pg_catalog."default",     secaddress text COLLATE pg_catalog."default",     seccity text COLLATE pg_catalog."default",     secstatecode text COLLATE pg_catalog."default",     secpincode text COLLATE pg_catalog."default",     seccountrycode text COLLATE pg_catalog."default",     telephone text,     mobile text,     fax text COLLATE pg_catalog."default",     email text COLLATE pg_catalog."default",     pan text COLLATE pg_catalog."default",     uin text,     gender text COLLATE pg_catalog."default",     dob text COLLATE pg_catalog."default",     identificationtype text COLLATE pg_catalog."default",     identificationnum text COLLATE pg_catalog."default",     issuingauthority text COLLATE pg_catalog."default",     placeofissue text,     nationality text COLLATE pg_catalog."default",     placeofwork text COLLATE pg_catalog."default",     fatherorspouse text,     occupation text COLLATE pg_catalog."default",     deletedflag text COLLATE pg_catalog."default",     creationdate text COLLATE pg_catalog."default",     createdby text COLLATE pg_catalog."default",     xmlindexid text COLLATE pg_catalog."default",     reportxmlindexid text,     batchxmlindexid text )  TABLESPACE pg_default;  ALTER TABLE IF EXISTS monthly_{reporttype}.{month}_trfinp_{reporttype}     OWNER to postgres;')

In [ ]:
#trfinp_eft = pd.read_csv(file_path + '\TRFINP.csv',chunksize= 10000,iterator=True)

# sh = []
# i=0
# for df in trfinp_eft:
#     df.columns=[col.lower() for col in df.columns]    
#     sh.append(df.shape)
#     df.to_sql(f'{month}_trfinp_{reporttype}',pengine,schema='monthly_eft',if_exists='append',index=False)
#     i = i+1
# print(f'Transaction data inserted into monthly_{reporttype} schema, {month}_trfinp_{reporttype} table ')
# print((i-1)*10000+sh[-1][0])

# print(f'Minimum batch id for {reporttype} trfinp file:',trfinp_eft['BATCHID'].min())
# print(f'Maximum batch id for {reporttype} trfinp file:',trfinp_eft['BATCHID'].max())
# print(f'TRFINP file for {reporttype} has {trfinp_eft.shape[0]} rows and {trfinp_eft.shape[1]} columns')

#### Create and Insert data into TRNINP_LPE table under monthly_eft schema

In [ ]:
# cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_trfinp_lpe_{reporttype}\
#                     ( batchid bigint, rptsernum bigint, \
#                     personname text COLLATE pg_catalog."default", pan text COLLATE pg_catalog."default" )  \
#                     TABLESPACE pg_default; ALTER TABLE IF EXISTS monthly_{reporttype}.{month}_trfinp_lpe_{reporttype}    \
#                     OWNER to postgres;')

In [ ]:
# cursor.execute(f'insert into monthly_{reporttype}.{month}_trfinp_lpe_{reporttype} \
#                     select distinct batchid, rptsernum ,  personname, pan \
#                     from monthly_{reporttype}.{month}_trfinp_{reporttype} \
#                     union \
#                     select distinct batchid, rptsernum ,  personname, pan \
#                     from monthly_{reporttype}.{month}_trflpe_{reporttype}')

##### TRFTRN

##### Create table with the predefined schema

In [81]:
cursor.execute(f'CREATE TABLE IF NOT EXISTS monthly_{reporttype}.{month}_trftrn_{reporttype} (     batchid bigint,     rptsernum bigint,     transactiondate text COLLATE pg_catalog."default",     transactiontime text COLLATE pg_catalog."default",     transactionrefnum text COLLATE pg_catalog."default",     transactiontype text COLLATE pg_catalog."default",     instrumenttype text COLLATE pg_catalog."default",     transactioninstname text COLLATE pg_catalog."default",     transactioninstrefnum text COLLATE pg_catalog."default",     transactionstatecode text COLLATE pg_catalog."default",     transactioncountrycode text COLLATE pg_catalog."default",     pymtinstrumentnum text COLLATE pg_catalog."default",     pymtinstrumentissueinstname text COLLATE pg_catalog."default",     instrumentissueinstrefnum text COLLATE pg_catalog."default",     instrumentcountrycode text COLLATE pg_catalog."default",     amountrupees bigint,     amountforeigncurrency bigint,     currencyoftransaction text COLLATE pg_catalog."default",     purposeoftransaction text COLLATE pg_catalog."default",     purposecode text COLLATE pg_catalog."default",     riskrating text COLLATE pg_catalog."default",     customername text COLLATE pg_catalog."default",     customerid text COLLATE pg_catalog."default",     occupation text COLLATE pg_catalog."default",     dob text COLLATE pg_catalog."default",     gender text COLLATE pg_catalog."default",     nationality text COLLATE pg_catalog."default",     identificationtype text COLLATE pg_catalog."default",     identificationnum text COLLATE pg_catalog."default",     issuingauthority text COLLATE pg_catalog."default",     placeofissue text COLLATE pg_catalog."default",     pan text COLLATE pg_catalog."default",     uin text COLLATE pg_catalog."default",     address text COLLATE pg_catalog."default",     city text COLLATE pg_catalog."default",     statecode text COLLATE pg_catalog."default",     pincode text COLLATE pg_catalog."default",     countrycode text COLLATE pg_catalog."default",     telephone text COLLATE pg_catalog."default",     mobile text COLLATE pg_catalog."default",     fax text COLLATE pg_catalog."default",     email text COLLATE pg_catalog."default",     accountnum text COLLATE pg_catalog."default",     accountwithinstname text COLLATE pg_catalog."default",     accountwithinstrefnum text COLLATE pg_catalog."default",     relatedinstname text COLLATE pg_catalog."default",     instrelationflag text COLLATE pg_catalog."default",     relatedinstrefnum text COLLATE pg_catalog."default",     remarks text COLLATE pg_catalog."default",     deletedflag text COLLATE pg_catalog."default",     creationdate text COLLATE pg_catalog."default",     createdby text COLLATE pg_catalog."default",     xmlindexid text COLLATE pg_catalog."default",     reportxmlindexid text COLLATE pg_catalog."default",     batchxmlindexid text COLLATE pg_catalog."default",     country_in bigint,     tytype_in bigint )  TABLESPACE pg_default;  ALTER TABLE IF EXISTS monthly_{reporttype}.{month}_trftrn_{reporttype}     OWNER to postgres;')

In [82]:
trftrn_eft = pd.read_csv(file_path + '\TRFTRN.csv',chunksize= 10000,iterator=True)

In [84]:
sh = []
i=0
for df in trftrn_eft:
    #print(df.shape)
    df.columns=[col.lower() for col in df.columns]
    df=df[list(df.columns)[0:55]]
    df['country_in'] = 0
    df['tytype_in'] = 0
    sh.append(df.shape)
    df.to_sql(f'{month}_trftrn_{reporttype}',pengine,schema='monthly_eft',if_exists='append',index=False)
    i = i+1
print(f'Transaction data inserted into monthly_{reporttype} schema, {month}_trftrn_{reporttype} table ')
print((i-1)*10000+sh[-1][0])

Transaction data inserted into monthly_eft schema, sep22_trftrn_eft table
7705

In [85]:
country_in = db_conn.execute(f'update monthly_{reporttype}.{month}_trftrn_{reporttype} \
                    set country_in=1 where  cast(batchid as text)|| cast(rptsernum as text)|| cast(transactionrefnum as text) \
                    in ( select cast(batchid as text)|| cast(rptsernum as text)|| cast(transactionrefnum as text) \
                    from monthly_{reporttype}.{month}_trftrn_{reporttype} \
                    group by cast(batchid as text)|| cast(rptsernum as text)|| cast(transactionrefnum as text) \
                    having count(distinct transactioncountrycode)>1 )')

In [86]:
tytype_in = db_conn.execute(f'update monthly_{reporttype}.{month}_trftrn_{reporttype} \
                    set tytype_in=1 where  cast(batchid as text)|| cast(rptsernum as text)|| cast(transactionrefnum as text)  \
                    in( select cast(batchid as text)|| cast(rptsernum as text)|| cast(transactionrefnum as text) \
                    from monthly_{reporttype}.{month}_trftrn_{reporttype} \
                    group by cast(batchid as text)|| cast(rptsernum as text)|| cast(transactionrefnum as text) \
                    having count(distinct transactiontype)>1 )')

In [87]:
#excluded_pans_path = path + '\\'+month_report_format + '\\monthly update data\\'

In [88]:
excluded_pans_eft = pd.read_csv(path + '\\monthly update data\\excluded_pans_{}.csv'.format(reporttype))
excluded_pans_eft.to_sql(f'{month}_excluded_pans_{reporttype}',pengine,schema='monthly_eft',if_exists='replace',index=False)

In [89]:
print('Check for resolved PANS')

Check for resolved PANS

##### Country Master data push

In [90]:
#country_master = pd.read_csv(f"C:\\Users\\SAL008\\Desktop\\Ravi\Monthly Report\\Supporting_docs\\country_master.csv")

In [91]:
#country_master.to_sql(f'country_master',pengine,schema='monthly_eft',if_exists='replace',index=False)

#### Create Materialized Views for EFT

##### Credit

In [ ]:
eft_credit_main = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_credit TABLESPACE pg_default AS  WITH cte1 AS ( SELECT {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.customername, count(1) AS cnt  FROM monthly_{reporttype}.{month}_trftrn_{reporttype} GROUP BY {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.customername ),  cte2 AS ( SELECT cte1.pan, cte1.customername, row_number() OVER (PARTITION BY cte1.pan  ORDER BY cte1.cnt DESC) AS rr FROM cte1 ), cte3 AS ( SELECT {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.batchid, {month}_trftrn_{reporttype}.rptsernum, {month}_trftrn_{reporttype}.transactionrefnum             FROM monthly_{reporttype}.{month}_trftrn_{reporttype}  WHERE {month}_trftrn_{reporttype}.transactioncountrycode = 'IN'::text  AND {month}_trftrn_{reporttype}.transactiontype = 'R'::text   AND {month}_trftrn_{reporttype}.country_in = 1  AND {month}_trftrn_{reporttype}.tytype_in = 1 ),  cte4 AS ( SELECT string_agg(DISTINCT f.country_name, ','::text) AS countries, string_agg(DISTINCT e.purposecode, ','::text) AS pcodes, c3.pan  FROM cte3 c3 		  JOIN ( SELECT {month}_trftrn_{reporttype}.batchid, {month}_trftrn_{reporttype}.rptsernum, {month}_trftrn_{reporttype}.transactiondate, {month}_trftrn_{reporttype}.transactionrefnum, {month}_trftrn_{reporttype}.transactiontype,  				{month}_trftrn_{reporttype}.instrumenttype, {month}_trftrn_{reporttype}.transactioninstname, {month}_trftrn_{reporttype}.transactioninstrefnum, {month}_trftrn_{reporttype}.transactionstatecode, 				{month}_trftrn_{reporttype}.transactioncountrycode, {month}_trftrn_{reporttype}.amountrupees, {month}_trftrn_{reporttype}.amountforeigncurrency, {month}_trftrn_{reporttype}.currencyoftransaction, 				{month}_trftrn_{reporttype}.purposeoftransaction, {month}_trftrn_{reporttype}.purposecode, {month}_trftrn_{reporttype}.riskrating, {month}_trftrn_{reporttype}.customername, {month}_trftrn_{reporttype}.customerid,   				{month}_trftrn_{reporttype}.occupation, {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.accountnum, {month}_trftrn_{reporttype}.country_in,        				{month}_trftrn_{reporttype}.tytype_in 				FROM monthly_{reporttype}.{month}_trftrn_{reporttype} 				WHERE {month}_trftrn_{reporttype}.transactioncountrycode <> 'IN'::text) e 		  ON c3.batchid = e.batchid AND c3.rptsernum = e.rptsernum AND c3.transactionrefnum = e.transactionrefnum              		  JOIN ( SELECT country_master.code, country_master.country_name 				FROM monthly_report.country_master) f ON f.code = e.transactioncountrycode 		  GROUP BY c3.pan ),  cte5 AS ( SELECT trn.pan, sum(trn.amountrupees) AS amount, count(DISTINCT trn.accountnum) AS total_accounts, count(DISTINCT trn.batchid::text || trn.rptsernum::text) AS total_{reporttype}s  FROM monthly_{reporttype}.{month}_trftrn_{reporttype} trn  WHERE trn.transactioncountrycode = 'IN'::text 				   AND trn.country_in = 1 				   AND trn.tytype_in = 1 				   AND trn.transactiontype = 'R'::text 				   AND trn.pan IS NOT NULL 				   AND TRIM(BOTH FROM trn.pan) <> ''::text           				   GROUP BY trn.pan          				   ORDER BY (sum(trn.amountrupees)) DESC ),  cte6 AS ( SELECT c4.pan, c2.customername, c4.pcodes, c4.countries 		  FROM cte4 c4 		  JOIN ( SELECT cte2.pan, cte2.customername, cte2.rr FROM cte2 WHERE cte2.rr = 1) c2 ON c4.pan = c2.pan ) 		  SELECT c5.pan, c6.customername, c5.amount, c5.total_{reporttype}s, c5.total_accounts, c6.pcodes, c6.countries   		  FROM cte5 c5 JOIN cte6 c6 ON c5.pan = c6.pan   ORDER BY c5.amount DESC 		  WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_credit")

eft_credit_repeated_pans = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_repeated_pans_credit TABLESPACE pg_default AS  WITH cte1 AS (          SELECT DISTINCT pan_month_of_report_{month}.pan,             pan_month_of_report_{month}.report_type,             count(DISTINCT pan_month_of_report_{month}.month) AS month            FROM monthly_report.pan_month_of_report_{month}           WHERE pan_month_of_report_{month}.report_type = 'credit_{reporttype}'::text           GROUP BY pan_month_of_report_{month}.pan, pan_month_of_report_{month}.report_type          HAVING count(DISTINCT pan_month_of_report_{month}.month) = {pan_month_of_report}           ORDER BY (count(DISTINCT pan_month_of_report_{month}.month)) DESC         ), cte2 AS (          SELECT {month}_{reporttype}_credit.pan,             {month}_{reporttype}_credit.customername,             {month}_{reporttype}_credit.amount,             {month}_{reporttype}_credit.total_{reporttype}s,             {month}_{reporttype}_credit.total_accounts,             {month}_{reporttype}_credit.pcodes,             {month}_{reporttype}_credit.countries            FROM monthly_{reporttype}.{month}_{reporttype}_credit                  )  SELECT cte2.pan,     cte2.customername,     cte2.amount,     cte2.total_{reporttype}s,     cte2.total_accounts,     cte2.pcodes,     cte2.countries    FROM cte2   WHERE (cte2.pan IN ( SELECT DISTINCT cte1.pan            FROM cte1)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_repeated_pans_credit")

eft_without_repeated_pans_credit = db_conn.execute(f" CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_excluded_pans_without_repeated_pans_credit TABLESPACE pg_default AS  WITH cte1 AS (          SELECT {month}_{reporttype}_credit.pan,             {month}_{reporttype}_credit.customername,             {month}_{reporttype}_credit.amount,             {month}_{reporttype}_credit.total_{reporttype}s,             {month}_{reporttype}_credit.total_accounts,             {month}_{reporttype}_credit.pcodes,             {month}_{reporttype}_credit.countries            FROM monthly_{reporttype}.{month}_{reporttype}_credit          LIMIT 1000         ), cte2 AS (          SELECT cte1.pan,             cte1.customername,             cte1.amount,             cte1.total_{reporttype}s,             cte1.total_accounts,             cte1.pcodes,             cte1.countries            FROM cte1           WHERE (cte1.pan IN ( SELECT excluded_pans_{reporttype}.pan                    FROM monthly_{reporttype}.excluded_pans_{reporttype}))         ), cte3 AS (          SELECT {month}_{reporttype}_repeated_pans_credit.pan,             {month}_{reporttype}_repeated_pans_credit.customername            FROM monthly_{reporttype}.{month}_{reporttype}_repeated_pans_credit         )  SELECT cte2.pan,     cte2.customername,     cte2.amount,     cte2.total_{reporttype}s,     cte2.total_accounts,     cte2.pcodes,     cte2.countries    FROM cte2   WHERE NOT (cte2.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_excluded_pans_without_repeated_pans_credit")

eft_without_excluded_repeat_pans_credit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_without_excluded_repeat_pans_credit TABLESPACE pg_default AS  WITH cte1 AS (          SELECT {month}_{reporttype}_credit.pan,             {month}_{reporttype}_credit.customername,             {month}_{reporttype}_credit.amount,             {month}_{reporttype}_credit.total_{reporttype}s,             {month}_{reporttype}_credit.total_accounts,             {month}_{reporttype}_credit.pcodes,             {month}_{reporttype}_credit.countries            FROM monthly_{reporttype}.{month}_{reporttype}_credit          LIMIT 1000         ), cte2 AS (          SELECT excluded_pans_{reporttype}.pan,             excluded_pans_{reporttype}.holdername            FROM monthly_{reporttype}.excluded_pans_{reporttype}         ), cte3 AS (          SELECT {month}_{reporttype}_repeated_pans_credit.pan,             {month}_{reporttype}_repeated_pans_credit.customername            FROM monthly_{reporttype}.{month}_{reporttype}_repeated_pans_credit         ), cte4 AS (          SELECT a.pan            FROM cte2 a         UNION          SELECT b.pan            FROM cte3 b         )  SELECT cte1.pan,     cte1.customername,     cte1.amount,     cte1.total_{reporttype}s,     cte1.total_accounts,     cte1.pcodes,     cte1.countries    FROM cte1   WHERE NOT (cte1.pan IN ( SELECT cte4.pan FROM cte4)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_without_excluded_repeat_pans_credit")

##### Debit

In [ ]:
eft_debit_main = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_debit TABLESPACE pg_default AS  WITH cte1 AS ( SELECT {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.customername, count(1) AS cnt  FROM monthly_{reporttype}.{month}_trftrn_{reporttype} GROUP BY {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.customername ),  cte2 AS ( SELECT cte1.pan, cte1.customername, row_number() OVER (PARTITION BY cte1.pan  ORDER BY cte1.cnt DESC) AS rr FROM cte1 ), cte3 AS ( SELECT {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.batchid, {month}_trftrn_{reporttype}.rptsernum, {month}_trftrn_{reporttype}.transactionrefnum             FROM monthly_{reporttype}.{month}_trftrn_{reporttype}  WHERE {month}_trftrn_{reporttype}.transactioncountrycode = 'IN'::text  AND {month}_trftrn_{reporttype}.transactiontype = 'P'::text   AND {month}_trftrn_{reporttype}.country_in = 1  AND {month}_trftrn_{reporttype}.tytype_in = 1 ),  cte4 AS ( SELECT string_agg(DISTINCT f.country_name, ','::text) AS countries, string_agg(DISTINCT e.purposecode, ','::text) AS pcodes, c3.pan  FROM cte3 c3 		  JOIN ( SELECT {month}_trftrn_{reporttype}.batchid, {month}_trftrn_{reporttype}.rptsernum, {month}_trftrn_{reporttype}.transactiondate, {month}_trftrn_{reporttype}.transactionrefnum, {month}_trftrn_{reporttype}.transactiontype,  				{month}_trftrn_{reporttype}.instrumenttype, {month}_trftrn_{reporttype}.transactioninstname, {month}_trftrn_{reporttype}.transactioninstrefnum, {month}_trftrn_{reporttype}.transactionstatecode, 				{month}_trftrn_{reporttype}.transactioncountrycode, {month}_trftrn_{reporttype}.amountrupees, {month}_trftrn_{reporttype}.amountforeigncurrency, {month}_trftrn_{reporttype}.currencyoftransaction, 				{month}_trftrn_{reporttype}.purposeoftransaction, {month}_trftrn_{reporttype}.purposecode, {month}_trftrn_{reporttype}.riskrating, {month}_trftrn_{reporttype}.customername, {month}_trftrn_{reporttype}.customerid,   				{month}_trftrn_{reporttype}.occupation, {month}_trftrn_{reporttype}.pan, {month}_trftrn_{reporttype}.accountnum, {month}_trftrn_{reporttype}.country_in,        				{month}_trftrn_{reporttype}.tytype_in 				FROM monthly_{reporttype}.{month}_trftrn_{reporttype} 				WHERE {month}_trftrn_{reporttype}.transactioncountrycode <> 'IN'::text) e 		  ON c3.batchid = e.batchid AND c3.rptsernum = e.rptsernum AND c3.transactionrefnum = e.transactionrefnum              		  JOIN ( SELECT country_master.code, country_master.country_name 				FROM monthly_report.country_master) f ON f.code = e.transactioncountrycode 		  GROUP BY c3.pan ),  cte5 AS ( SELECT trn.pan, sum(trn.amountrupees) AS amount, count(DISTINCT trn.accountnum) AS total_accounts, count(DISTINCT trn.batchid::text || trn.rptsernum::text) AS total_{reporttype}s  FROM monthly_{reporttype}.{month}_trftrn_{reporttype} trn  WHERE trn.transactioncountrycode = 'IN'::text 				   AND trn.country_in = 1 				   AND trn.tytype_in = 1 				   AND trn.transactiontype = 'P'::text 				   AND trn.pan IS NOT NULL 				   AND TRIM(BOTH FROM trn.pan) <> ''::text           				   GROUP BY trn.pan          				   ORDER BY (sum(trn.amountrupees)) DESC ),  cte6 AS ( SELECT c4.pan, c2.customername, c4.pcodes, c4.countries 		  FROM cte4 c4 		  JOIN ( SELECT cte2.pan, cte2.customername, cte2.rr FROM cte2 WHERE cte2.rr = 1) c2 ON c4.pan = c2.pan ) 		  SELECT c5.pan, c6.customername, c5.amount, c5.total_{reporttype}s, c5.total_accounts, c6.pcodes, c6.countries   		  FROM cte5 c5 JOIN cte6 c6 ON c5.pan = c6.pan   ORDER BY c5.amount DESC 		  WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_debit")

eft_debit_repeated_pans = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_repeated_pans_debit TABLESPACE pg_default AS  WITH cte1 AS (          SELECT DISTINCT pan_month_of_report_{month}.pan,             pan_month_of_report_{month}.report_type,             count(DISTINCT pan_month_of_report_{month}.month) AS month            FROM monthly_report.pan_month_of_report_{month}           WHERE pan_month_of_report_{month}.report_type = 'debit_{reporttype}'::text           GROUP BY pan_month_of_report_{month}.pan, pan_month_of_report_{month}.report_type          HAVING count(DISTINCT pan_month_of_report_{month}.month) = {pan_month_of_report}           ORDER BY (count(DISTINCT pan_month_of_report_{month}.month)) DESC         ), cte2 AS (          SELECT {month}_{reporttype}_debit.pan,             {month}_{reporttype}_debit.customername,             {month}_{reporttype}_debit.amount,             {month}_{reporttype}_debit.total_{reporttype}s,             {month}_{reporttype}_debit.total_accounts,             {month}_{reporttype}_debit.pcodes,             {month}_{reporttype}_debit.countries            FROM monthly_{reporttype}.{month}_{reporttype}_debit                  )  SELECT cte2.pan,     cte2.customername,     cte2.amount,     cte2.total_{reporttype}s,     cte2.total_accounts,     cte2.pcodes,     cte2.countries    FROM cte2   WHERE (cte2.pan IN ( SELECT DISTINCT cte1.pan            FROM cte1)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_repeated_pans_debit")

eft_without_repeated_pans_debit = db_conn.execute(f" CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_excluded_pans_without_repeated_pans_debit TABLESPACE pg_default AS  WITH cte1 AS (          SELECT {month}_{reporttype}_debit.pan,             {month}_{reporttype}_debit.customername,             {month}_{reporttype}_debit.amount,             {month}_{reporttype}_debit.total_{reporttype}s,             {month}_{reporttype}_debit.total_accounts,             {month}_{reporttype}_debit.pcodes,             {month}_{reporttype}_debit.countries            FROM monthly_{reporttype}.{month}_{reporttype}_debit          LIMIT 1000         ), cte2 AS (          SELECT cte1.pan,             cte1.customername,             cte1.amount,             cte1.total_{reporttype}s,             cte1.total_accounts,             cte1.pcodes,             cte1.countries            FROM cte1           WHERE (cte1.pan IN ( SELECT excluded_pans_{reporttype}.pan                    FROM monthly_{reporttype}.excluded_pans_{reporttype}))         ), cte3 AS (          SELECT {month}_{reporttype}_repeated_pans_debit.pan,             {month}_{reporttype}_repeated_pans_debit.customername            FROM monthly_{reporttype}.{month}_{reporttype}_repeated_pans_debit         )  SELECT cte2.pan,     cte2.customername,     cte2.amount,     cte2.total_{reporttype}s,     cte2.total_accounts,     cte2.pcodes,     cte2.countries    FROM cte2   WHERE NOT (cte2.pan IN ( SELECT cte3.pan FROM cte3)) WITH DATA")
print(f"Materialized view created : {month}_{reporttype}_excluded_pans_without_repeated_pans_debit")

eft_without_excluded_repeat_pans_debit = db_conn.execute(f"CREATE MATERIALIZED VIEW IF NOT EXISTS monthly_{reporttype}.{month}_{reporttype}_without_excluded_repeat_pans_debit TABLESPACE pg_default AS  WITH cte1 AS (          SELECT {month}_{reporttype}_debit.pan,             {month}_{reporttype}_debit.customername,             {month}_{reporttype}_debit.amount,             {month}_{reporttype}_debit.total_{reporttype}s,             {month}_{reporttype}_debit.total_accounts,             {month}_{reporttype}_debit.pcodes,             {month}_{reporttype}_debit.countries            FROM monthly_{reporttype}.{month}_{reporttype}_debit          LIMIT 1000         ), cte2 AS (          SELECT excluded_pans_{reporttype}.pan,             excluded_pans_{reporttype}.holdername            FROM monthly_{reporttype}.excluded_pans_{reporttype}         ), cte3 AS (          SELECT {month}_{reporttype}_repeated_pans_debit.pan,             {month}_{reporttype}_repeated_pans_debit.customername            FROM monthly_{reporttype}.{month}_{reporttype}_repeated_pans_debit         ), cte4 AS (          SELECT a.pan            FROM cte2 a         UNION          SELECT b.pan            FROM cte3 b         )  SELECT cte1.pan,     cte1.customername,     cte1.amount,     cte1.total_{reporttype}s,     cte1.total_accounts,     cte1.pcodes,     cte1.countries    FROM cte1   WHERE NOT (cte1.pan IN ( SELECT cte4.pan FROM cte4))  WITH  DATA")
print(f"Materialized view created : {month}_{reporttype}_without_excluded_repeat_pans_debit")

In [ ]:
print("Total Materialized Views created:\n")

print(f"{month}_{reporttype}_arfinp_lpe_{reporttype} created,\n{month}_{reporttype}_resolved_pans created,\n{month}_{reporttype}_holder_totals_pan created")
print("\nMaterialized Views for Credit:")
print(f"{month}_{reporttype}_pans_credit,\
      \n{month}_{reporttype}_repeated_pans_credit,\
      \n{month}_{reporttype}_credit_main_without_repeated_excluded_pan,\
      \n{month}_{reporttype}_credit_excluded_pans_without_repeated_pan,\
      \n{month}_{reporttype}_accounts_credit")

print("\nMaterialized Views for Debit:")

print(f"{month}_{reporttype}_pans_debit,\
        \n{month}_{reporttype}_repeated_pans_debit,\
        \n{month}_{reporttype}_debit_main_without_repeated_excluded_pan\
        \n{month}_{reporttype}_debit_excluded_pans_without_repeated_pan\
        \n{month}_{reporttype}_accounts_debit ")

#### ---------------------------------------------------------------------------------------------------------------------------------