In [1]:
import spacy
import re
from spacy import displacy
nlp = spacy.load("en_core_web_lg")
from tqdm import tqdm
import pandas as pd
import nltk
import psycopg2
from nltk.corpus import stopwords
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
from datetime import datetime
from dateutil.relativedelta import relativedelta
import os

In [4]:
try:
    pengine = create_engine('postgresql+psycopg2://postgres:postgres@172.16.22.15:5432/postgres')

    conn = psycopg2.connect(database = 'postgres', user = 'postgres', password = 'postgres',host = "172.16.22.15",port= 5432)
    conn.autocommit = True

    cursor = conn.cursor()
except:
    print("Unable to create the Postgres DB connection")

db_conn=pengine.connect()
print("\n Postgres database connected succesfully")

 Postgres database connected succesfully

In [ ]:
# with conn as connection:
#     with connection.cursor() as cursor:
#         cursor.execute("SELECT * FROM monthly_str.julsep22_inplpe_str;")

In [ ]:
# print(cursor)

In [ ]:
df=pd.read_excel(r'C:\Users\SAL005\Desktop\manas_lottery\mapping_lottery_manas_keyword.xlsx')

In [ ]:
# df['article']

In [ ]:
def clean(i):
#     i=re.sub('\d+',' ',i)
#     i=re.sub(r'[\.\-_\)@$\(:+/]',' ',i)
    i=re.sub(r'[^A-Za-z]',' ',i)
    i=re.sub('\s+',' ',i)
    i=re.sub('\t',' ',i)
    i=re.sub('\n',' ',i)
    return i

In [ ]:
# # df['GOS+DOI'] = df['GOS+DOI'].replace("\n","")
df['article']= df['article'].astype(str)
df['article']=df['article'].map(lambda x: x.upper())
df['article']= df['article'].apply(clean)
df['article']=df['article'].str.replace('PVT','PRIVATE')
df['article']=df['article'].str.replace('LTD','LIMITED')
df['article']=df['article'].str.replace('LLP','LIMITED LIABILITY PARTNERSHIP')

In [ ]:
org_names=[]
for data in tqdm(df['article'].values[0:]):
    doc1=nlp(data)
    entities = [ent for ent in doc1.ents if ent.label_ == "ORG"]
    org_names.append(entities)

In [ ]:
org_names_updated=[]
for k in org_names:
    tmp=[]
    for l in k:
        if len(str(l).split())>1:
            tmp.append(l)
    org_names_updated.append(tmp)

In [ ]:
org_names_final=[]
for p in org_names_updated:
    temps=[]
    for m in p:
        m=str(m).strip()
        if m not in temps:
            temps.append(m)
    org_names_final.append(temps)

In [ ]:
org_names_final

In [ ]:
df['extracted_org']=org_names_final

In [ ]:
df['extracted_org']

In [ ]:
df.to_excel(r'C:\Users\SAL005\Desktop\FATF Media Extraction\FATF_extracted_names_entities_new.xlsx')

In [ ]:
df.columns

In [ ]:
sheet=pd.read_excel(r'C:\Users\SAL005\Desktop\FATF Media Extraction\FATF_extracted_names_entities_new_only_limited.xlsx')

In [ ]:
# for x in df['persons'].values[0:5]:
#     x=x.replace('{','')
#     x=x.replace('}','')
sheet['extracted_org'][0]

In [ ]:
# sheet['extracted_org']= sheet['extracted_org'].apply(clean)
# sheet['extracted_org']=sheet['extracted_org'].str.replace('{','')
# sheet['extracted_org']=sheet['extracted_org'].str.replace('"','')
# sheet['extracted_org']=sheet['extracted_org'].str.replace('}','')
# sheet['extracted_org']=sheet['extracted_org'].str.replace('""','')
# sheet['extracted_org']=sheet['extracted_org'].str.replace('(','')
# sheet['extracted_org']=sheet['extracted_org'].str.replace(')','')
# sheet['extracted_org']=sheet['extracted_org'].str.replace('[','')
# sheet['extracted_org']=sheet['extracted_org'].str.replace(']','')
# sheet['extracted_org']=sheet['extracted_org'].str.replace("",'')
# sheet['extracted_org']=sheet['extracted_org'].str.replace(':','')
# sheet['extracted_org']=sheet['extracted_org'].str.replace('"','')

In [ ]:
sheet.fillna('NaN')

In [ ]:
# temp_org[0][0].replace('"',"'")

In [ ]:
temp_org=[]
df1=pd.DataFrame()
for x in sheet['extracted_org'].values[0:]:
    y=x.split(',')
    print(y)
    temp_org.append(y)
df1['entities']=temp_org
df1['arn_no']=sheet['arn_no']
df1['article']=sheet['article']

In [ ]:
df1['entities'][0]

In [ ]:
# temp_org=temp_org.strip()

In [ ]:
# temp2=[]
# for k in temp_org:
#     temp1=[]
#     if len(k)!=0:
#         for j in k:
#             temp1.append(j)
#             print(j)
#             sql="select b.batchid,r.rptsernum,b.entityname,r.mainpersonname,r.groundsofsusp,r.detailsofinvestigations,b.fiureid,b.recategory,b.reporttype from batch b inner join report r\
#             on b.batchid=r.batchid where b.batchid>'2204010000' and r.mainpersonname in ('+j+')"
#             results=sql_exec(sql,oengine)
#             results.to_csv('Matching names.csv',index=False,mode='a',header= not os.path.exists(r'Matching names.csv'))
#     temp2.append(temp1)

In [ ]:
# pengine = create_engine('postgresql+psycopg2://postgres:sal@123@localhost:5432/postgres')

In [ ]:
# pd.read_sql("select * from(select batchid,rptsernum,mainpersonname,groundsofsusp,detailsofinvestigations from online_gaming.str_till_sep22 where batchid>=2204010000 and upper(trim(mainpersonname)) = 'RS CRORE OF PUBLIC MONEY MAINLY')z", pengine)

In [ ]:
# try:
#     pengine = create_engine('postgresql+psycopg2://postgres:sal@123@localhost:5432/postgres')

#     conn = psycopg2.connect(database = 'postgres', user = 'postgres', password = 'sal@123',host = "localhost",port= 5432)
#     conn.autocommit = True

#     cursor = conn.cursor()
# except:
#     print("Unable to create the Postgres DB connection")

# db_conn=pengine.connect()
# print("\n Postgres database connected succesfully")

In [ ]:
# colnames = []
# data = []

# with conn as connection:
#     with connection.cursor() as cursor:
#         cursor.execute("SELECT batchid, rptsernum, fiureid, entityname, mainpersonname, groundsofsusp, detailsofinvestigations, gos_doi FROM online_gaming.str_till_sep22")
        
#         colnames = [desc[0] for desc in cursor.description]
#         for row in cursor:
#             data.append(row)
# result = pd.DataFrame(data,columns=[colnames])
# result.columns = [i[0] for i in result.columns]
# result = result.reset_index()
# result['index'] = result['index']+1
# # REs_registered = REs_registered.rename(columns={'index':'sl. no.'})
# # REs_registered.to_csv(output_dir + f'1-LIST OF NEW REs REGISTERED_{month}.csv')
# result.head(2)

In [ ]:
# oengine=create_engine('postgresql+psycopg2://postgres:sal@123@localhost:5432/postgre')

In [ ]:
def sql_exec(sql,dengine):
    startime=datetime.now()
    print("Time now: ",startime)
    print("Executing Query...")
    conn=pengine.connect()
    df=pd.read_sql_query(sql,pengine)
    endtime=datetime.now()
    db_conn.close()
    timetaken=relativedelta(endtime,startime)
    print('Time Taken: ',timetaken)
    return df

In [ ]:
# df2=pd.DataFrame()
# temp2=[]
# for k in tqdm(temp_org[0:100]):
#     temp1=[]
#     if len(k)!=0:
#         for j in k:
#             temp1.append(j)
#             print(j)
#             sql="select * from (select * from report where batchid>=2204010000 and upper(mainpersonname) in ('+j+'))z"
#             results=sql_exec(sql,oengine)
#             df2.append(results)
#     temp2.append(temp1)
# df2.to_excel('Matching_names_mainpersonname.xlsx',index=False,mode='a',header= not os.path.exists(r'Matching_names_mainpersonname.xlsx'))

In [ ]:
df1['en_s']=df1['entities'].astype(str)

In [ ]:
df1

In [ ]:
# df2=df1[df1['en_s'].str.contains('ANTI INDIA',regex=False)]

### Below is the code to check exact match with entities in main person name

In [ ]:
results1=pd.DataFrame()
ar_no=[]
for k in df1['entities'][0:]:
    if len(k)!=0:
        for j in k:
            print(j)
#             j = j.replace('','NA')
            j = j.replace('[','')
            j = j.replace(']','')
            if j!='':
                sql=f'select * from(select distinct batchid, rptsernum, fiureid, entityname, mainpersonname, groundsofsusp, detailsofinvestigations, gos_doi from online_gaming.str_till_dec22 where upper(trim(mainpersonname)) = {j})z'
                print(sql)
                results=sql_exec(sql,pengine)
                results['matching entity']=j
                results1=results1.append(results)
#                 results1['arn_no']=df2['arn_no']
#                 results2=df1[df1['en_s'].str.contains(j,regex=False)]
                results.to_csv(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\Matching_entities_mainpersonname_direct.csv',index=False,mode='a',header= not os.path.exists(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\Matching_entities_mainpersonname_direct.csv'))
            else:
                continue
    else:
        continue

In [ ]:
results1=pd.read_csv(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\Matching_entities_mainpersonname_90_percent.csv')
results1.drop_duplicates(inplace=True)
results1['brn']=results1['batchid'].astype(str)+'||'+results1['rptsernum'].astype(str)

In [ ]:
# results1.to_excel('C:\Users\SAL005\Desktop\FATF Media Extraction\final\db_inplpe.xlsx')
results1

### below is the code to check at 90 percent similarity

In [ ]:
# check['publish_date']
for k in temp_org[0:]:
    if len(k)!=0:
        for j in k:
            print(j)
#             j = j.replace('','NA')
            j = j.replace('[','')
            j = j.replace(']','')
            if j!='':
                sql=f'select * from(select distinct batchid, rptsernum, personname, pan from monthly_str.jun_dec22_inplpe_str_final where similarity(upper(trim(mainpersonname)),{j})>0.90)z'
                print(sql)
                results=sql_exec(sql,pengine)
                results.to_csv(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\Matching_entities_mainpersonname_90_percent.csv',index=False,mode='a',header= not os.path.exists(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\Matching_entities_mainpersonname_90_percent.csv'))
            else:
                continue
    else:
        continue

In [ ]:
j="'BALU FORGE INDUSTRIES LIMITED'"
sql=f'select * from(select distinct batchid, rptsernum, fiureid, entityname, mainpersonname, groundsofsusp, detailsofinvestigations, gos_doi from online_gaming.str_till_dec22 where similarity(upper(trim(mainpersonname)),{j})>0.90)z'
print(sql)
results=sql_exec(sql,pengine)
results.to_csv(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\test1.csv',index=False,mode='a',header= not os.path.exists(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\test1.csv'))

In [ ]:
# j="'BALU FORGE INDUSTRIES LIMITED'"
sql="select distinct batchid, rptsernum,pan from monthly_str.jun_dec22_inplpe_str_final where (batchid,rptsernum) in (('2206145103','1'), ('2210267003','455413'), ('2211072473','21613'), ('2212169264','22279'), ('2206018608','154951'), ('2206018312','154857'), ('2211296362','468053'), ('2211296578','468053'), ('2212058721','468053'), ('2211161063','1'), ('2212200614','157942'), ('2207265580','432214'), ('2207064273','427238'), ('2208240814','436238'), ('2208188460','327188'), ('2207214193','325649'), ('2207286361','325921'), ('2206092058','324363'), ('2208293746','156919'), ('2208293746','156922'), ('2206145887','1'), ('2208273048','328881'), ('2209281983','15'), ('2212092150','6'), ('2208240814','436346'), ('2208188566','1'), ('2210033722','1'), ('2207012440','9'), ('2211182005','3451'), ('2208304227','329377'), ('2209090438','1'), ('2209132591','1'), ('2209132840','25315'), ('2209133003','3238'), ('2209155124','1'), ('2209155292','1'), ('2209166539','1'), ('2209177109','28'), ('2209260190','332780'), ('2209218788','332298'), ('2209229232','1'), ('2209218438','1'), ('2209260205','333011'), ('2209260384','1'), ('2209260284','334173'), ('2209260218','333255'), ('2210065331','1'), ('2209271330','1'), ('2210065347','1'), ('2210129510','1'), ('2210075802','1'), ('2210184366','334267'), ('2211017679','335448'), ('2211104882','1'), ('2211017679','335429'), ('2211030113','1'), ('2211071896','1'), ('2211160719','335982'), ('2211148279','1'), ('2211160719','335985'), ('2212134450','1'), ('2211285564','1'), ('2211285574','1'), ('2212070327','336497'), ('2211171455','336192'), ('2212092842','336719'), ('2212135624','336924'), ('2212190207','1'), ('2212169225','337214'), ('2212273159','1'), ('2212169237','337368'), ('2212169419','337568'), ('2212315463','1'), ('2207012401','2'), ('2206018570','2'), ('2206113499','19817'), ('2206280738','15'), ('2207139049','13'), ('2207296664','4'), ('2207276121','2'), ('2207276245','2'), ('2208017765','11'), ('2208017768','2'), ('2208017768','4'), ('2208028329','7'), ('2208049403','30'), ('2208049411','19'), ('2208081486','7'), ('2208049423','12'), ('2208081823','26'), ('2208081506','23'), ('2208081788','1'), ('2208081810','9'), ('2208177710','20'), ('2208230780','20632'), ('2208252043','20651'), ('2208293502','6'), ('2208304714','20735'), ('2208304525','15'), ('2208293527','10'), ('2209078671','10'), ('2209090017','29'), ('2209078676','13'), ('2209078676','15'), ('2209078679','7'), ('2209090022','16'), ('2209090029','15'), ('2209090023','6'), ('2211018069','24'), ('2209292416','5'), ('2210117469','20'), ('2210117476','22'), ('2210117476','28'), ('2210117478','7'), ('2210117478','18'), ('2210153721','21382'), ('2210216053','10'), ('2209260926','21109'), ('2210117466','1'), ('2210174108','17'), ('2210216068','17'), ('2210216070','16'), ('2210267008','3'), ('2210267010','10'), ('2210267010','18'), ('2210267011','2'), ('2210297545','21529'), ('2211051175','7'), ('2211029386','21'), ('2211072141','24'), ('2211072150','18'), ('2211040807','9'), ('2211040807','15'), ('2211160910','26'), ('2211160631','7'), ('2211181904','14'), ('2211160817','26'), ('2211285944','21922'), ('2211285883','7'), ('2211182543','21833'), ('2211223869','10'), ('2212070952','9'), ('2212017875','14'), ('2212017877','2'), ('2212058710','22069'), ('2212070941','6'), ('2212069514','1'), ('2212070923','4'), ('2212081452','12'), ('2212081441','8'), ('2212135064','7'), ('2212081932','22177'), ('2212092151','1'), ('2212081649','3'), ('2212123520','2'), ('2212134913','13'), ('2212190113','9'), ('2212190013','29'), ('2212190114','18'), ('2212200726','1'), ('2212190067','26'), ('2212283573','10'), ('2212211141','6'), ('2212211142','26'), ('2212283579','22'), ('2212283583','8'), ('2212283602','6'), ('2212283604','26'), ('2212283573','13'), ('2212283643','11'), ('2212283658','8'), ('2212283659','17'), ('2212283713','20'), ('2206070708','155211'), ('2206018316','42'), ('2206039056','154984'), ('2206069520','24666'), ('2206070708','155223'), ('2206070683','155147'), ('2206218587','155652'), ('2206070689','155003'), ('2206208025','321033'), ('2206208028','321038'), ('2206102122','155309'), ('2206103462','155405'), ('2207053606','155961'), ('2206270063','155679'), ('2206270069','155698'), ('2206280608','324741'), ('2208049806','1'), ('2207085439','1'), ('2207214020','1'), ('2207214414','156455'), ('2207286367','1'), ('2208028666','156710'), ('2207127485','1'), ('2207255186','1'), ('2207307244','1'), ('2208061198','326623'), ('2208102525','24815'), ('2208303903','1'), ('2208251417','328264'), ('2208262483','1'), ('2208188169','326680'), ('2208229955','1'), ('2209057218','330150'), ('2209015252','1'), ('2208304217','329358'), ('2209068166','330757'), ('2209057331','1'), ('2207064275','427596'), ('2208049423','16'), ('2212058727','1727'), ('2207307202','326228'), ('2207265861','6037'), ('2212092859','336783'), ('2212081263','472630'), ('2212262462','2203005'), ('2210076170','37000'), ('2210033526','450766'), ('2209292529','1'), ('2210131037','1'), ('2210131041','1'), ('2210131042','1'), ('2210131043','1'), ('2209281661','172'), ('2208102776','24868'), ('2210184502','6'), ('2209089230','331516'), ('2212058830','480'), ('2209260263','333532'), ('2209218805','332283'), ('2210216057','334536'), ('2211017679','335444'), ('2210256698','334628'), ('2210256702','334743'), ('2212070328','336525'), ('2211017679','335426'), ('2211017679','335437'), ('2211171451','336148'), ('2210277132','335104'), ('2211307238','336372'), ('2207011845','325333'), ('2212092829','336654'), ('2208251666','328459'), ('2211017679','335426'), ('2207064273','427182'), ('2208038977','433507'), ('2208038977','433537'), ('2206145885','1'), ('2208028538','3'), ('2208028538','4'), ('2208028538','5'), ('2208028538','6'), ('2212169241','337485'), ('2206028701','11'), ('2206028701','24'), ('2206113494','19812'), ('2208293419','1'), ('2208293419','2'), ('2212017805','3'), ('2206092099','1'), ('2206092100','1'), ('2206145886','1'), ('2206145879','1'), ('2206039060','155045'), ('2212272972','4'), ('2210117468','21'), ('2207276269','28'), ('2209078687','2'), ('2209090023','2'), ('2209090036','25'), ('2209090037','15'), ('2210117469','2'), ('2210216053','2'), ('2210184440','18'), ('2210216071','22'), ('2211072146','14'), ('2210216073','21'), ('2210267008','18'), ('2210277475','13'), ('2211018066','6'), ('2211018069','11'), ('2211018076','19'), ('2211223883','2'), ('2211181905','14'), ('2211296713','2'), ('2211296714','2'), ('2211296715','11'), ('2211296714','17'), ('2211296715','20'), ('2211296753','19'), ('2211296716','8'), ('2212017888','21'), ('2211296717','7'), ('2211296717','8'), ('2211296717','9'), ('2211296717','10'), ('2211296717','12'), ('2211296717','14'), ('2211296719','6'), ('2211296719','9'), ('2211296719','11'), ('2211296719','19'), ('2211296722','7'), ('2211296722','29'), ('2211296722','30'), ('2211296724','9'), ('2211307056','24'), ('2212017894','3'), ('2212017894','24'), ('2212070949','5'), ('2212070943','16'), ('2212070950','12'), ('2212070938','26'), ('2212070952','6'), ('2212070952','16'), ('2212135064','6'), ('2212081450','1'), ('2212081451','11'), ('2212081452','27'), ('2212123437','28'), ('2212123438','3'), ('2212123440','21'), ('2212123440','22'), ('2212123440','27'), ('2212123520','3'), ('2212070948','20'), ('2212081647','16'), ('2212134922','26'), ('2212158239','19'), ('2212158243','7'), ('2212190064','8'), ('2212158244','12'), ('2212158247','17'), ('2212158249','2'), ('2212158249','26'), ('2212169448','3'), ('2212158255','16'), ('2212158256','3'), ('2212158256','13'), ('2212158259','10'), ('2212158259','13'), ('2212158259','23'), ('2212158261','26'), ('2212158282','18'), ('2212169449','29'), ('2212190064','24'), ('2212190013','2'), ('2212190013','11'), ('2212190069','12'), ('2212190070','25'), ('2212283641','19'), ('2212211147','25'), ('2212283618','25'), ('2212283641','28'), ('2212283637','4'), ('2212283642','24'), ('2212283728','13'), ('2212283654','3'), ('2211083160','157741'), ('2212069982','22095'), ('2206239450','1'), ('2207255324','20310'), ('2209260242','170'), ('2212028008','469600'), ('2208293139','1'), ('2212092824','336567'), ('2206028701','24'), ('2208251654','328370'), ('2212221707','478757'), ('2206145886','1'), ('2208188460','327198'), ('2212146904','22240'), ('2212283514','1'), ('2212200741','2202866'), ('2212200798','2202914'), ('2212283512','1'), ('2212262378','22334'), ('2207214068','20'), ('2208251842','1'), ('2209260204','332963'), ('2207012431','12'), ('2207138983','15'), ('2207139049','19'), ('2210216050','334436'), ('2207012433','11'), ('2208049424','24'), ('2207265580','432413'), ('2207296641','28'), ('2208049413','17'), ('2208081512','12'), ('2208293769','20705'), ('2208081520','23'), ('2208199102','20572'), ('2208293649','2'), ('2208081850','27'), ('2208177660','20'), ('2209292387','3'), ('2209090035','12'), ('2209090035','23'), ('2209281681','1'), ('2210131159','21351'), ('2210174110','21'), ('2211029383','8'), ('2211029383','20'), ('2211072152','18'), ('2207296627','326121'), ('2208220189','20605'), ('2206156820','19873'), ('2210033931','1'), ('2208028538','7'), ('2210033534','264'), ('2207064273','427071'), ('2208038977','433507'), ('2208038977','433537'), ('2208251666','328457'), ('2210267003','455413'), ('2208293747','1'), ('2210266989','454318'), ('2211296362','468053'), ('2211296578','468053'), ('2212058721','468053'), ('2211161063','1'), ('2207064273','427238'), ('2207265580','432214'), ('2212232095','1'), ('2208240814','436238'), ('2206081434','155272'), ('2211072406','2202374'), ('2212315068','1'), ('2207053759','156039'), ('2207193165','1'), ('2208188407','1'), ('2208188415','1'), ('2208188419','1'), ('2208188422','1'), ('2212262416','38587'), ('2208240814','436346'), ('2210117957','1'), ('2207286332','3046'), ('2209281983','22'), ('2207064275','427596'), ('2209025934','2201760'), ('2211017672','335262'), ('2212304578','38784'), ('2212092859','336783'), ('2212081263','472630'), ('2210076170','37000'), ('2208314790','329676'), ('2209292529','1'), ('2210131037','1'), ('2210131041','1'), ('2210131042','1'), ('2210131043','1'), ('2212135413','1'), ('2209229135','2201913'), ('2210130764','2202147'), ('2211017679','335426'), ('2212262375','22332'), ('2207064273','427182'), ('2206028949','1'), ('2211150516','4125'), ('2211285495','4160'), ('2207182774','1'), ('2208293139','1'), ('2207064273','427071'), ('2208017673','1'), ('2206208167','1'), ('2212293886','1'))"
print(sql)
results=sql_exec(sql,pengine)
results.to_csv(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\pan_table_details.csv',index=False,mode='a',header= not os.path.exists(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\pan_table_details.csv'))

In [ ]:
results

In [ ]:
l='BALU FORGE INDUSTRIES LIMITED'
l=l.replace("'","%")
sql=f"select * from online_gaming.str_till_dec22 where batchid between 2204010000 and 2212319999 and gos_doi like(upper(trim('%{l}%')))"
print(sql)
results=sql_exec(sql,pengine)
results['matching entity in GOS+DOI']=l
results.to_csv(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\test2.csv',index=False,mode='a',header= not os.path.exists(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\test2.csv'))

In [ ]:
results

In [ ]:
j="'BALU FORGE INDUSTRIES LIMITED'"
sql=f'select * from(select distinct batchid, rptsernum, personname, pan from monthly_str.jun_dec22_inplpe_str_final where similarity(upper(trim(personname)),{j})>0.90)z'
print(sql)
results=sql_exec(sql,pengine)
results.to_csv(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\test3.csv',index=False,mode='a',header= not os.path.exists(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\test3.csv'))

In [ ]:
results

In [ ]:
# results1['brn']=results1['batchid'].astype(str)+'||'+results1['rptsernum'].astype(str)
df1

In [ ]:
n=[]
df_test=pd.DataFrame()
df3=pd.DataFrame()
for m in results1['mainpersonname'].unique():
    df_test=df1[df1['en_s'].str.contains(m,regex=False)]
    df3=df3.append(df_test)
    n.append(m)

In [ ]:
df3

In [ ]:
n

In [ ]:
def dumm1(i):
    lis=[]
    for e in n:
        if re.search(e,i):
            lis.append(e)
    return ",".join(lis)

In [ ]:
df3['extracted_entities']=df3['en_s'].apply(dumm1)

In [ ]:
# df3.to_excel(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\1.xlsx')

In [ ]:
def dumm(i):
    blst=results1[results1['mainpersonname']==i]['brn'].to_list()
    return ",".join(blst)

In [ ]:
df_en=pd.DataFrame({'mainpersonname':results1['mainpersonname'].unique()})

In [ ]:
df_en['brns']=df_en['mainpersonname'].apply(dumm)

In [ ]:
df_en

In [ ]:
df6=pd.merge(results1,df_en,on='mainpersonname')

In [ ]:
df6.to_excel(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\mainpersonname_mapping.xlsx')

In [ ]:
df3

In [ ]:
d={}
for i in n:
    l=df3[df3['en_s'].str.contains(i,na=False)]['arn_no'].to_list()
    d[i]=",".join(l)

In [ ]:
d

In [ ]:
df_p=df6[['mainpersonname','brns']].drop_duplicates()

In [ ]:
df_p.reset_index(drop=True,inplace=True)

In [ ]:
df_p['arns']=df_p['mainpersonname'].map(d)

In [ ]:
df_p.to_excel(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\mainpersonname_mapping to news.xlsx')

### Below is the code to check entities name in gos+doi

In [ ]:
# check['publish_date']
for k in temp_org[0:]:
    if len(k)!=0:
        for j in k:
            print(j)
#             j = j.replace('','NA')
            j = j.replace('[','')
            j = j.replace(']','')
            l=j.replace("'","%")
            l=str(l)
#             j='%'+j+'%'
            if j!='':
                sql=f"select * from online_gaming.str_till_dec22 where batchid between 2204010000 and 2212319999 and gos_doi like(upper(trim('{l}')))"
                print(sql)
                results=sql_exec(sql,pengine)
                results['matching entity in GOS+DOI']=j
                results.to_csv(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\Matching_entities_gos+doi_full.csv',index=False,mode='a',header= not os.path.exists(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\Matching_entities_gos+doi_full.csv'))
            else:
                continue
    else:
        continue

In [ ]:
# check['publish_date']
for k in temp_org[0:]:
    if len(k)!=0:
        for j in k:
            print(j)
#             j = j.replace('','NA')
            j = j.replace('[','')
            j = j.replace(']','')
            l=j.replace("'","%")
            l=str(l)
#             j='%'+j+'%'
            if j!='':
                sql=f"select * from online_gaming.str_till_dec22 where batchid between 2210010000 and 2212319999 and gos_doi like(upper(trim('{l}')))"
                print(sql)
                results=sql_exec(sql,pengine)
                results['matching entity in GOS+DOI']=j
                results.to_csv(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\Matching_entities_gos+doi_october to december.csv',index=False,mode='a',header= not os.path.exists(r'C:\Users\SAL005\Desktop\FATF Media Extraction\final\Matching_entities_gos+doi_october to december.csv'))
            else:
                continue
    else:
        continue

In [ ]:
# lst_date

### To change time format

In [ ]:
# for i in lst_date:
#     if (len(i[0]))!=2:
#         i[0]=i[0].zfill(2)

In [ ]:
# for i in lst_date:
#     print(i[0])

In [ ]:
# lst_date[77]

In [ ]:
# for i in lst_date:
#     i[0],i[1]=i[1],i[0]

In [ ]:
# k=[]
# for i in lst_date:
#     i='-'.join(map(str,i))
#     print(i)
#     k.append(i)

In [ ]:
# check['new_date']=k
# lst_date=['-'.join(str(lst_date))]

In [ ]:
# lst_date='-'.join(str(lst_date.str.split(',')))
# check.to_csv('1.csv')

In [ ]:
# lst_date

In [ ]:
# [str(i).replace(',','-') for i in lst_date]

In [ ]:
# for i in lst_date:
#     print(str(i).replace(',', '-').replace('',''))

### Misc