In [769]:
import pyodbc
import pandas as pd
from tqdm import tqdm as tqdm

In [179]:
# pyodbc.drivers()
# # conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.33.27;PORT=1433;DATABASE=FINCORE_DB;UID=Fincore_App_USR;PWD=F!NCore@123;TDS_Version=7.2;')
# conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.34.15;PORT=1433;DATABASE=FINCORE_DB;UID=FINCORE_ANALYTICS_USR;PWD=F!NCore@123;TDS_Version=7.2;')
# # conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.27.39;PORT=1433;DATABASE=HDM_FINCORE_DB;UID=FINC_HDM_USR;PWD=#DM@2022;TDS_Version=7.2;')
# cursor = conn.cursor()

In [192]:
# case_entities = 'BA00000333'
# cmid = case_entities

In [181]:
# case_entities = pd.read_sql_query("select Case_Master_Id,Entity_Master_Id,Is_Main_Entity_Flag from FINCORE_DB.Fincore.Case_Entity where Is_Active_Flag= 1 and Case_Master_Id = '{}'".format(case_entities),conn)

In [182]:
# main_entity = case_entities[case_entities['Is_Main_Entity_Flag'] == 1]['Entity_Master_Id'].to_list()

In [183]:
# main_entity.append(12)

In [184]:
# main_entity

[7, 12]

In [321]:
# other_entity = case_entities[case_entities['Is_Main_Entity_Flag'] == 0]['Entity_Master_Id'].to_list()

In [322]:
# other_entity = other_entity[0]

In [323]:
# other_entity.append(10)

In [324]:
# other_entity

[8, 10]

In [325]:
# risk_person = pd.read_sql_query("SELECT * FROM FINCORE_ANALYTICS.RISK_PERSON",conn)

In [326]:
# risk_person

,PERSON_MASTER_ID,PEER_GROUP_ID,RISK_SCORE,RISK_RULE_LIST,CREATE_DATE
0,1,Others_0,2,P002001007_P002001008_P003001004_P003001009,2022-12-06 12:02:04.147
1,2,Others_0,0,P002001007_P003001004,2022-12-06 12:02:04.147
2,3,Others_0,0,P002001007_P003001004,2022-12-06 12:02:04.147
3,4,Others_0,0,P002001007_P003001004,2022-12-06 12:02:04.150
4,5,Others_0,0,P002001007_P002001008_P003001004,2022-12-06 12:02:04.150
5,6,Others_0,0,P002001007_P002001008_P003001009,2022-12-06 12:02:04.150
6,7,Others_0,1,P002001007_P002001008_P003001004_P003001009,2022-12-06 12:02:04.150
7,8,Others_0,1,P002001007_P002001008_P003001004_P003001009,2022-12-06 12:02:04.150
8,9,Others_0,1,P002001007_P002001008_P003001004_P003001009,2022-12-06 12:02:04.153
9,10,Others_0,0,P002001007_P002001008,2022-12-06 12:02:04.153
10,11,Others_0,0,P002001007_P002001008_P003001009,2022-12-06 12:02:04.153
11,12,Others_0,0,P002001007_P002001008_P003001009,2022-12-06 12:02:04.157
12,13,Others_0,0,P002001007_P002001008_P003001009,2022-12-06 12:02:04.157
13,14,Others_0,0,P002001007_P002001008_P003001009,2022-12-06 12:02:04.157
14,15,Others_0,0,P002001007_P002001008_P003001009,2022-12-06 12:02:04.157
15,16,Others_0,0,P002001007_P002001008_P003001009,2022-12-06 12:02:04.160
16,17,Others_0,0,P002001007_P002001008_P003001009,2022-12-06 12:02:04.160
17,18,Others_0,0,P002001007_P002001008_P003001009,2022-12-06 12:02:04.160
18,19,Others_0,0,P002001007_P002001008_P003001009,2022-12-06 12:02:04.160
19,20,Others_0,1,P002001007_P002001008_P003001004_P003001009,2022-12-06 12:02:04.163
20,21,Others_0,1,P002001007_P002001008_P003001004_P003001009,2022-12-06 12:02:04.163
21,22,Others_0,2,P002001007_P002001008_P003001004_P003001009,2022-12-06 12:02:04.167
22,23,Others_0,1,P002001007_P002001008_P003001009,2022-12-06 12:02:04.167
23,24,Others_0,2,P002001007_P002001008_P003001009,2022-12-06 12:02:04.167
24,25,Others_0,0,P002001007_P003001009,2022-12-06 12:02:04.170
25,26,Others_0,1,P002001007_P002001008_P003001009,2022-12-06 12:02:04.170
26,27,Others_0,1,P002001007_P002001008_P003001009,2022-12-06 12:02:04.170
27,28,Others_0,1,P002001007_P002001008_P003001009,2022-12-06 12:02:04.170
28,29,Others_0,1,P002001007_P002001008_P003001009,2022-12-06 12:02:04.173
29,30,Others_0,1,P002001007_P002001008_P003001009,2022-12-06 12:02:04.173
30,31,Others_0,3,P002001007_P002001008_P003001009,2022-12-06 12:02:04.173
31,32,Others_0,1,P002001007_P002001008_P003001009,2022-12-06 12:02:04.173
32,33,Others_0,1,P002001007_P002001008_P003001004_P003001009,2022-12-06 12:02:04.173
33,34,Others_0,1,P002001007_P003001004_P003001009,2022-12-06 12:02:04.177
34,35,Others_0,1,P002001007_P002001008_P003001009,2022-12-06 12:02:04.177
35,36,Others_0,1,P002001007_P002001008_P003001009,2022-12-06 12:02:04.177
36,37,Others_0,1,P002001007_P002001008_P003001009,2022-12-06 12:02:04.177
37,38,Others_0,1,P002001007_P002001008_P003001009,2022-12-06 12:02:04.180
38,39,Others_0,1,P002001007_P002001008_P003001009,2022-12-06 12:02:04.180
39,40,Others_0,1,P002001007_P002001008_P003001009,2022-12-06 12:02:04.180
40,41,Others_0,1,P002001007_P002001008_P003001009,2022-12-06 12:02:04.180
41,42,Others_0,3,P002001007_P002001008_P003001009,2022-12-06 12:02:04.183

In [327]:
# auto_high_rules = pd.read_sql_query("Select * from fincore_analytics.risk_lkp_rules where   RISK_TYPE = 'Auto High Rules ' and IS_ACTIVE_FLAG = 1",conn)

In [328]:
# auto_high_rules = auto_high_rules['RULE_NO'].to_list()

In [329]:
# auto_high_rules

['O001001000',
 'O001003000',
 'O001004000',
 'O001005000',
 'O001006000',
 'O001007000',
 'P001001000',
 'P001003000',
 'P001004000',
 'P001006000']

In [330]:
# def rules_triggered(a,b):
#     result = [i for i in a if i in b]
#     return result

In [331]:
# auto_df = []
# for ind,row in risk_person.iterrows():
#         l = []
#         l = list(row['RISK_RULE_LIST'].split('_'))
#         auto = row['PERSON_MASTER_ID'],rules_triggered(l,auto_high_rules)
#         auto = list(auto)
#         auto_df.append(auto)

In [332]:
# auto_df = pd.DataFrame(auto_df,columns = ['PERSON_MASTER_ID','RULES_TRIGGERED'])

In [333]:
# auto_df

    PERSON_MASTER_ID RULES_TRIGGERED
0                  1              []
1                  2              []
2                  3              []
3                  4              []
4                  5              []
5                  6              []
6                  7              []
7                  8              []
8                  9              []
9                 10              []
10                11              []
11                12              []
12                13              []
13                14              []
14                15              []
15                16              []
16                17              []
17                18              []
18                19              []
19                20              []
20                21              []
21                22              []
22                23              []
23                24              []
24                25              []
25                26              []
26                27              []
27                28              []
28                29              []
29                30              []
30                31              []
31                32              []
32                33              []
33                34              []
34                35              []
35                36              []
36                37              []
37                38              []
38                39              []
39                40              []
40                41              []
41                42              []

In [334]:
# auto_df['RULES_TRIGGERED']=auto_df['RULES_TRIGGERED'].astype(str)
# auto_df=auto_df[auto_df['RULES_TRIGGERED']!='[]']

In [335]:
# auto_df.reset_index(inplace = True)
# auto_df.drop(columns = ['index'],inplace = True)

C:\Users\FIU\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [135]:
# auto_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PERSON_MASTER_ID  0 non-null      int64
 1   RULES_TRIGGERED   0 non-null      object
dtypes: int64(1), object(1)
memory usage: 124.0+ bytes

In [337]:
# for ind,row in auto_df.iterrows():
#     auto_df['RULES_TRIGGERED'][ind] = auto_df['RULES_TRIGGERED'][ind].replace('[','')
#     auto_df['RULES_TRIGGERED'][ind] = auto_df['RULES_TRIGGERED'][ind].replace(']','')
#     auto_df['RULES_TRIGGERED'][ind] = auto_df['RULES_TRIGGERED'][ind].replace('\'','')

int

In [341]:
# auto_df = auto_df[auto_df['PERSON_MASTER_ID'].isin(main_entity)]

In [342]:
# auto_high_triggered_main = auto_df[auto_df['PERSON_MASTER_ID'].isin(main_entity)]

In [343]:
# auto_high_triggered_main

Empty DataFrame
Columns: [PERSON_MASTER_ID, RULES_TRIGGERED]
Index: []

In [344]:
# other_entity = [9,10]

In [345]:
# auto_high_triggered_other = auto_df[auto_df['PERSON_MASTER_ID'].isin(other_entity) ]

In [346]:
# auto_high_triggered_other

Empty DataFrame
Columns: [PERSON_MASTER_ID, RULES_TRIGGERED]
Index: []

In [347]:
# watchlist = pd.read_sql_query("select PERSON_MASTER_ID,RULE_NO,string_agg(RULE_VALUE,',') within group (order by rule_no)  as rule_value from FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES where RULE_NO in ('P001001000', 'P001003000')group by PERSON_MASTER_ID,RULE_NO",conn)

In [349]:
# main_entity_watchlist = watchlist[watchlist['PERSON_MASTER_ID'].isin(main_entity)]

In [351]:
# other_entity_watchlist = watchlist[watchlist['PERSON_MASTER_ID'].isin(other_entity)]

Empty DataFrame
Columns: [PERSON_MASTER_ID, RULE_NO, rule_value]
Index: []

In [178]:
# conn.close()

In [174]:
# pyodbc.drivers()
# # conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.33.27;PORT=1433;DATABASE=FINCORE_DB;UID=Fincore_App_USR;PWD=F!NCore@123;TDS_Version=7.2;')
# conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.34.15;PORT=1433;DATABASE=FINCORE_DB;UID=FINCORE_ANALYTICS_USR;PWD=F!NCore@123;TDS_Version=7.2;')
# # conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.27.39;PORT=1433;DATABASE=HDM_FINCORE_DB;UID=FINC_HDM_USR;PWD=#DM@2022;TDS_Version=7.2;')
# cursor = conn.cursor()

In [193]:
# inherent_risk = pd.read_sql_query("select * from FINCORE_DB.Fincore_Analytics.RISK_LKP_RULES where person_type = 'Individual' and is_active_flag = 1 and RISK_TYPE = 'KYC profile/ Inherent risk based High Risk Indicators - Inherent Risk'",conn)

In [194]:
# case_entities = pd.read_sql_query("select Case_Master_Id,Entity_Master_Id,Is_Main_Entity_Flag from FINCORE_DB.Fincore.Case_Entity where Is_Active_Flag= 1 and Case_Master_Id = '{}'".format(case_entities),conn)

In [195]:
# main_entity = case_entities[case_entities['Is_Main_Entity_Flag'] == 1]['Entity_Master_Id'].to_list()

In [196]:
# main_entity

[7]

In [197]:
# other_entity = case_entities[case_entities['Is_Main_Entity_Flag'] == 0]['Entity_Master_Id'].to_list()

In [198]:
# inherent_risk = inherent_risk['RULE_NO'].to_list()

In [199]:
# inherent_df = []
# for ind,row in risk_person.iterrows():
#         l = []
#         l = list(row['RISK_RULE_LIST'].split('_'))
#         inherent = row['PERSON_MASTER_ID'],rules_triggered(l,inherent_risk)
#         inherent = list(inherent)
#         inherent_df.append(inherent)

In [200]:
# inherent_df = pd.DataFrame(inherent_df,columns = ['PERSON_MASTER_ID','RULES_TRIGGERED'])

In [201]:
# inherent_df['RULES_TRIGGERED']=inherent_df['RULES_TRIGGERED'].astype(str)
# inherent_df=inherent_df[inherent_df['RULES_TRIGGERED']!='[]']

In [202]:
# inherent_df.reset_index(inplace = True)
# inherent_df.drop(columns = ['index'],inplace = True)

In [203]:
# for ind,row in inherent_df.iterrows():
#     inherent_df['RULES_TRIGGERED'][ind] = inherent_df['RULES_TRIGGERED'][ind].replace('[','')
#     inherent_df['RULES_TRIGGERED'][ind] = inherent_df['RULES_TRIGGERED'][ind].replace(']','')
#     inherent_df['RULES_TRIGGERED'][ind]=inherent_df['RULES_TRIGGERED'][ind].replace('\'','')

<ipython-input-203-cb23b8f70ad3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inherent_df['RULES_TRIGGERED'][ind] = inherent_df['RULES_TRIGGERED'][ind].replace('[','')
<ipython-input-203-cb23b8f70ad3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inherent_df['RULES_TRIGGERED'][ind] = inherent_df['RULES_TRIGGERED'][ind].replace(']','')
<ipython-input-203-cb23b8f70ad3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inherent_df['RULES_TRIGGERED'][ind]=inherent_df['RULES_TRIGGERED'][ind].replace('\'','')

In [204]:
# inherent_risk_main = inherent_df[inherent_df['PERSON_MASTER_ID'].isin(main_entity)]

In [205]:
# inherent_risk_main.reset_index(inplace = True)

In [206]:
# inherent_risk_main = inherent_risk_main['RULES_TRIGGERED'].to_list()

In [207]:
# inherent_risk_main = str(inherent_risk_main)

In [208]:
# inherent_risk_main = inherent_risk_main.replace('\'','')
# inherent_risk_main = inherent_risk_main.replace('[','')
# inherent_risk_main = inherent_risk_main.replace(']','')
# inherent_risk_main = inherent_risk_main.replace(' ','')

In [209]:
# inherent_risk_main = inherent_risk_main.split(',')

In [210]:
# inherent_risk_main = [*set(inherent_risk_main)]

In [211]:
# inherent_risk_other = inherent_df[inherent_df['PERSON_MASTER_ID'].isin(other_entity)]

In [212]:
# inherent_risk_other.reset_index(inplace = True)

In [213]:
# inherent_risk_other = inherent_risk_other['RULES_TRIGGERED'].to_list()

In [214]:
# inherent_risk_other = str(inherent_risk_other)

In [215]:
# inherent_risk_other = inherent_risk_other.replace('\'','')
# inherent_risk_other = inherent_risk_other.replace('[','')
# inherent_risk_other = inherent_risk_other.replace(']','')
# inherent_risk_other = inherent_risk_other.replace(' ','')

In [216]:
# inherent_risk_other = inherent_risk_other.split(',')

In [217]:
# inherent_risk_other = [*set(inherent_risk_other)]

In [218]:
# inherent_risk_other

['P002001008', 'P002001007']

In [221]:
# rules_df = pd.read_sql_query("select * from FINCORE_DB.Fincore_Analytics.RISK_LKP_RULES where person_type = 'Individual' and is_active_flag = 1 and RISK_TYPE = 'KYC profile/ Inherent risk based High Risk Indicators - Inherent Risk'",conn)

In [231]:
# inherent_risk_other = rules_df[rules_df['RULE_NO'].isin(inherent_risk_other)]['RULE_DESC'].to_list()

In [36]:
# conn.close()

In [26]:
# def rules_triggered(a,b):
#     result = [i for i in a if i in b]
#     return result

In [18]:
# pyodbc.drivers()
# # conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.33.27;PORT=1433;DATABASE=FINCORE_DB;UID=Fincore_App_USR;PWD=F!NCore@123;TDS_Version=7.2;')
# conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.34.15;PORT=1433;DATABASE=FINCORE_DB;UID=FINCORE_ANALYTICS_USR;PWD=F!NCore@123;TDS_Version=7.2;')
# # conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.27.39;PORT=1433;DATABASE=HDM_FINCORE_DB;UID=FINC_HDM_USR;PWD=#DM@2022;TDS_Version=7.2;')
# cursor = conn.cursor()

In [19]:
# all_other_rule = pd.read_sql_query("select * from FINCORE_DB.Fincore_Analytics.RISK_LKP_RULES where person_type = 'Individual' and is_active_flag = 1 and RISK_TYPE  not in ('Auto High Rules ','KYC profile/ Inherent risk based High Risk Indicators - Inherent Risk')",conn)

In [20]:
# all_other_rule = all_other_rule['RULE_NO'].to_list()

In [21]:
# all_other_rule

['P003001001',
 'P003001004',
 'P003001007',
 'P003001008',
 'P003001009',
 'P003001010']

In [22]:
# risk_person[risk_person['PERSON_MASTER_ID'] == 10]

In [23]:
# risk_person  = pd.read_sql_query("Select * from FINCORE_DB.Fincore_Analytics.risk_person",conn)

In [27]:
# all_others_df = []
# for ind,row in tqdm(risk_person.iterrows()):
#         l = []
#         l = list(row['RISK_RULE_LIST'].split('_'))
#         all_other = row['PERSON_MASTER_ID'],rules_triggered(l,all_other_rule)
#         all_other = list(all_other)
#         all_others_df.append(all_other)

42it [00:00, 8423.10it/s]

In [28]:
# all_others_df = pd.DataFrame(all_others_df,columns = ['PERSON_MASTER_ID','RULES_TRIGGERED'])

In [161]:
# all_others_df

    PERSON_MASTER_ID         RULES_TRIGGERED
0                  1  P003001004, P003001009
1                  2              P003001004
2                  3              P003001004
3                  4              P003001004
4                  5              P003001004
5                  6              P003001009
6                  7  P003001004, P003001009
7                  8  P003001004, P003001009
8                  9  P003001004, P003001009
9                 11              P003001009
10                12              P003001009
11                13              P003001009
12                14              P003001009
13                15              P003001009
14                16              P003001009
15                17              P003001009
16                18              P003001009
17                19              P003001009
18                20  P003001004, P003001009
19                21  P003001004, P003001009
20                22  P003001004, P003001009
21                23              P003001009
22                24              P003001009
23                25              P003001009
24                26              P003001009
25                27              P003001009
26                28              P003001009
27                29              P003001009
28                30              P003001009
29                31              P003001009
30                32              P003001009
31                33  P003001004, P003001009
32                34  P003001004, P003001009
33                35              P003001009
34                36              P003001009
35                37              P003001009
36                38              P003001009
37                39              P003001009
38                40              P003001009
39                41              P003001009
40                42              P003001009

In [162]:
# all_others_df['RULES_TRIGGERED']=all_others_df['RULES_TRIGGERED'].astype(str)
# all_others_df=all_others_df[all_others_df['RULES_TRIGGERED']!='[]']

<ipython-input-162-e1554c13fce4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_others_df['RULES_TRIGGERED']=all_others_df['RULES_TRIGGERED'].astype(str)

In [163]:
# all_others_df.reset_index(inplace = True)
# all_others_df.drop(columns = ['index'],inplace = True)

In [164]:
# for ind,row in tqdm(all_others_df.iterrows()):
#     all_others_df['RULES_TRIGGERED'][ind] = all_others_df['RULES_TRIGGERED'][ind].replace('[','')
#     all_others_df['RULES_TRIGGERED'][ind] = all_others_df['RULES_TRIGGERED'][ind].replace(']','')
#     all_others_df['RULES_TRIGGERED'][ind]= all_others_df['RULES_TRIGGERED'][ind].replace('\'','')

0it [00:00, ?it/s]<ipython-input-164-bd4cfd6c9280>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_others_df['RULES_TRIGGERED'][ind] = all_others_df['RULES_TRIGGERED'][ind].replace('[','')
<ipython-input-164-bd4cfd6c9280>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_others_df['RULES_TRIGGERED'][ind] = all_others_df['RULES_TRIGGERED'][ind].replace(']','')
<ipython-input-164-bd4cfd6c9280>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_others_df['RULES_TRIGGERED'][ind]= all_others_df['RULES_TRIGGERED'][ind].replace('\'','')
41it [00:00, 775.31it/s]

In [169]:
# all_others_df_main = all_others_df[all_others_df['PERSON_MASTER_ID']== main_entity]['RULES_TRIGGERED'].to_list()

In [ ]:
# all_others_df_other = all_others_df[all_others_df['PERSON_MASTER_ID']== other_entity]['RULES_TRIGGERED'].to_list()

In [170]:
# all_others_df['RULES_TRIGGERED'][0].split(',')

['P003001004', ' P003001009']

# 	This case has Number of Entities entities on the FIU or LEA watchlist.

In [779]:
# pyodbc.drivers()
# # conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.33.27;PORT=1433;DATABASE=FINCORE_DB;UID=Fincore_App_USR;PWD=F!NCore@123;TDS_Version=7.2;')
# conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.34.15;PORT=1433;DATABASE=FINCORE_DB;UID=FINCORE_ANALYTICS_USR;PWD=F!NCore@123;TDS_Version=7.2;')
# # conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.27.39;PORT=1433;DATABASE=HDM_FINCORE_DB;UID=FINC_HDM_USR;PWD=#DM@2022;TDS_Version=7.2;')
# cursor = conn.cursor()

In [780]:
# df = pd.read_sql_query("select * from Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES",conn)

In [781]:
# df

,PERSON_MASTER_ID,RULE_NO,RULE_VALUE,RISK_SCORE_STATIC,CREATE_DATE
0,1,P002001007,4,NaN,2022-12-06
1,1,P002001008,1,NaN,2022-12-06
2,1,P003001001,Individual,0.0,2022-12-06
3,1,P003001004,Current Account,5.0,2022-12-06
4,1,P003001007,2022-11-15,0.0,2022-12-06
...,...,...,...,...,...
345,42,P003001010,7,NaN,2022-12-06
346,43,P003001008,High,6.0,2022-12-09
347,43,P003001010,2018-05-20,7.0,2022-12-06
348,44,P003001008,High,6.0,2022-12-09
349,44,P003001010,2018-02-20,7.0,2022-12-06

In [782]:
# flagged_person = df[df['RULE_NO'] == 'P001001000']['PERSON_MASTER_ID'].to_list()

In [783]:
# flagged_person

[]

In [784]:
# flagged_person = [*set(flagged_person)]

In [785]:
# case_master_id = 'BA00000333'

In [786]:
# case_entities = pd.read_sql_query("select Case_Master_Id,Entity_Master_Id,Is_Main_Entity_Flag from FINCORE_DB.Fincore.Case_Entity where Is_Active_Flag= 1 and Case_Master_Id = '{}'".format(case_master_id),conn)

In [787]:
# case_entities

  Case_Master_Id  Entity_Master_Id  Is_Main_Entity_Flag
0     BA00000333                 7                    1
1     BA00000333                 8                    0

In [788]:
# def intersection(case_entities,flagged_person):
#     intersection = [value for value in case_entities if value in flagged_person]
#     return intersection

In [789]:
#  no_of_sanctionedlen(intersection(case_entities,flagged_person))

0

# 	LEA Adhoc request has been previously raised on Number of Entities entities

In [33]:
# flagged_person = df[df['RULE_NO'] == 'P001002000']['PERSON_MASTER_ID'].to_list()

In [ ]:
# flagged_person = [*set(flagged_person)]

In [ ]:
# case_master_id = 'BA00000333'

In [ ]:
# case_entities = pd.read_sql_query("select Case_Master_Id,Entity_Master_Id,Is_Main_Entity_Flag from FINCORE_DB.Fincore.Case_Entity where Is_Active_Flag= 1 and Case_Master_Id = '{}'".format(case_master_id),conn)

In [ ]:
# def intersection(case_entities,flagged_person):
#     intersection = [value for value in case_entities if value in flagged_person]
#     return intersection

In [ ]:
# print(len(intersection(case_entities,flagged_person)))

# International sanction list.

In [99]:
#  df[df['RULE_NO'].isin(['O001003000','P001003000'])]

Empty DataFrame
Columns: [PERSON_MASTER_ID, RULE_NO, RULE_VALUE, RISK_SCORE_STATIC, CREATE_DATE]
Index: []

In [100]:
# flagged_person = df[df['RULE_NO'].isin(['O001003000','P001003000'])]['PERSON_MASTER_ID'].to_list()

In [101]:
# flagged_person

[]

# High risk Business

In [ ]:
# select * from FINCORE_DB.Fincore_Analytics.RISK_LKP_RULES 
# where rule_no in ('P003001002','O003001002')

In [3]:
# import pyodbc
# import pandas as pd
# from tqdm import tqdm as tqdm

In [4]:

# def rules_triggered(a,b):
#     result = [i for i in a if i in b]
#     return result

In [7]:
# pyodbc.drivers()
# # conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.33.27;PORT=1433;DATABASE=FINCORE_DB;UID=Fincore_App_USR;PWD=F!NCore@123;TDS_Version=7.2;')
# conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.34.15;PORT=1433;DATABASE=FINCORE_DB;UID=FINCORE_ANALYTICS_USR;PWD=F!NCore@123;TDS_Version=7.2;')
# # conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.27.39;PORT=1433;DATABASE=HDM_FINCORE_DB;UID=FINC_HDM_USR;PWD=#DM@2022;TDS_Version=7.2;')
# cursor = conn.cursor()

In [9]:
# rules_df = pd.read_sql_query("select * from FINCORE_DB.Fincore_Analytics.RISK_LKP_RULES where  is_active_flag = 1 ",conn)

In [10]:
# cmid = 'BA00000020'

In [11]:
# #Dictionary that maps gender with pronouns
# gen_dict = {'Male':'His','Female':'Her'}

# #creating a dataframe to store the case summary 
# case_data = pd.DataFrame()
# #list to store the case summary of each case
# summary_list = []
# s = ''

# #Creating an HTML file to store the HTML
# html_file = open(r"str(cmid)"+".html",'w')
# css = '''<!DOCTYPE html>
#     <html>
#     <head>
#     <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
#     <style>
#             ul{
#                 list-style-type:disc;
#             }
#             body{
#             font-family:"Calibri, sans-serif";
#             word-wrap:break-word;
#             margin-left: 20px;
#             }
#         </style>
#     </head>
#     <body lang="EN-US">
#     <div>
#     '''
# #Writing the CSS in the html file
# html_file.write(css)
# #beginign of unordered list
# html_file.write("<ul>")
# print(cmid)

In [13]:


# pyodbc.drivers()
# conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.34.15;PORT=1433;DATABASE=FINCORE_DB;UID=FINCORE_ANALYTICS_USR;PWD=F!NCore@123;TDS_Version=7.2;')
# cursor = conn.cursor()

In [14]:

# case_entities = pd.read_sql_query("select Case_Master_Id,Entity_Master_Id,Is_Main_Entity_Flag from FINCORE_DB.Fincore.Case_Entity where Is_Active_Flag= 1 and Case_Master_Id = '{}'".format(cmid),conn)
# #

In [15]:
# case_entities

  Case_Master_Id  Entity_Master_Id  Is_Main_Entity_Flag
0     BA00000020                10                    1
1     BA00000020                14                    0

In [96]:
# all_entities = case_entities['Entity_Master_Id'].to_list()

In [97]:
# all_entities

[10, 14]

In [16]:



# main_entity = case_entities[case_entities['Is_Main_Entity_Flag'] == 1]['Entity_Master_Id'].to_list()
# other_entity = case_entities[case_entities['Is_Main_Entity_Flag'] == 0]['Entity_Master_Id'].to_list()

In [17]:
# main_entity

[10]

In [18]:

# risk_person = pd.read_sql_query("SELECT * FROM FINCORE_ANALYTICS.RISK_PERSON",conn)
# auto_high_rules = pd.read_sql_query("Select * from fincore_analytics.risk_lkp_rules where RISK_TYPE = 'Auto High Rules ' and IS_ACTIVE_FLAG = 1",conn)
# auto_high_rules = auto_high_rules['RULE_NO'].to_list()

In [19]:



# auto_df = []
# for ind,row in risk_person.iterrows():
#         l = []
#         l = list(row['RISK_RULE_LIST'].split('_'))
#         auto = row['PERSON_MASTER_ID'],rules_triggered(l,auto_high_rules)
#         auto = list(auto)
#         auto_df.append(auto)

# auto_df = pd.DataFrame(auto_df,columns = ['PERSON_MASTER_ID','RULES_TRIGGERED'])
# auto_df['RULES_TRIGGERED']=auto_df['RULES_TRIGGERED'].astype(str)
# auto_df=auto_df[auto_df['RULES_TRIGGERED']!='[]']

# auto_df.reset_index(inplace = True)
# auto_df.drop(columns = ['index'],inplace = True)


# for ind,row in auto_df.iterrows():
#     auto_df['RULES_TRIGGERED'][ind] = auto_df['RULES_TRIGGERED'][ind].replace('[','')
#     auto_df['RULES_TRIGGERED'][ind] = auto_df['RULES_TRIGGERED'][ind].replace(']','')
#     auto_df['RULES_TRIGGERED'][ind] = auto_df['RULES_TRIGGERED'][ind].replace('\'','')

In [20]:


# auto_df_main = auto_df[auto_df['PERSON_MASTER_ID'].isin(main_entity)]
# auto_df_main.reset_index(inplace = True)
# auto_df_main = auto_df_main['RULES_TRIGGERED'].to_list()
# auto_df_main = str(auto_df_main)
# auto_df_main = auto_df_main.replace('\'','')
# auto_df_main = auto_df_main.replace('[','')
# auto_df_main = auto_df_main.replace(']','')
# auto_df_main = auto_df_main.replace(' ','')
# auto_df_main = auto_df_main.split(',')
# auto_df_main = [*set(auto_df_main)]

In [21]:
# auto_df_main = rules_df[rules_df['RULE_NO'].isin(auto_df_main)]['RULE_DESC'].to_list()

In [22]:


# auto_df_other = auto_df[auto_df['PERSON_MASTER_ID'].isin(other_entity)]
# auto_df_other.reset_index(inplace = True)
# auto_df_other = auto_df_other['RULES_TRIGGERED'].to_list()
# auto_df_other = str(auto_df_other)
# auto_df_other = auto_df_other.replace('\'','')
# auto_df_other = auto_df_other.replace('[','')
# auto_df_other = auto_df_other.replace(']','')
# auto_df_other = auto_df_other.replace(' ','')
# auto_df_other = auto_df_other.split(',')
# auto_df_other = [*set(auto_df_other)]

# auto_df_other = rules_df[rules_df['RULE_NO'].isin(auto_df_other)]['RULE_DESC'].to_list()

In [23]:

# watchlist = pd.read_sql_query("select PERSON_MASTER_ID,RULE_NO,string_agg(RULE_VALUE,',') within group (order by rule_no)  as rule_value from FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES where RULE_NO in ('P001001000', 'P001003000')group by PERSON_MASTER_ID,RULE_NO",conn)

In [24]:
# watchlist

Empty DataFrame
Columns: [PERSON_MASTER_ID, RULE_NO, rule_value]
Index: []

In [25]:


# main_entity_watchlist = watchlist[watchlist['PERSON_MASTER_ID'].isin(main_entity)]
# main_entity_watchlist.reset_index(inplace = True)

# main_entity_watchlist = main_entity_watchlist['RULE_NO'].to_list()
# main_entity_watchlist = str(main_entity_watchlist)
# main_entity_watchlist = main_entity_watchlist.replace('\'','')
# main_entity_watchlist = main_entity_watchlist.replace('[','')
# main_entity_watchlist = main_entity_watchlist.replace(']','')
# main_entity_watchlist = main_entity_watchlist.replace(' ','')
# main_entity_watchlist = main_entity_watchlist.split(',')
# main_entity_watchlist = [*set(main_entity_watchlist)]

# other_entity_watchlist = watchlist[watchlist['PERSON_MASTER_ID'].isin(other_entity)]
# other_entity_watchlist.reset_index(inplace = True)
# other_entity_watchlist = other_entity_watchlist['RULE_NO'].to_list()
# other_entity_watchlist = str(other_entity_watchlist)
# other_entity_watchlist = other_entity_watchlist.replace('\'','')
# other_entity_watchlist = other_entity_watchlist.replace('[','')
# other_entity_watchlist = other_entity_watchlist.replace(']','')
# other_entity_watchlist = other_entity_watchlist.replace(' ','')
# other_entity_watchlist = other_entity_watchlist.split(',')
# other_entity_watchlist = [*set(other_entity_watchlist)]

In [26]:
# inherent_risk = pd.read_sql_query("select * from FINCORE_DB.Fincore_Analytics.RISK_LKP_RULES where person_type = 'Individual' and is_active_flag = 1 and RISK_TYPE = 'KYC profile/ Inherent risk based High Risk Indicators - Inherent Risk'",conn)

In [27]:
# inherent_risk

,RULE_ID,RULE_NO,RULE_DESC,PERSON_TYPE,RISK_TYPE,IS_ACTIVE_FLAG,CREATE_DATE,UPDATE_DATE,SOURCE_DATA_EXISTING_UNDRSTD,DEVELOPMENT_STATUS,CODE_REVIEW_STATUS,DEPENDENCY,WEIGHTAGE,PRIORITY_NO,Query,QUERY_TEMP,RISK_SCORE_STATIC_FLAG
0,2.1.7,P002001007,Number of names/aliases reported across differ...,Individual,KYC profile/ Inherent risk based High Risk Ind...,1,2022-02-03,None,None,On-Hold,None,None,10,2,\r\n\r\n\r\n\r\n\r\n\r\n MERGE INTO FI...,None,0
1,2.1.8,P002001008,Number of mobile Numbers,Individual,KYC profile/ Inherent risk based High Risk Ind...,1,2022-02-03,None,None,On-Hold,None,None,10,2,\r\n\r\n\r\n MERGE INTO FINCORE_DB.Fincor...,None,0

In [28]:
# main_entity = case_entities[case_entities['Is_Main_Entity_Flag'] == 1]['Entity_Master_Id'].to_list()
# other_entity = case_entities[case_entities['Is_Main_Entity_Flag'] == 0]['Entity_Master_Id'].to_list()
# inherent_risk = inherent_risk['RULE_NO'].to_list()

In [29]:
# other_entity

[14]

In [30]:
# inherent_df = []
# for ind,row in risk_person.iterrows():
#         l = []
#         l = list(row['RISK_RULE_LIST'].split('_'))
#         inherent = row['PERSON_MASTER_ID'],rules_triggered(l,inherent_risk)
#         inherent = list(inherent)
#         inherent_df.append(inherent)

In [31]:


# inherent_df = pd.DataFrame(inherent_df,columns = ['PERSON_MASTER_ID','RULES_TRIGGERED'])
# inherent_df['RULES_TRIGGERED']=inherent_df['RULES_TRIGGERED'].astype(str)
# inherent_df=inherent_df[inherent_df['RULES_TRIGGERED']!='[]']
# inherent_df.reset_index(inplace = True)
# inherent_df.drop(columns = ['index'],inplace = True)

In [32]:

# for ind,row in inherent_df.iterrows():
#     inherent_df['RULES_TRIGGERED'][ind] = inherent_df['RULES_TRIGGERED'][ind].replace('[','')
#     inherent_df['RULES_TRIGGERED'][ind] = inherent_df['RULES_TRIGGERED'][ind].replace(']','')
#     inherent_df['RULES_TRIGGERED'][ind]=inherent_df['RULES_TRIGGERED'][ind].replace('\'','')

<ipython-input-32-fd66be8abb83>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inherent_df['RULES_TRIGGERED'][ind] = inherent_df['RULES_TRIGGERED'][ind].replace('[','')
<ipython-input-32-fd66be8abb83>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inherent_df['RULES_TRIGGERED'][ind] = inherent_df['RULES_TRIGGERED'][ind].replace(']','')
<ipython-input-32-fd66be8abb83>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inherent_df['RULES_TRIGGERED'][ind]=inherent_df['RULES_TRIGGERED'][ind].replace('\'','')

In [33]:
# inherent_df

    PERSON_MASTER_ID         RULES_TRIGGERED
0                  1  P002001007, P002001008
1                  2              P002001007
2                  3              P002001007
3                  4              P002001007
4                  5  P002001007, P002001008
5                  6  P002001007, P002001008
6                  7  P002001007, P002001008
7                  8  P002001007, P002001008
8                  9  P002001007, P002001008
9                 10  P002001007, P002001008
10                11  P002001007, P002001008
11                12  P002001007, P002001008
12                13  P002001007, P002001008
13                14  P002001007, P002001008
14                15  P002001007, P002001008
15                16  P002001007, P002001008
16                17  P002001007, P002001008
17                18  P002001007, P002001008
18                19  P002001007, P002001008
19                20  P002001007, P002001008
20                21  P002001007, P002001008
21                22  P002001007, P002001008
22                23  P002001007, P002001008
23                24  P002001007, P002001008
24                25              P002001007
25                26  P002001007, P002001008
26                27  P002001007, P002001008
27                28  P002001007, P002001008
28                29  P002001007, P002001008
29                31  P002001007, P002001008
30                32  P002001007, P002001008
31                33  P002001007, P002001008
32                34              P002001007
33                37  P002001007, P002001008
34                42  P002001007, P002001008
35                43  P002001007, P002001008
36                44  P002001007, P002001008
37                45  P002001007, P002001008
38                46  P002001007, P002001008
39                47  P002001007, P002001008
40                48  P002001007, P002001008
41                49              P002001007
42                50  P002001007, P002001008
43                51  P002001007, P002001008
44                52  P002001007, P002001008
45                53  P002001007, P002001008
46                54              P002001007
47                55              P002001007
48                56  P002001007, P002001008

In [34]:

# inherent_risk_main = inherent_df[inherent_df['PERSON_MASTER_ID'].isin(main_entity)]
# inherent_risk_main.reset_index(inplace = True)
# inherent_risk_main = inherent_risk_main['RULES_TRIGGERED'].to_list()
# inherent_risk_main = str(inherent_risk_main)
# inherent_risk_main = inherent_risk_main.replace('\'','')
# inherent_risk_main = inherent_risk_main.replace('[','')
# inherent_risk_main = inherent_risk_main.replace(']','')
# inherent_risk_main = inherent_risk_main.replace(' ','')
# inherent_risk_main = inherent_risk_main.split(',')
# inherent_risk_main = [*set(inherent_risk_main)]

In [35]:
# inherent_risk_main

['P002001007', 'P002001008']

In [36]:
# inherent_risk_main = rules_df[rules_df['RULE_NO'].isin(inherent_risk_main)]['RULE_DESC'].to_list()

In [37]:
# inherent_risk_main

['Number of names/aliases reported across different REs',
 'Number of mobile Numbers']

In [38]:

# inherent_risk_other = inherent_df[inherent_df['PERSON_MASTER_ID'].isin(other_entity)]
# inherent_risk_other.reset_index(inplace = True)
# inherent_risk_other = inherent_risk_other['RULES_TRIGGERED'].to_list()
# inherent_risk_other = str(inherent_risk_other)
# inherent_risk_other = inherent_risk_other.replace('\'','')
# inherent_risk_other = inherent_risk_other.replace('[','')
# inherent_risk_other = inherent_risk_other.replace(']','')
# inherent_risk_other = inherent_risk_other.replace(' ','')
# inherent_risk_other = inherent_risk_other.split(',')
# inherent_risk_other = [*set(inherent_risk_other)]

In [39]:
# inherent_risk_other = rules_df[rules_df['RULE_NO'].isin(inherent_risk_other)]['RULE_DESC'].to_list()

['Number of names/aliases reported across different REs',
 'Number of mobile Numbers']

In [41]:
# all_other_rule = pd.read_sql_query("select * from FINCORE_DB.Fincore_Analytics.RISK_LKP_RULES where person_type = 'Individual' and is_active_flag = 1 and RISK_TYPE  not in ('Auto High Rules ','KYC profile/ Inherent risk based High Risk Indicators - Inherent Risk')",conn)

,RULE_ID,RULE_NO,RULE_DESC,PERSON_TYPE,RISK_TYPE,IS_ACTIVE_FLAG,CREATE_DATE,UPDATE_DATE,SOURCE_DATA_EXISTING_UNDRSTD,DEVELOPMENT_STATUS,CODE_REVIEW_STATUS,DEPENDENCY,WEIGHTAGE,PRIORITY_NO,Query,QUERY_TEMP,RISK_SCORE_STATIC_FLAG
0,3.1.4,P003001004,Type of accounts held,Individual,KYC profile based Risk - Inherent Risk,1,2022-07-19,None,None,complete,None,None,10,2,\r\n\r\n\r\n\t\t \r\n\r\n MERGE INTO FINCO...,None,1
1,3.1.7,P003001007,"Ageing of Reports Filed (STR, CTR, CBWTR, CCR,...",Individual,KYC profile based Risk,1,2022-02-03,None,None,complete,None,None,10,2,\r\n\r\n\r\n\t\t \r\n\t\t MER...,None,1
2,3.1.8,P003001008,Individual risk given by RE,Individual,KYC profile based Risk,1,2022-02-03,None,None,complete,None,FUNCTIONAL CLARITY|Need Inputs from Functional...,10,2,\r\n\r\n MERGE INTO FINCORE_DB.Fincore_Ana...,None,1
3,3.1.9,P003001009,Client onboarding date,Individual,KYC profile based Risk,1,2022-02-03,None,None,complete,None,None,10,2,\r\n\r\n\t MERGE INTO [FINCORE_DB].[Finc...,None,1

In [43]:

# all_other_rule = all_other_rule['RULE_NO'].to_list()
# all_others_df = []
# for ind,row in tqdm(risk_person.iterrows()):
#     l = []
#     l = list(row['RISK_RULE_LIST'].split('_'))
#     all_other = row['PERSON_MASTER_ID'],rules_triggered(l,all_other_rule)
#     all_other = list(all_other)
#     all_others_df.append(all_other)

49it [00:00, 3781.99it/s]

In [44]:

# all_others_df = pd.DataFrame(all_others_df,columns = ['PERSON_MASTER_ID','RULES_TRIGGERED'])
# all_others_df['RULES_TRIGGERED']=all_others_df['RULES_TRIGGERED'].astype(str)
# all_others_df=all_others_df[all_others_df['RULES_TRIGGERED']!='[]']
# all_others_df.reset_index(inplace = True)
# all_others_df.drop(columns = ['index'],inplace = True)
# for ind,row in tqdm(all_others_df.iterrows()):
#     all_others_df['RULES_TRIGGERED'][ind] = all_others_df['RULES_TRIGGERED'][ind].replace('[','')
#     all_others_df['RULES_TRIGGERED'][ind] = all_others_df['RULES_TRIGGERED'][ind].replace(']','')
#     all_others_df['RULES_TRIGGERED'][ind]= all_others_df['RULES_TRIGGERED'][ind].replace('\'','')

0it [00:00, ?it/s]<ipython-input-44-365aa0eb5374>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_others_df['RULES_TRIGGERED'][ind] = all_others_df['RULES_TRIGGERED'][ind].replace('[','')
<ipython-input-44-365aa0eb5374>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_others_df['RULES_TRIGGERED'][ind] = all_others_df['RULES_TRIGGERED'][ind].replace(']','')
<ipython-input-44-365aa0eb5374>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_others_df['RULES_TRIGGERED'][ind]= all_others_df['RULES_TRIGGERED'][ind].replace('\'','')
45it [00:00, 791.11it/s]

In [45]:
# all_others_df

    PERSON_MASTER_ID                     RULES_TRIGGERED
0                  1  P003001004, P003001008, P003001009
1                  2              P003001004, P003001008
2                  3              P003001004, P003001008
3                  4              P003001004, P003001008
4                  5              P003001004, P003001008
5                  6              P003001008, P003001009
6                  7  P003001004, P003001008, P003001009
7                  8  P003001004, P003001008, P003001009
8                  9  P003001004, P003001008, P003001009
9                 10                          P003001008
10                11              P003001008, P003001009
11                12              P003001008, P003001009
12                13              P003001008, P003001009
13                14              P003001008, P003001009
14                15              P003001008, P003001009
15                16              P003001008, P003001009
16                17              P003001008, P003001009
17                18              P003001008, P003001009
18                19              P003001008, P003001009
19                20  P003001004, P003001008, P003001009
20                21  P003001004, P003001008, P003001009
21                22  P003001004, P003001008, P003001009
22                23              P003001008, P003001009
23                24              P003001008, P003001009
24                25              P003001008, P003001009
25                26              P003001008, P003001009
26                27  P003001004, P003001008, P003001009
27                28              P003001008, P003001009
28                29              P003001008, P003001009
29                31              P003001008, P003001009
30                32              P003001008, P003001009
31                33  P003001004, P003001008, P003001009
32                34  P003001004, P003001008, P003001009
33                37              P003001008, P003001009
34                42              P003001008, P003001009
35                43              P003001008, P003001009
36                44              P003001008, P003001009
37                45              P003001008, P003001009
38                48                          P003001004
39                50              P003001008, P003001009
40                51              P003001008, P003001009
41                52              P003001008, P003001009
42                53  P003001004, P003001008, P003001009
43                54                          P003001008
44                56              P003001008, P003001009

In [46]:
# all_others_df_main = all_others_df[all_others_df['PERSON_MASTER_ID'].isin(main_entity)]
# all_others_df_main.reset_index(inplace = True)
# all_others_df_main = all_others_df_main['RULES_TRIGGERED'].to_list()
# all_others_df_main = str(all_others_df_main)
# all_others_df_main = all_others_df_main.replace('\'','')
# all_others_df_main = all_others_df_main.replace('[','')
# all_others_df_main = all_others_df_main.replace(']','')
# all_others_df_main = all_others_df_main.replace(' ','')
# all_others_df_main = all_others_df_main.split(',')
# all_others_df_main = [*set(all_others_df_main)]

In [47]:
# all_others_df_main = rules_df[rules_df['RULE_NO'].isin(all_others_df_main)]['RULE_DESC'].to_list()

In [48]:
# rules_df

,RULE_ID,RULE_NO,RULE_DESC,PERSON_TYPE,RISK_TYPE,IS_ACTIVE_FLAG,CREATE_DATE,UPDATE_DATE,SOURCE_DATA_EXISTING_UNDRSTD,DEVELOPMENT_STATUS,CODE_REVIEW_STATUS,DEPENDENCY,WEIGHTAGE,PRIORITY_NO,Query,QUERY_TEMP,RISK_SCORE_STATIC_FLAG
0,1.1,O001001000,Entity/ its parent entity/ holding company/ re...,Organization,Auto High Rules,1,2022-02-03,None,None,On-Hold,None,EXTERNAL DATA|Watchlist Information to be main...,10,1,\r\n\t\t\tMERGE INTO FINCORE_DB.Fincore_Analyt...,None,0.0
1,1.3,O001003000,Entity/ its parent entity/ holding company/ re...,Organization,Auto High Rules,1,2022-02-03,None,None,On-Hold,None,None,10,1,\r\n\t\t\t\r\n\r\n\t\t\t\t\t\t MERGE INTO ...,None,0.0
2,1.4,O001004000,Adverse Media Screening reported,Organization,Auto High Rules,1,2022-02-03,None,None,On-Hold,None,None,10,1,\r\n\t\t\t\r\n\r\n\t\t MERG...,None,0.0
3,1.5,O001005000,Organization has been struck-off,Organization,Auto High Rules,1,2022-02-03,None,None,On-Hold,None,EXTERNAL_DATA|Data not received from MCA,10,1,\r\n\t\t\t\r\n\r\n\t\t\t\t\t\t\tMERGE INTO [FI...,None,0.0
4,1.7,O001007000,Invalid or Wrong PAN/ DIN/ DPIN/ TAN/ IEC numb...,Organization,Auto High Rules,1,2022-02-03,None,None,On-Hold,None,None,10,1,\r\n\r\n MERGE INTO FINCORE_DB.Fincore_Ana...,None,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2.1.28,O002001028,No of Low Risk CTRs filed,Organization,KYC profile/ Inherent risk based High Risk Ind...,1,2022-02-03,None,None,On-Hold,None,None,10,2,\r\n MERGE INTO FINCORE_DB.Fincore_Analytics...,None,0.0
59,3.2.3,T003003003_W,Cash at Branch_Value Risk (Withdrawal),TC2_Value_Withdrawal,Transaction Risk,1,2022-02-03,None,None,COMPLETED,None,None,10,4,Select 1 from FINCORE_DB.Fincore_Analytics.RIS...,None,0.0
60,3.2.4,T003003004_W,Cash at Branch_Volume Risk(Withdrawal),TC2_Volume_Withdrawal,Transaction Risk,1,2022-02-03,None,None,COMPLETED,None,None,10,4,Select 1 from FINCORE_DB.Fincore_Analytics.RIS...,None,0.0
61,3.2.7,T003003007_W,Cash at ATM_Value Risk (Withdrawal),TC1_Value_Withdrawal,Transaction Risk,1,2022-02-03,None,None,COMPLETED,None,None,10,4,Select 1 from FINCORE_DB.Fincore_Analytics.RIS...,None,0.0
62,3.2.8,T003003008_W,Cash at ATM_Volume Risk(Withdrawal),TC1_Volume_Withdrawal,Transaction Risk,1,2022-02-03,None,None,COMPLETED,None,None,10,4,Select 1 from FINCORE_DB.Fincore_Analytics.RIS...,None,0.0

In [49]:


# all_others_df_other = all_others_df[all_others_df['PERSON_MASTER_ID'].isin(other_entity)]
# all_others_df_other.reset_index(inplace = True)
# all_others_df_other = all_others_df_other['RULES_TRIGGERED'].to_list()
# all_others_df_other = str(all_others_df_other)
# all_others_df_other = all_others_df_other.replace('\'','')
# all_others_df_other = all_others_df_other.replace('[','')
# all_others_df_other = all_others_df_other.replace(']','')
# all_others_df_other = all_others_df_other.replace(' ','')
# all_others_df_other = all_others_df_other.split(',')
# all_others_df_other = [*set(all_others_df_other)]

In [50]:
# all_others_df_other = rules_df[rules_df['RULE_NO'].isin(all_others_df_other)]['RULE_DESC'].to_list()

In [51]:
# all_others_df_other

['Individual risk given by RE ', 'Client onboarding date']

In [52]:

# case_entities = pd.read_sql_query("select Case_Master_Id,Entity_Master_Id,Is_Main_Entity_Flag from FINCORE_DB.Fincore.Case_Entity where Is_Active_Flag= 1 and Case_Master_Id = '{}'".format(cmid),conn)

# main_entity = case_entities[case_entities['Is_Main_Entity_Flag'] == 1]['Entity_Master_Id'].to_list()
# other_entity = case_entities[case_entities['Is_Main_Entity_Flag'] == 0]['Entity_Master_Id'].to_list()

In [81]:
# s = ''

In [82]:
# s = '<html>'

In [83]:
# inherent_risk_main

['Number of names/aliases reported across different REs',
 'Number of mobile Numbers']

In [84]:


# if (len(main_entity) > 0):
#     if (auto_df_main == []):
        
#         s = s+" The main entities has <b> 0 </b> auto high rules triggered and is reported on the <b>no </b> watchlist."
        
        
#         if (len(main_entity) == 1):
#             if (inherent_risk_main == []):
#                 pass
#             else:
#                 s = s + "<br><ol> The Main entity has <b>" + str(inherent_risk_main) +" </b>."
#             if (all_others_df_main == []):
#                 pass
#             else:
#                 s = s + "<br> The Main entity has <b>" + str(all_others_df_main) +"</b>."
                
#             print(s)
        
#         else:
#             if(inherent_risk_main == []):
#                 pass
#             else:
#                 s = s + "<br><ol> The Main entities have" + str(inherent_risk_main) +"."
                        
#             if (all_others_df_main == []):
#                 pass  
#             else:
#                 s = s + "<br> The Main entities have <b>" + str(all_others_df_main) +"</b>."
#             print(s)



#     else:
#         if (len(main_entity) == 1):
#             s = s+"<br></ol> The main entity has <b>"+ str(auto_df_main) + " </b>and is reported on the <b>" + str(main_entity_watchlist)+"</b>watchlist."

#         elif(len(main_entity) > 1):
#             s = s+"<br></ol> The main entities have <b>"+ str(auto_df_main) + "</b>and are reported on the <b>" + str(main_entity_watchlist)+"</b>watchlist."


# else:
#     s = s+"<br></ol> There is no main entity"

<html> The main entities has <b> 0 </b> auto high rules triggered and is reported on the <b>no </b> watchlist.<br><ol> The Main entity has <b>['Number of names/aliases reported across different REs', 'Number of mobile Numbers'] </b>.<br> The Main entity has <b>['Individual risk given by RE ']</b>.

In [85]:
# s

"<html> The main entities has <b> 0 </b> auto high rules triggered and is reported on the <b>no </b> watchlist.<br><ol> The Main entity has <b>['Number of names/aliases reported across different REs', 'Number of mobile Numbers'] </b>.<br> The Main entity has <b>['Individual risk given by RE ']</b>."

In [86]:

# if (len(other_entity) > 0):

#     if (auto_df_other == []):
#         s = s+"<br></ol> The other case entities has <b>0</b>auto high rules triggered and is reported on the <b>no</b> watchlist."
        
#         if (len(other_entity) == 1):
#             if (inherent_risk_other == []):
#                 pass
#             else:
#                 s = s + "<ol> The Other case entity has <b>" + str(inherent_risk_other) +"</b>."
            
#             if (all_others_df_other == []):
#                 pass
#             else:
#                 s = s + "<br> The Other case entity has <b>" + str(all_others_df_other) +"</b>."
            
#         else:
#             if(inherent_risk_other == []):
#                 pass
#             else:
#                 s = s + "<ol> The Other case entities have <b>" + str(inherent_risk_other) +"</b>."
#             if (all_others_df_other == []):
#                 pass
#             else:
#                 s = s + "<br> The Other case entities have <b> " + str(all_others_df_other) +"</b>."
            

#     else:
#         if (len(other_entity) == 1):
#             s = s+"<br></ol> The Other case  entity has <b>"+ str(auto_df_other) + " </b>and is reported on the <b>" + str(other_entity_watchlist)+"</b>watchlist."
            

#         elif(len(other_entity) > 1):
#             s = s+"<br></ol> The Other case  entities have <b>"+ str(auto_df_other) + "</b>and are reported on the <b>" + str(other_entity_watchlist)+"</b>watchlist."
            
            
            
# else:
#      s = s+"<br></ol> There is no other case entity"

In [87]:
# def intersection(case_entities,flagged_person):
#     intersection = [value for value in case_entities if value in flagged_person]
#     return intersection

In [ ]:
# case_entities = pd.read_sql_query("select Case_Master_Id,Entity_Master_Id,Is_Main_Entity_Flag from FINCORE_DB.Fincore.Case_Entity where Is_Active_Flag= 1 and Case_Master_Id = '{}'".format(cmid),conn)\\
# df = pd.read_sql_query("select * from Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES",conn)

In [88]:

# df = pd.read_sql_query("select * from Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES",conn)
# flagged_person = df[df['RULE_NO'] == 'P001001000']['PERSON_MASTER_ID'].to_list()
# flagged_person = [*set(flagged_person)]
# no_of_sanctioned_id = len(intersection(case_entities,flagged_person))
# s = s+ "<br></ol>This case has <b>"+ str(no_of_sanctioned_id) + "</b> entities on the FIU or LEA watchlist."

In [89]:
# flagged_person = df[df['RULE_NO'] == 'P001002000']['PERSON_MASTER_ID'].to_list()
# flagged_person = [*set(flagged_person)]
# lea_adhoc = len(intersection(case_entities,flagged_person))
# s = s+ "<br></ol>LEA Adhoc request has been previously raised on <b> "+ str(lea_adhoc) + "</b> entities."

In [90]:
# flagged_person = df[df['RULE_NO'] == 'P001003000']['PERSON_MASTER_ID'].to_list()
# flagged_person = [*set(flagged_person)]
# international_sanction_list = len(intersection(case_entities,flagged_person))

In [91]:
# international_sanction_list

0

In [92]:
# s= s+'</html>'

In [93]:
#  s = s.replace('\'','')

In [123]:
# s

'<html> The main entities has <b> 0 </b> auto high rules triggered and is reported on the <b>no </b> watchlist.<br><ol> The Main entity has <b>[Number of names/aliases reported across different REs, Number of mobile Numbers] </b>.<br> The Main entity has <b>[Individual risk given by RE ]</b>.<br></ol> The other case entities has <b>0</b>auto high rules triggered and is reported on the <b>no</b> watchlist.<ol> The Other case entity has <b>[Number of names/aliases reported across different REs, Number of mobile Numbers]</b>.<br> The Other case entity has <b>[Individual risk given by RE , Client onboarding date]</b>.<br></ol>This case has <b>0</b> entities on the FIU or LEA watchlist.<br></ol>LEA Adhoc request has been previously raised on <b> 0</b> entities.</html>'

In [130]:
# update_risk_summary = '''Insert into FINCORE_DB.Fincore_Analytics.risk_summary 
# VALUES ('{}','{}',GETDATE(),GETDATE())''' .format(cmid,s)

In [104]:
# import pyodbc
# import pandas as pd
# from tqdm import tqdm as tqdm


# def rules_triggered(a,b):
#     result = [i for i in a if i in b]
#     return result


# def intersection(case_entities,flagged_person):
#     intersection = [value for value in case_entities if value in flagged_person]
#     return intersection


# pyodbc.drivers()
# # conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.33.27;PORT=1433;DATABASE=FINCORE_DB;UID=Fincore_App_USR;PWD=F!NCore@123;TDS_Version=7.2;')
# conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.34.15;PORT=1433;DATABASE=FINCORE_DB;UID=FINCORE_ANALYTICS_USR;PWD=F!NCore@123;TDS_Version=7.2;')
# # conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.27.39;PORT=1433;DATABASE=HDM_FINCORE_DB;UID=FINC_HDM_USR;PWD=#DM@2022;TDS_Version=7.2;')
# cursor = conn.cursor()

# rules_df = pd.read_sql_query("select * from FINCORE_DB.Fincore_Analytics.RISK_LKP_RULES where  is_active_flag = 1 ",conn)

# cmid = 'BA00000020'

# # cmids = pd.read_sql_query("Select Case_Master_Id from FINCORE_DB.Fincore.Case_master where is_active_flag = 1",conn)
# # for cmid in cmids:

# case_entities = pd.read_sql_query("select Case_Master_Id,Entity_Master_Id,Is_Main_Entity_Flag from FINCORE_DB.Fincore.Case_Entity where Is_Active_Flag= 1 and Case_Master_Id = '{}'".format(cmid),conn)

# all_entities = case_entities['Entity_Master_Id'].to_list()


# main_entity = case_entities[case_entities['Is_Main_Entity_Flag'] == 1]['Entity_Master_Id'].to_list()
# other_entity = case_entities[case_entities['Is_Main_Entity_Flag'] == 0]['Entity_Master_Id'].to_list()


# risk_person = pd.read_sql_query("SELECT * FROM FINCORE_ANALYTICS.RISK_PERSON",conn)

In [105]:
# main_entity

[10]

In [116]:
# RISK_SCORE = risk_person[risk_person['PERSON_MASTER_ID'].isin(main_entity) ]['RISK_SCORE'].to_list()

In [117]:
# RISK_SCORE

[]

In [118]:
# risk_score_main_entity = RISK_SCORE[0]

IndexError: list index out of range

In [115]:
# risk_score_main_entity

0

In [149]:

import pyodbc
import pandas as pd
from tqdm import tqdm as tqdm

In [134]:

def rules_triggered(a,b):
    result = [i for i in a if i in b]
    return result


def intersection(case_entities,flagged_person):
    intersection = [value for value in case_entities if value in flagged_person]
    return intersection

In [148]:



pyodbc.drivers()
# conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.33.27;PORT=1433;DATABASE=FINCORE_DB;UID=Fincore_App_USR;PWD=F!NCore@123;TDS_Version=7.2;')
conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.34.15;PORT=1433;DATABASE=FINCORE_DB;UID=FINCORE_ANALYTICS_USR;PWD=F!NCore@123;TDS_Version=7.2;')
# conn = pyodbc.connect('DRIVER=SQL SERVER;SERVER=172.16.27.39;PORT=1433;DATABASE=HDM_FINCORE_DB;UID=FINC_HDM_USR;PWD=#DM@2022;TDS_Version=7.2;')
cursor = conn.cursor()

In [147]:


rules_df = pd.read_sql_query("select * from FINCORE_DB.Fincore_Analytics.RISK_LKP_RULES where  is_active_flag = 1 ",conn)

case_master_id = ['BA00000020']


# cmids = pd.read_sql_query("Select Case_Master_Id from FINCORE_DB.Fincore.Case_master where is_active_flag = 1",conn)
for cmid in case_master_id:
#     print(cmid)
    s = ''

    case_entities = pd.read_sql_query("select Case_Master_Id,Entity_Master_Id,Is_Main_Entity_Flag from FINCORE_DB.Fincore.Case_Entity where Is_Active_Flag= 1 and Case_Master_Id = '{}'".format(cmid),conn)

    all_entities = case_entities['Entity_Master_Id'].to_list()


    main_entity = case_entities[case_entities['Is_Main_Entity_Flag'] == 1]['Entity_Master_Id'].to_list()
    other_entity = case_entities[case_entities['Is_Main_Entity_Flag'] == 0]['Entity_Master_Id'].to_list()
    
    if (len(other_entity) > 5):
        risk_person_top_5 = pd.read_sql_query("SELECT top 5 * FROM FINCORE_ANALYTICS.RISK_PERSON where person_master_id in  {} order by risk_score ".format(str(tuple(other_entity))),conn)
        other_entity = risk_person_top_5['PERSON_MASTER_ID'].to_list()
        



    risk_person = pd.read_sql_query("SELECT * FROM FINCORE_ANALYTICS.RISK_PERSON",conn)
    
    
    RISK_SCORE = risk_person[risk_person['PERSON_MASTER_ID'].isin(main_entity) ]['RISK_SCORE'].to_list()
    
    try:
        risk_score_main_entity = RISK_SCORE[0]
    except IndexError:
        risk_score_main_entity = 0
        
    
        
    if risk_score_main_entity < 5:
        s = s+'<html> The Entity associated with this case has low Risk </html>'
        

    
    else:
    
        auto_high_rules = pd.read_sql_query("Select * from fincore_analytics.risk_lkp_rules where RISK_TYPE = 'Auto High Rules ' and IS_ACTIVE_FLAG = 1",conn)
        auto_high_rules = auto_high_rules['RULE_NO'].to_list()


        auto_df = []
        for ind,row in risk_person.iterrows():
                l = []
                l = list(row['RISK_RULE_LIST'].split('_'))
                auto = row['PERSON_MASTER_ID'],rules_triggered(l,auto_high_rules)
                auto = list(auto)
                auto_df.append(auto)

        auto_df = pd.DataFrame(auto_df,columns = ['PERSON_MASTER_ID','RULES_TRIGGERED'])
        auto_df['RULES_TRIGGERED']=auto_df['RULES_TRIGGERED'].astype(str)
        auto_df=auto_df[auto_df['RULES_TRIGGERED']!='[]']

        auto_df.reset_index(inplace = True)
        auto_df.drop(columns = ['index'],inplace = True)


        for ind,row in auto_df.iterrows():
            auto_df['RULES_TRIGGERED'][ind] = auto_df['RULES_TRIGGERED'][ind].replace('[','')
            auto_df['RULES_TRIGGERED'][ind] = auto_df['RULES_TRIGGERED'][ind].replace(']','')
            auto_df['RULES_TRIGGERED'][ind] = auto_df['RULES_TRIGGERED'][ind].replace('\'','')



        auto_df_main = auto_df[auto_df['PERSON_MASTER_ID'].isin(main_entity)]
        auto_df_main.reset_index(inplace = True)
        auto_df_main = auto_df_main['RULES_TRIGGERED'].to_list()
        auto_df_main = str(auto_df_main)
        auto_df_main = auto_df_main.replace('\'','')
        auto_df_main = auto_df_main.replace('[','')
        auto_df_main = auto_df_main.replace(']','')
        auto_df_main = auto_df_main.replace(' ','')
        auto_df_main = auto_df_main.split(',')
        auto_df_main = [*set(auto_df_main)]


        auto_df_main = rules_df[rules_df['RULE_NO'].isin(auto_df_main)]['RULE_DESC'].to_list()


        auto_df_other = auto_df[auto_df['PERSON_MASTER_ID'].isin(other_entity)]
        auto_df_other.reset_index(inplace = True)
        auto_df_other = auto_df_other['RULES_TRIGGERED'].to_list()
        auto_df_other = str(auto_df_other)
        auto_df_other = auto_df_other.replace('\'','')
        auto_df_other = auto_df_other.replace('[','')
        auto_df_other = auto_df_other.replace(']','')
        auto_df_other = auto_df_other.replace(' ','')
        auto_df_other = auto_df_other.split(',')
        auto_df_other = [*set(auto_df_other)]

        auto_df_other = rules_df[rules_df['RULE_NO'].isin(auto_df_other)]['RULE_DESC'].to_list()

        watchlist = pd.read_sql_query("select PERSON_MASTER_ID,RULE_NO,string_agg(RULE_VALUE,',') within group (order by rule_no)  as rule_value from FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES where RULE_NO in ('P001001000', 'P001003000')group by PERSON_MASTER_ID,RULE_NO",conn)

        main_entity_watchlist = watchlist[watchlist['PERSON_MASTER_ID'].isin(main_entity)]
        main_entity_watchlist.reset_index(inplace = True)

        main_entity_watchlist = main_entity_watchlist['RULE_NO'].to_list()
        main_entity_watchlist = str(main_entity_watchlist)
        main_entity_watchlist = main_entity_watchlist.replace('\'','')
        main_entity_watchlist = main_entity_watchlist.replace('[','')
        main_entity_watchlist = main_entity_watchlist.replace(']','')
        main_entity_watchlist = main_entity_watchlist.replace(' ','')
        main_entity_watchlist = main_entity_watchlist.split(',')
        main_entity_watchlist = [*set(main_entity_watchlist)]

        other_entity_watchlist = watchlist[watchlist['PERSON_MASTER_ID'].isin(other_entity)]
        other_entity_watchlist.reset_index(inplace = True)
        other_entity_watchlist = other_entity_watchlist['RULE_NO'].to_list()
        other_entity_watchlist = str(other_entity_watchlist)
        other_entity_watchlist = other_entity_watchlist.replace('\'','')
        other_entity_watchlist = other_entity_watchlist.replace('[','')
        other_entity_watchlist = other_entity_watchlist.replace(']','')
        other_entity_watchlist = other_entity_watchlist.replace(' ','')
        other_entity_watchlist = other_entity_watchlist.split(',')
        other_entity_watchlist = [*set(other_entity_watchlist)]


        inherent_risk = pd.read_sql_query("select * from FINCORE_DB.Fincore_Analytics.RISK_LKP_RULES where person_type = 'Individual' and is_active_flag = 1 and RISK_TYPE = 'KYC profile/ Inherent risk based High Risk Indicators - Inherent Risk'",conn)


        inherent_risk = inherent_risk['RULE_NO'].to_list()



        inherent_df = []
        for ind,row in risk_person.iterrows():
                l = []
                l = list(row['RISK_RULE_LIST'].split('_'))
                inherent = row['PERSON_MASTER_ID'],rules_triggered(l,inherent_risk)
                inherent = list(inherent)
                inherent_df.append(inherent)



        inherent_df = pd.DataFrame(inherent_df,columns = ['PERSON_MASTER_ID','RULES_TRIGGERED'])
        inherent_df['RULES_TRIGGERED']=inherent_df['RULES_TRIGGERED'].astype(str)
        inherent_df=inherent_df[inherent_df['RULES_TRIGGERED']!='[]']
        inherent_df.reset_index(inplace = True)
        inherent_df.drop(columns = ['index'],inplace = True)


        for ind,row in inherent_df.iterrows():
            inherent_df['RULES_TRIGGERED'][ind] = inherent_df['RULES_TRIGGERED'][ind].replace('[','')
            inherent_df['RULES_TRIGGERED'][ind] = inherent_df['RULES_TRIGGERED'][ind].replace(']','')
            inherent_df['RULES_TRIGGERED'][ind]=inherent_df['RULES_TRIGGERED'][ind].replace('\'','')



        inherent_risk_main = inherent_df[inherent_df['PERSON_MASTER_ID'].isin(main_entity)]
        inherent_risk_main.reset_index(inplace = True)
        inherent_risk_main = inherent_risk_main['RULES_TRIGGERED'].to_list()
        inherent_risk_main = str(inherent_risk_main)
        inherent_risk_main = inherent_risk_main.replace('\'','')
        inherent_risk_main = inherent_risk_main.replace('[','')
        inherent_risk_main = inherent_risk_main.replace(']','')
        inherent_risk_main = inherent_risk_main.replace(' ','')
        inherent_risk_main = inherent_risk_main.split(',')
        inherent_risk_main = [*set(inherent_risk_main)]


        inherent_risk_main = rules_df[rules_df['RULE_NO'].isin(inherent_risk_main)]['RULE_DESC'].to_list()

        inherent_risk_other = inherent_df[inherent_df['PERSON_MASTER_ID'].isin(other_entity)]
        inherent_risk_other.reset_index(inplace = True)
        inherent_risk_other = inherent_risk_other['RULES_TRIGGERED'].to_list()
        inherent_risk_other = str(inherent_risk_other)
        inherent_risk_other = inherent_risk_other.replace('\'','')
        inherent_risk_other = inherent_risk_other.replace('[','')
        inherent_risk_other = inherent_risk_other.replace(']','')
        inherent_risk_other = inherent_risk_other.replace(' ','')
        inherent_risk_other = inherent_risk_other.split(',')
        inherent_risk_other = [*set(inherent_risk_other)]


        inherent_risk_other = rules_df[rules_df['RULE_NO'].isin(inherent_risk_other)]['RULE_DESC'].to_list()


        all_other_rule = pd.read_sql_query("select * from FINCORE_DB.Fincore_Analytics.RISK_LKP_RULES where person_type = 'Individual' and is_active_flag = 1 and RISK_TYPE  not in ('Auto High Rules ','KYC profile/ Inherent risk based High Risk Indicators - Inherent Risk')",conn)


        all_other_rule = all_other_rule['RULE_NO'].to_list()
        all_others_df = []
        for ind,row in tqdm(risk_person.iterrows()):
            l = []
            l = list(row['RISK_RULE_LIST'].split('_'))
            all_other = row['PERSON_MASTER_ID'],rules_triggered(l,all_other_rule)
            all_other = list(all_other)
            all_others_df.append(all_other)


        all_others_df = pd.DataFrame(all_others_df,columns = ['PERSON_MASTER_ID','RULES_TRIGGERED'])
        all_others_df['RULES_TRIGGERED']=all_others_df['RULES_TRIGGERED'].astype(str)
        all_others_df=all_others_df[all_others_df['RULES_TRIGGERED']!='[]']
        all_others_df.reset_index(inplace = True)
        all_others_df.drop(columns = ['index'],inplace = True)
        for ind,row in tqdm(all_others_df.iterrows()):
            all_others_df['RULES_TRIGGERED'][ind] = all_others_df['RULES_TRIGGERED'][ind].replace('[','')
            all_others_df['RULES_TRIGGERED'][ind] = all_others_df['RULES_TRIGGERED'][ind].replace(']','')
            all_others_df['RULES_TRIGGERED'][ind]= all_others_df['RULES_TRIGGERED'][ind].replace('\'','')


        all_others_df_main = all_others_df[all_others_df['PERSON_MASTER_ID'].isin(main_entity)]
        all_others_df_main.reset_index(inplace = True)
        all_others_df_main = all_others_df_main['RULES_TRIGGERED'].to_list()
        all_others_df_main = str(all_others_df_main)
        all_others_df_main = all_others_df_main.replace('\'','')
        all_others_df_main = all_others_df_main.replace('[','')
        all_others_df_main = all_others_df_main.replace(']','')
        all_others_df_main = all_others_df_main.replace(' ','')
        all_others_df_main = all_others_df_main.split(',')
        all_others_df_main = [*set(all_others_df_main)]

        all_others_df_main = rules_df[rules_df['RULE_NO'].isin(all_others_df_main)]['RULE_DESC'].to_list()


        all_others_df_other = all_others_df[all_others_df['PERSON_MASTER_ID'].isin(other_entity)]
        all_others_df_other.reset_index(inplace = True)
        all_others_df_other = all_others_df_other['RULES_TRIGGERED'].to_list()
        all_others_df_other = str(all_others_df_other)
        all_others_df_other = all_others_df_other.replace('\'','')
        all_others_df_other = all_others_df_other.replace('[','')
        all_others_df_other = all_others_df_other.replace(']','')
        all_others_df_other = all_others_df_other.replace(' ','')
        all_others_df_other = all_others_df_other.split(',')
        all_others_df_other = [*set(all_others_df_other)]


        all_others_df_other = rules_df[rules_df['RULE_NO'].isin(all_others_df_other)]['RULE_DESC'].to_list()




#         case_entities = pd.read_sql_query("select Case_Master_Id,Entity_Master_Id,Is_Main_Entity_Flag from FINCORE_DB.Fincore.Case_Entity where Is_Active_Flag= 1 and Case_Master_Id = '{}'".format(cmid),conn)



        s = '<html>'

        print(all_others_df_main)

        if (len(main_entity) > 0):
            if (auto_df_main == []):

                if (len(main_entity) == 1):
                    if (inherent_risk_main == []):
                        pass
                    else:
                        s = s + "<br><ol> The Main entity has <b>" + str(inherent_risk_main) +" </b>."
                    if (all_others_df_main == []):
                        pass
                    else:
                        s = s + "<br>The Main entity has <b>" + str(all_others_df_main) +"</b>."

                else:
                    if(inherent_risk_main == []):
                        pass
                    else:
                        s = s + "<br><ol> The Main entities have" + str(inherent_risk_main) +"."

                    if (all_others_df_main == []):
                        pass  
                    else:
                        s = s + "<br> The Main entities have <b>" + str(all_others_df_main) +"</b>."
                    print(s)



            else:
                if (len(main_entity) == 1):
                    s = s+"<br></ol> The main entity has <b>"+ str(auto_df_main) + " </b>and is reported on the <b>" + str(main_entity_watchlist)+"</b>watchlist."

                elif(len(main_entity) > 1):
                    s = s+"<br></ol> The main entities have <b>"+ str(auto_df_main) + "</b>and are reported on the <b>" + str(main_entity_watchlist)+"</b>watchlist."


        else:
            s = s+"<br></ol> There is no main entity"



        if (len(other_entity) > 0):

            if (auto_df_other == []):

                if (len(other_entity) == 1):
                    if (inherent_risk_other == []):
                        pass
                    else:
                        s = s + "<ol> The Other case entity has <b>" + str(inherent_risk_other) +"</b>."

                    if (all_others_df_other == []):
                        pass
                    else:
                        s = s + "<br> The Other case entity has <b>" + str(all_others_df_other) +"</b>."

                else:
                    if(inherent_risk_other == []):
                        pass
                    else:
                        s = s + "<ol> The Other case entities have <b>" + str(inherent_risk_other) +"</b>."
                    if (all_others_df_other == []):
                        pass
                    else:
                        s = s + "<br> The Other case entities have <b> " + str(all_others_df_other) +"</b>."


            else:
                if (len(other_entity) == 1):
                    s = s+"<br></ol> The Other case  entity has <b>"+ str(auto_df_other) + " </b>and is reported on the <b>" + str(other_entity_watchlist)+"</b>watchlist."


                elif(len(other_entity) > 1):
                    s = s+"<br></ol> The Other case  entities have <b>"+ str(auto_df_other) + "</b>and are reported on the <b>" + str(other_entity_watchlist)+"</b>watchlist."



        else:
             s = s+"<br></ol> There is no other case entity"



        case_entities = pd.read_sql_query("select Case_Master_Id,Entity_Master_Id,Is_Main_Entity_Flag from FINCORE_DB.Fincore.Case_Entity where Is_Active_Flag= 1 and Case_Master_Id = '{}'".format(cmid),conn)
        df = pd.read_sql_query("select * from Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES",conn)


        flagged_person = df[df['RULE_NO'] == 'P001001000']['PERSON_MASTER_ID'].to_list()
        flagged_person = [*set(flagged_person)]
        no_of_sanctioned_id = len(intersection(case_entities,flagged_person))
        if (no_of_sanctioned_id == 0):
            pass
        else:
            s = s+ "<br></ol>This case has <b>"+ str(no_of_sanctioned_id) + "</b> entities on the FIU or LEA watchlist."

        flagged_person = df[df['RULE_NO'] == 'P001002000']['PERSON_MASTER_ID'].to_list()
        flagged_person = [*set(flagged_person)]
        lea_adhoc = len(intersection(case_entities,flagged_person))
        
        if (lea_adhoc == 0):
            pass
        else:
            s = s+ "<br></ol>LEA Adhoc request has been previously raised on <b> "+ str(lea_adhoc) + "</b> entities."

        flagged_person = df[df['RULE_NO'] == 'P001003000']['PERSON_MASTER_ID'].to_list()
        flagged_person = [*set(flagged_person)]
        international_sanction_list = len(intersection(case_entities,flagged_person))
        
        if (international_sanction_list == 0):
            pass
        else:
            s = s +'<b></ol>'+ str(international_sanction_list) +'</b>entities are flagged in the international sanctions lists.'
        
        flagged_person = df[df['RULE_NO'] == 'P001004000']['PERSON_MASTER_ID'].to_list()
        flagged_person = [*set(flagged_person)]
        adverse_media_screening = len(intersection(case_entities,flagged_person))
        
        if (adverse_media_screening == 0):
            pass
        else:
            s = s +'</ol>Adverse Media Screening reveals auto high-risk tags on <b>'+ str(adverse_media_screening) +'</b>entities.'
        
        
        
        
        flagged_person = df[df['RULE_NO'] == 'P001006000']['PERSON_MASTER_ID'].to_list()
        flagged_person = [*set(flagged_person)]
        multiple_pan_din = len(intersection(case_entities,flagged_person))
        
        if (multiple_pan_din == 0):
            pass
        else:
            s = s +'</ol>Multiple, invalid or wrong PAN/DIN/ DPIN/TAN/IEC number(s) has been reported on <b>'+ str(multiple_pan_din) +'</b>entities.'
        
        
        
        
        
        
        
        
        s= s+'</html>'

        s = s.replace('\'','')


#         update_risk_summary = '''Insert into FINCORE_DB.Fincore_Analytics.risk_summary 
#         VALUES ('{}','{}',GETDATE(),GETDATE())''' .format(cmid,s)
    print(s)

46it [00:00, 9275.42it/s]
0it [00:00, ?it/s]<ipython-input-147-2cbf1382b423>:213: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_others_df['RULES_TRIGGERED'][ind] = all_others_df['RULES_TRIGGERED'][ind].replace('[','')
<ipython-input-147-2cbf1382b423>:214: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_others_df['RULES_TRIGGERED'][ind] = all_others_df['RULES_TRIGGERED'][ind].replace(']','')
<ipython-input-147-2cbf1382b423>:215: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_others_df['RULES_TRIGGERED'][ind]= all_others_df['RULES_TRIGGERED'][ind].replace('\'','')
40it [00:00, 786.44it/s]

[1] [1]
['Client onboarding date']
<html><br>The Main entity has <b>[Client onboarding date]</b>.<br> The Other case entity has <b>[Client onboarding date]</b>.</html>