In [1]:
import spacy
import re
from spacy import displacy
nlp = spacy.load("en_core_web_lg")
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
from datetime import datetime
from dateutil.relativedelta import relativedelta
import os
from datetime import timedelta
import psycopg2
from ast import literal_eval
import warnings
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.probability import FreqDist
warnings.filterwarnings("ignore")
from collections import Counter
import sqlalchemy
from sqlalchemy import create_engine
from tqdm import tqdm
from itertools import chain
from flask import Flask, request, render_template, session, send_from_directory, redirect, url_for, send_file, flash
from werkzeug.utils import secure_filename

### Import csv file

In [237]:
df=pd.read_excel(r'C:\Users\SAL005\Desktop\orbis topic modelling\ORBIS_raw_data.xlsx')
print('Importing Data Sheet')
df_copy=df.copy()
df_orignal=df.copy()
gosDF=df.copy()

Importing Data Sheet

### Cleaning and standardization of GOS

In [238]:
def clean(i):
    i=re.sub('\d+',' ',i)
    i=re.sub(r'[\.\-_\)@$\(:+/]',' ',i)
    i=re.sub(r'[^A-Za-z]',' ',i)
    i=re.sub('\s+',' ',i)
    i=re.sub('\t',' ',i)
    i=re.sub('\n',' ',i)
    return i

In [239]:
df.columns

Index(['fiureid', 'batchid', 'rptsernum', 'sourceofalert', 'mainpersonname',
       'groundsofsusp', 'detailsofinvestigations', 'GD'],
      dtype='object')

In [240]:
df['GD']=df['groundsofsusp'].astype(str)+df['detailsofinvestigations'].astype(str)
df['GD'] = df['GD'].replace("\n","")
df['GD']=df['GD'].map(lambda x: x.upper())
df['GD']=df['GD'].str.replace('PVT','PRIVATE')
df['GD']=df['GD'].str.replace('LTD','LIMITED')
df['GD']=df['GD'].str.replace('LLP','LIMITED LIABILITY PARTNERSHIP')
df['GD']= df['GD'].apply(clean)
df['brn']=df['batchid'].astype(str)+'|'+df['rptsernum'].astype(str)
tmp=["'"+i+"'" for i in df['brn'].to_list()]
brns=",".join(tmp)

### Extract Organization from GOS

In [241]:
org_names=[]
for data in tqdm(df['GD'].values[0:]):
    doc1=nlp(data)
    entities = [ent for ent in doc1.ents if ent.label_ == "ORG"]
    org_names.append(entities)

100%|████████████████████████████████████████████████████████████████████████████████| 353/353 [00:16<00:00, 21.19it/s]

In [242]:
org_names_updated=[]
for k in org_names:
    tmp=[]
    for l in k:
        if len(str(l).split())>1:
            tmp.append(l)
    org_names_updated.append(tmp)

In [243]:
org_names_final=[]
for p in org_names_updated:
    temps=[]
    for m in p:
        m=str(m).strip()
#         m=re.sub(r'\s+',' ',m)
        if m not in temps and re.search('PRIVATE|LIMITED|LIMITED LIABILITY PARTNERSHIP',m,flags=re.IGNORECASE) and not (re.search('BANK',m,flags=re.IGNORECASE)):
            temps.append(m)
    org_names_final.append(temps)

In [244]:
df['org_names']=org_names_final
l2 = list(map(str, chain.from_iterable(org_names_final)))

In [245]:
k=Counter(l2)
k1=dict(k)

In [246]:
df

,fiureid,batchid,rptsernum,sourceofalert,mainpersonname,groundsofsusp,detailsofinvestigations,GD,brn,org_names
0,BASCB00074,2203256754,2553,TM,R JAYALEKSHMI NAIR,Mrs R Jayalekshmi Nair maintains current accou...,NaN,MRS R JAYALEKSHMI NAIR MAINTAINS CURRENT ACCOU...,2203256754|2553,[]
1,BASCB00074,2102019742,2007233,TM,SARINA BOLLA,Mrs. Sarina Bolla is maintaining current accou...,NaN,MRS SARINA BOLLA IS MAINTAINING CURRENT ACCOUN...,2102019742|2007233,[]
2,BASCB00074,2203256756,2104533,TM,ADITA RAHUL DANAYAK,Mrs Adita Rahul Danayak maintains current acco...,NaN,MRS ADITA RAHUL DANAYAK MAINTAINS CURRENT ACCO...,2203256756|2104533,[]
3,BASCB00074,2203256756,2102993,TM,SRIDHARAN KESAVAN,Mr Sridharan Kesavan maintains current account...,NaN,MR SRIDHARAN KESAVAN MAINTAINS CURRENT ACCOUNT...,2203256756|2102993,[]
4,BASCB00074,2012160594,2006615,TM,GAURANG BALVANTLAL SHAH,Mr. Gaurang Balvantlal Shah is maintaining cur...,NaN,MR GAURANG BALVANTLAL SHAH IS MAINTAINING CURR...,2012160594|2006615,[]
...,...,...,...,...,...,...,...,...,...,...
348,BASCB00074,2208303971,2201688,TM,SHAINA MOHAMED,Mrs. Shaina Mohamed is maintaining current acc...,NaN,MRS SHAINA MOHAMED IS MAINTAINING CURRENT ACCO...,2208303971|2201688,[]
349,BASCB00074,2212201060,2202815,TM,CHAITANYA N DESAI,Mr.Chaitanya N Desai is maintaining current ac...,NaN,MR CHAITANYA N DESAI IS MAINTAINING CURRENT AC...,2212201060|2202815,[]
350,BASCB00074,2208303971,2201710,TM,BILQIS ADAM SPECIAL NON RESIDENT RUPEE A/C,Mrs. Bilqis Adam Special Non Resident Rupee A/...,NaN,MRS BILQIS ADAM SPECIAL NON RESIDENT RUPEE A C...,2208303971|2201710,[]
351,BASCB00074,2203256756,2104834,TM,ASHA DINESH JESRANI,Mrs Asha Dinesh Jesrani maintains current acco...,NaN,MRS ASHA DINESH JESRANI MAINTAINS CURRENT ACCO...,2203256756|2104834,[]
352,BASCB00074,2203256755,2007080,TM,AKSHAY JAITLY,Mr Akshay Jaitly maintains current account (Ac...,NaN,MR AKSHAY JAITLY MAINTAINS CURRENT ACCOUNT ACC...,2203256755|2007080,[]

In [247]:
df2 = pd.DataFrame({'Entities Name' : k1.keys() , 'Count of entities' : k1.values()})

In [248]:
df2

                                        Entities Name  Count of entities
0                                       INFIN LIMITED                 11
1        GLOBE LOGISTIK LIMITED LIABILITY PARTNERSHIP                  2
2                  ORIS RINANCIAL CORPORATION LIMITED                  1
3                   LAKHS ZERODHA BROKING LIMITED NSE                  1
4                         ZERODHA BROKING LIMITED NSE                  1
5                               INDIA PRIVATE LIMITED                  1
6                       RKSV SECURITIES INDIA PRIVATE                  1
7             OMEC TECHNICAL SERVICES PRIVATE LIMITED                  1
8                        VENTURA SECURITIES LIMITED A                  2
9                          VENTURA SECURITIES LIMITED                  2
10  TEJAS NETWORKS LIMITED PUBLIC LIMITED HAVING A...                  1
11                                 NETWORK LIMITED AS                  1
12                              INFIN LIMITED HOLDING                  2
13                   NIRMAL BANG SECURITIES PRIVATE L                  1
14                    C RIME SECURITIES LIMITED FINAL                  1
15                              PRAKASH PIPES LIMITED                  1
16           M S ORO ASSET MANAGEMENT PRIVATE LIMITED                  1
17            RURASH FINANCIALS PRIVATE LIMITED ICICI                  1
18               RURASH FINTECH PRIVATE LIMITED ICICI                  1
19                          M S PRAKASH PIPES LIMITED                  1
20                   ZERODHA BROKING LIMITEDCLIENT AC                  1
21                    ZERODHA BROKING LIMITED ACCOUNT                  1
22  M S PIRAMAL ENTERPRISES LIMITED RIGHTS ISSUE ASBA                  1
23        NJ ASSET MANAGEMENT PRIVATE LIMITED ACCOUNT                  1
24                   LEGALNEWS MISUSE OF PRIVATE FUND                  1
25                         RAY EQUITIES INDIA LIMITED                  1
26                  FS SECURITIES SERVICES LIMITED IL                  1
27                                   CHS LIMITED MIDC                  1
28                NJ ASSET MANAGEMENT PRIVATE LIMITED                  1

In [249]:
df2=df2.sort_values(by='Entities Name',ascending=True)
df2=df2.reset_index()
df2=df2.drop(['index'],axis=1)

### Import CSV file to Extract PAN NUMBERS in GOS

In [250]:
def clean_pan(i):
#     i=re.sub('\d+',' ',i)
    i=re.sub(r'[\.\-_\)@$\(:+/]',' ',i)
#     i=re.sub(r'[^A-Za-z]',' ',i)
    i=re.sub('\s+',' ',i)
    i=re.sub('\t',' ',i)
    i=re.sub('\n',' ',i)
    return i

In [251]:
df_copy['GD']=df_copy['GD'].map(lambda x: x.upper())
df_copy['GD']=df_copy['GD'].replace('.','')
df_copy['GD']= df_copy['GD'].apply(clean_pan)

In [252]:
regex="[A-Z]{5}[0-9]{4}[A-Z]{1}"

In [253]:
p=re.compile(regex)

In [254]:
pan_names=[]
for i in (df_copy['GD'].values[0:]):
    temps=[]
    for q in i.split():
        if (re.search(p,q) and len(q)==10):
            temps.append(q)
    pan_names.append(temps)

In [255]:
pan_names

[['AELPN3334B'],
 ['AEOPB6777M'],
 ['AARPD5501E'],
 ['ADBPS4923N'],
 ['ACEPS6667B'],
 ['AGCPS7614L'],
 ['AAAPJ7080K'],
 ['ACQPS5391G', 'ACNPS2794N'],
 ['AARPD5501E'],
 ['AARPB7078C'],
 ['AACPD5031C'],
 ['AEHPD0690N'],
 ['AADHN0726M', 'AADPS1267N', 'KCLPS8862P'],
 ['AAGPM6680E'],
 ['AFKPM0902N'],
 ['AAAPN0469L'],
 ['AABPD7449R'],
 ['ACBPV1377Q'],
 ['ABFCS2840D'],
 ['ASOPK9576F'],
 ['ABHPM0034E'],
 ['AOIPS2917L'],
 ['CBJPS2613B'],
 ['ACOPJ6240M'],
 ['AAHPK0100G'],
 ['BYCPP2024G'],
 ['ACJPK5567F'],
 ['AMGPS6103C'],
 ['AANPM7966L'],
 ['AACPR9550L'],
 ['ATQPM0689Q'],
 ['ADOPB3713A'],
 ['ABAPD7616G'],
 ['AAZPM6445Q'],
 ['AAMPS0901Q'],
 ['BDNPP4778D'],
 ['AAJPG3539K'],
 ['AGTPC0762A'],
 ['EGMPK1031B'],
 ['AAOPG2658N'],
 ['BCEPS7649G'],
 ['AODPK1628R'],
 ['ABRPB4561H'],
 ['AAEPP0967H'],
 ['BCDPA4666E'],
 ['BJPPS2591K'],
 ['BTZPB8165L'],
 ['EGMPK1031B'],
 ['AAAPJ7080K'],
 ['BNBPK7966G', 'BNBPK7966G'],
 ['AAJPM6587F'],
 ['ACJPH9094G'],
 ['AFGPJ7878A'],
 ['AAFPK3982N'],
 ['ASOPK6992P'],
 ['AATPY6097J'],
 ['OAUPS5349A'],
 ['AAAPJ8050F'],
 ['ABBPK8563G'],
 ['ACXPR2476A'],
 ['ASOPK9576F'],
 ['AAGPI9547J'],
 ['ABHPM0034E'],
 ['APSPP9343L'],
 ['AGBPP6547N'],
 ['KILPS4358J'],
 ['AVCPS5241G'],
 ['AFLPJ1672H'],
 ['AXVPC2195A'],
 ['AAUPS4621F'],
 ['AODPK1628R'],
 ['AAGPM6679R'],
 ['AACPG3317J'],
 ['AABPR8264L'],
 ['AAHPA0844P'],
 ['AERPA8767R'],
 ['AAFPM0147D'],
 ['AAAPD8245L'],
 ['AEXPC8142G'],
 ['AFAPS4638D'],
 ['AATPY6097J'],
 ['ADQPB6353C'],
 ['AAHPP5652J'],
 ['ABWPS5142A'],
 ['ALQPD7054E'],
 ['AALPN8946R'],
 ['AAAPZ2490D'],
 ['AABCT1670M', 'ABOPN7128B', 'ADPPV3381B', 'ACGPR2200K'],
 ['EGKPK6940R'],
 ['AGUPM4823F'],
 ['BGEPS1296P'],
 ['ACQPJ9227N'],
 ['AAAPF9089J'],
 ['AATPJ3779J'],
 ['AAYPJ2101R'],
 ['DCDPK3530H'],
 ['AAAPO5353J'],
 ['AAOPG6677M'],
 ['CKMPK5712R'],
 ['AMLPR3917L'],
 ['ADGPC0401Q'],
 ['AAWPC6581E'],
 ['AHZPA8553G'],
 [],
 ['ACGPT4678P'],
 ['AALPM3481E'],
 ['BYQPT8516H', 'AALPT0038Q'],
 ['ABBPS9860J'],
 ['AGJPR9761Q'],
 ['ADMPR3876Q'],
 ['ECHPA6954G'],
 ['AANPG8211C'],
 ['AABPI1528E'],
 [],
 ['AAHPK0100G'],
 ['AANPD1386M', 'ADDPD9009L'],
 ['AQNPM9937F'],
 ['BBTPS8080F'],
 ['ASOPS4616G'],
 ['AKOPD9922A'],
 ['DCDPK3530H'],
 ['AEUPG7143N'],
 ['AAJCC3116D'],
 ['BKIPS6699Q'],
 ['AADPN6361J'],
 ['AFAPS4638D'],
 ['ACCPS3685D'],
 ['AACPG9278L'],
 ['AKIPD1361R'],
 ['BIOPS5581B'],
 ['AACPR8439G'],
 ['AFAPB1962M'],
 ['AAJPG2165P'],
 ['AAKPK7343N'],
 ['AAAPA5440N'],
 ['AACPR8439G'],
 ['AEFPT6024E'],
 ['ANZPS5381C'],
 ['AFWPG7414H'],
 ['AAJPG2165P'],
 ['AAVPD8017D'],
 ['AACPG1533C'],
 ['AAWPC6581E'],
 ['ALZPR3833N'],
 ['ADDPD9009L'],
 ['AAAPP4775H'],
 ['AAECT2427K'],
 ['AEEPG1413R'],
 ['ACYPJ4131F'],
 ['AAGHM3841R'],
 ['AAMPS0901Q'],
 ['AESPK7491M'],
 ['AACCO8890K'],
 ['AAAPD8245L'],
 ['ABDPW8339E'],
 ['AICPB7221Q'],
 ['AAVPD8017D'],
 ['AAWPC6581E'],
 ['ABBPK8563G'],
 ['DRWPK5720H'],
 ['AABFZ5504H'],
 ['AAOPG2658N'],
 ['BMAPL4663H'],
 ['AGNPD3942P'],
 ['AAUPD9369H'],
 [],
 ['AANPM7966L'],
 ['AGGPK2227F'],
 [],
 ['AHKPD6667R'],
 ['AALPN8946R'],
 ['BFHPS9792C'],
 ['AAKPD3031G'],
 ['ANBPP2661G'],
 [],
 ['AARPB7078C'],
 ['AHXPB4131H'],
 ['ABGPM4698B'],
 ['AARPD5501E'],
 ['AGUPM4823F'],
 ['ABHPS8427R'],
 ['ASOPK6992P'],
 ['ADIPN3341A'],
 ['DSZPS1894C'],
 ['AXVPC2195A'],
 ['AACPR9550L'],
 ['AVCPS5241G'],
 ['AGNPG6673L'],
 ['AOIPS2917L'],
 ['AADPS4327H'],
 ['AACPG9278L'],
 ['AGCPB4883A'],
 ['ALXPM4872E'],
 ['ABNPS1846E'],
 ['AACPD5031C'],
 ['AGAPB3486B'],
 ['AEEPG1413R'],
 ['ALRPK6800E'],
 ['AMGPS6103C'],
 ['CCDPN5779G'],
 ['AAGPM6677B'],
 ['AALPD5579N'],
 ['AAHPA0844P'],
 ['ATQPM0689Q'],
 ['ADQPM5776Q'],
 ['AACPR0102J'],
 ['APIPM9903K'],
 ['AGLPN6395A'],
 ['CCDPN5779G'],
 ['AARPD5501E'],
 ['AAYPJ2101R'],
 ['KWHPS8621A'],
 ['AAKPJ7284M'],
 ['AAEPF2365D'],
 ['BXNPS0705F'],
 ['AADPN6361J'],
 ['AAZPV2090E'],
 ['ALSPS4453L'],
 ['EFWPS8605N'],
 ['ACJPH9094G'],
 ['AARPD5501E'],
 ['ABPPV2804H'],
 ['AASPN6112G'],
 ['AFGPJ7878A'],
 ['AABPN8800C'],
 ['AIOPK5227B'],
 ['ABAPB0074E'],
 ['AJIPD4155G'],
 ['AJYPM9608H'],
 ['CTIPP8582K'],
 ['AAYPM2021M'],
 ['AAGPM6680E'],
 ['AAGPM6680E'],
 ['AGTPC0762A'],
 ['AAAPP4775H'],
 ['AKOPK6073B'],
 ['AANPR4584M'],
 ['KWHPS8621A'],
 ['ANZPS5381C'],
 ['AADPS4327H'],
 ['AEUPG7143N'],
 ['AACPS6486Q'],
 ['AABPA7730Q'],
 ['AABPI1579F'],
 ['AOUPV8879C'],
 ['ABWPS7156E'],
 ['ADDPD9009L'],
 ['CHTPA0942B'],
 ['AAHPP5652J'],
 ['AAWPK1796M'],
 ['ADPPS8359E'],
 ['AESPK7491M'],
 ['AAZPS3437Q'],
 ['AMLPR3917L'],
 ['ALRPK6800E'],
 ['AAAPI6916K'],
 ['FTXPS3745H', 'FTXPS3745H'],
 ['AAACQ0626K'],
 ['AHXPB4131H'],
 ['MKXPS6414F'],
 ['ABYPD9762H'],
 ['AAAPF9089J'],
 ['AIUPM7432N'],
 ['ADGPC0401Q'],
 ['AGNPD3942P'],
 ['BCDPA4666E'],
 ['ABNPS1846E'],
 ['ADMPJ5211H'],
 ['ABYPD9762H'],
 ['AFKPB5022Q'],
 ['AABPN8800C'],
 ['EGKPK6940R'],
 ['AEYPA9608Q'],
 ['AMMPK3042L'],
 ['AALPD5579N'],
 ['ABHPM0034E'],
 ['ANKPS5450R'],
 ['AATPJ3779J'],
 ['AACPG3317J'],
 ['AARPD5501E'],
 ['AACPD5027G'],
 ['AAIPM3618G'],
 ['AESPK7491M'],
 ['ACIPD6395D'],
 ['AGFPA1512J'],
 ['BYRPC6245B'],
 ['BGXPG9439F'],
 ['ADPPS8359E'],
 ['ABOPK1086H'],
 ['AJJPM8811H'],
 ['ABYPK8270F'],
 ['AHPPA0518H'],
 ['AAMPM1717C'],
 ['AGCPS7614L'],
 ['AICPM4716H'],
 ['EGKPK6940R'],
 [],
 ['AHJPP5736E'],
 ['AJWPA0427G'],
 [],
 ['ACWPV0061C'],
 ['AAICM3829Q', 'AAICM3829Q'],
 ['AEGPJ7729F'],
 ['AAKFM2363E'],
 [],
 ['ABWPS5142A'],
 ['ADBPS4923N'],
 ['AAJPM6587F'],
 ['AACPN0300N'],
 ['AIKPT7222K'],
 [],
 ['AACPR9550L'],
 ['AJYPM9608H'],
 ['AAZPR3365C'],
 ['DSEPP4022E'],
 ['AGUPD1421E'],
 ['AAYPM2021M'],
 ['ACQPP2247J'],
 ['AACPG3317J'],
 ['ANDPS1241D'],
 ['AIBPC8707B'],
 ['AAMPM1717C'],
 ['AAZPV2090E'],
 ['AAHPC1402D'],
 ['AGFPA1512J'],
 [],
 ['ABAPS7616M'],
 ['AALPD5579N'],
 ['AAHPK0100G'],
 ['AANPD1386M'],
 ['ABSPJ2775N'],
 ['ADLPA6597N'],
 ['AGEPG7097H'],
 ['AAAPD8245L'],
 ['EGMPK1031B'],
 ['ACXPR2476A'],
 ['BKIPS6699Q'],
 ['ANKPS5450R'],
 ['AVCPS5241G'],
 ['ACBPC9088K'],
 ['BKIPS6699Q'],
 [],
 ['AEGPK9965G'],
 ['AHHPM6344D'],
 ['AAAPA5440N'],
 ['BSDPV5918E'],
 ['ADMPL9248A'],
 ['ACYPR4790A'],
 ['EJPPS9356P'],
 ['AABPD7448Q'],
 ['DOAPA6388Q'],
 ['AATPJ3779J'],
 []]

In [256]:
l1=[]
df_copy['PAN NUMBER']=pan_names
l1 = list(map(str, chain.from_iterable(pan_names)))
l1=list(set(l1))

In [257]:
df_copy

,fiureid,batchid,rptsernum,sourceofalert,mainpersonname,groundsofsusp,detailsofinvestigations,GD,PAN NUMBER
0,BASCB00074,2203256754,2553,TM,R JAYALEKSHMI NAIR,Mrs R Jayalekshmi Nair maintains current accou...,NaN,MRS R JAYALEKSHMI NAIR MAINTAINS CURRENT ACCOU...,[AELPN3334B]
1,BASCB00074,2102019742,2007233,TM,SARINA BOLLA,Mrs. Sarina Bolla is maintaining current accou...,NaN,MRS SARINA BOLLA IS MAINTAINING CURRENT ACCOUN...,[AEOPB6777M]
2,BASCB00074,2203256756,2104533,TM,ADITA RAHUL DANAYAK,Mrs Adita Rahul Danayak maintains current acco...,NaN,MRS ADITA RAHUL DANAYAK MAINTAINS CURRENT ACCO...,[AARPD5501E]
3,BASCB00074,2203256756,2102993,TM,SRIDHARAN KESAVAN,Mr Sridharan Kesavan maintains current account...,NaN,MR SRIDHARAN KESAVAN MAINTAINS CURRENT ACCOUNT...,[ADBPS4923N]
4,BASCB00074,2012160594,2006615,TM,GAURANG BALVANTLAL SHAH,Mr. Gaurang Balvantlal Shah is maintaining cur...,NaN,MR GAURANG BALVANTLAL SHAH IS MAINTAINING CURR...,[ACEPS6667B]
...,...,...,...,...,...,...,...,...,...
348,BASCB00074,2208303971,2201688,TM,SHAINA MOHAMED,Mrs. Shaina Mohamed is maintaining current acc...,NaN,MRS SHAINA MOHAMED IS MAINTAINING CURRENT ACCO...,[EJPPS9356P]
349,BASCB00074,2212201060,2202815,TM,CHAITANYA N DESAI,Mr.Chaitanya N Desai is maintaining current ac...,NaN,MR CHAITANYA N DESAI IS MAINTAINING CURRENT AC...,[AABPD7448Q]
350,BASCB00074,2208303971,2201710,TM,BILQIS ADAM SPECIAL NON RESIDENT RUPEE A/C,Mrs. Bilqis Adam Special Non Resident Rupee A/...,NaN,MRS BILQIS ADAM SPECIAL NON RESIDENT RUPEE A C...,[DOAPA6388Q]
351,BASCB00074,2203256756,2104834,TM,ASHA DINESH JESRANI,Mrs Asha Dinesh Jesrani maintains current acco...,NaN,MRS ASHA DINESH JESRANI MAINTAINS CURRENT ACCO...,[AATPJ3779J]
352,BASCB00074,2203256755,2007080,TM,AKSHAY JAITLY,Mr Akshay Jaitly maintains current account (Ac...,NaN,MR AKSHAY JAITLY MAINTAINS CURRENT ACCOUNT ACC...,[]

## Batchid Based Concat

In [258]:
try:
    pengine = create_engine('postgresql+psycopg2://postgres:postgres@172.16.22.15:5432/postgres')
    conn = psycopg2.connect(database = 'postgres', user = 'postgres', password = 'postgres',host = "172.16.22.15",port= 5432)
    conn.autocommit = True
    cursor = conn.cursor()
    db_conn=pengine.connect()
    print("\n Postgres database connected succesfully")
except:
    print("Unable to create the Postgres DB connection")

Unable to create the Postgres DB connection

In [259]:
def sql_exec(sql,dengine):
    startime=datetime.now()
    print("Time now: ",startime)
    print("Executing Query...")
    conn=pengine.connect()
    df=pd.read_sql_query(sql,pengine)
    endtime=datetime.now()
    db_conn.close()
    timetaken=relativedelta(endtime,startime)
    print('Time Taken: ',timetaken)
    return df

In [260]:
sql="with cte1 as (select distinct batchid,rptsernum, occupation as occupation_names, personname as person_names,pan from risk_priority.arfinp_1804_2212 where batchid::text||'|'||rptsernum::text in ({}) union select distinct batchid,rptsernum, natureofbusiness as occupation_names, personname as person_names, pan from risk_priority.arflpe_1804_2212 where batchid::text||'|'||rptsernum::text in ({}) union select distinct batchid,rptsernum,  occupation as occupation_names,customername as person_names, pan from risk_priority.trftrn_1804_2003 where batchid::text||'|'||rptsernum::text in ({})) select distinct batchid,rptsernum,STRING_AGG(distinct occupation_names,',') as occupation_names,count(distinct occupation_names) as occupation_names_count,STRING_AGG(distinct person_names,',') as person_names,count(distinct person_names) as person_names_count,STRING_AGG(distinct pan,',') as pan,count(distinct pan) as pan_count from cte1 group by batchid,rptsernum".format(brns,brns,brns)
batchid_based_concat=pd.DataFrame()
results=sql_exec(sql,pengine)
batchid_based_concat=batchid_based_concat.append(results)

Time now:  2023-06-13 11:52:26.255691
Executing Query...

OperationalError: (psycopg2.OperationalError) connection to server at "172.16.22.15", port 5432 failed: Connection timed out (0x0000274C/10060)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [56]:
batchid_based_concat

,batchid,rptsernum,occupation_names,occupation_names_count,person_names,person_names_count,pan,pan_count
0,2004248017,2000624,None,0,ORBIS FINANCIAL CORPORATION LTD CLIENT POOL A/...,2,"AAACF9386P,AADPS4327H",2
1,2004248019,2000232,None,0,"DEVAKI S SIVARAMAKARISHNAN,ORBIS FINANCIAL COR...",3,"AAACF9386P,ABWPS5142A,BAEPS6698K",3
2,2004248019,2000235,None,0,"DAMODAR YADATI,ORBIS FINANCIAL CORPORATION LT...",2,"AAACF9386P,AATPY6097J",2
3,2004248019,2000236,None,0,"INDERJIT SINGH,ORBIS FINANCIAL CORPORATION LT...",2,"AAACF9386P,AAMPS0901Q",2
4,2004248019,2000237,None,0,"GAURAANGI CHOPRA,ORBIS FINANCIAL CORPORATION ...",2,"AAACF9386P,AXVPC2195A",2
...,...,...,...,...,...,...,...,...
348,2212304402,2203211,SALARIED,1,"ALEXIA TECHNOLOGIES PRIVATE LIMITED,BANKIM J D...",12,"AAACF6013H,AAACF9412G,AACCC8457G,AADCR2917D,AA...",6
349,2212304402,2203213,SALARIED,1,RASHMI H BHAGCHANDANI,1,BTZPB8165L,1
350,2212304402,2203214,"HOUSE WIFE,SELF EMPLOYEES PROFESSIONAL (SEP)",2,"SHUBHRA JAIN,SUMEET JAIN",2,AAKPJ7284M,1
351,2212304402,2203215,SALARIED,1,NATRAJ K RAMAN,1,AAZPR3365C,1
352,2212304402,2203216,"BANKING/ FINACIAL SERVICES,SALARIED,SELF EMPLOYED",3,"AAROHI .,ALANKAR TRIPATHI,AMIT KUMAR JHA,ANIL ...",29,"AAACF9386P,AFAPB1962M",2

In [57]:
l12=[]
l22=[]
res=[]
res12=[]
l12=results4['pan']
l12=l12.drop_duplicates()
for i in l12:
    l22.append(i)
l22=str(l22)
res = literal_eval(f'[{l22}]')
res1=res[0]
res1 = [i for i in res1 if i is not None]
res1 = [i for i in res1 if i is not '']

In [58]:
res_p=[]
for i in res1:
    tmp=i.split(',')
    for j in tmp:
        res_p.append(j)
res_p=list(set(res_p))
res_p = [i for i in res_p if i is not '']

In [59]:
final=list(set(l1 + res_p))

In [60]:
final=list(set(final))
final1= (", ".join( repr(e) for e in final ) )

## PAN Based Concat

In [61]:
sql="with cte1 as( select distinct pan, occupation as occupation_names, personname as person_names, batchid::text||'|'||rptsernum::text as batch_concat from risk_priority.arfinp_1804_2212 where (pan) in ({}) and batchid::text||'|'||rptsernum::text in ({}) union select distinct pan, natureofbusiness as occupation_names, personname as person_names, batchid::text||'|'||rptsernum::text as batch_concat from risk_priority.arflpe_1804_2212 where (pan) in ({}) and batchid::text||'|'||rptsernum::text in ({}) union select distinct pan, occupation as occupation_names ,customername as person_names,batchid::text||'|'||rptsernum::text as batch_concat from risk_priority.trftrn_1804_2003 where (pan) in ({}) and batchid::text||'|'||rptsernum::text in ({})) select pan,STRING_AGG(distinct batch_concat,',') batch_concat,count(distinct batch_concat) as batch_count,STRING_AGG(distinct occupation_names,',') occupation_concat,count(distinct occupation_names) as occupation_count,STRING_AGG(distinct person_names,',') person_name_concat,count(distinct person_names) as person_count from cte1 group by pan order by batch_count desc".format(final1,brns,final1,brns,final1,brns)
pan_based_concat=pd.DataFrame()
results=sql_exec(sql,pengine)
pan_based_concat=pan_based_concat.append(results)

Time now:  2023-06-12 12:12:21.894117
Executing Query...
Time Taken:  relativedelta(seconds=+2, microseconds=+518095)

In [62]:
# results5.to_csv(r'C:\Users\SAL005\Desktop\topic modelling automation\pan_based_concat.csv')
pan_based_concat

,pan,batch_concat,batch_count,occupation_concat,occupation_count,person_name_concat,person_count
0,AAACF9386P,"2004248017|2000624,2004248019|2000232,20042480...",85,"BANKING/ FINACIAL SERVICES,Others,SALARIED,SEL...",4,"AAROHI .,ALANKAR TRIPATHI,AMIT KUMAR JHA,ANIL ...",30
1,ABTPD9951D,"2007016077|2002119,2111202653|2103565,21121443...",9,None,0,"BANKIM JAGDISH DALAL,BANKIM J DALAL",2
2,AGTPT5735N,"2007016077|2002119,2111202653|2103565,21121443...",9,None,0,"NEHA BHUPESH TARI,NEHA B TARI",2
3,AARPD5501E,"2012160594|2006643,2102156919|2007538,21121443...",6,HOUSE WIFE,1,"ADITA RAHUL DANAYAK,ADITA R DANAYAK",2
4,EGMPK1031B,"2012160594|2006661,2112016327|2103975,21123121...",4,STUDENT,1,"SHAYNA A KACHWALLA,SHAYNA ANJUM KACHWALLA",2
...,...,...,...,...,...,...,...
416,ADQPB6353C,2212201060|2202816,1,SALARIED,1,HARESH M BHAGCHANDANI,1
417,ADQPM5776Q,2212201060|2202790,1,SELF EMPLOYED,1,"JAYANT TAGORE MADIREDDY,RAMA MADIREDDY",2
418,AECPC3654A,2205014329|153786,1,Others,1,NILESH CHONKAR,1
419,AEFPB3344F,2205014329|153786,1,None,0,PANKAJ BHATIA,1
420,AEFPT6024E,2207085526|2200918,1,SALARIED,1,NARAYANAN T S,1

### PAN Cluster

In [64]:
sql="with cte1 as ( select distinct batchid,rptsernum, occupation as occupation_names, personname as person_names,pan from risk_priority.inp_5_years where batchid::text||'|'||rptsernum::text in ({}) union select distinct batchid,rptsernum, natureofbusiness as occupation_names, personname as person_names, pan from risk_priority.lpe_5_years where batchid::text||'|'||rptsernum::text in ({}) union select distinct batchid,rptsernum,  occupation as occupation_names,customername as person_names, pan from risk_priority.trftrn_1804_2003 where batchid::text||'|'||rptsernum::text in ({}) ) ,cet2 as( select distinct batchid,rptsernum,STRING_AGG(distinct pan,',') as pan,count(distinct pan) as pan_count,STRING_AGG(distinct occupation_names,',') as occupation_names,count(distinct occupation_names) as occupation_names_count, STRING_AGG(distinct person_names,',') as person_names,count(distinct person_names) as person_names_count from cte1 group by batchid,rptsernum) , cte3 as ( select pan from ( select row_number() over( partition by pan order by pan_count desc) rn,c.* from cet2 c)z where rn>1 and  pan is not null and length (pan)>11 order by pan, rn desc ) select * from ( select row_number() over( partition by pan order by pan_count desc) rn,c.* from cet2 c)zz where pan in (select pan from cte3) order by pan, rn".format(brns,brns,brns)
pan_based_cluster=pd.DataFrame()
results=sql_exec(sql,pengine)
pan_based_cluster=pan_based_cluster.append(results)

Time now:  2023-06-12 12:13:19.116641
Executing Query...
Time Taken:  relativedelta(seconds=+29, microseconds=+184808)

In [65]:
# results4.to_csv(r'C:\Users\SAL005\Desktop\topic modelling automation\pan_based_cluster.csv')
pan_based_cluster

,rn,batchid,rptsernum,pan,pan_count,occupation_names,occupation_names_count,person_names,person_names_count
0,1,2102156919,2007450,"AAACF9386P,AAAPD8245L",2,None,0,ORBIS FINANCIAL CORPORATION LTD CLIENT POOL A/...,3
1,2,2101298692,2007126,"AAACF9386P,AAAPD8245L",2,None,0,ORBIS FINANCIAL CORPORATION LTD CLIENT POOL A/...,3
2,1,2102156919,2007538,"AAACF9386P,AARPD5501E,AEFPD7015M",3,None,0,"ADITA RAHUL DANAYAK,ORBIS FINANCIAL CORPORATIO...",3
3,2,2012160594,2006643,"AAACF9386P,AARPD5501E,AEFPD7015M",3,None,0,"ADITA RAHUL DANAYAK,ORBIS FINANCIAL CORPORATIO...",3
4,1,2203256756,2103976,"AAAPP4775H,AAAPP4778L",2,"HOUSE WIFE,SELF EMPLOYED",2,"ASHA PURANMALKA,BISHWANATH PURANMALKA",2
5,2,2112016327,2103976,"AAAPP4775H,AAAPP4778L",2,None,0,"ASHA PURANMALKA,BISHWANATH PURANMALKA",2
6,1,2203256756,2104746,"AABPN0983G,AABPN8800C",2,RETIRED,1,"GAUTAM S NAYAK,SUMAN G NAYAK",2
7,2,2112208439,2104746,"AABPN0983G,AABPN8800C",2,None,0,"GAUTAM S NAYAK,SUMAN G NAYAK",2
8,1,2203256756,2007468,"AACPG9278L,AAJPG2165P",2,SELF EMPLOYEES PROFESSIONAL (SEP),1,"BINA M GUPTA,MANMOHAN GUPTA",2
9,2,2203256756,2104745,"AACPG9278L,AAJPG2165P",2,SELF EMPLOYEES PROFESSIONAL (SEP),1,"BINA M GUPTA,MANMOHAN GUPTA",2
10,3,2112208439,2104745,"AACPG9278L,AAJPG2165P",2,None,0,"BINA M GUPTA,MANMOHAN GUPTA",2
11,1,2111202653,2103573,"AACPR8439G,AASPS7512B",2,None,0,"CHARU SEHGAL,RAMAN ROY",2
12,2,2203256756,2103573,"AACPR8439G,AASPS7512B",2,None,0,"CHARU SEHGAL,RAMAN ROY",2
13,1,2111202653,2103565,"AAHPA0844P,ABTPD9951D,AGTPT5735N",3,None,0,"ASHIMA AGARWAL,BANKIM J DALAL,NEHA B TARI",3
14,2,2203256756,2103565,"AAHPA0844P,ABTPD9951D,AGTPT5735N",3,HOUSE WIFE,1,"ASHIMA AGARWAL,BANKIM J DALAL,NEHA B TARI",3
15,1,2109216727,2102990,"AAHPK0100G,AALPK7061L",2,None,0,"SALIM A KAGALWALLA,ZEENAT S KAGALWALA",2
16,2,2203256756,2102990,"AAHPK0100G,AALPK7061L",2,"HOUSE WIFE,SELF EMPLOYED",2,"SALIM A KAGALWALLA,ZEENAT S KAGALWALA",2
17,1,2103162817,2008017,"AAJPM6587F,AANPM7966L",2,"SALARIED,SELF EMPLOYED",2,"ANJAL R MALKANI,RANJIT G MALKANI",2
18,2,2203256755,2000533,"AAJPM6587F,AANPM7966L",2,None,0,"ANJAL R MALKANI,RANJIT G MALKANI",2
19,3,2203256756,2008017,"AAJPM6587F,AANPM7966L",2,"SALARIED,SELF EMPLOYED",2,"ANJAL R MALKANI,RANJIT G MALKANI",2
20,1,2112208439,2104734,"AANPD1386M,ADDPD9009L",2,None,0,"AUSTIN J DROZARIO,MAXINE DROZARIO",2
21,2,2201182997,2105068,"AANPD1386M,ADDPD9009L",2,None,0,"AUSTIN J DROZARIO,MAXINE DROZARIO",2
22,3,2203256756,2104734,"AANPD1386M,ADDPD9009L",2,"HOUSE WIFE,RETIRED",2,"AUSTIN J DROZARIO,MAXINE DROZARIO",2
23,1,2112144386,2104530,"AARPB7078C,AARPB7079D",2,None,0,"ANAND BADVE,MEERA BADVE",2
24,2,2203256756,2104530,"AARPB7078C,AARPB7079D",2,None,0,"ANAND BADVE,MEERA BADVE",2
25,1,2203256756,2104533,"AARPD5501E,AEFPD7015M",2,"HOUSE WIFE,SALARIED",2,"ADITA R DANAYAK,RAHUL J DANAYAK",2
26,2,2112144386,2104533,"AARPD5501E,AEFPD7015M",2,None,0,"ADITA R DANAYAK,RAHUL J DANAYAK",2
27,1,2203256756,2104739,"AASPC2401P,AMLPR3917L",2,HOUSE WIFE,1,"RASHMI .,SANJAY KUMAR CHANCHAL",2
28,2,2112208439,2104739,"AASPC2401P,AMLPR3917L",2,None,0,"RASHMI .,SANJAY KUMAR CHANCHAL",2
29,1,2203256755,2006686,"AAWPC6581E,AAWPC6582H",2,HOUSE WIFE,1,"KIRTISING N CHOUHAN,MADHAVI K CHOUHAN",2
30,2,2201255404,2105108,"AAWPC6581E,AAWPC6582H",2,None,0,"KIRTISING N CHOUHAN,MADHAVI K CHOUHAN",2
31,1,2203256756,2102996,"AAYPJ2101R,ADZPJ6680R",2,HOUSE WIFE,1,"PRAFULL J JAIN,PRAMILA PRAFULL JAIN",2
32,2,2109216727,2102996,"AAYPJ2101R,ADZPJ6680R",2,None,0,"PRAFULL J JAIN,PRAMILA PRAFULL JAIN",2
33,1,2109216727,2102992,"AAZPM6445Q,AGUPM4823F",2,None,0,"ARUN M MEHROTRA,NEERU A MEHROTRA",2
34,2,2201182997,2105024,"AAZPM6445Q,AGUPM4823F",2,None,0,"ARUN M MEHROTRA,NEERU A MEHROTRA",2
35,3,2203256756,2102992,"AAZPM6445Q,AGUPM4823F",2,"HOUSE WIFE,RETIRED",2,"ARUN M MEHROTRA,NEERU A MEHROTRA",2
36,1,2112144386,2104528,"ABTPD9951D,AGTPT5735N,ANKPS5450R",3,None,0,"BANKIM J DALAL,KOPPARA S THOMAS,NEHA B TARI",3
37,2,2203256756,2104528,"ABTPD9951D,AGTPT5735N,ANKPS5450R",3,RETIRED,1,"BANKIM J DALAL,KOPPARA S THOMAS,NEHA B TARI",3
38,1,2111023597,2103476,"ACMPG6995L,AEUPG7143N",2,None,0,"ANIL H GUPTA,NEELAM A GUPTA",2
39,2,2203256756,2103476,"ACMPG6995L,AEUPG7143N",2,"HOUSE WIFE,RETIRED",2,"ANIL H GUPTA,NEELAM A GUPTA",2
40,1,2212200798,2202903,"ANZPS5381C,BJPPS2591K",2,,1,"ANILLA M SHAH,MAHENDRAKUMAR K SHAH",2
41,2,2212201060,2202782,"ANZPS5381C,BJPPS2591K",2,,1,"ANILLA M SHAH,MAHENDRAKUMAR K SHAH",2

## Occupation Data

In [226]:
sql="with cte1 as(select upper(trim(occupation)) as occupation_names from risk_priority.inp_5_years where batchid::text||'|'||rptsernum::text in ({}) union select upper(trim(natureofbusiness)) as occupation_names from risk_priority.lpe_5_years where batchid::text||'|'||rptsernum::text in ({}) union select upper(trim(occupation)) as occupation_names from risk_priority.trftrn_1804_2003 where batchid::text||'|'||rptsernum::text in ({})) select (occupation_names) occupation_concat,count(occupation_names) as occupation_count from cte1 GROUP BY occupation_concat ORDER BY occupation_count DESC".format(brns,brns,brns)
occupation_based_cluster=pd.DataFrame()
results=sql_exec(sql,pengine)
occupation_based_cluster=occupation_based_cluster.append(results)
occupation_based_cluster=occupation_based_cluster.sort_values(by='occupation_count',ascending=False)
occupation_based_cluster=occupation_based_cluster.reset_index()
occupation_based_cluster=occupation_based_cluster.drop(['index'],axis=1)

Time now:  2023-06-13 10:31:34.376601
Executing Query...
Time Taken:  relativedelta(seconds=+2, microseconds=+238273)

In [227]:
occupation_based_cluster

                    occupation_concat  occupation_count
0                          CONSULTANT                 1
1                       SELF-EMPLOYED                 1
2                             SERVICE                 1
3                         IT SERVICES                 1
4          SALARIED - PRIVATE LIMITED                 1
5                             STUDENT                 1
6                            SALARIED                 1
7                             TEXTILE                 1
8                                 099                 1
9                       SHARE BROKERS                 1
10                       PROFESSIONAL                 1
11                                009                 1
12                           BUSINESS                 1
13  SELF EMPLOYEES PROFESSIONAL (SEP)                 1
14               BUSINESS - RETAILING                 1
15                       CONSTRUCTION                 1
16                         HOUSE WIFE                 1
17                                510                 1
18                                                    1
19         BANKING/ FINACIAL SERVICES                 1
20                             OTHERS                 1
21                      SELF EMPLOYED                 1
22                            RETIRED                 1
23                                PMS                 1
24                BUSINESS - SERVICES                 1
25                      MANUFACTURING                 1
26                    SELF - EMPLOYED                 1
27                               None                 0

In [228]:
# sql="with cte1 as(select upper(trim(commpincode)) as pincode_names from str_prioritization.inp_final where batchid::text||'|'||rptsernum::text in ({}) union select upper(trim(commpincode)) as occupation_names from str_prioritization.lpe_final where batchid::text||'|'||rptsernum::text in ({}) union select upper(trim(pincode)) as pincode_names from risk_priority.trftrn_1804_2003 where batchid::text||'|'||rptsernum::text in ({})) select (pincode_names) pincode_concat,count(pincode_names) as pincode_count from cte1 GROUP BY pincode_concat ORDER BY pincode_count DESC".format(brns,brns,brns)
# pincode_based_cluster=pd.DataFrame()
# results=sql_exec(sql,pengine)
# pincode_based_cluster=pincode_based_cluster.append(results)
# pincode_based_cluster=pincode_based_cluster.sort_values(by='pincode_count',ascending=False)
# pincode_based_cluster=pincode_based_cluster.reset_index()
# pincode_based_cluster=pincode_based_cluster.drop(['index'],axis=1)

Time now:  2023-06-13 10:31:38.207714
Executing Query...
Time Taken:  relativedelta(microseconds=+629379)

### Word Cloud

In [70]:
gosDF['GD'] = gosDF['GD'].apply(clean)
gosDF['GD']=gosDF['GD'].str.lower()

In [71]:
stop_words=stopwords.words('english')

In [72]:
stop_words.extend(['customer','account','detail','details','since','available','till','utilized','towards','inward','outward','number','name','hold','several','along','apart','others','other','also','refer','total','e','mail','id','seem','seems','wherein','found','wrt','given','belongs','belong','r','lakh','transaction','bank','credit','transfer','c','debit','fund','instance','high','profile','ltd','technology','imp','branch','declared','majorly','ifsc','mobile','aggregating','side','current','pan','date','income','received','mainly','nil','per','value','limited','pvt','balance','annual','saving','observed','year','risk','turnover','address','currency','private','money','hdfc','internet','individual','india','str','fy','status','business','payment','approx','due','opening','account','amount','filed','various','suspicion','company','icici','pattern','com','period','active','financial','debited','mr','followed','kumar','multiple','neblio','line','credited','source','amounting','birth','crore','quantum','low','party','maintaining','linked','registered','related','yes','etc','entity','revealed','basis','review','customer','b','road','record','card','amounted','opened','day','ground','aforesaid','diligence','code','noted','alert','platform','time','gmail','via','http','dealing','transferred','deposit','volume','maintains','categorized','lac','carried','scrutiny','previous','appears','self','raised','p','service','nagar','end','ac','seen','singh','employed','part','filing','search','immediate','medium','yesb','made','like','atm','ybl','show','salaried','use','clearing','unusual','k','report','www','bearing','new','obtained','public','triggered','contact','f','month','updated','categorization','used','updation','axis','major','view','beneficiary','model','domain','example','purpose','got','solution','however','based','near','icic','internal','information','includes','mmid','informed','earlier','last','statement','online','furnished','activity','aadhar','enhanced','reviewing','holder','following','case','involved','newly','similarly','g','n','done','sbi','range','relationship','reported','sheet','owner','could','state','innovation','way','reason','huge','strs','rule','cr','subsequent','provides','official','beneficial','suspicious','hence','aml','h','deployed','awlencan','copy','held','floor','category','sbin','carry','excess','noticing','authorized','appear','possibility','totalling','kotak','enquiry','indeterminable','mahindra','u','recorded','uttar','categorised','ascertained','notice','overall','first','raise','regular','mentioned','sudden','currently','intention','sale','investment','nature','gross','yet','rest','small','reveals','periodic','idfc','similar','closed','three','respectively','remaining','person','upto','sector','matching','within','make','j','adverse','l','edd','trader','signatory','location','freeze','maintained','possibly','identification','light','located','director','additional','availed','favouring','idfb','banking','one','client','station','wise','passport','facility','said','web','idbi','jain','gstin','type','span','non','cust','receiving','co','merchant','utib','age','dist','form','vide','mailing','design','sharma','submitted','serf','colony','develops','old','authority','dob','tech','city','mob','plot','mar','full','add','tune','point','utilization','compliance','stated','provide','june','determined','unrelated','main','rajesh','market','ucic','v','different','communication','fixed','iec','reactive','short','aggregated','kkbk','shop','deal','home','narration','finance','gupta','data','complex','indicates','indian','confirmed','salary','third','th','mode','noticed','frequent','identified','history','therefore','house','summary','firm','inr','feedback','signing','law','opp','dated','inconsistent','apr','withdrawn','ibkl','m','paid','large','block','kolkata','technolo','jun','recommended','identical','operation','totaling','mohammed','user','q','acc','possible','le','po','far','bandhan','commensurate','open','oct','batch'])

In [73]:
new_stop_words=['win', 'phone', 'royal', 'corresponds', 'chance', 'using', 'caller', 'average', 'external', 'forward', 'july', 'unique', 'red', 'flag', 'application', 'luck', 'correspond', 'distinct', 'play', 'treating', 'truecaller', 'primary', 'exchange', 'sent', 'link', 'facilitating', 'sending', 'daily', 'ernakulam', 'would', 'accepting', 'youtube', 'unable', 'pay', 'facilitates', 'app', 'reporting', 'themself', 'sampling', 'prediction', 'help', 'another', 'sport', 'digital', 'across', 'compared', 'google', 'transacting', 'kerala', 'query', 'accept', 'result', 'country', 'reflects', 'clear', 'try', 'pradesh', 'trying', 'relate', 'fiu', 'highly', 'evidence', 'evident', 'unlikely', 'going', 'facilitaitng', 'mumbai', 'kyc', 'teen', 'kemps', 'yaar', 'sender', 'follows', 'priya', 'matka', 'sakunthala', 'ranveer', 'cash', 'added', 'much', 'indicating', 'match', 'justify', 'looking', 'pmcares', 'look', 'almost', 'gone', 'ref', 'march', 'ram', 'prakash', 'deepak', 'winning', 'group', 'net', 'find', 'br', 'created', 'goyal', 'clearly', 'facebook', 'kind', 'shivam', 'raman', 'doesnt', 'satta', 'kingh', 'apkpure', 'romibhai', 'sonubhaiapp', 'rsgames', 'august', 'able', 'western', 'watch', 'virendra', 'bjwe', 'kmpa', 'paytm', 'delhi', 'maharashtra', 'karnataka', 'st', 'enterprise', 'telangana', 'bihar', 'indicate', 'sample', 'haryana', 'majority', 'return', 'set', 'spent', 'vpa', 'sampled', 'aug', 'madhya', 'ganesh', 'pe', 'kadalundipuzha', 'export', 'rakesh', 'rajan', 'cricket', 'golden', 'six', 'baba', 'seven', 'bazaar', 'five', 'vijayawada', 'malappuram', 'david', 'durgapur', 'himachal', 'sharad', 'dindigul', 'bos', 'thiruvananthapuram', 'kochi', 'test', 'milan', 'balveer', 'kasera', 'maza', 'palem', 'cheeni', 'paadam', 'manimooly', 'chelakkad', 'veliancode', 'nenmara', 'thuvvur', 'hoshiarpur', 'ritu', 'matlka', 'milanbazar', 'kheteshwar', 'con', 'koomp', 'oppo', 'rextan', 'managalore', 'singareddy', 'dhilip', 'dheeraj', 'lotusonlineid', 'upi', 'star', 'sk', 'andhra', 'bengaluru', 'externally', 'lotus', 'dheeru', 'searching', 'lotusgaminglive', 'goa', 'secunderabad', 'anantapur', 'sikkim', 'transact', 'flutter', 'chodavaram', 'neft', 'policy', 'skstar', 'privacy', 'billdesk', 'euronet', 'moneymultiple', 'rtgs', 'document', 'tranche', 'standard', 'chartered', 'completed', 'cashfree', 'bangalore', 'chennai', 'limit', 'rummy', 'remitters', 'analysis', 'aadhaar', 'email', 'withdrawal', 'tamil', 'nadu', 'repayment', 'occasion', 'junglee', 'may', 'conducted', 'locate', 'assigned', 'april', 'portal', 'pune', 'west', 'issued', 'site', 'rationale', 'ici', 'spends', 'routed', 'economic', 'landline', 'monitoring', 'loan', 'hyderabad', 'xxxxxxxx', 'fetched', 'razorpay', 'investigation', 'office', 'rd', 'gujarat', 'remittance', 'rajasthan', 'street', 'pytm', 'xbet', 'considering', 'gateway', 'round', 'tower', 'dream', 'wallet', 'masked', 'software', 'student', 'reddy', 'personal', 'around', 'count', 'combined', 'mmt', 'cross', 'appx', 'instrument', 'conclusion', 'nd', 'top', 'x', 'noida', 'pmla', 'outstanding', 'authorised', 'flat', 'park', 'incorporation', 'east', 'purchase', 'gurgaon', 'known', 'percent', 'indusind', 'jan', 'highest', 'mcc', 'constituting', 'trading', 'common', 'lowest', 'upon', 'resident', 'national', 'post', 'building', 'cumulative', 'activation', 'sorted', 'payu', 'xxxxx', 'came', 'driving', 'bengal', 'punjab', 'ludo', 'provided', 'yesbank', 'indicated', 'krishna', 'sai', 'occupation', 'consists', 'interconnected', 'general', 'inactive', 'website', 'dec', 'single', 'usage', 'permanent', 'summation', 'thane', 'license', 'prasad', 'indb', 'request', 'school', 'two', 'monthly', 'feb', 'xxxxxx', 'oksbi', 'consolidated', 'arcade', 'relation', 'transctions', 'deposited', 'cheque', 'transacted', 'yadav', 'culture', 'jehanabad', 'ip', 'mostly', 'working', 'store', 'complied', 'disbursed', 'jaipur', 'phase', 'okicici', 'namely', 'rto', 'note', 'playing', 'video', 'recurring', 'network', 'constitution', 'ahmedabad', 'international', 'marg', 'database', 'establishment', 'suresh', 'increase', 'door', 'federal', 'retail', 'ctr', 'amit', 'comprising', 'okhdfcbank', 'pasfar', 'ptc', 'next', 'raj', 'consist', 'week', 'patel', 'wunderbaked', 'fort', 'situated', 'january', 'authentication', 'uidai', 'system', 'layout', 'avenue', 'dreamplug', 'message', 'ranging', 'unit', 'consultancy', 'proprietor', 'supreme', 'pin', 'process', 'vijay', 'file', 'ntr', 'cbwt', 'cred', 'mall', 'reviewed', 'remaning', 'ascertain', 'billing', 'area', 'boarded', 'tranasction', 'poker', 'unregistered', 'quadrific', 'inception', 'canara', 'behind', 'male', 'chakma', 'rzpx', 'okaxis', 'south', 'north', 'infotech', 'provider', 'citibank', 'actual', 'velocity', 'village', 'justified', 'vihar', 'global', 'list', 'investigating', 'device', 'virtual', 'fiduciary', 'gambling', 'gst', 'voter', 'circle', 'baroda', 'four', 'overseas', 'favoring', 'police', 'accordingly', 'spend', 'ka', 'reimbursement', 'nov', 'engaged', 'garden', 'devi', 'numerous', 'anna', 'weekly', 'rating', 'pool', 'domestic', 'sri', 'sunil', 'khan', 'incoming', 'xxxx', 'additionally', 'suspect', 'highlighted', 'check', 'meena', 'bill', 'housewife', 'fall', 'free', 'contactable']

In [74]:
stop_words.extend(new_stop_words)

In [75]:
def remove_stop_words(i):
    tokens=word_tokenize(i)
    return " ".join([token for token in tokens if token not in stop_words])

In [76]:
gosDF['GD']=gosDF['GD'].apply(remove_stop_words)
lematizer=WordNetLemmatizer()

In [77]:
def lematization(i):
    tokens=word_tokenize(i)
    return " ".join([lematizer.lemmatize(token) for token in tokens if token not in stop_words])

In [78]:
gosDF['GD']=gosDF['GD'].apply(lematization)
gosDF['GD']=gosDF['GD'].apply(remove_stop_words)

In [79]:
def tokens_from_corpus(i):
    return word_tokenize(i)
list_gos=gosDF['GD'].to_list()

In [80]:
final_tokens=[]
for i in list_gos:
    final_tokens.extend(tokens_from_corpus(i))
final_tokens=['{0}'.format(elem) for elem in final_tokens]

In [81]:
fdist=FreqDist(final_tokens)
bgs=nltk.bigrams(final_tokens)
fdist_bg=FreqDist(bgs)
freq_words=[i[0] for i in fdist.most_common(1000)]
freq_bg_words=[i[0] for i in fdist_bg.most_common(1000)]
freq_bg=[i[1] for i in fdist_bg.most_common(1000)]

In [82]:
gosDF['GD']=gosDF['GD'].apply(clean)
gosDF['GD']=gosDF['GD'].map(lambda x: str(x).lower())

In [201]:
unigram=pd.DataFrame()
j=[]
k=[]
for i in freq_words:
    count=0
    count=len(gosDF[gosDF['GD'].str.contains(' '+i+' ')])
    j.append(i)
    k.append(count)
unigram['entities']=j
unigram['count']=k

In [202]:
unigram=unigram.sort_values(by='count',ascending=False)
unigram=unigram.reset_index()
unigram=unigram.drop(['index'],axis=1)

In [203]:
bigram=pd.DataFrame()
j=[]
k=[]
l=[]
for x,y in list(freq_bg_words):
    count=0
    count=len(gosDF[gosDF['GD'].str.contains(x+' '+y)])
    j.append(x)
    l.append(y)
    k.append(count)
bigram['word_1']=j
bigram['word_2']=l
bigram['count']=k

In [204]:
bigram=bigram.sort_values(by='count',ascending=False)
bigram=bigram.reset_index()
bigram=bigram.drop(['index'],axis=1)

In [209]:
df_negative_words = pd.DataFrame(stop_words, columns=['Negative Words for Word Cloud'])

     Negative Words for Word Cloud
0                                i
1                               me
2                               my
3                           myself
4                               we
...                            ...
1112                          bill
1113                     housewife
1114                          fall
1115                          free
1116                   contactable

[1117 rows x 1 columns]

In [218]:
# path="C:\\Users\\SAL005\\Desktop\\Topic Modelling\\{}.xlsx".format(filename.split('.')[0])
path="C:\\Users\\SAL005\\Desktop\\Topic Modelling\\final_test.xlsx"
writer=pd.ExcelWriter(path,engine='xlsxwriter')
df_orignal.to_excel(writer,sheet_name='Orignal Data',index=False)
df.to_excel(writer,sheet_name='Extracted Entities',index=False)
df2.to_excel(writer,sheet_name='Extracted Entities Count',index=False)
df_copy.to_excel(writer,sheet_name='Extracted PAN',index=False)
batchid_based_concat.to_excel(writer,sheet_name='BATCHID based concat',index=False)
pan_based_concat.to_excel(writer,sheet_name='PAN based concat',index=False)
pan_based_cluster.to_excel(writer,sheet_name='PAN Cluster',index=False)
occupation_based_cluster.to_excel(writer,sheet_name='Top Occupation Count',index=False)
df_negative_words.to_excel(writer,sheet_name='Negative Words',index=False)
unigram.to_excel(writer,sheet_name='Word Cloud Unigram',index=False)
bigram.to_excel(writer,sheet_name='Word Cloud Bigram',index=False)
writer.close()

In [182]:
# help(gosDF['GD'].str.contains)

In [184]:
# bigram.to_csv(r'C:\Users\SAL005\Desktop\orbis topic modelling\1.csv')

In [ ]:
# pincode_set = []
# for i in l2:
#     pincode_set.append(i.split('||'))

# pincode_list = [item for sublist in pincode_set for item in sublist]
# pincode_checklist = list(set(pincode_list))

In [ ]:
# counter_dic = {}

# for i in pincode_checklist:
#     count = 0
#     for items in df['string_agg']:
#         if '||' in items:
#             items_list = items.split('||')
#         else:
#             items_list = items
#         if i in items_list:
#             count = count+1
#         counter_dic[i] = count

In [ ]:
# new = pd.DataFrame(counter_dic.items(), columns=['Pincode', 'Pincode Count'])
# new=new.sort_values('Pincode Count',ascending=False)
# new = new.reset_index(drop=True)
# new.to_csv('new_pincode.csv')