In [28]:
from configparser import ConfigParser
import datetime
import pandas as pd
import pyodbc

In [29]:

CurrentDate = str(datetime.datetime.now())

delimiter1 = " ";
delimiter2 = "-";
CurrentDate = CurrentDate.replace(delimiter2, delimiter1);
CD = CurrentDate.split(delimiter1);
date = CD[2]
month = CD[1]
year = CD[0]

In [30]:
CD

['2023', '02', '22', '06:24:15.761226']

In [31]:
config = ConfigParser()
config.read(r'/notebooks/notebooks/config.ini')
connection_string = config.get('SERVER', 'connection')
conn = pyodbc.connect(connection_string)
# conn.autocommit = False
cursor = conn.cursor()

In [32]:
sql_delete_query1  = "delete from FINCORE_DB.Fincore_Analytics.RISK_PERSON"
sql_delete_query2  = "delete from FINCORE_DB.Fincore_Analytics.RISK_PERSON_ANALYTICAL_RULES"
sql_delete_query3  = "delete from FINCORE_DB.Fincore_Analytics.RISK_LKP_ENTITY_THRESHOLD where RULE_NO like 'P0%'"
sql_delete_query4  = "delete from FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES"
sql_delete_query5  = "delete from FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG"
sql_delete_query6  = "delete from FINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL"
sql_delete_query7  = "delete from FINCORE_DB.FINCORE_ANALYTICS.RISK_LKP_PEER_GRP_ATTRIBUTES WHERE ENTITY_TYPE = 'I' "


cursor.execute(sql_delete_query1)
cursor.execute(sql_delete_query2)
cursor.execute(sql_delete_query3)
cursor.execute(sql_delete_query4)
cursor.execute(sql_delete_query5)
cursor.execute(sql_delete_query6)
cursor.execute(sql_delete_query7)
conn.commit()

In [33]:

sql_delete_query3  = "delete from FINCORE_DB.Fincore_Analytics.RISK_LKP_ENTITY_THRESHOLD where RULE_NO like 'P0%'"

cursor.execute(sql_delete_query3)

conn.commit()

In [34]:
count_of_audit_ingt = pd.read_sql_query("select count(1) from FINCORE_DB.Fincore_Analytics.AUDIT_INTGN where JOB_NAME = '2_RISK_PERSON' and JOB_STATUS = 'Success'",conn)

In [35]:
count_of_audit_ingt = count_of_audit_ingt.iloc[0,0]

In [36]:
count_of_audit_ingt

30

In [37]:
try:
    
#     if ((date == '20' and month == '02') or ((date == '01' and month == '06')) or (count_of_audit_ingt == 0)):
    if ((date == '80' and month == '02') or ((date == '01' and month == '06')) or (count_of_audit_ingt == 0) or (year == '2023')):

        
        sql_delete_query1  = "delete from FINCORE_DB.Fincore_Analytics.RISK_PERSON"
        sql_delete_query2  = "delete from FINCORE_DB.Fincore_Analytics.RISK_PERSON_ANALYTICAL_RULES"
        sql_delete_query3  = "delete from FINCORE_DB.Fincore_Analytics.RISK_LKP_ENTITY_THRESHOLD where RULE_NO like 'P0%'"
        sql_delete_query4  = "delete from FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES"
        sql_delete_query5  = "delete from FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG"
        sql_delete_query6  = "delete from FINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL"
        sql_delete_query7  = "delete from FINCORE_DB.FINCORE_ANALYTICS.RISK_LKP_PEER_GRP_ATTRIBUTES"
        
        
        cursor.execute(sql_delete_query1)
        cursor.execute(sql_delete_query2)
        cursor.execute(sql_delete_query3)
        cursor.execute(sql_delete_query4)
        cursor.execute(sql_delete_query5)
        cursor.execute(sql_delete_query6)
        cursor.execute(sql_delete_query7)
        
        conn.commit()
        


        %run master_data_pop_all_data.ipynb
        %run PEER_GROUPING.ipynb
        %run Threshold_Computation_V2.ipynb
        %run Entity_Risk_Calculation_V2_1.ipynb
        %run Entity_calculation_2.ipynb
        

        

    else:
        print("Else")
        %run master_data_pop.ipynb
        %run Entity_Risk_V2_Incremental_data.ipynb
        %run Threshold_Computation_V2_Incremental_data.ipynb
        %run Entity_Risk_Calculation_V2_1_Incremental_data.ipynb
        

    
    
    
except Exception as error:
    %store -r job_id
    error = str(error)
    print("Here error")
    error = error.replace('\'','')
    error = error.replace('\"','')
    print("Failed to update record to database rollback: {}".format(error))
    conn.rollback()
    conn.execute(f'''update FINCORE_DB.Fincore_Analytics.AUDIT_INTGN set ERROR_DESC = '{error}'  where  JOB_RUN_ID = {job_id}''')
    conn.commit()
    conn.close()

Stored 'job_id' (int64)
master_data_pop_per_q1  DONE!
master_data_pop_per_q2  DONE!
per_pincode_update  DONE!
per_occ_update  DONE!
master_data_pop_per_income  DONE!
per_trx_update_credit  DONE!
per_trx_update_debit  DONE!
peer_grouping_columns  DONE!
MOBILE_COUNT  DONE!
TELEPHONE_COUNT  DONE!
EMAIL_COUNT  DONE!
WATCHLIST_COUNT  DONE!
STR_REPORT_COUNT  DONE!
CTR_REPORT_COUNT  DONE!
NTR_REPORT_COUNT  DONE!
PTR_COUNT  DONE!
CBWTR_REPORT_COUNT  DONE!
CCR_REPORT_COUNT  DONE!
str_amount_debit  DONE!
str_amount_credit  DONE!
ctr_amount_debit  DONE!
ctr_amount_credit  DONE!
ntr_amount_debit  DONE!
ntr_amount_credit  DONE!
cbwtr_amount_debit  DONE!
cbwtr_amount_credit  DONE!
ccr_amount_debit  DONE!
ccr_amount_credit  DONE!
('\r\n'
 '            MERGE INTO '
 'FINCORE_DB.Fincore_Analytics.RISK_PERSON_Summary_stg_RULES \r\n'
 '\t\t\tWITH (HOLDLOCK) as target  USING   (   \r\n'
 '\t\t\tSELECT   PMCFR.Person_Master_Id,      \r\n'
 '\t\t\tSUM( 1 ) AS CBWTR_COUNT   \r\n'
 '\t\t\tFROM [FINCORE_DB].[Fincore].person_Master_Cluster_Fingate_Report '
 'PMCFR \r\n'
 '\t\t\t\r\n'
 '\t\t\tINNER JOIN datahub_db.FIUMetaHub.[finnet_ReportType] B ON '
 'PMCFR.Report_Type_Id = B.id_     \r\n'
 '\t\t\tinner join FINCORE_DB.Fincore_Analytics.RISK_REPORT rr on '
 'PMCFR.Batch_Id=rr.BATCH_ID and PMCFR.Report_Id=rr.REPORT_ID  \r\n'
 '\t\t\tinner join FINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL k on '
 'PMCFR.Person_Master_Id  = k.person_master_id \r\n'
 "\t\t\tWHERE PMCFR.Is_Active_Flag = 1 and  B.typeName = 'CBWTR' and "
 'rr.RISK_SCORE<5 GROUP BY PMCFR.person_Master_Id  ) AS source     \r\n'
 '\t\t\tON target.PERSON_MASTER_ID = source.PERSON_master_id and '
 "target.rule_no ='P002001031' WHEN MATCHED THEN  \r\n"
 '\t\t\tUPDATE SET target.RULE_VALUE=source.CBWTR_COUNT   WHEN NOT MATCHED BY '
 'TARGET THEN    \r\n'
 '\t\t\tINSERT (PERSON_MASTER_ID,RULE_NO,RULE_VALUE,CREATE_DATE)     \r\n'
 "\t\t\tVALUES (source.PERSON_master_id,'P002001031',source.CBWTR_COUNT "
 ',getdate());')
Done
('\r\n'
 '         MERGE INTO '
 'FINCORE_DB.Fincore_Analytics.RISK_PERSON_Summary_stg_RULES \r\n'
 '\t\t WITH (HOLDLOCK) as target  USING   (     \r\n'
 '\t\t SELECT   PMCFR.Person_Master_Id,     \r\n'
 '\t\t SUM( 1 ) AS NTR_COUNT     \r\n'
 '\t\t FROM [FINCORE_DB].[Fincore].person_Master_Cluster_Fingate_Report '
 'PMCFR \r\n'
 '\t\t inner join FINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL k on '
 'PMCFR.Person_Master_Id  = k.person_master_id\r\n'
 '\t\t INNER JOIN datahub_db.FIUMetaHub.[finnet_ReportType] B ON '
 'PMCFR.Report_Type_Id = B.id_     \r\n'
 '\t\t inner join FINCORE_DB.Fincore_Analytics.RISK_REPORT rr on '
 'PMCFR.Batch_Id=rr.BATCH_ID and PMCFR.Report_Id=rr.REPORT_ID    \r\n'
 "\t\t WHERE PMCFR.Is_Active_Flag = 1 and  B.typeName = 'NTR' and "
 'rr.RISK_SCORE>=8 GROUP BY PMCFR.person_Master_Id  ) AS source    \r\n'
 '\t\t ON target.PERSON_MASTER_ID = source.PERSON_master_id and target.rule_no '
 "='P002001032'  WHEN MATCHED THEN   \r\n"
 '\t\t UPDATE SET target.RULE_VALUE=source.NTR_COUNT   WHEN NOT MATCHED BY '
 'TARGET THEN       \r\n'
 '\t\t INSERT (PERSON_MASTER_ID,RULE_NO,RULE_VALUE,CREATE_DATE)         \r\n'
 "\t\t VALUES (source.PERSON_master_id,'P002001032',source.NTR_COUNT "
 ',getdate());')
Done
('\r\n'
 '             MERGE INTO '
 'FINCORE_DB.Fincore_Analytics.RISK_PERSON_Summary_stg_RULES  \r\n'
 '\t\t\t WITH (HOLDLOCK) as target  USING   (  \r\n'
 '\t\t\t SELECT   PMCFR.Person_Master_Id,     \r\n'
 '\t\t\t SUM( 1 ) AS NTR_COUNT            \r\n'
 '\t\t\t FROM [FINCORE_DB].[Fincore].person_Master_Cluster_Fingate_Report '
 'PMCFR with (nolock)\r\n'
 '\t\t\t inner join FINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL k  '
 'with (nolock)on PMCFR.Person_Master_Id  = k.person_master_id\r\n'
 '\t\t\t INNER JOIN datahub_db.FIUMetaHub.[finnet_ReportType] B with (nolock)  '
 'ON PMCFR.Report_Type_Id = B.id_      \r\n'
 '\t\t\t inner join FINCORE_DB.Fincore_Analytics.RISK_REPORT rr with (nolock)  '
 'on PMCFR.Batch_Id=rr.BATCH_ID and PMCFR.Report_Id=rr.REPORT_ID     \r\n'
 "\t\t\t WHERE PMCFR.Is_Active_Flag = 1 and  B.typeName = 'NTR' and "
 'rr.RISK_SCORE>=5 or rr.risk_score<8 GROUP BY '
 'PMCFR.person_Master_Id               )\r\n'
 '\t\t\t AS source        \r\n'
 '\t\t\t ON target.PERSON_MASTER_ID = source.PERSON_master_id and '
 "target.rule_no = 'P002001033' WHEN MATCHED THEN      \r\n"
 '\t\t\t UPDATE SET target.RULE_VALUE=source.NTR_COUNT  WHEN NOT MATCHED BY '
 'TARGET THEN      \r\n'
 '\t\t\t INSERT (PERSON_MASTER_ID,RULE_NO,RULE_VALUE,CREATE_DATE)          \r\n'
 '\t\t\t VALUES '
 "(source.PERSON_master_id,'P002001033',source.NTR_COUNT,getdate());")
Done
('\r\n'
 '               MERGE INTO '
 'FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULEs \r\n'
 '\t\t\t   WITH (HOLDLOCK) as target USING (     \r\n'
 '\t\t\t   select  distinct j.Person_Master_Id AS person_master_id, \r\n'
 "\t\t\t   'P002001013' as Rule_no,     \r\n"
 '\t\t\t   f.countryCode as rule_value,      \r\n'
 '\t\t\t   f.risk_score as risk_score_static,    \r\n'
 '\t\t\t   getdate() as create_date   \r\n'
 '\t\t\t   from FINCORE_BRIDGE_DB.FINCORE_BRIDGE.fingate_PersonDetail m \r\n'
 '\t\t\t   inner join [DATAHUB_DB].[FIUMetaHub].[finnet_nationality] fc on '
 'm.nationality=fc.id_  \r\n'
 '\t\t\t   inner join [DATAHUB_DB].[FIUMetaHub].[finnet_Country]f on '
 'f.id_=m.primarycountry  \r\n'
 '\t\t\t   inner join [FINCORE_DB].[FINCORE].[Person_Cluster] l  on '
 'l.Fingate_Person_Id=m.id_  and l.Report_Id=m.reportId \r\n'
 '\t\t\t   inner join FINCORE_DB.Fincore.Person_Master_Cluster_Fingate_Report '
 'j on l.Person_Cluster_Id=j.Person_Cluster_Id \r\n'
 '\t\t\t   inner join FINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL k '
 'on j.Person_Master_Id  = k.person_master_id\r\n'
 "\t\t\t   where j.Person_Master_Id is not null and  ( f.TAX_HAVEN_FLAG='yes' "
 'or  f.risk_score>5) and j.is_active_flag = 1)     \r\n'
 '\t\t\t   as source ON          \r\n'
 '\t\t\t   target.PERSON_MASTER_ID = source.PERSON_MASTER_ID   \r\n'
 "\t\t\t   and target.Rule_no='P002001013'     and target.rule_value = "
 'source.rule_value    \r\n'
 '\t\t\t   WHEN MATCHED THEN         \r\n'
 '\t\t\t   UPDATE SET target.RULE_VALUE=source.rule_value    \r\n'
 '\t\t\t   WHEN NOT MATCHED BY TARGET THEN      \r\n'
 '\t\t\t   INSERT '
 '(PERSON_MASTER_ID,RULE_NO,RULE_VALUE,Risk_score_static,CREATE_DATE) \r\n'
 '\t\t\t   VALUES '
 "(source.PERSON_MASTER_ID,'P002001013',source.rule_value,source.risk_score_static,getdate());")
Done
('\r\n'
 '                     MERGE INTO '
 'FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES \r\n'
 '\t\t\t\t\t WITH (HOLDLOCK) as target USING   (      \r\n'
 '\t\t\t\t\t SELECT  PM.Person_Master_Id,       \r\n'
 '\t\t\t\t\t COUNT(DISTINCT MCDR.Unique_Company_Id) AS DRCT_CNT     \r\n'
 '\t\t\t\t\t FROM   FINCORE_DB.FINCORE.PERSON_MASTER PM \r\n'
 '\t\t\t\t\t inner join \r\n'
 '\t\t\t\t\t FINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL k on '
 'PM.Person_Master_Id  = k.person_master_id\r\n'
 '\t\t\t\t\t INNER JOIN EXTL_DB.MCA.Mca_Cin_Din_Relation MCDR       \r\n'
 '\t\t\t\t\t ON PM.PAN = MCDR.PAN             \r\n'
 '\t\t\t\t\t where PM.is_active_flag =1             \r\n'
 '\t\t\t\t\t GROUP BY pm.Person_Master_Id)     AS source ON        \r\n'
 '\t\t\t\t\t target.PERSON_MASTER_ID = '
 'source.PERSON_master_id              \r\n'
 "\t\t\t\t\t and target.rule_no ='P002001015'         \r\n"
 '\t\t\t\t\t WHEN MATCHED THEN             \r\n'
 '\t\t\t\t\t UPDATE SET target.RULE_VALUE=source.DRCT_CNT    \r\n'
 '\t\t\t\t\t WHEN NOT MATCHED BY TARGET THEN          \r\n'
 '\t\t\t\t\t INSERT (PERSON_MASTER_ID,RULE_NO,RULE_VALUE,CREATE_DATE) \r\n'
 '\t\t\t\t\t VALUES '
 "(source.PERSON_MASTER_ID,'P002001015',source.DRCT_CNT,getdate()); ")
Done
('\r\n'
 '   MERGE INTO '
 'FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES  \r\n'
 '   WITH (HOLDLOCK) as target USING     \r\n'
 '   (   \r\n'
 '   SELECT   PMAM.Person_Master_Id,    \r\n'
 '   Count(Distinct PMAM.Account_Master_Id) as No_Of_Accounts  \r\n'
 '   FROM [FINCORE_DB].[Fincore].Person_Master_Account_Master PMAM  with '
 '(nolock)     \r\n'
 '   INNER JOIN [FINCORE_DB].[Fincore].Account_Master AM     with '
 '(nolock)      \r\n'
 '   ON PMAM.Account_Master_Id = AM.Account_Master_Id  inner join \r\n'
 '   FINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL k on '
 'PMAM.Person_Master_Id  = k.person_master_id\r\n'
 '   WHERE PMAM.Is_Active_Flag = 1     \r\n'
 "   and AM.Account_Status = 'Active'      \r\n"
 "   and AM.account_type in   ('Current Account','Savings Account',\r\n"
 "   'Loan Account','Cash Credit Account','Overdraft Account','Term Deposit "
 "Account','NRE Account','NRO Account') \r\n"
 '   GROUP BY PMAM.Person_Master_Id)        AS source   \r\n'
 '   ON target.PERSON_MASTER_ID = source.Person_master_id    and '
 "target.rule_no ='P002001001'    and target.rule_value = "
 'source.No_Of_Accounts   \r\n'
 '   WHEN MATCHED THEN          \r\n'
 '   UPDATE SET target.RULE_VALUE=source.No_Of_Accounts   \r\n'
 '   WHEN NOT MATCHED     \r\n'
 '   BY TARGET THEN      \r\n'
 '   INSERT (PERSON_MASTER_ID,RULE_NO,RULE_VALUE,CREATE_DATE)    \r\n'
 '   VALUES '
 "(source.Person_master_id,'P002001001',source.No_Of_Accounts,getdate());")
Done
('\r\n'
 '\r\n'
 '              MERGE INTO '
 'FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES  \r\n'
 '\t\t\t  WITH (HOLDLOCK) as target USING      \r\n'
 '\t\t\t  (    select  PMAM.Person_Master_Id ,        \r\n'
 '\t\t\t  Count(Distinct PMAM.Account_Master_Id) as No_Of_Accounts ,    \r\n'
 "\t\t\t  Count(Distinct ( cast(Re_Id as varchar)  +'|'+ Branch_code ) ) as "
 'No_Of_Banks    \r\n'
 '\t\t\t  FROM [FINCORE_DB].[Fincore].Person_Master_Account_Master PMAM   \r\n'
 '\t\t\t  inner join FINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL '
 'k \r\n'
 '\t\t\t  on PMAM.Person_Master_Id  = k.person_master_id\r\n'
 '\t\t\t  INNER JOIN [FINCORE_DB].[Fincore].Account_Master AM       \r\n'
 '\t\t\t  ON PMAM.Account_Master_Id = AM.Account_Master_Id          \r\n'
 '\t\t\t  WHERE PMAM.Is_Active_Flag = 1    and AM.Account_Status = '
 "'Active'     GROUP BY PMAM.Person_Master_Id )   \r\n"
 '\t\t\t  AS source ON target.PERSON_MASTER_ID = source.PERSON_master_id      '
 "and target.rule_no ='P002001002'        \r\n"
 '\t\t\t  and target.Rule_Value = source.No_Of_Banks    WHEN MATCHED '
 'THEN      \r\n'
 '\t\t\t  UPDATE SET target.RULE_VALUE=source.No_Of_Banks    WHEN NOT MATCHED '
 'BY TARGET THEN     \r\n'
 '\t\t\t  INSERT (PERSON_MASTER_ID,RULE_NO,RULE_VALUE,CREATE_DATE)    \r\n'
 '\t\t\t  VALUES '
 "(source.PERSON_MASTER_ID,'P002001002',source.No_Of_Banks,getdate());")
Done
('\r\n'
 '                MERGE INTO '
 'FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES   \r\n'
 '\t\t\t\tWITH (HOLDLOCK) as target  USING  \r\n'
 '\t\t\t\t(select pmam.Person_Master_id,   \r\n'
 '\t\t\t\tCOUNT(distinct(pmam.Account_Master_Id)) as '
 'no_of_accounts,fp.RISK_SCORE   \r\n'
 '\t\t\t\tfrom  [FINCORE_DB].[Fincore].Person_Master_Account_Master pmam inner '
 'join\r\n'
 '\t\t\t\tFINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL k on '
 'PMAM.Person_Master_Id  = k.person_master_id\r\n'
 '\t\t\t\t\r\n'
 '\t\t\t\tinner join   \r\n'
 '\t\t\t\t[FINCORE_DB].[Fincore].Account_Master am on '
 'pmam.Account_Master_Id=am.Account_Master_Id inner join   \r\n'
 '\t\t\t\t[FINCORE_DB].[Fincore].Account_Master_Address_Master amam on '
 'am.Account_Master_Id =amam.Account_Master_Id   \r\n'
 '\t\t\t\tinner join [FINCORE_DB].[Fincore].Address_Master adm on '
 'adm.Address_Master_Id=amam.Address_Master_Id  \r\n'
 '\t\t\t\tinner join DATAHUB_DB.FIUMetaHub.finnet_PinCode fp on '
 'adm.original_Pincode= fp.pinCodeNumber \r\n'
 '\t\t\t\twhere   PMAM.Is_Active_Flag = 1 and   fp.risk_score>5      \r\n'
 '\t\t\t\tgroup by pmam.Person_Master_Id,fp.risk_score)   as source  ON '
 'target.PERSON_MASTER_ID = source.PERSON_MASTER_ID \r\n'
 "\t\t\t\tand rule_no='P002001004' and rule_value= no_of_accounts WHEN MATCHED "
 'THEN     \r\n'
 '\t\t\t\tUPDATE SET target.RULE_VALUE=source.no_of_accounts  WHEN NOT MATCHED '
 'BY TARGET THEN       \r\n'
 '\t\t\t\tINSERT (PERSON_MASTER_ID,RULE_NO,RULE_VALUE,CREATE_DATE)        \r\n'
 '\t\t\t\tVALUES '
 "(source.PERSON_MASTER_ID,'P002001004',source.no_of_accounts,getdate());")
Done
('\r\n'
 '          MERGE INTO '
 'FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES \r\n'
 '\t\t  WITH (HOLDLOCK) as target  USING      \r\n'
 '\t\t  (SELECT  distinct  PMAM.Person_Master_Id,  \r\n'
 '\t\t  Count(Distinct PMAM.Address_Master_Id) as no_of_addresses    \r\n'
 '\t\t  FROM [FINCORE_DB].[Fincore].Person_Master_Address_Master PMAM with '
 '(nolock)  \r\n'
 '\t\t  inner join FINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL k on '
 'PMAM.Person_Master_Id  = k.person_master_id\r\n'
 '\t\t  INNER JOIN [FINCORE_DB].[Fincore].Address_Master ADM with '
 '(nolock)   \r\n'
 '\t\t  ON PMAM.Address_Master_Id = ADM.Address_Master_Id    \r\n'
 '\t\t  inner join DATAHUB_DB.FIUMetaHub.finnet_PinCode fp with (nolock) on '
 'adm.original_Pincode= fp.pinCodeNumber    \r\n'
 '\t\t  WHERE PMAM.Is_Active_Flag = 1 and fp.risk_score>5     GROUP BY '
 'PMAM.Person_Master_Id)     as source   \r\n'
 '\t\t  ON target.PERSON_MASTER_ID = source.PERSON_MASTER_ID and '
 "rule_no='P002001005'  WHEN MATCHED THEN    \r\n"
 '\t\t  UPDATE SET target.RULE_VALUE=source.no_of_addresses   \r\n'
 '\t\t  WHEN NOT MATCHED BY TARGET THEN      \r\n'
 '\t\t  INSERT (PERSON_MASTER_ID,RULE_NO,RULE_VALUE,CREATE_DATE)   \r\n'
 '\t\t  VALUES '
 "(source.PERSON_MASTER_ID,'P002001005',source.no_of_addresses,getdate());")
Done
('\r\n'
 '                       MERGE INTO '
 'FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES  \r\n'
 '\t\t\t\t\t   WITH (HOLDLOCK) as target USING   \r\n'
 '\t\t\t\t\t   (          \r\n'
 '\t\t\t\t\t   SELECT  PMNV.Person_Master_Id,  \r\n'
 "\t\t\t\t\t   rule_no = 'P002001007',        \r\n"
 '\t\t\t\t\t   Count(Distinct UPPER(PMNV.Full_Name)) as Rule_value ,     \r\n'
 '\t\t\t\t\t   Getdate() as create_date           \r\n'
 '\t\t\t\t\t   FROM [FINCORE_DB].[Fincore].Person_Master_Name_Variations PMNV  '
 'with (nolock)  \r\n'
 '\t\t\t\t\t   inner join FINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL '
 'k with (nolock)\r\n'
 '\t\t\t\t\t   on PMNV.Person_Master_Id  = k.person_master_id\r\n'
 '\t\t\t\t\t   WHERE PMNV.Is_Active_Flag = 1             \r\n'
 '\t\t\t\t\t   GROUP BY PMNV.Person_Master_Id )      as source   ON       \r\n'
 '\t\t\t\t\t   target.PERSON_MASTER_ID = source.PERSON_MASTER_Id and  '
 "target.rule_no = 'P002001007'     \r\n"
 '\t\t\t\t\t   WHEN MATCHED THEN               \r\n'
 '\t\t\t\t\t   UPDATE SET target.RULE_VALUE=source.Rule_value WHEN NOT MATCHED '
 'BY TARGET THEN      \r\n'
 '\t\t\t\t\t   INSERT '
 '(PERSON_MASTER_ID,RULE_NO,RULE_VALUE,CREATE_DATE)            \r\n'
 '\t\t\t\t\t   VALUES '
 "(source.PERSON_MASTER_ID,'P002001007',source.Rule_value,getdate());")
Done
('\r\n'
 '            MERGE INTO '
 'FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES \r\n'
 '\t\t\tWITH (HOLDLOCK) as target USING(    \r\n'
 '\t\t\tSELECT  distinct  PMCM.Person_Master_Id,  \r\n'
 '\t\t\tCount(Distinct PMCM.Contact_Master_Id) as no_of_contacts     \r\n'
 '\t\t\tFROM [FINCORE_DB].[Fincore].Person_Master_Contact_Master PMCM  inner '
 'join \r\n'
 '\t\t\tFINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL k on '
 'k.person_master_id=PMCM.Person_Master_Id\r\n'
 '\t\t\tINNER JOIN [FINCORE_DB].[Fincore].Contact_Master CM      \r\n'
 '\t\t\tON PMCM.Contact_Master_Id = CM.Contact_Master_Id  WHERE '
 "PMCM.Is_Active_Flag = 1 AND CM.Contact_Type = 'M'  GROUP BY "
 'PMCM.Person_Master_Id  )   \r\n'
 '\t\t\tas source ON target.PERSON_MASTER_ID = source.PERSON_MASTER_ID and  '
 "rule_no = 'P002001008'      and rule_value = no_of_contacts \r\n"
 '\t\t\tWHEN MATCHED THEN    \r\n'
 '\t\t\tUPDATE SET target.RULE_VALUE=source.no_of_contacts      \r\n'
 '\t\t\tWHEN NOT MATCHED BY TARGET   THEN         \r\n'
 '\t\t\tINSERT (PERSON_MASTER_ID,RULE_NO,RULE_VALUE,CREATE_DATE)   \r\n'
 '\t\t\tVALUES '
 "(source.PERSON_MASTER_ID,'P002001008',source.no_of_contacts,getdate());")
Done
('\r\n'
 '          MERGE INTO '
 '[FINCORE_DB].[Fincore_Analytics].[RISK_PERSON_SUMMARY_STG_RULES]  \r\n'
 '\t\t  as target USING (   \r\n'
 '\t\t  SELECT B.PERSON_MASTER_ID,  \r\n'
 '\t\t  COUNT(DISTINCT A.EMAIL_ID) as no_of_emailid       \r\n'
 '\t\t  FROM  [FINCORE_DB].[Fincore].PERSON_CLUSTER A    \r\n'
 '\t\t  INNER JOIN  '
 '[FINCORE_DB].[Fincore].PERSON_MASTER_CLUSTER_FINGATE_REPORT B \r\n'
 '\t\t   ON A.PERSON_CLUSTER_ID = B.PERSON_CLUSTER_ID\r\n'
 '\t\t  inner join \r\n'
 '\t\t  FINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL k on '
 'B.Person_Master_Id  = k.person_master_id  \r\n'
 '\t\t        \r\n'
 '\t\t  WHERE A.EMAIL_ID IS NOT NULL    and A.status_active_flag = 1 and    '
 'B.is_active_flag =1   GROUP BY B.Person_Master_Id  )   \r\n'
 '\t\t  AS source   ON    target.PERSON_MASTER_ID = '
 "source.PERSON_master_id      and RULE_NO= 'P002001009'      WHEN "
 'MATCHED     \r\n'
 '\t\t  THEN UPDATE SET target.RULE_VALUE=no_of_emailid         WHEN NOT '
 'MATCHED BY TARGET       \r\n'
 '\t\t  THEN INSERT (PERSON_MASTER_ID,RULE_NO,RULE_VALUE,CREATE_DATE)      \r\n'
 "\t\t  VALUES (source.PERSON_master_id,'P002001009',source.no_of_emailid "
 ',getdate());')
Done
('\r\n'
 '\r\n'
 '                MERGE INTO '
 'FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES    \r\n'
 '\t\t\t\tWITH (HOLDLOCK) as target USING (     \r\n'
 '\t\t\t\tSELECT  PMAM.Person_Master_Id,     \r\n'
 '\t\t\t\tCOUNT(DISTINCT AM.Account_Master_Id) AS '
 'COUNT_OF_CREDIT_CARDS      \r\n'
 '\t\t\t\tFROM [FINCORE_DB].[Fincore].Account_Master AM             \r\n'
 '\t\t\t\tINNER JOIN [FINCORE_DB].[Fincore].Person_Master_Account_Master '
 'PMAM       \r\n'
 '\t\t\t\tON AM.Account_Master_Id = PMAM.Account_Master_Id inner join\r\n'
 '\t\t\t\tFINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL k \r\n'
 '\t\t\t\ton PMAM.Person_Master_Id  = k.person_master_id\r\n'
 '\t\t\t\t\r\n'
 '\t\t\t\t\r\n'
 '\t\t\t\t\r\n'
 '\t\t\t\tWHERE PMAM.Is_Active_Flag = 1    \r\n'
 "\t\t\t\tAND AM.Account_Type = 'Credit card' GROUP BY PMAM.Person_Master_Id   "
 ') AS source   \r\n'
 '\t\t\t\tON target.PERSON_MASTER_ID = source.Person_master_id  and rule_no '
 "='P002001010'   \r\n"
 '\t\t\t\tWHEN MATCHED THEN          UPDATE     \r\n'
 '\t\t\t\tSET target.RULE_VALUE=source.COUNT_OF_CREDIT_CARDS WHEN NOT MATCHED '
 'BY TARGET THEN   \r\n'
 '\t\t\t\tINSERT (PERSON_MASTER_ID,RULE_NO,RULE_VALUE,CREATE_DATE)   \r\n'
 '\t\t\t\tVALUES '
 "(source.Person_master_id,'P002001010',source.COUNT_OF_CREDIT_CARDS,getdate()); ")
Done
('\r\n'
 '                MERGE INTO '
 'FINCORE_DB.Fincore_Analytics.RISK_PERSON_SUMMARY_STG_RULES      \r\n'
 '\t\t\t\tWITH (HOLDLOCK) as target USING           (       \r\n'
 '\t\t\t\tSELECT   PMAM.Person_Master_Id,       \r\n'
 '\t\t\t\tCOUNT(DISTINCT AM.Account_Master_Id) AS '
 'COUNT_OF_WALLET_CARDS       \r\n'
 '\t\t\t\tFROM [FINCORE_DB].[Fincore].Account_Master AM   inner  JOIN '
 '[FINCORE_DB].[Fincore].Person_Master_Account_Master PMAM  \r\n'
 '\t\t\t\tON AM.Account_Master_Id = PMAM.Account_Master_Id inner join \r\n'
 '\t\t\t\tFINCORE_DB.Fincore_Analytics.RISK_PERSON_INCREMENTAL k on '
 'PMAM.Person_Master_Id  = k.person_master_id\r\n'
 '\r\n'
 "\t\t\t\tWHERE PMAM.Is_Active_Flag = 1 AND AM.Account_Type in ( 'Prepaid "
 "card','gift card','Wallet card')   \r\n"
 '\t\t\t\tGROUP BY PMAM.Person_Master_Id)      \r\n'
 '\t\t\t\tAS source        \r\n'
 '\t\t\t\tON target.PERSON_MASTER_ID = source.Person_master_id and '
 "rule_no='P002001011'    \r\n"
 '\t\t\t\tWHEN MATCHED THEN              \r\n'
 '\t\t\t\tUPDATE SET target.RULE_VALUE=source.COUNT_OF_WALLET_CARDS     \r\n'
 '\t\t\t\tWHEN NOT MATCHED BY TARGET THEN   \r\n'
 '\t\t\t\tINSERT (PERSON_MASTER_ID,RULE_NO,RULE_VALUE,CREATE_DATE)     \r\n'
 '\t\t\t\tVALUES '
 "(source.Person_master_id,'P002001011',source.COUNT_OF_WALLET_CARDS,getdate());")
Done
('\r\n'

100%|██████████| 5/5 [00:00<00:00, 70.93it/s]

Working on  Government Sector 1
lenX 113
Value Error
Clustering done for 1
It took 0:00:00.000003 hours to cluster Government Sector in 1 clusters
2023-02-22 06:24:21.959646
Working on  Government Sector 2
lenX 113
Clustering done for 2
It took 0:00:00.000003 hours to cluster Government Sector in 2 clusters
2023-02-22 06:24:21.971850
Working on  Government Sector 3
lenX 113
Clustering done for 3
It took 0:00:00.000004 hours to cluster Government Sector in 3 clusters
2023-02-22 06:24:21.986634
Working on  Government Sector 4
lenX 113
Clustering done for 4
It took 0:00:00.000005 hours to cluster Government Sector in 4 clusters
2023-02-22 06:24:22.003043
Working on  Government Sector 5
lenX 113
Clustering done for 5
It took 0:00:00.000005 hours to cluster Government Sector in 5 clusters
2023-02-22 06:24:22.019614
Clustering for Profession Self Employed

100%|██████████| 5/5 [00:00<00:00, 70.12it/s]

Working on  Self Employed 1
lenX 18
Value Error
Clustering done for 1
It took 0:00:00.000002 hours to cluster Self Employed in 1 clusters
2023-02-22 06:24:22.029628
Working on  Self Employed 2
lenX 18
Clustering done for 2
It took 0:00:00.000003 hours to cluster Self Employed in 2 clusters
2023-02-22 06:24:22.041978
Working on  Self Employed 3
lenX 18
Clustering done for 3
It took 0:00:00.000004 hours to cluster Self Employed in 3 clusters
2023-02-22 06:24:22.056764
Working on  Self Employed 4
lenX 18
Clustering done for 4
It took 0:00:00.000005 hours to cluster Self Employed in 4 clusters
2023-02-22 06:24:22.073561
Working on  Self Employed 5
lenX 18
Clustering done for 5
It took 0:00:00.000005 hours to cluster Self Employed in 5 clusters
2023-02-22 06:24:22.092405
Clustering for Profession Others

  0%|          | 0/5 [00:00<?, ?it/s]

Working on  Others 1
lenX 146
Value Error
Clustering done for 1
It took 0:00:00.000003 hours to cluster Others in 1 clusters
2023-02-22 06:24:22.103539
Working on  Others 2
lenX 146
Clustering done for 2
It took 0:00:00.000003 hours to cluster Others in 2 clusters
2023-02-22 06:24:22.114048
Working on  Others 3
lenX 146
Clustering done for 3
It took 0:00:00.000004 hours to cluster Others in 3 clusters
2023-02-22 06:24:22.127917
Working on  Others 4
lenX 146
Clustering done for 4
It took 0:00:00.000004 hours to cluster Others in 4 clusters
2023-02-22 06:24:22.142972
Working on  Others 5
lenX 146

100%|██████████| 5/5 [00:00<00:00, 73.65it/s]

Clustering done for 5
It took 0:00:00.000005 hours to cluster Others in 5 clusters
2023-02-22 06:24:22.161472
Clustering for Profession Private Sector

100%|██████████| 5/5 [00:00<00:00, 83.27it/s]

Working on  Private Sector 1
lenX 56
Value Error
Clustering done for 1
It took 0:00:00.000003 hours to cluster Private Sector in 1 clusters
2023-02-22 06:24:22.172879
Working on  Private Sector 2
lenX 56
Clustering done for 2
It took 0:00:00.000003 hours to cluster Private Sector in 2 clusters
2023-02-22 06:24:22.182077
Working on  Private Sector 3
lenX 56
Clustering done for 3
It took 0:00:00.000003 hours to cluster Private Sector in 3 clusters
2023-02-22 06:24:22.193480
Working on  Private Sector 4
lenX 56
Clustering done for 4
It took 0:00:00.000004 hours to cluster Private Sector in 4 clusters
2023-02-22 06:24:22.206683
Working on  Private Sector 5
lenX 56
Clustering done for 5
It took 0:00:00.000005 hours to cluster Private Sector in 5 clusters
2023-02-22 06:24:22.223151
Clustering for Profession Public Sector

  0%|          | 0/5 [00:00<?, ?it/s]

Working on  Public Sector 1
lenX 3

100%|██████████| 5/5 [00:00<00:00, 145.04it/s]

Value Error
Clustering done for 1
It took 0:00:00.000003 hours to cluster Public Sector in 1 clusters
2023-02-22 06:24:22.233648
Working on  Public Sector 2
lenX 3
Clustering done for 2
It took 0:00:00.000003 hours to cluster Public Sector in 2 clusters
2023-02-22 06:24:22.244715
Working on  Public Sector 3
lenX 3
Value Error
Clustering done for 3
It took 0:00:00.000003 hours to cluster Public Sector in 3 clusters
2023-02-22 06:24:22.255953
Working on  Public Sector 4
lenX 3
Try Public Sector Length: 3 4
Working on  Public Sector 5
lenX 3
Try Public Sector Length: 3 5
Clustering for Profession Professional

  0%|          | 0/5 [00:00<?, ?it/s]

Working on  Professional 1
lenX 7
Value Error
Clustering done for 1
It took 0:00:00.000003 hours to cluster Professional in 1 clusters
2023-02-22 06:24:22.269611
Working on  Professional 2
lenX 7
Clustering done for 2
It took 0:00:00.000003 hours to cluster Professional in 2 clusters
2023-02-22 06:24:22.279076
Working on  Professional 3
lenX 7
Clustering done for 3
It took 0:00:00.000003 hours to cluster Professional in 3 clusters
2023-02-22 06:24:22.291287
Working on  Professional 4
lenX 7

100%|██████████| 5/5 [00:00<00:00, 78.42it/s]

Clustering done for 4
It took 0:00:00.000004 hours to cluster Professional in 4 clusters
2023-02-22 06:24:22.306507
Working on  Professional 5
lenX 7
Clustering done for 5
It took 0:00:00.000005 hours to cluster Professional in 5 clusters
2023-02-22 06:24:22.323818
Clustering for Profession Student

  0%|          | 0/5 [00:00<?, ?it/s]

Working on  Student 1
lenX 1

100%|██████████| 5/5 [00:00<00:00, 339.48it/s]

Value Error
Clustering done for 1
It took 0:00:00.000002 hours to cluster Student in 1 clusters
2023-02-22 06:24:22.333406
Working on  Student 2
lenX 1
Try Student Length: 1 2
Working on  Student 3
lenX 1
Try Student Length: 1 3
Working on  Student 4
lenX 1
Try Student Length: 1 4
Working on  Student 5
lenX 1
Try Student Length: 1 5
Clustering for Profession Housewife

  0%|          | 0/5 [00:00<?, ?it/s]

Working on  Housewife 1
lenX 3
Value Error
Clustering done for 1
It took 0:00:00.000002 hours to cluster Housewife in 1 clusters
2023-02-22 06:24:22.347877
Working on  Housewife 2
lenX 3

 40%|████      | 2/5 [00:00<00:00,  4.40it/s]

Value Error
Clustering done for 2
It took 0:00:00.000124 hours to cluster Housewife in 2 clusters
2023-02-22 06:24:22.796124
Working on  Housewife 3
lenX 3

100%|██████████| 5/5 [00:00<00:00,  5.41it/s]

Value Error
Clustering done for 3
It took 0:00:00.000129 hours to cluster Housewife in 3 clusters
2023-02-22 06:24:23.259796
Working on  Housewife 4
lenX 3
Try Housewife Length: 3 4
Working on  Housewife 5
lenX 3
Try Housewife Length: 3 5
Clustering for Profession Retired

100%|██████████| 5/5 [00:00<00:00, 136.14it/s]

Working on  Retired 1
lenX 3
Value Error
Clustering done for 1
It took 0:00:00.000003 hours to cluster Retired in 1 clusters
2023-02-22 06:24:23.276417
Working on  Retired 2
lenX 3
Clustering done for 2
It took 0:00:00.000003 hours to cluster Retired in 2 clusters
2023-02-22 06:24:23.286556
Working on  Retired 3
lenX 3
Clustering done for 3
It took 0:00:00.000004 hours to cluster Retired in 3 clusters
2023-02-22 06:24:23.300564
Working on  Retired 4
lenX 3
Try Retired Length: 3 4
Working on  Retired 5
lenX 3
Try Retired Length: 3 5
SHS {'Government Sector': {1: 1, 2: 0.442780985105905, 3: 0.3742194389070763, 4: 0.15691172937993786, 5: 0.12611857218084865}, 'Self Employed': {1: 1, 2: 0.09651837706136346, 3: 0.17807900936723098, 4: 0.09023270836778849, 5: 0.07360922189740725}, 'Others': {1: 1, 2: 0.004725768952038201, 3: 0.03480095813269899, 4: 0.0005555031493420494, 5: 0.0008124545567878394}, 'Private Sector': {1: 1, 2: 0.0007283492781302334, 3: 0.21327747239933847, 4: 0.24666630122127864, 5: 0.28995120555409065}, 'Public Sector': {1: 1, 2: 0.0, 3: 1}, 'Professional': {1: 1, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0}, 'Student': {1: 1}, 'Housewife': {1: 1, 2: 1, 3: 1}, 'Retired': {1: 1, 2: 0.0, 3: 0.0}}
Clustering for profession Government Sector on
Clustering for profession Self Employed on
Clustering for profession Others on
Clustering for profession Private Sector on
Clustering for profession Public Sector on
Clustering for profession Professional on
Clustering for profession Student on
Clustering for profession Housewife on
Clustering for profession Retired on
2023-02-22 06:24:23.402985

350it [00:00, 1086.79it/s]

Stored 'no_of_records' (int)
not_normal_outliers_removal
0       4
6       1
11      1
16      1
21      1
36      2
44      1
100     1
106     1
125     1
216     1
278     1
357     1
375     1
386     1
483     1
490     1
496     2
536     1
542     1
549     1
580     2
586     1
595     1
602     1
609     1
658     1
665     1
710     1
717     1
729     1
737     1
745     1
753     1
775     1
783     1
879     2
892     2
899     1
908     2
916     1
924     1
932     1
940     1
948     1
956     1
964     1
972     1
980     1
1035    1
1117    1
1205    1
1213    1
1221    1
1253    1
1258    1
1266    1
1282    1
1298    1
Name: P002001004, dtype: int64
compute_IQR
outliers_right 5.25
thresh
DATA =  [4, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1] 1.0 0.4805914196189094 ********************************
Profession: Government Sector, Cluster = 0, col = P002001004; outlier = (1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 1.152542372881356, 1.0, 1, 0.4805914196189094, 5.25)
not_normal_outliers_removal
0       4
6       1
11      1
16      1
21      1
36      2
44      1
100     1
106     1
125     1
216     1
278     1
357     1
375     1
386     1
483     1
490     1
496     2
536     1
542     1
549     1
580     2
586     1
595     1
602     1
609     1
658     1
665     1
710     1
717     1
729     1
737     1
745     1
753     1
775     1
783     1
879     2
892     2
899     1
908     2
916     1
924     1
932     1
940     1
948     1
956     1
964     1
972     1
980     1
1035    1
1117    1
1205    1
1213    1
1221    1
1253    1
1258    1
1266    1
1282    1
1298    1
Name: P002001004, dtype: int64
compute_IQR
outliers_right 5.25
thresh
DATA =  [4, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1] 1.0 0.4805914196189094 ********************************
Profession: Government Sector, Cluster = 0, col = P002003007; outlier = (None, None, None, None, None, None, None, None, None, None)
not_normal_outliers_removal
36      1
125     1
204     1
207     1
216     1
       ..
1221    1
1258    1
1266    1
1282    1
1298    1
Name: P002001012, Length: 65, dtype: int64
compute_IQR
outliers_right 4.0
thresh
DATA =  [1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1] 1.0 0.35617959700893004 ********************************
Profession: Government Sector, Cluster = 0, col = P002001012; outlier = (1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 1.1076923076923078, 1.0, 1, 0.35617959700893004, 4.0)
not_normal_outliers_removal
36      1
125     1
204     1
207     1
216     1
       ..
1221    1
1258    1
1266    1
1282    1
1298    1
Name: P002001012, Length: 65, dtype: int64
compute_IQR
outliers_right 4.0
thresh
DATA =  [1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1] 1.0 0.35617959700893004 ********************************
Profession: Government Sector, Cluster = 0, col = P002001026; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
thresh
DATA =  6     1
11    1
16    1
21    1
Name: P002001015, dtype: int64 1.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002001015; outlier = (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1.0, 1.0, 1, 0.0, 'NA')
Not applicable
thresh
DATA =  6     1
11    1
16    1
21    1
Name: P002001015, dtype: int64 1.0 0.0 ********************************
Not applicable
thresh
DATA =  125    64351
Name: P002003006, dtype: int64 64351.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002003006; outlier = (64351, 64351, 64351, 64351, 64351, 64351, 64351, 64351, 64351, 64351, 64351.0, 64351.0, 64351, 0.0, 'NA')
Not applicable
thresh
DATA =  125    64351
Name: P002003006, dtype: int64 64351.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002001027; outlier = (None, None, None, None, None, None, None, None, None, None)
Profession: Government Sector, Cluster = 0, col = P002001024; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
thresh
DATA =  125   -74
Name: P002003001, dtype: int64 -74.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002003001; outlier = (-74, -74, -74, -74, -74, -74, -74, -74, -74, -74, -74.0, -74.0, -74, 0.0, 'NA')
Not applicable
thresh
DATA =  125   -74
Name: P002003001, dtype: int64 -74.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002001031; outlier = (None, None, None, None, None, None, None, None, None, None)
Profession: Government Sector, Cluster = 0, col = P002001033; outlier = (None, None, None, None, None, None, None, None, None, None)
Profession: Government Sector, Cluster = 0, col = P002001023; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
thresh
DATA =  125    1
Name: P002001018, dtype: int64 1.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002001018; outlier = (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1.0, 1.0, 1, 0.0, 'NA')
Not applicable
thresh
DATA =  125    1
Name: P002001018, dtype: int64 1.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002001029; outlier = (None, None, None, None, None, None, None, None, None, None)
Profession: Government Sector, Cluster = 0, col = P003001002; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
thresh
DATA =  44    1
Name: P002001021, dtype: int64 1.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002001021; outlier = (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1.0, 1.0, 1, 0.0, 'NA')
Not applicable
thresh
DATA =  44    1
Name: P002001021, dtype: int64 1.0 0.0 ********************************
Not applicable
thresh
DATA =  125   -22
Name: P002003008, dtype: int64 -22.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002003008; outlier = (-22, -22, -22, -22, -22, -22, -22, -22, -22, -22, -22.0, -22.0, -22, 0.0, 'NA')
Not applicable
thresh
DATA =  125   -22
Name: P002003008, dtype: int64 -22.0 0.0 ********************************
Not applicable
thresh
DATA =  125   -80
Name: P002003005, dtype: int64 -80.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002003005; outlier = (-80, -80, -80, -80, -80, -80, -80, -80, -80, -80, -80.0, -80.0, -80, 0.0, 'NA')
Not applicable
thresh
DATA =  125   -80
Name: P002003005, dtype: int64 -80.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002001028; outlier = (None, None, None, None, None, None, None, None, None, None)
Profession: Government Sector, Cluster = 0, col = P002001016; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
thresh
DATA =  125    26837
Name: P002003003, dtype: int64 26837.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002003003; outlier = (26837, 26837, 26837, 26837, 26837, 26837, 26837, 26837, 26837, 26837, 26837.0, 26837.0, 26837, 0.0, 'NA')
Not applicable
thresh
DATA =  125    26837
Name: P002003003, dtype: int64 26837.0 0.0 ********************************
not_normal_outliers_removal
0       4
6       1
11      1
16      1
21      1
       ..
1258    1
1266    1
1282    1
1298    1
1315    1
Name: P002001007, Length: 99, dtype: int64
compute_IQR
outliers_right 5.5
thresh
DATA =  [4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 3, 2, 2, 2, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1] 1.0 0.46376728417167673 ********************************
Profession: Government Sector, Cluster = 0, col = P002001007; outlier = (1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 1.1313131313131313, 1.0, 1, 0.46376728417167673, 5.5)
not_normal_outliers_removal
0       4
6       1
11      1
16      1
21      1
       ..
1258    1
1266    1
1282    1
1298    1
1315    1
Name: P002001007, Length: 99, dtype: int64
compute_IQR
outliers_right 5.5
thresh
DATA =  [4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 3, 2, 2, 2, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1] 1.0 0.46376728417167673 ********************************
Not applicable
thresh
DATA =  44    1
Name: P002001011, dtype: int64 1.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002001011; outlier = (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1.0, 1.0, 1, 0.0, 'NA')
Not applicable
thresh
DATA =  44    1
Name: P002001011, dtype: int64 1.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002001032; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
thresh
DATA =  125    23710
Name: P002003002, dtype: int64 23710.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002003002; outlier = (23710, 23710, 23710, 23710, 23710, 23710, 23710, 23710, 23710, 23710, 23710.0, 23710.0, 23710, 0.0, 'NA')
Not applicable
thresh
DATA =  125    23710
Name: P002003002, dtype: int64 23710.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002001034; outlier = (None, None, None, None, None, None, None, None, None, None)
normal_outliers_removal
thresh
DATA =  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1] 1.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002001002; outlier = (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1.0, 1.0, 1, 0.0, 1.0)
normal_outliers_removal
thresh
DATA =  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1] 1.0 0.0 ********************************
Profession: Government Sector, Cluster = 0, col = P002001030; outlier = (None, None, None, None, None, None, None, None, None, None)
not_normal_outliers_removal
36      1
125     1
204     1
207     1
216     1
       ..
1221    1
1258    1
1266    1
1282    1
1298    1
Name: P002001005, Length: 64, dtype: int64
compute_IQR
outliers_right 4.0
thresh
DATA =  [1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1] 1.0 0.35869500885153116 ********************************
Profession: Government Sector, Cluster = 0, col = P002001005; outlier = (1, 2, 2, 2, 3, 3, 4, 4, 4, 5, 1.109375, 1.0, 1, 0.35869500885153116, 4.0)
not_normal_outliers_removal
36      1
125     1
204     1
207     1
216     1
       ..
1221    1
1258    1
1266    1
1282    1
1298    1
Name: P002001005, Length: 64, dtype: int64
compute_IQR
outliers_right 4.0
thresh
DATA =  [1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1] 1.0 0.35869500885153116 ********************************
not_normal_outliers_removal
0       4
6       1
11      1
16      1
21      1
36      2
100     1
106     1
111     1
216     1
278     1
357     1
536     1
542     1
549     1
555     1
580     2
586     1
609     1
729     1
737     1
745     1
753     1
775     1
783     1
899     1
924     1
932     1
940     1
948     1
956     1
964     1
972     1
980     1
1035    1
1117    1
1205    1
1213    1
1221    1
1282    1
1298    1
Name: P002001001, dtype: int64
compute_IQR
outliers_right 5.25
thresh
DATA =  [4, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1] 1.0 0.5034089619646412 ********************************
Profession: Government Sector, Cluster = 0, col = P002001001; outlier = (2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 1.1219512195121952, 1.0, 1, 0.5034089619646412, 5.25)
not_normal_outliers_removal
0       4
6       1
11      1
16      1
21      1
36      2
100     1
106     1
111     1
216     1
278     1
357     1
536     1
542     1
549     1
555     1
580     2
586     1
609     1
729     1
737     1
745     1
753     1
775     1
783     1
899     1
924     1
932     1
940     1
948     1
956     1
964     1
972     1
980     1
1035    1
1117    1
1205    1
1213    1
1221    1
1282    1
1298    1
Name: P002001001, dtype: int64
compute_IQR
outliers_right 5.25
thresh
DATA =  [4, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1] 1.0 0.5034089619646412 ********************************
not_normal_outliers_removal
595     1
665     1
879     2
916     1
1258    1
1266    1
Name: P002001010, dtype: int64
compute_IQR
outliers_right 2.5
thresh
DATA =  [1, 1, 2, 1, 1, 1] 1.0 0.3726779962499649 ********************************
Profession: Government Sector, Cluster = 0, col = P002001010; outlier = (1, 2, 2, 2, 3, 3, 4, 4, 4, 5, 1.1666666666666667, 1.0, 1, 0.3726779962499649, 2.5)
not_normal_outliers_removal
595     1
665     1
879     2
916     1
1258    1
1266    1
Name: P002001010, dtype: int64
compute_IQR
outliers_right 2.5
thresh
DATA =  [1, 1, 2, 1, 1, 1] 1.0 0.3726779962499649 ********************************
Profession: Government Sector, Cluster = 0, col = P002001019; outlier = (None, None, None, None, None, None, None, None, None, None)
not_normal_outliers_removal
0       1
21      1
36      1
44      1
100     1
       ..
1258    1
1266    1
1282    1
1298    1
1315    1
Name: P002001008, Length: 83, dtype: int64
compute_IQR
outliers_right 4.0
thresh
DATA =  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1] 1.0 0.38061612045617627 ********************************
Profession: Government Sector, Cluster = 0, col = P002001008; outlier = (1, 2, 2, 3, 3, 3, 4, 4, 4, 5, 1.108433734939759, 1.0, 1, 0.38061612045617627, 4.0)
not_normal_outliers_removal
0       1
21      1
36      1
44      1
100     1
       ..
1258    1
1266    1
1282    1
1298    1
1315    1
Name: P002001008, Length: 83, dtype: int64
compute_IQR
outliers_right 4.0
thresh
DATA =  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1] 1.0 0.38061612045617627 ********************************
not_normal_outliers_removal
0       1
36      2
44      1
100     1
138     1
       ..
1253    2
1258    1
1266    1
1282    1
1298    1
Name: P002001009, Length: 64, dtype: int64
compute_IQR
outliers_right 6.125
thresh
DATA =  [1, 2, 1, 1, 1, 1, 5, 2, 5, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1] 1.0 0.7799989983967928 ********************************
Profession: Government Sector, Cluster = 0, col = P002001009; outlier = (2, 3, 3, 4, 5, 6, 6, 7, 8, 9, 1.28125, 1.0, 1, 0.7799989983967928, 6.125)
not_normal_outliers_removal
0       1
36      2
44      1
100     1
138     1
       ..
1253    2
1258    1
1266    1
1282    1
1298    1
Name: P002001009, Length: 64, dtype: int64
compute_IQR
outliers_right 6.125
thresh
DATA =  [1, 2, 1, 1, 1, 1, 5, 2, 5, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1] 1.0 0.7799989983967928 ********************************
Profession: Government Sector, Cluster = 0, col = P002001025; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
thresh
DATA =  266    1
763    1
Name: P002001004, dtype: int64 1.0 0.0 ********************************
Profession: OTHERS_CHANGED, Cluster = 0, col = P002001004; outlier = (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1.0, 1.0, 1, 0.0, 'NA')
Not applicable
thresh
DATA =  266    1
763    1
Name: P002001004, dtype: int64 1.0 0.0 ********************************
Profession: OTHERS_CHANGED, Cluster = 0, col = P002003007; outlier = (None, None, None, None, None, None, None, None, None, None)
not_normal_outliers_removal
266     1
615     2
624     1
628     1
632     1
653     1
763     1
1141    1
1152    1
Name: P002001012, dtype: int64
compute_IQR
outliers_right 2.5
thresh
DATA =  [1, 2, 1, 1, 1, 1, 1, 1, 1] 1.0 0.3142696805273545 ********************************
Profession: OTHERS_CHANGED, Cluster = 0, col = P002001012; outlier = (1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 1.1111111111111112, 1.0, 1, 0.3142696805273545, 2.5)
not_normal_outliers_removal
266     1
615     2
624     1
628     1
632     1
653     1
763     1
1141    1
1152    1
Name: P002001012, dtype: int64
compute_IQR
outliers_right 2.5
thresh
DATA =  [1, 2, 1, 1, 1, 1, 1, 1, 1] 1.0 0.3142696805273545 ********************************
Profession: OTHERS_CHANGED, Cluster = 0, col = P002001026; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
Profession: OTHERS_CHANGED, Cluster = 0, col = P002001015; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
Not applicable
Profession: OTHERS_CHANGED, Cluster = 0, col = P002003006; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
Profession: OTHERS_CHANGED, Cluster = 0, col = P002001027; outlier = (None, None, None, None, None, None, None, None, None, None)
Profession: OTHERS_CHANGED, Cluster = 0, col = P002001024; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
Profession: OTHERS_CHANGED, Cluster = 0, col = P002003001; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
Profession: OTHERS_CHANGED, Cluster = 0, col = P002001031; outlier = (None, None, None, None, None, None, None, None, None, None)
Profession: OTHERS_CHANGED, Cluster = 0, col = P002001033; outlier = (None, None, None, None, None, None, None, None, None, None)
Profession: OTHERS_CHANGED, Cluster = 0, col = P002001023; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
Profession: OTHERS_CHANGED, Cluster = 0, col = P002001018; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
Profession: OTHERS_CHANGED, Cluster = 0, col = P002001029; outlier = (None, None, None, None, None, None, None, None, None, None)
Profession: OTHERS_CHANGED, Cluster = 0, col = P003001002; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
Profession: OTHERS_CHANGED, Cluster = 0, col = P002001021; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
Not applicable
Profession: OTHERS_CHANGED, Cluster = 0, col = P002003008; outlier = (None, None, None, None, None, None, None, None, None, None)
Not applicable
Not applicable

257it [00:00, 841.58it/s]

[1.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, 50.0, 40.0, 12.0, 12.0, 'P002001013_P003001004_P003001007_P003001008_P003001009_P003001010', 2.935483870967742]
[2.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, 50.0, 40.0, nan, nan, 'P002001013_P003001004_P003001007_P003001008', 3.2916666666666665]
[3.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, 50.0, 40.0, nan, nan, 'P002001013_P003001004_P003001007_P003001008', 3.2916666666666665]
[4.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, 50.0, 40.0, nan, nan, 'P002001013_P003001004_P003001007_P003001008', 3.2916666666666665]
[5.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, 50.0, 40.0, nan, nan, 'P002001013_P003001004_P003001007_P003001008', 2.981132075471698]
[6.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 12.0, 12.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 4.2631578947368425]
[7.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, 50.0, 25.0, 16.0, 16.0, 'P002001013_P003001004_P003001007_P003001008_P003001009_P003001010', 2.8870967741935485]
[8.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, 50.0, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001007_P003001008_P003001009_P003001010', 2.8533333333333335]
[9.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 42.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 28.0, 28.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 2.9375]
[10.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 40.0, nan, nan, 'P003001008', 1.3793103448275863]
[11.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 12.0, 40.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 3.7254901960784315]
[12.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 12.0, 40.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 3.7254901960784315]
[13.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 12.0, 40.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 3.7254901960784315]
[14.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 12.0, 40.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 3.7254901960784315]
[15.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 12.0, 40.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 3.7254901960784315]
[16.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 12.0, 40.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 3.7254901960784315]
[17.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 12.0, 40.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 3.7254901960784315]
[18.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 12.0, 40.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 3.7254901960784315]
[19.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 12.0, 40.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 3.7254901960784315]
[20.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, 50.0, 40.0, 24.0, 24.0, 'P003001004_P003001007_P003001008_P003001009_P003001010', 2.7719298245614037]
[21.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, 50.0, 40.0, 28.0, 28.0, 'P003001004_P003001007_P003001008_P003001009_P003001010', 3.1320754716981134]
[22.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, 50.0, 40.0, 32.0, 32.0, 'P003001004_P003001007_P003001008_P003001009_P003001010', 3.8666666666666667]
[23.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 25.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 5.029411764705882]
[24.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, 32.0, 50.0, 30.0, 32.0, 32.0, 'P002001013_P003001001_P003001004_P003001007_P003001008_P003001009_P003001010', 3.1392405063291138]
[25.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 30.0, 20.0, 20.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 1.5555555555555556]
[28.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 4.894736842105263]
[29.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 4.894736842105263]
[31.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 4.894736842105263]
[33.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 28.0, 28.0, 50.0, 40.0, 36.0, 36.0, 'P002001013_P003001001_P003001004_P003001007_P003001008_P003001009_P003001010', 2.8]
[34.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, 50.0, 30.0, 16.0, 28.0, 'P002001013_P003001004_P003001007_P003001008_P003001009_P003001010', 2.6133333333333333]
[37.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 4.894736842105263]
[42.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 4.894736842105263]
[43.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 2.8615384615384616]
[44.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 3.576923076923077]
[45.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 4.894736842105263]
[46.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[47.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, nan, nan, nan, nan, 'P003001004', 0.8695652173913043]
[49.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[51.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 4.894736842105263]
[52.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 4.894736842105263]
[53.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001004_P003001007_P003001008_P003001009_P003001010', 4.12]
[54.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 40.0, 40.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 5.190476190476191]
[55.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 20.0, 40.0, 40.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 4.714285714285714]
[56.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 32.0, 50.0, 40.0, 4.0, 4.0, 'P002001013_P003001004_P003001007_P003001008_P003001009_P003001010', 2.870967741935484]
[58.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, 50.0, 25.0, 8.0, 8.0, 'P002001013_P003001004_P003001007_P003001008_P003001009_P003001010', 2.12]
[59.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 2.619718309859155]
[60.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 2.8615384615384616]
[61.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 2.8615384615384616]
[62.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 36.0, 50.0, 40.0, 16.0, 16.0, 'P002001013_P003001004_P003001007_P003001008_P003001009_P003001010', 3.0294117647058822]
[63.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 8.0, 8.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 3.019607843137255]
[64.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, 50.0, 40.0, 20.0, 20.0, 'P002001013_P003001004_P003001007_P003001008_P003001009_P003001010', 2.64]
[65.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 32.0, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001004_P003001007_P003001008_P003001009_P003001010', 2.9066666666666667]
[66.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[67.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[68.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[69.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[70.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 42.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, 50.0, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001007_P003001008_P003001009_P003001010', 3.6491228070175437]
[71.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[72.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[73.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, 50.0, 20.0, nan, 4.0, 'P002001013_P003001004_P003001007_P003001008_P003001010', 2.979591836734694]
[74.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[75.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[76.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[77.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[78.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[79.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[90.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[91.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[92.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[102.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[103.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[104.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 3.125]
[105.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, 50.0, 40.0, 12.0, 40.0, 'P002001013_P003001004_P003001007_P003001008_P003001009_P003001010', 3.4516129032258065]
[106.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[107.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 3.125]
[108.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[109.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 3.125]
[110.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[111.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 3.125]
[112.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[113.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[114.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 5.0]
[115.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 50.0, 20.0, 40.0, 40.0, 'P002001013_P003001001_P003001007_P003001008_P003001009_P003001010', 6.7272727272727275]
[116.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[117.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[118.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[119.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[120.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 3.125]
[121.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 3.125]
[122.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 3.125]
[123.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 3.125]
[124.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 3.125]
[125.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[126.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 4.545454545454546]
[127.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[128.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[129.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[130.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[131.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[132.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[133.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[134.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[135.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[136.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]

349it [00:00, 857.74it/s]

[324.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.342857142857143]
[325.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.342857142857143]
[326.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[327.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[328.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[329.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, nan, 40.0, 40.0, 40.0, 'P002001013_P003001001_P003001008_P003001009_P003001010', 3.84]
[330.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 28.0, nan, 30.0, 24.0, 24.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.026315789473684]
[331.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 40.0, 28.0, 28.0, 'P002001013_P003001008_P003001009_P003001010', 3.130434782608696]
[332.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 40.0, 28.0, 28.0, 'P002001013_P003001008_P003001009_P003001010', 3.130434782608696]
[333.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 40.0, 28.0, 28.0, 'P002001013_P003001008_P003001009_P003001010', 3.130434782608696]
[334.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 40.0, 28.0, 28.0, 'P002001013_P003001008_P003001009_P003001010', 3.130434782608696]
[335.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 40.0, 28.0, 28.0, 'P002001013_P003001008_P003001009_P003001010', 3.130434782608696]
[336.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 40.0, 28.0, 28.0, 'P002001013_P003001008_P003001009_P003001010', 3.130434782608696]
[337.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.342857142857143]
[338.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, nan, nan, 'P002001013_P003001007_P003001008', 3.2093023255813953]
[339.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 40.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.6285714285714286]
[340.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5454545454545454]
[341.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5454545454545454]
[347.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[348.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[349.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[350.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[352.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[354.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[355.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[357.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[358.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[359.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[361.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[363.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[364.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[366.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[367.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5454545454545454]
[368.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.342857142857143]
[369.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 3.125]
[370.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[371.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 3.125]
[372.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 3.125]
[373.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 3.125]
[374.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 20.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 2.912280701754386]
[375.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 20.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 3.2549019607843137]
[376.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 40.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 3.263157894736842]
[377.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, 25.0, 24.0, 24.0, 'P002001013_P003001007_P003001008_P003001009_P003001010', 3.3529411764705883]
[378.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 40.0, nan, 40.0, nan, nan, 'P002001013_P003001004_P003001008', 2.064516129032258]
[379.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[380.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[381.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[382.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[383.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[384.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[385.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[386.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[389.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.4]
[391.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.342857142857143]
[392.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.342857142857143]
[393.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.342857142857143]
[394.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.4]
[395.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[396.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[397.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[398.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[399.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 40.0, 24.0, 24.0, 'P002001013_P003001008_P003001009_P003001010', 2.893617021276596]
[402.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 40.0, nan, 40.0, 24.0, 24.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5142857142857142]
[404.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 40.0, nan, 40.0, 24.0, 24.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5142857142857142]
[406.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 20.0, 24.0, 24.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.0]
[407.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 24.0, 24.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.2857142857142856]
[408.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 20.0, 24.0, 24.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.0]
[409.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 24.0, 24.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.2857142857142856]
[410.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[411.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.4]
[412.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, nan, nan, 'P003001007', 3.125]
[413.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, 50.0, 25.0, 24.0, 24.0, 'P002001013_P003001004_P003001007_P003001008_P003001009_P003001010', 2.546666666666667]
[414.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[415.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5454545454545454]
[416.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5454545454545454]
[417.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5454545454545454]
[418.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5454545454545454]
[419.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5454545454545454]
[420.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5454545454545454]
[421.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5454545454545454]
[422.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5454545454545454]
[423.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5454545454545454]
[446.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.4]
[447.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.4]
[448.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[449.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5454545454545454]
[450.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.5454545454545454]
[451.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[452.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[453.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', 0.0]
[454.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.4]
[455.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 48.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 24.0, nan, 40.0, 28.0, 28.0, 'P002001013_P003001004_P003001008_P003001009_P003001010', 2.4]

349it [00:00, 847.30it/s]