In [2]:
import numpy as np
import pandas as pd
import pyodbc
import pandas as pd
import numpy as np
from pprint import pprint
import datetime
from configparser import ConfigParser
import datetime
import pandas as pd
import sqlalchemy as sa

In [3]:
# C:\Users\FIU\Desktop\data_science_projects_detail-TEST

In [4]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [5]:
from configparser import ConfigParser
import sqlalchemy
import pyodbc
import urllib
from urllib.parse import quote
from abc import ABC
import logging
import sys
import re
import pandas as pd
import numpy as np
config = ConfigParser()
config.read('fingate_to_bridge_config.ini')
#config.read('/notebooks/notebooks/fingate_to_bridge_config.ini')
config_data=config['SERVER']
import warnings
warnings.filterwarnings('ignore')

In [6]:
conn = pyodbc.connect(config_data["fincore_bridge_read"])
cursor = conn.cursor()

In [7]:
col = pd.read_sql_query('''Select top 1 * from extl_db.CERSAI.CERSAI_KM_kYC_LEGAL_master with (nolock) ''',conn)
col_df = col.columns.to_list()

In [30]:
 files = ['KYC_Legal_relations.csv']

In [9]:
len(files)

1

In [ ]:
df=pd.read_csv('KYC_Legal_relations.csv',sep = '|')

In [ ]:
df

In [12]:
error_files = []
for f in files:
    print(f)
    with open(f) as file:
        data = file.read().splitlines()
    d = pd.DataFrame(data,columns = ['DATA'])
    d['COUNT'] = d['DATA'].apply(lambda x : x.count('|'))
    
#     if (len(d[d['COUNT']!= 8]) != 0 ):
#         print(d[d['COUNT'] != 8 ])
#           error_files.append(f)
#           print(f,'is removed..')
#           files.remove(f)

KYC_Legal_IDProof.csv

In [13]:
error_files

[]

In [14]:
files

['KYC_Legal_IDProof.csv']

In [15]:
pd.set_option("display.max_column",200)
pd.set_option("display.float_format",lambda x:'%.5f' %x)

In [16]:
col

Empty DataFrame
Columns: [kid_kyc_no, kid_fi_code, kid_reg_code, kid_br_code, kid_ID_code, kid_ID_code_others, kid_ID_Number, kid_ID_Expiry_Date, kid_ID_Proof, kid_created_by, kid_created_date, kid_updated_by, kid_updated_date, kid_id_count, kid_add_del, kid_id_ver_status, kid_id_status, kid_id]
Index: []

In [17]:
col = pd.read_sql_query('''Select top 1 * from extl_db.CERSAI.CERSAI_KID_KYC_Legal_IDProof with (nolock) ''',conn)
col_df = col.columns.to_list()

In [18]:
# col_df.remove('Create_Date')
# col_df.remove('Create_By')
# col_df.remove('File_Name')

In [19]:
print(str(datetime.datetime.now()))

2023-11-04 14:31:53.545115

In [20]:
config = ConfigParser()
config.read(r'fingate_to_bridge_config.ini')
connection_string = config.get('SERVER', 'fincore_bridge_read')
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

connection_url = sa.engine.URL.create(
    "mssql+pyodbc", 
    query=dict(odbc_connect=connection_string)
)
engine = sa.create_engine(connection_url, fast_executemany=True)

In [21]:
def data_pop(f):
    try:
        data = pd.read_csv(f,sep = '|',names = col_df)
        print(f,'dataframe created...')
#         data['File_Name'] = f
#         data['Create_Date'] = str(datetime.datetime.now())
#         data['Create_By'] = 'HDM'
#         data = data.sort_values('Pan')
    
    
        config = ConfigParser()
        config.read(r'fingate_to_bridge_config.ini')
        connection_string = config.get('SERVER', 'fincore_bridge_read')
        conn = pyodbc.connect(connection_string)
        cursor = conn.cursor()

        connection_url = sa.engine.URL.create(
            "mssql+pyodbc", 
            query=dict(odbc_connect=connection_string)
        )
        engine = sa.create_engine(connection_url, fast_executemany=True)
    
    
        df1 = data[:2500000]
        df2 = data[2500000:4000000]
        df3 = data[4000000:]

    
        # upload the DataFrame
        c = 0
        df1.to_sql("CERSAI_KID_KYC_Legal_IDProof", engine, schema="EXTL_db.CERSAI", if_exists="append", index=False,chunksize=1000)
        c = 1
        df2.to_sql("CERSAI_KID_KYC_Legal_IDProof", engine, schema="EXTL_db.CERSAI", if_exists="append", index=False,chunksize=1000)
        c = 2
        df3.to_sql("CERSAI_KID_KYC_Legal_IDProof", engine, schema="EXTL_db.CERSAI", if_exists="append", index=False,chunksize=1000)
        c = 3
        print(str(datetime.datetime.now()))
    except:
        
        for i in range (5000):
            print("TRY ",i)
            try:
        
                if c == 0:
                    c = 0
                    df1.to_sql("CERSAI_KID_KYC_Legal_IDProof", engine, schema="EXTL_db.CERSAI", if_exists="append", index=False,chunksize=1000)
                    c = 1
                    df2.to_sql("CERSAI_KID_KYC_Legal_IDProof", engine, schema="EXTL_db.CERSAI", if_exists="append", index=False,chunksize=1000)
                    c = 2
                    df3.to_sql("CERSAI_KID_KYC_Legal_IDProof", engine, schema="EXTL_db.CERSAI", if_exists="append", index=False,chunksize=1000)
                    c = 3
                elif c == 1:
                    c = 1
                    df2.to_sql("CERSAI_KID_KYC_Legal_IDProof", engine, schema="EXTL_db.CERSAI", if_exists="append", index=False,chunksize=1000)
                    c = 2
                    df3.to_sql("CERSAI_KID_KYC_Legal_IDProof", engine, schema="EXTL_db.CERSAI", if_exists="append", index=False,chunksize=1000)
                    c = 3
                elif c == 2:
                    df3.to_sql("CERSAI_KID_KYC_Legal_IDProof_Sa", engine, schema="EXTL_db.CERSAI", if_exists="append", index=False,chunksize=1000)
                    c = 3
                    
            except Exception as error:
                print(error)
                pass

In [22]:
df=pd.read_csv('KYC_Legal_IDProof.csv')

In [23]:
df

,kid_kyc_no |kid_fi_code |kid_reg_code |kid_br_code |kid_ID_code |kid_ID_code_others |kid_ID_Number |kid_ID_Expiry_Date |kid_ID_Proof |kid_created_by |kid_created_date |kid_updated_by |kid_updated_date |kid_id_count |kid_add_del |kid_id_ver_status |kid_id_status |kid_id,Unnamed: 1,Unnamed: 2
0,"70000000017399|""IN1395""|""CPUR001""|""CPUB001""|""0...",NaN,NaN
1,"70000000035173|""IN1519""|""2165""|""2011""|""03""|""""|...",NaN,NaN
2,"70000000035173|""IN1519""|""2165""|""2011""|""09""|""""|...",NaN,NaN
3,"70000000035173|""IN1519""|""2165""|""2011""|""10""|""""|...",NaN,NaN
4,"70000000049694|""IN1144""|""IR0001""|""HO1""|""03""|""""...",NaN,NaN
...,...,...,...
1048570,"70031624252543|""IN1445""|""SBIPROD""|""00014""|""06""...",NaN,NaN
1048571,"70031624253052|""IN2438""|""MH""|""BR001""|""03""|""""|""...",NaN,NaN
1048572,"70031624298488|""IN2319""|""HOREGION""|""HOBRANCH""|...",NaN,NaN
1048573,"70031624325298|""IN0860""|""002""|""2""|""03""|""""|""203...",NaN,NaN
1048574,"70031624338621|""IN1445""|""SBIPROD""|""00002""|""09""...",NaN,NaN

In [ ]:
i = 0
while (i < len(files)):
    print(files[i])
    data_pop(files[i])
    
    i+=1

KYC_Legal_IDProof.csv
KYC_Legal_IDProof.csv dataframe created...
TRY  0

In [ ]:
col = pd.read_sql_query('''Select top 1 * from extl_db.CERSAI.CERSAI_KID_KYC_Legal_IDProof with (nolock) ''',conn)
col_df = col.columns.to_list()
for columns in col_df:
    cursor.execute('''update extl_db.CERSAI.CERSAI_KID_KYC_Legal_IDProof set {} = Null where {} = '\N' '''.format(columns,columns))
    conn.commit()
    cursor.execute('''update extl_db.CERSAI.CERSAI_KID_KYC_Legal_IDProof set {} = trim({}) '''.format(columns,columns))
    conn.commit()

In [29]:
print('''update extl_db.CERSAI.CERSAI_KID_KYC_Legal_IDProof set {} = Null where {} = '\\N' '''.format('a','a'))

update extl_db.CERSAI.CERSAI_KID_KYC_Legal_IDProof set a = Null where a = '\N'